Repository DataDog/dd-trace-rb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/ruby-guild, @DataDog/documentation, @DataDog/asm-ruby, @DataDog/apm-idm-ruby, @DataDog/apm-sdk-capabilities-ruby, @DataDog/lang-platform-ruby, @DataDog/profiling-rb

.github/CODEOWNERS:

* @DataDog/ruby-guild

# Public Documentation
docs/Compatibility.md @DataDog/documentation
docs/GettingStarted.md @DataDog/documentation

# Library
lib/datadog/appsec/ @DataDog/asm-ruby
lib/datadog/appsec.rb @DataDog/asm-ruby
lib/datadog/tracing/ @DataDog/apm-idm-ruby @DataDog/apm-sdk-capabilities-ruby
lib/datadog/tracing.rb @DataDog/apm-idm-ruby @DataDog/apm-sdk-capabilities-ruby
lib/datadog/opentelemetry/ @DataDog/apm-sdk-capabilities-ruby
lib/datadog/opentelemetry.rb @DataDog/apm-sdk-capabilities-ruby
lib-injection/ @DataDog/lang-platform-ruby
lib/datadog/profiling/ @DataDog/profiling-rb @DataDog/ruby-guild
lib/datadog/profiling.rb @DataDog/profiling-rb @DataDog/ruby-guild
ext/ @DataDog/profiling-rb @DataDog/ruby-guild

# RBS signatures
sig/datadog/appsec/ @DataDog/asm-ruby
sig/datadog/appsec.rbs @DataDog/asm-ruby
sig/datadog/tracing/ @DataDog/apm-idm-ruby @DataDog/apm-sdk-capabilities-ruby
sig/datadog/tracing.rbs @DataDog/apm-idm-ruby @DataDog/apm-sdk-capabilities-ruby
sig/datadog/opentelemetry/ @DataDog/apm-sdk-capabilities-ruby
sig/datadog/opentelemetry.rbs @DataDog/apm-sdk-capabilities-ruby
sig/datadog/profiling/ @DataDog/profiling-rb @DataDog/ruby-guild
sig/datadog/profiling.rbs @DataDog/profiling-rb @DataDog/ruby-guild

# Specs
spec/datadog/appsec/ @DataDog/asm-ruby
spec/datadog/tracing/ @DataDog/apm-idm-ruby @DataDog/apm-sdk-capabilities-ruby
spec/datadog/tracing_spec.rb @DataDog/apm-idm-ruby @DataDog/apm-sdk-capabilities-ruby
spec/datadog/opentelemetry/ @DataDog/apm-sdk-capabilities-ruby
spec/datadog/opentelemetry_spec.rb @DataDog/apm-sdk-capabilities-ruby
spec/datadog/profiling/ @DataDog/profiling-rb @DataDog/ruby-guild
spec/datadog/profiling_spec.rb @DataDog/profiling-rb @DataDog/ruby-guild

Add SecurityEvent#keep? method
  lib/datadog/appsec/security_event.rb
  sig/datadog/appsec/security_event.rbs
  spec/datadog/appsec/security_event_spec.rb
Owners: @DataDog/asm-ruby

Change Event#tag_and_keep! name and behavior
  lib/datadog/appsec/contrib/active_record/instrumentation.rb
  lib/datadog/appsec/contrib/excon/ssrf_detection_middleware.rb
  lib/datadog/appsec/contrib/faraday/ssrf_detection_middleware.rb
  lib/datadog/appsec/contrib/graphql/gateway/watcher.rb
  lib/datadog/appsec/contrib/rack/gateway/watcher.rb
  lib/datadog/appsec/contrib/rails/gateway/watcher.rb
  lib/datadog/appsec/contrib/rest_client/request_ssrf_detection_patch.rb
  lib/datadog/appsec/contrib/sinatra/gateway/watcher.rb
  lib/datadog/appsec/event.rb
  lib/datadog/appsec/monitor/gateway/watcher.rb
  sig/datadog/appsec/event.rbs
  spec/datadog/appsec/event_spec.rb
Owners: @DataDog/asm-ruby

Change AppSec rate limiting to limit keep traces
  lib/datadog/appsec/event.rb
  spec/datadog/appsec/event_spec.rb
  spec/datadog/appsec/security_event_spec.rb
Owners: @DataDog/asm-ruby

Add tests for trace tagging logic
  lib/datadog/appsec/contrib/rack/request_middleware.rb
  spec/datadog/appsec/integration/trace_tagging_spec.rb
Owners: @DataDog/asm-ruby

Return conditional keeping in place
  lib/datadog/appsec/contrib/active_record/instrumentation.rb
  lib/datadog/appsec/contrib/excon/ssrf_detection_middleware.rb
  lib/datadog/appsec/contrib/graphql/gateway/watcher.rb
  lib/datadog/appsec/contrib/rack/gateway/watcher.rb
  lib/datadog/appsec/contrib/rails/gateway/watcher.rb
  lib/datadog/appsec/contrib/rest_client/request_ssrf_detection_patch.rb
  lib/datadog/appsec/contrib/sinatra/gateway/watcher.rb
Owners: @DataDog/asm-ruby

Return conditional keeping in place
  lib/datadog/appsec/contrib/faraday/ssrf_detection_middleware.rb
Owners: @DataDog/asm-ruby

Adjust rate limiting to use keep as condition
  lib/datadog/appsec/event.rb
  spec/datadog/appsec/event_spec.rb
Owners: @DataDog/asm-ruby

Fix Endpoint Collection for Rails < 7.1
  lib/datadog/appsec/contrib/rails/patcher.rb
  spec/datadog/appsec/integration/contrib/rails/endpoint_collection_spec.rb
Owners: @DataDog/asm-ruby

review feedback
  lib/datadog/di/probe_notification_builder.rb
Owners: @DataDog/ruby-guild

Fix flaky spec with correct conditions
  spec/datadog/appsec/integration/jwt_analysis_spec.rb
Owners: @DataDog/asm-ruby

[APMAPI-1614] Update steep to 1.10 (#4920)
  lib/datadog/core/pin.rb
  lib/datadog/tracing/contrib/component.rb
  ruby-3.1.gemfile
  ruby-3.2.gemfile
  ruby-3.3.gemfile
  ruby-3.4.gemfile
  ruby-3.5.gemfile
  sig/datadog/appsec/context.rbs
  sig/datadog/core/buffer/random.rbs
  sig/datadog/core/telemetry/component.rbs
  sig/datadog/core/utils/sequence.rbs
  sig/datadog/di/probe.rbs
  sig/datadog/profiling/collectors/cpu_and_wall_time_worker.rbs
  sig/datadog/profiling/collectors/thread_context.rbs
  sig/datadog/profiling/component.rbs
  sig/datadog/profiling/stack_recorder.rbs
  sig/datadog/tracing/contrib/component.rbs
  sig/datadog/tracing/distributed/propagation_policy.rbs
  sig/datadog/tracing/metadata/tagging.rbs
  sig/datadog/tracing/trace_digest.rbs
Owners: @DataDog/ruby-guild, @DataDog/apm-idm-ruby, @DataDog/apm-sdk-capabilities-ruby, @DataDog/asm-ruby, @DataDog/profiling-rb

[APMAPI-1474] ci: add config inversion CI steps (#4886)
  .gitlab-ci.yml
  .gitlab/one-pipeline.locked.yml
  docs/AccessEnvironmentVariables.md
Owners: @DataDog/ruby-guild

Changed format to code block
  .github/workflows/typing-stats.yml
Owners: @DataDog/ruby-guild

DI: report evaluation errors (#4913)
  lib/datadog/di/probe_notification_builder.rb
  sig/datadog/di/probe_notification_builder.rbs
  spec/datadog/di/integration/probe_notification_builder_spec.rb
  spec/datadog/di/probe_notification_builder_spec.rb
Owners: @DataDog/ruby-guild

Fix flakyness in AppSec integration tests involving a test Rails app
  spec/datadog/appsec/integration/contrib/rails/endpoint_collection_spec.rb
Owners: @DataDog/asm-ruby

evaluate special variables in DI templates
  lib/datadog/di/el/compiler.rb
  lib/datadog/di/probe_notification_builder.rb
  spec/datadog/di/integration/instrumentation_spec.rb
Owners: @DataDog/ruby-guild

fix unsafely (reviewed)
  spec/datadog/core/remote/component_spec.rb
  spec/datadog/core/utils/at_fork_monkey_patch_spec.rb
  spec/datadog/tracing/benchmark/support/benchmark_helper.rb
  spec/datadog/tracing/contrib/ethon/shared_examples.rb
  spec/datadog/tracing/contrib/rails/cache_spec.rb
  spec/datadog/tracing/contrib/rails/redis_cache_spec.rb
  spec/datadog/tracing/contrib/sidekiq/patcher_spec.rb
  spec/datadog/tracing/contrib/sidekiq/support/helper.rb
  spec/datadog/tracing/trace_operation_spec.rb
  spec/datadog/tracing/tracer_integration_spec.rb
  spec/datadog/tracing/transport/serializable_trace_spec.rb
  spec/spec_helper.rb
  spec/support/log_helpers.rb
Owners: @DataDog/ruby-guild, @DataDog/apm-idm-ruby, @DataDog/apm-sdk-capabilities-ruby

standard
  spec/datadog/tracing/contrib/presto/client_spec.rb
Owners: @DataDog/apm-idm-ruby, @DataDog/apm-sdk-capabilities-ruby

enable standard in test suite
  .standard_todo.yml
Owners: @DataDog/ruby-guild

stop standard
  spec/datadog/di/integration/instrumentation_integration_test_class.rb
  spec/datadog/di/integration/instrumentation_integration_test_class_2.rb
  spec/datadog/di/integration/instrumentation_integration_test_class_3.rb
  spec/datadog/di/integration/instrumentation_integration_test_class_4.rb
Owners: @DataDog/ruby-guild

autofix
  spec/datadog/core/error_spec.rb
Owners: @DataDog/ruby-guild

revert changes to DI test classes
  spec/datadog/di/integration/instrumentation_integration_test_class.rb
  spec/datadog/di/integration/instrumentation_integration_test_class_2.rb
  spec/datadog/di/integration/instrumentation_integration_test_class_3.rb
  spec/datadog/di/integration/instrumentation_integration_test_class_4.rb
Owners: @DataDog/ruby-guild

fix manually
  spec/datadog/di/integration/instrumentation_integration_test_class.rb
  spec/datadog/tracing/contrib/presto/client_spec.rb
Owners: @DataDog/ruby-guild, @DataDog/apm-idm-ruby, @DataDog/apm-sdk-capabilities-ruby

fix again
  spec/datadog/di/integration/instrumentation_integration_test_class.rb
Owners: @DataDog/ruby-guild

name constants
  lib/datadog/di/probe_notification_builder.rb
Owners: @DataDog/ruby-guild

use be_within
  spec/datadog/di/integration/instrumentation_spec.rb
Owners: @DataDog/ruby-guild

Add test cases for Endpoint Collection integration test
  spec/datadog/appsec/integration/contrib/rails/endpoint_collection_spec.rb
Owners: @DataDog/asm-ruby

update rubocop config
  .rubocop.yml
Owners: @DataDog/ruby-guild

Revert "use be_within"
  spec/datadog/di/integration/instrumentation_spec.rb
Owners: @DataDog/ruby-guild

Fix hash formatting in Endpoint Collection test
  spec/datadog/appsec/integration/contrib/rails/endpoint_collection_spec.rb
Owners: @DataDog/asm-ruby

types
  sig/datadog/di/probe_notification_builder.rbs
Owners: @DataDog/ruby-guild

DI: Implement special variables in message templates (#4914)
  lib/datadog/di/el/compiler.rb
  lib/datadog/di/probe_notification_builder.rb
  sig/datadog/di/probe_notification_builder.rbs
  spec/datadog/di/integration/instrumentation_spec.rb
Owners: @DataDog/ruby-guild

serializer for log message output
  docs/DynamicInstrumentation.md
  lib/datadog/di/probe_notification_builder.rb
  lib/datadog/di/serializer.rb
  spec/datadog/di/integration/instrumentation_spec.rb
  spec/datadog/di/integration/probe_notification_builder_spec.rb
  spec/datadog/di/serializer_spec.rb
Owners: @DataDog/ruby-guild

standard
  lib/datadog/di/serializer.rb
  spec/datadog/di/serializer_spec.rb
Owners: @DataDog/ruby-guild

standard
  lib/datadog/di/serializer.rb
Owners: @DataDog/ruby-guild

standard
  lib/datadog/di/serializer.rb
Owners: @DataDog/ruby-guild

types
  sig/datadog/di/serializer.rbs
Owners: @DataDog/ruby-guild

types
  sig/datadog/di/serializer.rbs
Owners: @DataDog/ruby-guild

types
  sig/datadog/di/serializer.rbs
Owners: @DataDog/ruby-guild

types
  lib/datadog/di/serializer.rb
Owners: @DataDog/ruby-guild
