Repository DataDog/dd-trace-rb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/ruby-guild, @DataDog/documentation, @DataDog/asm-ruby, @DataDog/apm-idm-ruby, @DataDog/apm-sdk-api-ruby, @DataDog/lang-platform-ruby, @DataDog/profiling-rb

standard
  lib/datadog/di/probe_file_loader.rb
Owners: @DataDog/ruby-guild

probe file support
  Matrixfile
  Rakefile
  lib/datadog/di/boot.rb
  lib/datadog/di/component.rb
  lib/datadog/di/probe_file_loader.rb
  lib/datadog/di/probe_file_loader/railtie.rb
  lib/datadog/di/remote.rb
  spec/datadog/di/contrib/rails/probe_file_loader_spec.rb
  spec/datadog/di/probe_file_loader_spec.rb
  spec/datadog/di/probe_files/bogus.json
  spec/datadog/di/probe_files/one.json
  spec/datadog/di/remote_spec.rb
  spec/support/log_helpers.rb
Owners: @DataDog/ruby-guild

standard
  lib/datadog/di/boot.rb
  spec/datadog/di/remote_spec.rb
Owners: @DataDog/ruby-guild

type
  lib/datadog/di/probe_file_loader.rb
  lib/datadog/di/probe_file_loader/railtie.rb
  sig/datadog/di/component.rbs
Owners: @DataDog/ruby-guild

types
  sig/datadog/di/probe_file_loader.rbs
  sig/datadog/di/probe_file_loader/railtie.rbs
Owners: @DataDog/ruby-guild

rubocop
  spec/support/log_helpers.rb
Owners: @DataDog/ruby-guild

need db
  Matrixfile
Owners: @DataDog/ruby-guild

Add forced-test parameter to official system-tests workflow
  .github/forced-tests-list.cfg
  .github/workflows/system-tests-official.yml
Owners: @DataDog/ruby-guild

Temporary commit to test the parameter
  .github/forced-tests-list.cfg
  .github/workflows/system-tests-official.yml
Owners: @DataDog/ruby-guild

Make shellcheck happy
  .github/workflows/system-tests-official.yml
Owners: @DataDog/ruby-guild

Good file name
  .github/workflows/system-tests-official.yml
Owners: @DataDog/ruby-guild

Doc: Updated GraphQL settings that only work through env var
  docs/GettingStarted.md
Owners: @DataDog/documentation

WIP: adding baggage telemetry metrics
  lib/datadog/tracing/distributed/baggage.rb
  sig/datadog/tracing/distributed/baggage.rbs
Owners: @DataDog/apm-idm-ruby, @DataDog/apm-sdk-api-ruby

lint
  lib/datadog/tracing/distributed/baggage.rb
Owners: @DataDog/apm-idm-ruby, @DataDog/apm-sdk-api-ruby

.github/CODEOWNERS:

* @DataDog/ruby-guild

# Public Documentation
docs/Compatibility.md @DataDog/documentation
docs/GettingStarted.md @DataDog/documentation

# Library
lib/datadog/appsec/ @DataDog/asm-ruby
lib/datadog/appsec.rb @DataDog/asm-ruby
lib/datadog/tracing/ @DataDog/apm-idm-ruby @DataDog/apm-sdk-api-ruby
lib/datadog/tracing.rb @DataDog/apm-idm-ruby @DataDog/apm-sdk-api-ruby
lib/datadog/opentelemetry/ @DataDog/apm-sdk-api-ruby
lib/datadog/opentelemetry.rb @DataDog/apm-sdk-api-ruby
lib-injection/ @DataDog/lang-platform-ruby
lib/datadog/profiling/ @DataDog/profiling-rb @DataDog/ruby-guild
lib/datadog/profiling.rb @DataDog/profiling-rb @DataDog/ruby-guild
ext/ @DataDog/profiling-rb @DataDog/ruby-guild
ext/libdatadog_api/ @DataDog/profiling-rb @DataDog/apm-sdk-api-ruby

# RBS signatures
sig/datadog/appsec/ @DataDog/asm-ruby
sig/datadog/appsec.rbs @DataDog/asm-ruby
sig/datadog/tracing/ @DataDog/apm-idm-ruby @DataDog/apm-sdk-api-ruby
sig/datadog/tracing.rbs @DataDog/apm-idm-ruby @DataDog/apm-sdk-api-ruby
sig/datadog/opentelemetry/ @DataDog/apm-sdk-api-ruby
sig/datadog/opentelemetry.rbs @DataDog/apm-sdk-api-ruby
sig/datadog/profiling/ @DataDog/profiling-rb @DataDog/ruby-guild
sig/datadog/profiling.rbs @DataDog/profiling-rb @DataDog/ruby-guild

# Specs
spec/datadog/appsec/ @DataDog/asm-ruby
spec/datadog/tracing/ @DataDog/apm-idm-ruby @DataDog/apm-sdk-api-ruby
spec/datadog/tracing_spec.rb @DataDog/apm-idm-ruby @DataDog/apm-sdk-api-ruby
spec/datadog/opentelemetry/ @DataDog/apm-sdk-api-ruby
spec/datadog/opentelemetry_spec.rb @DataDog/apm-sdk-api-ruby
spec/datadog/profiling/ @DataDog/profiling-rb @DataDog/ruby-guild
spec/datadog/profiling_spec.rb @DataDog/profiling-rb @DataDog/ruby-guild
