Repository DataDog/dd-trace-rb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/ruby-guild, @DataDog/documentation, @DataDog/asm-ruby, @DataDog/apm-idm-ruby, @DataDog/apm-sdk-capabilities-ruby, @DataDog/lang-platform-ruby, @DataDog/profiling-rb

.github/CODEOWNERS:

* @DataDog/ruby-guild

# Public Documentation
docs/Compatibility.md @DataDog/documentation
docs/GettingStarted.md @DataDog/documentation

# Library
lib/datadog/appsec/ @DataDog/asm-ruby
lib/datadog/appsec.rb @DataDog/asm-ruby
lib/datadog/tracing/ @DataDog/apm-idm-ruby @DataDog/apm-sdk-capabilities-ruby
lib/datadog/tracing.rb @DataDog/apm-idm-ruby @DataDog/apm-sdk-capabilities-ruby
lib/datadog/opentelemetry/ @DataDog/apm-sdk-capabilities-ruby
lib/datadog/opentelemetry.rb @DataDog/apm-sdk-capabilities-ruby
lib-injection/ @DataDog/lang-platform-ruby
lib/datadog/profiling/ @DataDog/profiling-rb @DataDog/ruby-guild
lib/datadog/profiling.rb @DataDog/profiling-rb @DataDog/ruby-guild
ext/ @DataDog/profiling-rb @DataDog/ruby-guild

# RBS signatures
sig/datadog/appsec/ @DataDog/asm-ruby
sig/datadog/appsec.rbs @DataDog/asm-ruby
sig/datadog/tracing/ @DataDog/apm-idm-ruby @DataDog/apm-sdk-capabilities-ruby
sig/datadog/tracing.rbs @DataDog/apm-idm-ruby @DataDog/apm-sdk-capabilities-ruby
sig/datadog/opentelemetry/ @DataDog/apm-sdk-capabilities-ruby
sig/datadog/opentelemetry.rbs @DataDog/apm-sdk-capabilities-ruby
sig/datadog/profiling/ @DataDog/profiling-rb @DataDog/ruby-guild
sig/datadog/profiling.rbs @DataDog/profiling-rb @DataDog/ruby-guild

# Specs
spec/datadog/appsec/ @DataDog/asm-ruby
spec/datadog/tracing/ @DataDog/apm-idm-ruby @DataDog/apm-sdk-capabilities-ruby
spec/datadog/tracing_spec.rb @DataDog/apm-idm-ruby @DataDog/apm-sdk-capabilities-ruby
spec/datadog/opentelemetry/ @DataDog/apm-sdk-capabilities-ruby
spec/datadog/opentelemetry_spec.rb @DataDog/apm-sdk-capabilities-ruby
spec/datadog/profiling/ @DataDog/profiling-rb @DataDog/ruby-guild
spec/datadog/profiling_spec.rb @DataDog/profiling-rb @DataDog/ruby-guild

Implement encode
  ext/libdatadog_api/ddsketch.c
Owners: @DataDog/profiling-rb, @DataDog/ruby-guild

Class creation/freeing
  ext/libdatadog_api/ddsketch.c
Owners: @DataDog/profiling-rb, @DataDog/ruby-guild

Bind more ddsketch methods
  ext/libdatadog_api/ddsketch.c
Owners: @DataDog/profiling-rb, @DataDog/ruby-guild

Bootstrap file for binding ddsketch for Ruby
  ext/libdatadog_api/ddsketch.c
  ext/libdatadog_api/init.c
Owners: @DataDog/profiling-rb, @DataDog/ruby-guild

Add spec and type signatures
  ext/libdatadog_api/ddsketch.c
  lib/datadog/core/ddsketch.rb
  sig/datadog/core/ddsketch.rbs
  spec/datadog/core/ddsketch_spec.rb
Owners: @DataDog/profiling-rb, @DataDog/ruby-guild

Move inside `Core`
  ext/libdatadog_api/ddsketch.c
  ext/libdatadog_api/init.c
Owners: @DataDog/profiling-rb, @DataDog/ruby-guild

Use full engine version for cache key
  .github/actions/bundle-cache/action.yml
Owners: @DataDog/ruby-guild

Bump mongo for Ruby 3.4
  appraisal/ruby-3.4.rb
  gemfiles/ruby_3.4_graphql_1.13.gemfile.lock
  gemfiles/ruby_3.4_graphql_2.0.gemfile.lock
  gemfiles/ruby_3.4_graphql_2.1.gemfile.lock
  gemfiles/ruby_3.4_graphql_2.2.gemfile.lock
  gemfiles/ruby_3.4_graphql_2.3.gemfile.lock
  gemfiles/ruby_3.4_mongo_min.gemfile
  gemfiles/ruby_3.4_mongo_min.gemfile.lock
  gemfiles/ruby_3.4_rails61_mysql2.gemfile.lock
  gemfiles/ruby_3.4_rails61_postgres.gemfile.lock
  gemfiles/ruby_3.4_rails61_postgres_redis.gemfile.lock
  gemfiles/ruby_3.4_rails61_postgres_sidekiq.gemfile.lock
  gemfiles/ruby_3.4_rails61_trilogy.gemfile.lock
  gemfiles/ruby_3.4_rails7.gemfile.lock
  gemfiles/ruby_3.4_rails71.gemfile.lock
  gemfiles/ruby_3.4_rails_old_redis.gemfile.lock
Owners: @DataDog/ruby-guild

Refactor wiring up of specs using libdatadog_api
  Matrixfile
  Rakefile
Owners: @DataDog/ruby-guild

Wire up testing for ddsketch
  Rakefile
Owners: @DataDog/ruby-guild

Bootstrap support for decoding sketches for testing
  spec/datadog/core/ddsketch_pprof/ddsketch_pb.rb
  spec/datadog/core/ddsketch_spec.rb
Owners: @DataDog/ruby-guild

Minor test simplification
  spec/datadog/core/ddsketch_spec.rb
Owners: @DataDog/ruby-guild

Import unmodified ddsketch.proto
  spec/datadog/core/ddsketch_pprof/ddsketch.proto
Owners: @DataDog/ruby-guild

Add simple test that ddsketch protobuf can be decoded
  spec/datadog/core/ddsketch_spec.rb
Owners: @DataDog/ruby-guild

Improve libdatadog development docs
  ext/LIBDATADOG_DEVELOPMENT.md
  ext/libdatadog_api/macos_development.md
Owners: @DataDog/profiling-rb, @DataDog/ruby-guild

Fix error handling and add test coverage
  ext/libdatadog_api/ddsketch.c
  spec/datadog/core/ddsketch_spec.rb
Owners: @DataDog/profiling-rb, @DataDog/ruby-guild

Update integrations to use new API methods with idiomatic Ruby blocks
  lib/datadog/tracing/contrib/kafka/instrumentation/producer.rb
  lib/datadog/tracing/contrib/karafka/patcher.rb
  lib/datadog/tracing/data_streams/processor.rb
  spec/datadog/tracing/contrib/kafka/data_streams_spec.rb
  spec/datadog/tracing/contrib/karafka/data_streams_spec.rb
  spec/datadog/tracing/data_streams/processor_spec.rb
Owners: @DataDog/apm-idm-ruby, @DataDog/apm-sdk-capabilities-ruby

Add periodic scheduler and comprehensive tests for DataStreams
  lib/datadog/tracing/data_streams/processor.rb
  spec/datadog/tracing/data_streams/processor_spec.rb
Owners: @DataDog/apm-idm-ruby, @DataDog/apm-sdk-capabilities-ruby

Add DSM and Karafka integration support
  datadog.gemspec
  ext/libdatadog_api/library_config.c
  ext/libdatadog_extconf_helpers.rb
  lib/datadog/tracing/configuration/ext.rb
  lib/datadog/tracing/configuration/settings.rb
  lib/datadog/tracing/contrib/auto_instrument.rb
  lib/datadog/tracing/contrib/kafka/events/consumer/process_message.rb
  lib/datadog/tracing/contrib/kafka/instrumentation/consumer.rb
  lib/datadog/tracing/contrib/kafka/instrumentation/producer.rb
  lib/datadog/tracing/contrib/kafka/patcher.rb
  lib/datadog/tracing/contrib/karafka/monitor.rb
  lib/datadog/tracing/contrib/karafka/patcher.rb
  lib/datadog/tracing/data_streams/configuration/settings.rb
  lib/datadog/tracing/data_streams/pathway_codec.rb
  lib/datadog/tracing/data_streams/pathway_context.rb
  lib/datadog/tracing/data_streams/processor.rb
  spec/datadog/tracing/contrib/kafka/data_streams_spec.rb
  spec/datadog/tracing/contrib/kafka/instrumentation_spec.rb
  spec/datadog/tracing/contrib/karafka/data_streams_spec.rb
  spec/datadog/tracing/data_streams/agent_communication_spec.rb
  spec/datadog/tracing/data_streams/dsm_behavior_spec.rb
  spec/datadog/tracing/data_streams/dsm_lineage_spec.rb
  spec/datadog/tracing/data_streams/edge_direction_spec.rb
  spec/datadog/tracing/data_streams/pathway_context_spec.rb
  spec/datadog/tracing/data_streams/processor_spec.rb
  spec/datadog/tracing/data_streams/set_checkpoint_spec.rb
  spec/datadog/tracing/data_streams/transport_spec.rb
Owners: @DataDog/ruby-guild, @DataDog/profiling-rb, @DataDog/apm-idm-ruby, @DataDog/apm-sdk-capabilities-ruby

Add API consistency methods for DataStreams checkpoints
  lib/datadog/tracing/data_streams/processor.rb
  spec/datadog/tracing/data_streams/processor_spec.rb
Owners: @DataDog/apm-idm-ruby, @DataDog/apm-sdk-capabilities-ruby

Fix Kafka consumer DSM implementation and remove noisy logging
  lib/datadog/tracing/contrib/kafka/instrumentation/consumer.rb
  spec/datadog/tracing/contrib/kafka/data_streams_spec.rb
Owners: @DataDog/apm-idm-ruby, @DataDog/apm-sdk-capabilities-ruby

Fix ProcessMessage event handler - remove non-existent headers field
  lib/datadog/tracing/contrib/kafka/events/consumer/process_message.rb
Owners: @DataDog/apm-idm-ruby, @DataDog/apm-sdk-capabilities-ruby

Remove redundant pathway context encoding in Kafka producer
  lib/datadog/tracing/contrib/kafka/instrumentation/producer.rb
Owners: @DataDog/apm-idm-ruby, @DataDog/apm-sdk-capabilities-ruby

Implement proper DSM in Kafka event handlers
  lib/datadog/tracing/contrib/kafka/events/consumer/process_batch.rb
  lib/datadog/tracing/contrib/kafka/events/consumer/process_message.rb
  spec/datadog/tracing/contrib/kafka/data_streams_spec.rb
Owners: @DataDog/apm-idm-ruby, @DataDog/apm-sdk-capabilities-ruby

Restore proper DSM implementation in Kafka consumer instrumentation
  lib/datadog/tracing/contrib/kafka/events/consumer/process_batch.rb
  lib/datadog/tracing/contrib/kafka/events/consumer/process_message.rb
  lib/datadog/tracing/contrib/kafka/instrumentation/consumer.rb
  spec/datadog/tracing/contrib/kafka/data_streams_spec.rb
Owners: @DataDog/apm-idm-ruby, @DataDog/apm-sdk-capabilities-ruby

Replace noisy puts statements with proper debug logging
  lib/datadog/tracing/contrib/kafka/instrumentation/producer.rb
  lib/datadog/tracing/data_streams/processor.rb
Owners: @DataDog/apm-idm-ruby, @DataDog/apm-sdk-capabilities-ruby

Fix Kafka consumer DSM to work without blocks
  lib/datadog/tracing/contrib/kafka/instrumentation/consumer.rb
Owners: @DataDog/apm-idm-ruby, @DataDog/apm-sdk-capabilities-ruby

WIP: DataStreams processor and Kafka consumer updates
  lib/datadog/tracing/contrib/kafka/instrumentation/consumer.rb
  spec/datadog/tracing/data_streams/processor_spec.rb
Owners: @DataDog/apm-idm-ruby, @DataDog/apm-sdk-capabilities-ruby

Cleanup
  lib/datadog/tracing/contrib/auto_instrument.rb
  lib/datadog/tracing/contrib/kafka/events/consumer/process_batch.rb
  lib/datadog/tracing/contrib/kafka/events/consumer/process_message.rb
Owners: @DataDog/apm-idm-ruby, @DataDog/apm-sdk-capabilities-ruby

fix xcalloc argument order in profiling native extension
  ext/datadog_profiling_native_extension/collectors_discrete_dynamic_sampler.c
Owners: @DataDog/profiling-rb, @DataDog/ruby-guild

fix version comparison in error spec
  spec/datadog/core/error_spec.rb
Owners: @DataDog/ruby-guild

Require `ostruct` for 1.x graphql
  spec/datadog/tracing/contrib/graphql/loading_spec.rb
Owners: @DataDog/apm-idm-ruby, @DataDog/apm-sdk-capabilities-ruby

fix version comparison in error spec
  spec/datadog/core/error_spec.rb
Owners: @DataDog/ruby-guild

fix xcalloc argument order in profiling native extension
  ext/datadog_profiling_native_extension/collectors_discrete_dynamic_sampler.c
Owners: @DataDog/profiling-rb, @DataDog/ruby-guild

Clean up public API of data streams
  lib/datadog/tracing.rb
  lib/datadog/tracing/contrib/kafka/instrumentation/consumer.rb
  lib/datadog/tracing/data_streams.rb
  lib/datadog/tracing/data_streams/processor.rb
Owners: @DataDog/apm-idm-ruby, @DataDog/apm-sdk-capabilities-ruby

wip
  lib/datadog/tracing/trace_operation.rb
  lib/datadog/tracing/tracer.rb
  spec/datadog/tracing/trace_operation_spec.rb
  spec/datadog/tracing/tracer_spec.rb
Owners: @DataDog/apm-idm-ruby, @DataDog/apm-sdk-capabilities-ruby

Add routes reporting for Rails < 7.1
  lib/datadog/appsec/contrib/rails/patcher.rb
  sig/datadog/appsec/contrib/rails/patcher.rbs
Owners: @DataDog/asm-ruby

Bump mongo min to 2.20
  appraisal/ruby-3.4.rb
  gemfiles/ruby_3.4_mongo_min.gemfile
  gemfiles/ruby_3.4_mongo_min.gemfile.lock
Owners: @DataDog/ruby-guild

FIXUP draft of test for trace tagging
  spec/datadog/appsec/integration/trace_tagging_spec.rb
Owners: @DataDog/asm-ruby

Update gem and tests
  datadog.gemspec
  spec/datadog/appsec/integration/trace_tagging_spec.rb
Owners: @DataDog/ruby-guild, @DataDog/asm-ruby
