Repository DataDog/dd-trace-rb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/ruby-guild, @DataDog/documentation, @DataDog/asm-ruby, @DataDog/apm-idm-ruby, @DataDog/apm-sdk-capabilities-ruby, @DataDog/lang-platform-ruby, @DataDog/profiling-rb

types
  lib/datadog/di/serializer.rb
Owners: @DataDog/ruby-guild

wip
  spec/datadog/tracing/trace_operation_spec.rb
Owners: @DataDog/apm-idm-ruby, @DataDog/apm-sdk-capabilities-ruby

Replace merged REMOTE_CONFIG_MOCKED_BACKEND_ASM_DD_NOCACHE with APPSEC_API_SECURITY_RC scenario
  .github/workflows/system-tests.yml
Owners: @DataDog/ruby-guild

fix
  .github/workflows/system-tests.yml
Owners: @DataDog/ruby-guild

Run each AppSec integration test in a separate process
  Rakefile
  spec/datadog/appsec/integration/contrib/rack/request_headers_collection_for_identity_spec.rb
Owners: @DataDog/ruby-guild, @DataDog/asm-ruby

Add a safeguard for Endpoint Collection
  lib/datadog/appsec/contrib/rails/patcher.rb
  spec/datadog/appsec/integration/contrib/rails/endpoint_collection_spec.rb
Owners: @DataDog/asm-ruby

Enable AppSec Endpoint Collection by default
  lib/datadog/appsec/configuration/settings.rb
  spec/datadog/appsec/configuration/settings_spec.rb
Owners: @DataDog/asm-ruby

Fix code style for Endpoint Collection integration spec
  spec/datadog/appsec/integration/contrib/rails/endpoint_collection_spec.rb
Owners: @DataDog/asm-ruby

Update .gitlab/one-pipeline.locked.yml
  .gitlab/one-pipeline.locked.yml
Owners: @DataDog/ruby-guild

[skip ci] update process-discovery native FFI
  ext/libdatadog_api/process_discovery.c
  lib/datadog/core/process_discovery.rb
  sig/datadog/core/process_discovery.rbs
  spec/datadog/core/process_discovery_spec.rb
Owners: @DataDog/profiling-rb, @DataDog/ruby-guild

move enable
  spec/datadog/tracing/contrib/presto/client_spec.rb
Owners: @DataDog/apm-idm-ruby, @DataDog/apm-sdk-capabilities-ruby

.github/CODEOWNERS:

* @DataDog/ruby-guild

# Public Documentation
docs/Compatibility.md @DataDog/documentation
docs/GettingStarted.md @DataDog/documentation

# Library
lib/datadog/appsec/ @DataDog/asm-ruby
lib/datadog/appsec.rb @DataDog/asm-ruby
lib/datadog/tracing/ @DataDog/apm-idm-ruby @DataDog/apm-sdk-capabilities-ruby
lib/datadog/tracing.rb @DataDog/apm-idm-ruby @DataDog/apm-sdk-capabilities-ruby
lib/datadog/opentelemetry/ @DataDog/apm-sdk-capabilities-ruby
lib/datadog/opentelemetry.rb @DataDog/apm-sdk-capabilities-ruby
lib-injection/ @DataDog/lang-platform-ruby
lib/datadog/profiling/ @DataDog/profiling-rb @DataDog/ruby-guild
lib/datadog/profiling.rb @DataDog/profiling-rb @DataDog/ruby-guild
ext/ @DataDog/profiling-rb @DataDog/ruby-guild

# RBS signatures
sig/datadog/appsec/ @DataDog/asm-ruby
sig/datadog/appsec.rbs @DataDog/asm-ruby
sig/datadog/tracing/ @DataDog/apm-idm-ruby @DataDog/apm-sdk-capabilities-ruby
sig/datadog/tracing.rbs @DataDog/apm-idm-ruby @DataDog/apm-sdk-capabilities-ruby
sig/datadog/opentelemetry/ @DataDog/apm-sdk-capabilities-ruby
sig/datadog/opentelemetry.rbs @DataDog/apm-sdk-capabilities-ruby
sig/datadog/profiling/ @DataDog/profiling-rb @DataDog/ruby-guild
sig/datadog/profiling.rbs @DataDog/profiling-rb @DataDog/ruby-guild

# Specs
spec/datadog/appsec/ @DataDog/asm-ruby
spec/datadog/tracing/ @DataDog/apm-idm-ruby @DataDog/apm-sdk-capabilities-ruby
spec/datadog/tracing_spec.rb @DataDog/apm-idm-ruby @DataDog/apm-sdk-capabilities-ruby
spec/datadog/opentelemetry/ @DataDog/apm-sdk-capabilities-ruby
spec/datadog/opentelemetry_spec.rb @DataDog/apm-sdk-capabilities-ruby
spec/datadog/profiling/ @DataDog/profiling-rb @DataDog/ruby-guild
spec/datadog/profiling_spec.rb @DataDog/profiling-rb @DataDog/ruby-guild
