Repository DataDog/dd-trace-rb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/ruby-guild, @DataDog/documentation, @DataDog/asm-ruby, @DataDog/tracing-ruby, @DataDog/profiling-rb

do not restrict startup logs to emit only once
  lib/datadog/core/diagnostics/environment_logger.rb
  lib/datadog/profiling/diagnostics/environment_logger.rb
  lib/datadog/tracing/diagnostics/environment_logger.rb
  sig/datadog/core/diagnostics/environment_logger.rbs
  spec/datadog/core/diagnostics/environment_logger_spec.rb
  spec/datadog/profiling/diagnostics/environment_logger_spec.rb
  spec/datadog/tracing/diagnostics/environment_logger_spec.rb
Owners: @DataDog/ruby-guild, @DataDog/profiling-rb, @DataDog/tracing-ruby

remove unnecessary tests
  spec/datadog/core/diagnostics/environment_logger_spec.rb
  spec/datadog/profiling/diagnostics/environment_logger_spec.rb
  spec/datadog/tracing/diagnostics/environment_logger_spec.rb
Owners: @DataDog/ruby-guild, @DataDog/profiling-rb, @DataDog/tracing-ruby

do not restrict startup logs to emit only once (#3441)
  lib/datadog/core/diagnostics/environment_logger.rb
  lib/datadog/profiling/diagnostics/environment_logger.rb
  lib/datadog/tracing/diagnostics/environment_logger.rb
  sig/datadog/core/diagnostics/environment_logger.rbs
  spec/datadog/core/diagnostics/environment_logger_spec.rb
  spec/datadog/profiling/diagnostics/environment_logger_spec.rb
  spec/datadog/tracing/diagnostics/environment_logger_spec.rb
Owners: @DataDog/ruby-guild, @DataDog/profiling-rb, @DataDog/tracing-ruby

Logs deprecation warning for `use` removal`
  lib/datadog/tracing/contrib/extensions.rb
  spec/datadog/tracing/contrib/extensions_spec.rb
Owners: @DataDog/tracing-ruby

Update lib/datadog/tracing/contrib/extensions.rb
  lib/datadog/tracing/contrib/extensions.rb
Owners: @DataDog/tracing-ruby

Remove `use` alias for `instrument`
  lib/datadog/tracing/contrib/extensions.rb
Owners: @DataDog/tracing-ruby

Update gemfiles/*
  gemfiles/ruby_2.5_graphql_1.12.gemfile.lock
  gemfiles/ruby_2.6_graphql_1.12.gemfile.lock
  gemfiles/ruby_2.7_graphql_1.12.gemfile.lock
  gemfiles/ruby_3.0_graphql_1.12.gemfile.lock
  gemfiles/ruby_3.0_rails61_trilogy.gemfile.lock
  gemfiles/ruby_3.1_graphql_1.12.gemfile.lock
  gemfiles/ruby_3.1_rails61_trilogy.gemfile.lock
  gemfiles/ruby_3.2_graphql_1.12.gemfile.lock
  gemfiles/ruby_3.2_rails61_trilogy.gemfile.lock
Owners: @DataDog/ruby-guild

Use UTC timezone in logger to reduce verbosity
  lib/datadog/core/diagnostics/environment_logger.rb
  spec/datadog/core/diagnostics/environment_logger_spec.rb
Owners: @DataDog/ruby-guild

Introduce `extra_fields` argument to environment logger
  Steepfile
  lib/datadog/core/diagnostics/environment_logger.rb
  sig/datadog/core/diagnostics/environment_logger.rbs
  spec/datadog/core/diagnostics/environment_logger_spec.rb
Owners: @DataDog/ruby-guild

.github/CODEOWNERS:

* @DataDog/ruby-guild

# Public Documentation
/docs/Compatibility.md @DataDog/documentation
/docs/GettingStarted.md @DataDog/documentation

# Library
/lib/datadog/appsec/ @DataDog/asm-ruby
/lib/datadog/appsec.rb @DataDog/asm-ruby
/lib/datadog/tracing/ @DataDog/tracing-ruby
/lib/datadog/tracing.rb @DataDog/tracing-ruby
/lib/datadog/opentelemetry/ @DataDog/tracing-ruby
/lib/datadog/opentelemetry.rb @DataDog/tracing-ruby
/lib/datadog/opentracer/ @DataDog/tracing-ruby
/lib/datadog/opentracer.rb @DataDog/tracing-ruby
/lib-injection/ @DataDog/tracing-ruby
/lib/datadog/profiling/ @DataDog/profiling-rb
/lib/datadog/profiling.rb @DataDog/profiling-rb
/ext/ @DataDog/profiling-rb

# RBS signatures
/sig/datadog/appsec/ @DataDog/asm-ruby
/sig/datadog/appsec.rbs @DataDog/asm-ruby
/sig/datadog/tracing/ @DataDog/tracing-ruby
/sig/datadog/tracing.rbs @DataDog/tracing-ruby
/sig/datadog/opentelemetry/ @DataDog/tracing-ruby
/sig/datadog/opentelemetry.rbs @DataDog/tracing-ruby
/sig/datadog/opentracer/ @DataDog/tracing-ruby
/sig/datadog/opentracer.rbs @DataDog/tracing-ruby
/sig/datadog/profiling/ @DataDog/profiling-rb
/sig/datadog/profiling.rbs @DataDog/profiling-rb

# Specs
/spec/datadog/appsec/ @DataDog/asm-ruby
/spec/datadog/tracing/ @DataDog/tracing-ruby
/spec/datadog/tracing_spec.rb @DataDog/tracing-ruby
/spec/datadog/opentelemetry/ @DataDog/tracing-ruby
/spec/datadog/opentelemetry_spec.rb @DataDog/tracing-ruby
/spec/datadog/opentracer/ @DataDog/tracing-ruby
/spec/datadog/opentracer.rb @DataDog/tracing-ruby
/spec/datadog/profiling/ @DataDog/profiling-rb
/spec/datadog/profiling_spec.rb @DataDog/profiling-rb
