Repository DataDog/dd-trace-rb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/ruby-guild, @DataDog/documentation, @DataDog/asm-ruby, @DataDog/tracing-ruby, @DataDog/profiling-rb

Rename `on_error` for `faraday`
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/faraday/configuration/settings.rb
  lib/datadog/tracing/contrib/faraday/middleware.rb
  spec/datadog/tracing/contrib/faraday/middleware_spec.rb
Owners: @DataDog/documentation, @DataDog/tracing-ruby

Add `on_error` option
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/faraday/configuration/settings.rb
  lib/datadog/tracing/contrib/faraday/middleware.rb
  spec/datadog/tracing/contrib/faraday/middleware_spec.rb
Owners: @DataDog/documentation, @DataDog/tracing-ruby

Make sampler snapshot work on all rubies
  ext/ddtrace_profiling_native_extension/collectors_discrete_dynamic_sampler.c
Owners: @DataDog/profiling-rb

Wording update at concurrent-ruby section
  docs/GettingStarted.md
Owners: @DataDog/documentation

Update docs/GettingStarted.md
  docs/GettingStarted.md
Owners: @DataDog/documentation

Fix events/ns->events/s calc
  ext/ddtrace_profiling_native_extension/collectors_discrete_dynamic_sampler.c
Owners: @DataDog/profiling-rb

Use non-fraction percentage in sampler snapshot
  ext/ddtrace_profiling_native_extension/collectors_discrete_dynamic_sampler.c
Owners: @DataDog/profiling-rb

[PROF-9045] Test big spikes within adjustment window
  spec/datadog/profiling/collectors/discrete_dynamic_sampler_spec.rb
Owners: @DataDog/profiling-rb

[PROF-9045] Allow adjustment preemption based on number of samples
  ext/ddtrace_profiling_native_extension/collectors_discrete_dynamic_sampler.c
Owners: @DataDog/profiling-rb

Use GraphQL::Tracing::DataDogTrace when it's available
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/graphql/patcher.rb
  spec/datadog/tracing/contrib/graphql/integration_spec.rb
Owners: @DataDog/documentation, @DataDog/tracing-ruby

[PROF-9045] Test preemption does not lead to early forgetting
  ext/ddtrace_profiling_native_extension/collectors_discrete_dynamic_sampler.c
  spec/datadog/profiling/collectors/discrete_dynamic_sampler_spec.rb
Owners: @DataDog/profiling-rb

Add 1.20.0 to CHANGELOG.md
  CHANGELOG.md
Owners: @DataDog/ruby-guild

Bump version 1.19.0 to 1.20.0
  lib/ddtrace/version.rb
Owners: @DataDog/ruby-guild

Use more widely available gc stat key.
  spec/datadog/profiling/exporter_spec.rb
Owners: @DataDog/profiling-rb

[PROF-9045] Weight moving averages by size of adjustment window
  ext/ddtrace_profiling_native_extension/collectors_discrete_dynamic_sampler.c
Owners: @DataDog/profiling-rb

Fix failures on older rubies
  spec/datadog/profiling/exporter_spec.rb
Owners: @DataDog/profiling-rb

Fix failures on jrubies
  spec/datadog/profiling/exporter_spec.rb
Owners: @DataDog/profiling-rb

Match only on count
  spec/datadog/profiling/exporter_spec.rb
Owners: @DataDog/profiling-rb

fixed sinatra route when using script name
  lib/datadog/tracing/contrib/sinatra/tracer.rb
Owners: @DataDog/tracing-ruby

adds tests
  Rakefile
  appraisal/ruby-3.1.rb
  gemfiles/ruby_3.1_multi_rack_app.gemfile
  gemfiles/ruby_3.1_multi_rack_app.gemfile.lock
  spec/datadog/tracing/contrib/rack/http_route_spec.rb
Owners: @DataDog/ruby-guild, @DataDog/tracing-ruby

Update gemfiles/*
  gemfiles/ruby_3.1_multi_rack_app.gemfile.lock
Owners: @DataDog/ruby-guild

[PROF-9035] Stop worker on allocation sampler failure
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/ddtrace_profiling_native_extension/collectors_discrete_dynamic_sampler.c
  ext/ddtrace_profiling_native_extension/collectors_discrete_dynamic_sampler.h
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/collectors/discrete_dynamic_sampler_spec.rb
Owners: @DataDog/profiling-rb

Remove check-gem-presence
  .gitlab-ci.yml
Owners: @DataDog/ruby-guild

Patch gem version
  .gitlab/patch_gem_version.sh
Owners: @DataDog/ruby-guild

Add pseudo code
  .gitlab/install_ddtrace_deps.rb
Owners: @DataDog/ruby-guild

update appraisal files
  Rakefile
  appraisal/ruby-2.5.rb
  appraisal/ruby-2.6.rb
  appraisal/ruby-2.7.rb
  appraisal/ruby-3.0.rb
  appraisal/ruby-3.2.rb
  appraisal/ruby-3.3.rb
Owners: @DataDog/ruby-guild

adds jruby tests and lint
  Rakefile
  appraisal/jruby-9.2.rb
  appraisal/jruby-9.3.rb
  appraisal/jruby-9.4.rb
  gemfiles/ruby_3.1_multi_rack_app.gemfile.lock
  spec/datadog/tracing/contrib/rack/http_route_spec.rb
Owners: @DataDog/ruby-guild, @DataDog/tracing-ruby

Update gemfiles/*
  gemfiles/jruby_9.2_multi_rack_app.gemfile
  gemfiles/jruby_9.2_multi_rack_app.gemfile.lock
  gemfiles/jruby_9.3_multi_rack_app.gemfile
  gemfiles/jruby_9.3_multi_rack_app.gemfile.lock
  gemfiles/jruby_9.4_multi_rack_app.gemfile
  gemfiles/jruby_9.4_multi_rack_app.gemfile.lock
  gemfiles/ruby_2.5_multi_rack_app.gemfile
  gemfiles/ruby_2.5_multi_rack_app.gemfile.lock
  gemfiles/ruby_2.6_multi_rack_app.gemfile
  gemfiles/ruby_2.6_multi_rack_app.gemfile.lock
  gemfiles/ruby_2.7_multi_rack_app.gemfile
  gemfiles/ruby_2.7_multi_rack_app.gemfile.lock
  gemfiles/ruby_3.0_multi_rack_app.gemfile
  gemfiles/ruby_3.0_multi_rack_app.gemfile.lock
  gemfiles/ruby_3.2_multi_rack_app.gemfile
  gemfiles/ruby_3.2_multi_rack_app.gemfile.lock
  gemfiles/ruby_3.3_multi_rack_app.gemfile
  gemfiles/ruby_3.3_multi_rack_app.gemfile.lock
Owners: @DataDog/ruby-guild

fixed rakefile
  Rakefile
  spec/datadog/tracing/contrib/http_route_spec.rb
Owners: @DataDog/ruby-guild, @DataDog/tracing-ruby

[PROF-9044] Test for timing hiccups
  ext/ddtrace_profiling_native_extension/collectors_discrete_dynamic_sampler.c
  spec/datadog/profiling/collectors/discrete_dynamic_sampler_spec.rb
Owners: @DataDog/profiling-rb

Temp disable flaky spec on Github Action Test MasOS
  spec/datadog/core/environment/execution_spec.rb
Owners: @DataDog/ruby-guild

[PROF-9044] Introduce maximum allowed sampling time
  ext/ddtrace_profiling_native_extension/collectors_discrete_dynamic_sampler.c
  ext/ddtrace_profiling_native_extension/collectors_discrete_dynamic_sampler.h
  spec/datadog/profiling/collectors/discrete_dynamic_sampler_spec.rb
Owners: @DataDog/profiling-rb

Fix with stub_const
  spec/datadog/core/environment/execution_spec.rb
Owners: @DataDog/ruby-guild

Add provide a test case for minitest 5.22.1
  spec/datadog/core/environment/execution_spec.rb
Owners: @DataDog/ruby-guild

Lint
  spec/datadog/core/environment/execution_spec.rb
Owners: @DataDog/ruby-guild

Sucessful repro
  ext/ddtrace_profiling_native_extension/collectors_stack.c
  timeline-repro.rb
Owners: @DataDog/profiling-rb, @DataDog/ruby-guild

Successful minimal repro
  ext/ddtrace_profiling_native_extension/collectors_stack.c
  timeline-repro.rb
Owners: @DataDog/profiling-rb, @DataDog/ruby-guild

Add note for repro
  timeline-repro.rb
Owners: @DataDog/ruby-guild

Address comments
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  lib/datadog/profiling/exporter.rb
  sig/datadog/profiling/collectors/cpu_and_wall_time_worker.rbs
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/exporter_spec.rb
Owners: @DataDog/profiling-rb

Update GettingStarted.md
  docs/GettingStarted.md
Owners: @DataDog/documentation

.github/CODEOWNERS:

* @DataDog/ruby-guild

# Public Documentation
/docs/Compatibility.md @DataDog/documentation
/docs/GettingStarted.md @DataDog/documentation

# Library
/lib/datadog/appsec/ @DataDog/asm-ruby
/lib/datadog/appsec.rb @DataDog/asm-ruby
/lib/datadog/tracing/ @DataDog/tracing-ruby
/lib/datadog/tracing.rb @DataDog/tracing-ruby
/lib/datadog/opentelemetry/ @DataDog/tracing-ruby
/lib/datadog/opentelemetry.rb @DataDog/tracing-ruby
/lib/datadog/opentracer/ @DataDog/tracing-ruby
/lib/datadog/opentracer.rb @DataDog/tracing-ruby
/lib-injection/ @DataDog/tracing-ruby
/lib/datadog/profiling/ @DataDog/profiling-rb
/lib/datadog/profiling.rb @DataDog/profiling-rb
/ext/ @DataDog/profiling-rb

# RBS signatures
/sig/datadog/appsec/ @DataDog/asm-ruby
/sig/datadog/appsec.rbs @DataDog/asm-ruby
/sig/datadog/tracing/ @DataDog/tracing-ruby
/sig/datadog/tracing.rbs @DataDog/tracing-ruby
/sig/datadog/opentelemetry/ @DataDog/tracing-ruby
/sig/datadog/opentelemetry.rbs @DataDog/tracing-ruby
/sig/datadog/opentracer/ @DataDog/tracing-ruby
/sig/datadog/opentracer.rbs @DataDog/tracing-ruby
/sig/datadog/profiling/ @DataDog/profiling-rb
/sig/datadog/profiling.rbs @DataDog/profiling-rb

# Specs
/spec/datadog/appsec/ @DataDog/asm-ruby
/spec/datadog/tracing/ @DataDog/tracing-ruby
/spec/datadog/tracing_spec.rb @DataDog/tracing-ruby
/spec/datadog/opentelemetry/ @DataDog/tracing-ruby
/spec/datadog/opentelemetry_spec.rb @DataDog/tracing-ruby
/spec/datadog/opentracer/ @DataDog/tracing-ruby
/spec/datadog/opentracer.rb @DataDog/tracing-ruby
/spec/datadog/profiling/ @DataDog/profiling-rb
/spec/datadog/profiling_spec.rb @DataDog/profiling-rb
