Repository DataDog/dd-trace-rb, changes with the labels that .github/labeler.yml gives for each.
All labels: core, profiling, ci-app, appsec, tracing, integrations, otel, single-step, debugging

.github/labeler.yml:

# Configuration for GitHub Action `.github/workflows/pull-request-labeler.yml`.
# See https://github.com/marketplace/actions/labeler for more information.

core:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/core/**' ]

# Only documentation changes
docs:
- changed-files:
  - all-globs-to-all-files: [ '**/*.md' ]

# Only test changes
dev/testing:
- changed-files:
  - all-globs-to-all-files: [ '{spec/**,integration/**,benchmarks/**}' ]

# Changes to Profiling
profiling:
- changed-files:
  - any-glob-to-any-file: [ '{lib/datadog/profiling/**,ext/datadog_profiling_loader/**,ext/datadog_profiling_native_extension/**}' ]

# Changes to CI-App
ci-app:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/ci/**' ]

# Changes to ASM
appsec:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/appsec/**' ]

# Changes to Tracing
tracing:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/tracing/**' ]

# Changes to Tracing integrations
integrations:
- changed-files:
  - any-glob-to-any-file: [ '{lib/datadog/tracing/contrib/**,lib/datadog/appsec/contrib/**}' ]

# Only repository GitHub changes
dev/github:
- changed-files:
  - all-globs-to-all-files: [ '.github/**' ]

# Only repository CI changes
dev/ci:
- changed-files:
  - all-globs-to-all-files: [ '{.circleci/**,.gitlab-ci.yml}' ]

# Version bump pull request
release:
- changed-files:
  - all-globs-to-all-files: [ '{CHANGELOG.md,lib/datadog/version.rb}' ]

# Changes to OpenTelemetry
otel:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/opentelemetry/**' ]

# Changes to Single Step Instrumentation
single-step:
- changed-files:
  - any-glob-to-any-file: [ 'lib-injection/**' ]

# Changes to Debugging
debugging:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/debugging/**' ]

Change binary version
  .circleci/images/primary/binary_version
Labels: none

maybe this is the ticket
  Rakefile
  spec/datadog/di/contrib/active_record/serializer_active_record_spec.rb
Labels: none

create a new appraisal configuration
  Matrixfile
  Rakefile
Labels: none

use mysql since this is what other tests use
  spec/datadog/di/contrib/active_record/serializer_active_record_spec.rb
Labels: none

remove from tracing tests
  Rakefile
Labels: none

WIP
  Rakefile
Labels: none

Purge circleci cache
  .circleci/images/primary/binary_version
Labels: none

Implement list and install
  tasks/dependency.rake
Labels: none

Dynamic glob files
  tasks/dependency.rake
Labels: none

DEBUG-2334 custom ActiveRecord model serialization (#4088)
  Matrixfile
  Rakefile
  lib/datadog/di/contrib/active_record.rb
  lib/datadog/di/serializer.rb
  sig/datadog/di/contrib/active_record.rbs
  sig/datadog/di/serializer.rbs
  spec/datadog/di/contrib/active_record/serializer_active_record_spec.rb
  spec/datadog/di/serializer_helper.rb
  spec/datadog/di/serializer_spec.rb
Labels: none

Lint
  Rakefile
Labels: none

Update binary_version
  .circleci/images/primary/binary_version
Labels: none

Update circelci
  .circleci/config.yml
Labels: none

Check missing deps
  Rakefile
Labels: none

Implement list and install
  tasks/dependency.rake
Labels: none

Update description
  tasks/dependency.rake
Labels: none

Dynamic glob files
  tasks/dependency.rake
Labels: none

Remove appraisal update from circleci
  .circleci/config.yml
Labels: none

Ensure appraisal install
  .circleci/config.yml
Labels: none

Replace open3 with sh in dependency task
  tasks/dependency.rake
Labels: none

Restore cache
  .circleci/config.yml
Labels: none

Add gemfiles/*.gemfile to cache checksum
  .circleci/config.yml
Labels: none

Move jq installation earlier
  .circleci/config.yml
Labels: none

Add method name into telemetry in Context#run
  lib/datadog/appsec/processor/context.rb
  spec/datadog/appsec/processor/context_spec.rb
Labels: appsec

Replace `Bundler.with_clean_env` with `Bundler.with_unbundled_env`
  spec/datadog/core/environment/execution_spec.rb
Labels: none

Generate JSON from Ruby
  lib-injection/requirements.json
  lib-injection/requirements.rb
Labels: single-step

Add denied commands
  lib-injection/requirements.json
  lib-injection/requirements.rb
  lib-injection/test_allow.json
  lib-injection/test_block.json
Labels: single-step

Update cache
  .circleci/images/primary/binary_version
Labels: none

Handle intermediate arguments for bundler
  lib-injection/requirements.json
  lib-injection/requirements.rb
  lib-injection/test_block.json
Labels: single-step

Lint
  spec/datadog/core/environment/execution_spec.rb
Labels: none

DEBUG-2334 DI internal settings reorg + telemetry + error handling (#4089)
  benchmarks/di_instrument.rb
  lib/datadog/di/code_tracker.rb
  lib/datadog/di/configuration/settings.rb
  lib/datadog/di/error.rb
  lib/datadog/di/instrumenter.rb
  lib/datadog/di/probe.rb
  lib/datadog/di/probe_notifier_worker.rb
  sig/datadog/di/code_tracker.rbs
  sig/datadog/di/error.rbs
  sig/datadog/di/instrumenter.rbs
  sig/datadog/di/probe.rbs
  sig/datadog/di/probe_notifier_worker.rbs
  spec/datadog/di/code_tracker_spec.rb
  spec/datadog/di/configuration/settings_spec.rb
  spec/datadog/di/instrumenter_spec.rb
  spec/datadog/di/probe_notifier_worker_spec.rb
  spec/datadog/di/spec_helper.rb
Labels: none

DEBUG-2334 DI probe manager class
  lib/datadog/di/probe_manager.rb
  lib/datadog/di/probe_notification_builder.rb
  lib/datadog/di/transport.rb
  spec/datadog/di/integration/instrumentation_integration_test_class.rb
  spec/datadog/di/integration/instrumentation_integration_test_class_2.rb
  spec/datadog/di/integration/instrumentation_integration_test_class_3.rb
  spec/datadog/di/integration/instrumentation_integration_test_class_4.rb
  spec/datadog/di/integration/instrumentation_spec.rb
  spec/datadog/di/integration/probe_notification_builder_spec.rb
  spec/datadog/di/probe_manager_spec.rb
  spec/datadog/di/probe_notification_builder_spec.rb
Labels: none

standard
  .standard_todo.yml
  lib/datadog/di/probe_manager.rb
  lib/datadog/di/transport.rb
  spec/datadog/di/integration/instrumentation_spec.rb
  spec/datadog/di/probe_manager_spec.rb
  spec/datadog/di/validate_benchmarks_spec.rb
Labels: none

locking note
  lib/datadog/di/probe.rb
Labels: none

benchmarks require more DI code to be merged
  spec/datadog/di/validate_benchmarks_spec.rb
Labels: none

types
  lib/datadog/di/probe_manager.rb
  sig/datadog/di.rbs
  sig/datadog/di/component.rbs
  sig/datadog/di/probe_manager.rbs
  sig/datadog/di/probe_notification_builder.rbs
Labels: none

test basic method probe
  spec/datadog/di/integration/instrumentation_spec.rb
Labels: none

standard
  spec/datadog/di/integration/instrumentation_spec.rb
Labels: none

try locking probe manager
  lib/datadog/di/probe_manager.rb
Labels: none

probe manager method documentation
  lib/datadog/di/probe_manager.rb
Labels: none
