Repository DataDog/dd-trace-rb, changes with the labels that .github/labeler.yml gives for each.
All labels: core, profiling, ci-app, appsec, tracing, integrations, otel, single-step, debugging

Pin version across rubies
  .circleci/images/primary/Dockerfile-2.5.9
  .circleci/images/primary/Dockerfile-2.6.10
  .circleci/images/primary/Dockerfile-2.7.8
  .circleci/images/primary/Dockerfile-3.0.7
  .circleci/images/primary/Dockerfile-3.1.6
  .circleci/images/primary/Dockerfile-3.2.4
  .circleci/images/primary/Dockerfile-3.3.2
  .circleci/images/primary/Dockerfile-3.4.0
  .circleci/images/primary/Dockerfile-jruby-9.2.21.0
  .circleci/images/primary/Dockerfile-jruby-9.3.9.0
  .circleci/images/primary/Dockerfile-jruby-9.4.7.0
Labels: none

WIP
  .circleci/config.yml
  .circleci/images/primary/binary_version
  spec/datadog/core/error_spec.rb
  spec/datadog/tracing/metadata/tagging_spec.rb
  spec/datadog/tracing/remote_spec.rb
Labels: none

Revert "Update dd-apm-test-agent to 1.18.0 (current release) (#4004)"
  .circleci/config.yml
  docker-compose.yml
Labels: none

Debug env in CircleCI
  .circleci/config.yml
Labels: none

Focus on 3.4
  .circleci/config.yml
Labels: none

WIP
  .circleci/config.yml
Labels: none

WIP
  .circleci/config.yml
Labels: none

Purge circleci cache
  .circleci/images/primary/binary_version
Labels: none

Fix Intel case
  lib-injection/requirements.json
  lib-injection/test_allow.json
  lib-injection/test_block.json
Labels: single-step

fix unix path regex
  spec/datadog/core/configuration/agent_settings_resolver_spec.rb
Labels: none

update tests to match this new world order
  lib/datadog/core/configuration/agent_settings_resolver.rb
  spec/datadog/core/configuration/agent_settings_resolver_spec.rb
Labels: core

fix test
  spec/datadog/core/configuration/agent_settings_resolver_spec.rb
Labels: none

update method
  lib/datadog/core/configuration/agent_settings_resolver.rb
Labels: core

lint
  lib/datadog/core/configuration/agent_settings_resolver.rb
  spec/datadog/core/configuration/agent_settings_resolver_spec.rb
Labels: core

add back mixed_http_and_uds
  lib/datadog/core/configuration/agent_settings_resolver.rb
Labels: core

use uds
  lib/datadog/core/configuration/agent_settings_resolver.rb
Labels: core

check bundler version
  Rakefile
Labels: none

Revert v1.18.0 to v1.12.0
  .circleci/config.yml
  docker-compose.yml
Labels: none

[NO-TICKET] Fix rubocop lint
  lib/datadog/tracing/writer.rb
Labels: tracing

test local time serialization
  spec/datadog/di/serializer_helper.rb
  spec/datadog/di/serializer_spec.rb
Labels: none

AR serializer tests
  spec/datadog/di/serializer_rails_spec.rb
Labels: none

do not use appraisal command
  Rakefile
Labels: none

documentation how to use appraisal
  docs/DevelopmentGuide.md
Labels: none

put di/utils back
  lib/datadog/di.rb
Labels: none

revert worker change
  lib/datadog/core/workers/polling.rb
Labels: core

syntax
  Rakefile
Labels: none

fix path again
  Rakefile
Labels: none

do not load DI on ruby 2.5
  lib/datadog.rb
  lib/datadog/di.rb
Labels: none

fix capabilities test
  spec/datadog/core/remote/client/capabilities_spec.rb
Labels: none

try this
  Rakefile
Labels: none

mark di tests
  spec/datadog/di/integration/everything_from_remote_config_spec.rb
  spec/datadog/di/integration/instrumentation_spec.rb
  spec/datadog/di/integration/probe_notification_builder_spec.rb
Labels: none

be
  Rakefile
Labels: none

Update lib/datadog/di/probe_manager.rb
  lib/datadog/di/probe_manager.rb
Labels: none

fix rack 3/rackup situation on ruby 3.4
  appraisal/ruby-3.4.rb
  gemfiles/ruby_3.4_contrib.gemfile
  spec/datadog/tracing/contrib/suite/integration_spec.rb
Labels: none

[🤖] Lock Dependency: https://github.com/DataDog/dd-trace-rb/actions/runs/11672661777
  gemfiles/ruby_3.4_contrib.gemfile.lock
Labels: none

[NO-TICKET] Upgrade to libdatadog 14.0
  datadog.gemspec
  ext/libdatadog_api/crashtracker.c
  ext/libdatadog_extconf_helpers.rb
Labels: none

Add config support for "on_error" in Elasticsearch tracing
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/elasticsearch/configuration/settings.rb
  lib/datadog/tracing/contrib/elasticsearch/patcher.rb
  spec/datadog/tracing/contrib/elasticsearch/patcher_spec.rb
Labels: tracing, integrations

Add 2.5.0 to CHANGELOG.md
  CHANGELOG.md
Labels: none

Bump version 2.4.0 to 2.5.0
  lib/datadog/version.rb
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

.github/labeler.yml:

# Configuration for GitHub Action `.github/workflows/pull-request-labeler.yml`.
# See https://github.com/marketplace/actions/labeler for more information.

core:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/core/**' ]

# Only documentation changes
docs:
- changed-files:
  - all-globs-to-all-files: [ '**/*.md' ]

# Only test changes
dev/testing:
- changed-files:
  - all-globs-to-all-files: [ '{spec/**,integration/**,benchmarks/**}' ]

# Changes to Profiling
profiling:
- changed-files:
  - any-glob-to-any-file: [ '{lib/datadog/profiling/**,ext/datadog_profiling_loader/**,ext/datadog_profiling_native_extension/**}' ]

# Changes to CI-App
ci-app:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/ci/**' ]

# Changes to ASM
appsec:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/appsec/**' ]

# Changes to Tracing
tracing:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/tracing/**' ]

# Changes to Tracing integrations
integrations:
- changed-files:
  - any-glob-to-any-file: [ '{lib/datadog/tracing/contrib/**,lib/datadog/appsec/contrib/**}' ]

# Only repository GitHub changes
dev/github:
- changed-files:
  - all-globs-to-all-files: [ '.github/**' ]

# Only repository CI changes
dev/ci:
- changed-files:
  - all-globs-to-all-files: [ '{.circleci/**,.gitlab-ci.yml}' ]

# Version bump pull request
release:
- changed-files:
  - all-globs-to-all-files: [ '{CHANGELOG.md,lib/datadog/version.rb}' ]

# Changes to OpenTelemetry
otel:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/opentelemetry/**' ]

# Changes to Single Step Instrumentation
single-step:
- changed-files:
  - any-glob-to-any-file: [ 'lib-injection/**' ]

# Changes to Debugging
debugging:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/debugging/**' ]
