Repository DataDog/dd-trace-rb, changes with the labels that .github/labeler.yml gives for each.
All labels: core, profiling, ci-app, appsec, tracing, integrations

Do not try accessing the appsec settings if the appsec module is not loaded
  lib/datadog/appsec/component.rb
  lib/datadog/core/configuration/components.rb
  spec/datadog/appsec/component_spec.rb
Labels: core, appsec

use `respond_to?` rather than `defined?`. It allow us to better test the corner case
  lib/datadog/appsec/component.rb
  spec/datadog/appsec/component_spec.rb
Labels: appsec

Sprinkle a few `const` declarations as suggested by compiler warnings
  ext/ddtrace_profiling_native_extension/collectors_thread_context.c
Labels: profiling

Add simple benchmark to simulate a few power consumption cases
  power-benchmark.rb
Labels: none

Added: 1.10.1 to CHANGELOG.md
  CHANGELOG.md
Labels: none

Bumping version 1.10.0 to 1.10.1
  lib/ddtrace/version.rb
Labels: none

Add extra profile type to trigger libdatadog co2 calculations
  ext/ddtrace_profiling_native_extension/stack_recorder.c
Labels: profiling

Enable type checking for `Datadog::Profiling::NativeExtension`
  Steepfile
  sig/datadog/profiling/native_extension.rbs
Labels: none

Add optional block to type signatures
  sig/datadog/core/utils/object_set.rbs
  sig/datadog/core/utils/sequence.rbs
Labels: none

Add type checking for `Datadog::Profiling::Loader`
  Steepfile
  sig/datadog/profiling/load_native_extension.rbs
Labels: none

Remove disabled JRuby 9.2.8.0 testing setup
  .circleci/config.yml
  .circleci/images/primary/Dockerfile-jruby-9.2.8.0
  .github/workflows/build-ruby.yml
  docker-compose.yml
  tasks/appraisal.rake
Labels: none

Add roda files to Steepfile and remove empty line.
  Steepfile
  lib/datadog/tracing/contrib/roda/instrumentation.rb
Labels: tracing, integrations

Disable typechecking contrib folders by default
  Steepfile
Labels: none

Catch only standard error during errors in instrumentation for roda.
  lib/datadog/tracing/contrib/roda/instrumentation.rb
Labels: tracing, integrations

Remove roda from Steepfile.
  Steepfile
Labels: none

Add AppSec::Processor::RuleMerger
  lib/datadog/appsec/processor/rule_merger.rb
  sig/datadog/appsec/processor/rule_merger.rbs
  spec/datadog/appsec/processor/rule_merger_spec.rb
Labels: appsec

Regroup fields inside `cpu_and_wall_time_worker_state` state
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
Labels: profiling

Avoid triggering allocation sampling during sampling
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
Labels: profiling

Add spec for not allocating during sample
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
Labels: none

Remove Rack TraceMiddleware from being loaded by default. Instead, applications wll need to call on it. Tests and GettingStarted have been updated for that change.
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/roda/patcher.rb
  spec/datadog/tracing/contrib/roda/patcher_spec.rb
Labels: tracing, integrations

WIP
  lib/datadog/tracing/configuration/settings.rb
  spec/datadog/tracing/configuration/settings_spec.rb
Labels: tracing

wip
  Gemfile
  lib/datadog/tracing/configuration/settings.rb
Labels: tracing

add support for merging rules files with same version
  lib/datadog/appsec/processor/rule_merger.rb
  sig/datadog/appsec/processor/rule_merger.rbs
  spec/datadog/appsec/processor/rule_merger_spec.rb
Labels: appsec

apply feedback
  lib/datadog/appsec/processor/rule_merger.rb
  sig/datadog/appsec/processor/rule_merger.rbs
  spec/datadog/appsec/processor/rule_merger_spec.rb
Labels: appsec

Add blackbox specs
  spec/datadog/core/transport/http_spec.rb
  spec/datadog/core/transport/integration_spec.rb
Labels: none

Address minor review comments
  lib/datadog/core/transport/http.rb
  lib/datadog/core/transport/http/api.rb
Labels: core

Use workaround for steep issue only in GitHub Actions
  .github/workflows/test-macos.yaml
  Gemfile
Labels: none

Fix Rails < 3 conditional check
  lib/datadog/tracing/contrib/rails/utils.rb
Labels: tracing, integrations

Generate prototype signatures for transport
  sig/datadog/core/transport/http.rbs
  sig/datadog/core/transport/http/api.rbs
  sig/datadog/core/transport/http/api/instance.rbs
  sig/datadog/core/transport/http/api/spec.rbs
  sig/datadog/core/transport/http/builder.rbs
  sig/datadog/core/transport/http/client.rbs
  sig/datadog/core/transport/http/negotiation.rbs
  sig/datadog/core/transport/negotiation.rbs
  sig/ddtrace/transport/ext.rbs
  sig/ddtrace/transport/http.rbs
  sig/ddtrace/transport/http/adapters/net.rbs
  sig/ddtrace/transport/http/adapters/registry.rbs
  sig/ddtrace/transport/http/adapters/test.rbs
  sig/ddtrace/transport/http/adapters/unix_socket.rbs
  sig/ddtrace/transport/http/api.rbs
  sig/ddtrace/transport/http/api/endpoint.rbs
  sig/ddtrace/transport/http/api/fallbacks.rbs
  sig/ddtrace/transport/http/api/instance.rbs
  sig/ddtrace/transport/http/api/map.rbs
  sig/ddtrace/transport/http/api/spec.rbs
  sig/ddtrace/transport/http/builder.rbs
  sig/ddtrace/transport/http/client.rbs
  sig/ddtrace/transport/http/env.rbs
  sig/ddtrace/transport/http/response.rbs
  sig/ddtrace/transport/http/statistics.rbs
  sig/ddtrace/transport/http/traces.rbs
  sig/ddtrace/transport/io.rbs
  sig/ddtrace/transport/io/client.rbs
  sig/ddtrace/transport/io/response.rbs
  sig/ddtrace/transport/io/traces.rbs
  sig/ddtrace/transport/parcel.rbs
  sig/ddtrace/transport/request.rbs
  sig/ddtrace/transport/response.rbs
  sig/ddtrace/transport/serializable_trace.rbs
  sig/ddtrace/transport/statistics.rbs
  sig/ddtrace/transport/trace_formatter.rbs
  sig/ddtrace/transport/traces.rbs
Labels: none

Fix typing errors
  Steepfile
  lib/datadog/core/transport/http.rb
  sig/datadog/core/configuration/agent_settings_resolver.rbs
  sig/datadog/core/transport/http.rbs
  sig/datadog/core/transport/http/builder.rbs
  sig/datadog/core/transport/http/negotiation.rbs
  sig/ddtrace/transport/ext.rbs
  sig/ddtrace/transport/http/adapters/registry.rbs
  sig/ddtrace/transport/http/api/map.rbs
  sig/ddtrace/transport/http/env.rbs
Labels: core

Comply with Rubocop
  lib/datadog/core/transport/http.rb
  lib/datadog/core/transport/http/builder.rb
  lib/datadog/core/transport/http/client.rb
  lib/datadog/core/transport/negotiation.rb
Labels: core

Remove sig comments
  sig/datadog/core/transport/http.rbs
  sig/datadog/core/transport/http/api.rbs
  sig/datadog/core/transport/http/api/instance.rbs
  sig/datadog/core/transport/http/api/spec.rbs
  sig/datadog/core/transport/http/builder.rbs
  sig/datadog/core/transport/http/client.rbs
  sig/datadog/core/transport/http/negotiation.rbs
  sig/datadog/core/transport/negotiation.rbs
  sig/ddtrace/transport/ext.rbs
  sig/ddtrace/transport/http.rbs
  sig/ddtrace/transport/http/adapters/net.rbs
  sig/ddtrace/transport/http/adapters/registry.rbs
  sig/ddtrace/transport/http/adapters/test.rbs
  sig/ddtrace/transport/http/adapters/unix_socket.rbs
  sig/ddtrace/transport/http/api.rbs
  sig/ddtrace/transport/http/api/endpoint.rbs
  sig/ddtrace/transport/http/api/fallbacks.rbs
  sig/ddtrace/transport/http/api/instance.rbs
  sig/ddtrace/transport/http/api/map.rbs
  sig/ddtrace/transport/http/api/spec.rbs
  sig/ddtrace/transport/http/builder.rbs
  sig/ddtrace/transport/http/client.rbs
  sig/ddtrace/transport/http/env.rbs
  sig/ddtrace/transport/http/response.rbs
  sig/ddtrace/transport/http/statistics.rbs
  sig/ddtrace/transport/http/traces.rbs
  sig/ddtrace/transport/io.rbs
  sig/ddtrace/transport/io/client.rbs
  sig/ddtrace/transport/io/response.rbs
  sig/ddtrace/transport/io/traces.rbs
  sig/ddtrace/transport/parcel.rbs
  sig/ddtrace/transport/request.rbs
  sig/ddtrace/transport/response.rbs
  sig/ddtrace/transport/serializable_trace.rbs
  sig/ddtrace/transport/statistics.rbs
  sig/ddtrace/transport/trace_formatter.rbs
  sig/ddtrace/transport/traces.rbs
Labels: none

Add config transport endpoint
  lib/datadog/core/transport/config.rb
  lib/datadog/core/transport/http.rb
  lib/datadog/core/transport/http/api.rb
  lib/datadog/core/transport/http/config.rb
Labels: core

Comply with Rubocop
  lib/datadog/core/transport/config.rb
  lib/datadog/core/transport/http/config.rb
Labels: core

Pass type checking
  Steepfile
  lib/datadog/core/transport/config.rb
  lib/datadog/core/transport/http/config.rb
  sig/datadog/core/encoding.rbs
  sig/datadog/core/transport/config.rbs
  sig/datadog/core/transport/http.rbs
  sig/datadog/core/transport/http/api.rbs
  sig/datadog/core/transport/http/config.rbs
Labels: core

Add specs for config endpoint
  .env
  docker-compose.yml
  spec/datadog/core/transport/http_spec.rb
  spec/datadog/core/transport/integration_spec.rb
Labels: none

Comply with Rubocop
  spec/datadog/core/transport/http_spec.rb
Labels: none

Prepare CI for remote configuration... but skip test
  spec/datadog/core/transport/integration_spec.rb
Labels: none

Add remote configuration PORO objects
  lib/datadog/core/remote/configuration/content.rb
  lib/datadog/core/remote/configuration/path.rb
  lib/datadog/core/remote/configuration/target.rb
Labels: core

add specs for remote configuration classes
  lib/datadog/core/remote/configuration/content.rb
  lib/datadog/core/remote/configuration/path.rb
  lib/datadog/core/remote/configuration/target.rb
  spec/datadog/core/remote/configuration/content_spec.rb
  spec/datadog/core/remote/configuration/path_spec.rb
  spec/datadog/core/remote/configuration/target_spec.rb
Labels: core

.github/labeler.yml:

# Configuration for GitHub Action `.github/workflows/pull-request-labeler.yml`.
# See https://github.com/marketplace/actions/labeler for more information.

core:
  - any: [ 'lib/datadog/core/**' ]

# Only documentation changes
docs:
  - all: [ '**/*.md' ]

# Only test changes
dev/testing:
  - all: [ '{spec/**,integration/**,benchmarks/**}' ]

# Changes to Profiling
profiling:
  - any: [ '{lib/datadog/profiling/**,ext/ddtrace_profiling_loader/**,ext/ddtrace_profiling_native_extension/**}' ]

# Changes to CI-App
ci-app:
  - any: [ 'lib/datadog/ci/**' ]

# Changes to ASM
appsec:
  - any: [ 'lib/datadog/appsec/**' ]

# Changes to Tracing
tracing:
  - any: [ 'lib/datadog/tracing/**' ]

# Changes to Tracing integrations
integrations:
  - any: [ '{lib/datadog/tracing/contrib/**,lib/datadog/appsec/contrib/**}' ]

# Only repository GitHub changes
dev/github:
  - all: [ '.github/**' ]

# Only repository CI changes
dev/ci:
  - all: [ '{.circleci/**,.gitlab-ci.yml}' ]

# Version bump pull request
release:
  - all: [ '{CHANGELOG.md,lib/ddtrace/version.rb}' ]
