Repository DataDog/dd-trace-rb, changes with the labels that .github/labeler.yml gives for each.
All labels: core, profiling, ci-app, appsec, tracing, integrations

.github/labeler.yml:

# Configuration for GitHub Action `.github/workflows/pull-request-labeler.yml`.
# See https://github.com/marketplace/actions/labeler for more information.

core:
  - any: [ 'lib/datadog/core/**' ]

# Only documentation changes
docs:
  - all: [ '**/*.md' ]

# Only test changes
dev/testing:
  - all: [ '{spec/**,integration/**,benchmarks/**}' ]

# Changes to Profiling
profiling:
  - any: [ '{lib/datadog/profiling/**,ext/ddtrace_profiling_loader/**,ext/ddtrace_profiling_native_extension/**}' ]

# Changes to CI-App
ci-app:
  - any: [ 'lib/datadog/ci/**' ]

# Changes to ASM
appsec:
  - any: [ 'lib/datadog/appsec/**' ]

# Changes to Tracing
tracing:
  - any: [ 'lib/datadog/tracing/**' ]

# Changes to Tracing integrations
integrations:
  - any: [ '{lib/datadog/tracing/contrib/**,lib/datadog/appsec/contrib/**}' ]

# Only repository GitHub changes
dev/github:
  - all: [ '.github/**' ]

# Only repository CI changes
dev/ci:
  - all: [ '{.circleci/**,.gitlab-ci.yml}' ]

# Version bump pull request
release:
  - all: [ '{CHANGELOG.md,lib/ddtrace/version.rb}' ]

Defect fix: check Rack::Request is defined
  lib/datadog/appsec/contrib/rack/gateway/request.rb
Labels: appsec, integrations

Spec for metal
  spec/datadog/tracing/contrib/action_pack/action_controller/metal_spec.rb
Labels: none

Implement head based resource assignment and error controller constantize
  lib/datadog/tracing/contrib/action_pack/action_controller/instrumentation.rb
Labels: tracing, integrations

Fix rails integration test
  spec/datadog/tracing/contrib/rails/rack_spec.rb
Labels: none

Add errors controller in integration app
  integration/apps/rails-seven/app/controllers/basic_controller.rb
  integration/apps/rails-seven/app/controllers/errors_controller.rb
  integration/apps/rails-seven/config/application.rb
  integration/apps/rails-seven/config/routes.rb
  integration/apps/rails-six/app/controllers/basic_controller.rb
  integration/apps/rails-six/app/controllers/errors_controller.rb
  integration/apps/rails-six/config/application.rb
  integration/apps/rails-six/config/routes.rb
Labels: none

Change doc for string implementation for exception_controller
  docs/GettingStarted.md
Labels: none

Improve logging message
  lib/datadog/tracing/contrib/action_pack/action_controller/instrumentation.rb
Labels: tracing, integrations

Specs for accessing ErrorController path directly
  spec/datadog/tracing/contrib/action_pack/action_controller/metal_spec.rb
Labels: none

first commit with parial env var changes to aws
  lib/datadog/tracing/configuration/ext.rb
  lib/datadog/tracing/configuration/settings.rb
  lib/datadog/tracing/contrib/aws/configuration/settings.rb
  spec/datadog/tracing/contrib/aws/instrumentation_spec.rb
Labels: tracing, integrations

Adds check based on env var for aws
  lib/datadog/tracing/contrib/aws/configuration/settings.rb
Labels: tracing, integrations

Adds tests for v1 service name for aws
  lib/datadog/tracing/contrib/aws/configuration/settings.rb
  lib/datadog/tracing/contrib/aws/instrumentation.rb
  spec/datadog/tracing/contrib/aws/instrumentation_spec.rb
Labels: tracing, integrations

linter fixes
  lib/datadog/tracing/contrib/aws/instrumentation.rb
  spec/datadog/tracing/contrib/aws/instrumentation_spec.rb
Labels: tracing, integrations

Patch the ❤ method for Sidekiq 7 compatibility
  lib/datadog/tracing/contrib/sidekiq/server_internal_tracer/heartbeat.rb
Labels: tracing, integrations

Use +@ instead of dup for duplicating strings on supported Rubies
  lib/datadog/core/utils/safe_dup.rb
Labels: core

Introduce a specialised helper to return frozen dups
  lib/datadog/core/utils/safe_dup.rb
  lib/datadog/tracing/correlation.rb
Labels: core, tracing

Change resource overwrite based on redirected by ActionDispatch with exception
  lib/datadog/tracing/contrib/action_pack/action_controller/instrumentation.rb
Labels: tracing, integrations

Deprecate `exception_controller` option
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/action_pack/configuration/settings.rb
  lib/datadog/tracing/contrib/rails/configuration/settings.rb
  spec/datadog/tracing/contrib/action_pack/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/rails/configuration/settings_spec.rb
Labels: tracing, integrations

Add more test
  spec/datadog/tracing/contrib/action_pack/action_controller/metal_spec.rb
Labels: none

fix debian sources for old ruby images
  integration/images/ruby/2.1/Dockerfile
  integration/images/ruby/2.2/Dockerfile
Labels: none

Add debug logging when no change occurs
  lib/datadog/core/remote/client.rb
Labels: core

Add remote configuration settings
  lib/datadog/core/configuration/settings.rb
  lib/datadog/core/remote/component.rb
  lib/datadog/core/remote/ext.rb
Labels: core

Spawn remote configuration lazily on barrier check
  lib/datadog/appsec/contrib/rack/request_middleware.rb
  lib/datadog/core/remote/component.rb
Labels: core, appsec, integrations

Glue remote configuration with AppSec processor lifecycle
  lib/datadog/appsec.rb
  lib/datadog/appsec/component.rb
  lib/datadog/appsec/contrib/rack/request_middleware.rb
  lib/datadog/appsec/processor.rb
  lib/datadog/core/remote/client.rb
Labels: core, appsec, integrations

Change default poll interval to 5s (as specified)
  lib/datadog/core/configuration/settings.rb
Labels: core

Fix :risky return value
  lib/datadog/appsec/processor.rb
Labels: appsec

Fix steep synthesize restarg warning
  lib/datadog/appsec/instrumentation/gateway/argument.rb
Labels: appsec

Update to libddwaf 1.8.2
  ddtrace.gemspec
  lib/datadog/appsec/processor.rb
Labels: appsec

Comply with Rubocop
  lib/datadog/appsec/contrib/rack/request_middleware.rb
  lib/datadog/appsec/instrumentation/gateway/argument.rb
  lib/datadog/appsec/processor.rb
  lib/datadog/core/remote/client.rb
Labels: core, appsec, integrations

Remove dead code
  lib/datadog/appsec.rb
Labels: none

Fix argless calls to super for Gateway::Argument
  lib/datadog/appsec/contrib/rack/gateway/request.rb
  lib/datadog/appsec/contrib/rack/gateway/response.rb
  lib/datadog/appsec/contrib/rails/gateway/request.rb
  lib/datadog/appsec/contrib/sinatra/gateway/route_params.rb
  lib/datadog/appsec/instrumentation/gateway/argument.rb
Labels: appsec, integrations

Remove stray pry
  lib/datadog/core/remote/client.rb
Labels: core

Keep previous processor on failure to reconfigure
  lib/datadog/appsec/component.rb
Labels: appsec

Add type signatures
  lib/datadog/core/remote/client.rb
  sig/datadog/appsec.rbs
  sig/datadog/appsec/component.rbs
  sig/datadog/appsec/processor.rbs
  sig/datadog/core/configuration/settings.rbs
  sig/datadog/core/remote/client.rbs
  sig/datadog/core/remote/component.rbs
  sig/datadog/core/remote/configuration.rbs
  sig/datadog/core/remote/ext.rbs
  sig/datadog/core/remote/worker.rbs
Labels: core

Fix content selection
  lib/datadog/core/remote/client.rb
Labels: core

Fix incorrect JSON in specs
  spec/datadog/core/remote/client_spec.rb
Labels: none

Extracts span attributes methods and implements them
  .rubocop_todo.yml
  lib/datadog/tracing/configuration/ext.rb
  lib/datadog/tracing/configuration/settings.rb
  lib/datadog/tracing/contrib/aws/configuration/settings.rb
  lib/datadog/tracing/contrib/aws/instrumentation.rb
  lib/datadog/tracing/contrib/span_attribute_schema.rb
  spec/datadog/tracing/contrib/aws/instrumentation_spec.rb
Labels: tracing, integrations

Improve deprecation message
  lib/datadog/tracing/contrib/action_pack/configuration/settings.rb
  lib/datadog/tracing/contrib/rails/configuration/settings.rb
Labels: tracing, integrations

add specs
  lib/datadog/core/remote/client.rb
  sig/datadog/appsec/component.rbs
  sig/datadog/appsec/processor.rbs
  spec/datadog/appsec/component_spec.rb
  spec/datadog/appsec/processor_spec.rb
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/core/remote/client_spec.rb
  spec/datadog/tracing/integration_spec.rb
Labels: core

avoid iterating over repository content multiple times
  lib/datadog/core/remote/client.rb
Labels: core

extract rule loader logic outside of AppSec::Processor
  lib/datadog/appsec/component.rb
  lib/datadog/appsec/processor.rb
  lib/datadog/appsec/processor/rule_loader.rb
Labels: appsec
