Repository DataDog/dd-trace-rb, changes with the labels that .github/labeler.yml gives for each.
All labels: core, profiling, ci-app, appsec, tracing, integrations

Fix rubocop and add rbs files
  Steepfile
  lib/datadog/core/remote/configuration/content.rb
  lib/datadog/core/remote/configuration/path.rb
  lib/datadog/core/remote/configuration/target.rb
  sig/datadog/core/remote/configuration/content.rbs
  sig/datadog/core/remote/configuration/path.rbs
  sig/datadog/core/remote/configuration/target.rbs
Labels: core

Comply with linter
  lib/datadog/core/remote/configuration/path.rb
Labels: core

remove steep annotation by checking all values
  lib/datadog/core/remote/configuration/path.rb
Labels: core

Add remote configuration repository
  lib/datadog/core/remote/configuration/repository.rb
Labels: core

add repository specs
  spec/datadog/core/remote/configuration/respository_spec.rb
Labels: none

fix missing require and make Operation class private
  lib/datadog/core/remote/configuration/repository.rb
Labels: core

Add spec for Datadog::Tracing::Contrib::Rails::Utils.railtie_supported?
  spec/datadog/tracing/contrib/rails/utils_spec.rb
Labels: none

add rbs signature
  lib/datadog/core/remote/configuration/repository.rb
  sig/datadog/core/remote/configuration/repository.rbs
Labels: core

fix rubocop
  lib/datadog/core/remote/configuration/repository.rb
  spec/datadog/core/remote/configuration/respository_spec.rb
Labels: core

Scope constant stubbing to Rails 3+ only, since 2 didn't have it
  Gemfile
  spec/datadog/tracing/contrib/rails/utils_spec.rb
Labels: none

Remove accidental `Gemfile` change
  Gemfile
Labels: none

remove Operation::Base class and use an union type alias
  lib/datadog/core/remote/configuration/repository.rb
  sig/datadog/core/remote/configuration/repository.rbs
Labels: core

Add remote configuration client
  lib/datadog/core/remote/client.rb
Labels: core

Handle empty response
  lib/datadog/core/remote/client.rb
  lib/datadog/core/transport/config.rb
  lib/datadog/core/transport/http/config.rb
Labels: core

unify configuration requires
  lib/datadog/core/remote/client.rb
  lib/datadog/core/remote/configuration.rb
Labels: core

Minor refactoring to profiling component setup
  lib/datadog/profiling/component.rb
Labels: profiling

Extract specs for profiling component to separate file
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/profiling/component_spec.rb
Labels: none

Small cleanups to Profiling component spec
  spec/datadog/profiling/component_spec.rb
Labels: none

Minor tweaks to profiling settings documentation
  lib/datadog/core/configuration/settings.rb
Labels: core

Remove not-very-interesting comments
  lib/datadog/core/configuration/components.rb
Labels: core

Decouple profiling component initialization from core
  lib/datadog/core/configuration/components.rb
  lib/datadog/profiling/component.rb
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/profiling/component_spec.rb
Labels: core, profiling

add rbs signatures
  lib/datadog/core/remote/client.rb
  sig/datadog/core/configuration.rbs
  sig/datadog/core/configuration/settings.rbs
  sig/datadog/core/remote/client.rbs
  sig/datadog/core/remote/configuration/content.rbs
  sig/datadog/core/remote/configuration/repository.rbs
  sig/datadog/core/transport/config.rbs
Labels: core

use content_list#find_content rather than content_list#find
  lib/datadog/core/remote/client.rb
Labels: core

[PROF-6555] Support disabling endpoint names collection in new profiler
  benchmarks/profiler_sample_loop_v2.rb
  ext/ddtrace_profiling_native_extension/collectors_thread_context.c
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  lib/datadog/profiling/collectors/thread_context.rb
  lib/datadog/profiling/component.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/collectors/thread_context_spec.rb
  spec/datadog/profiling/component_spec.rb
Labels: profiling

add Core::Remote::Client specs
  lib/datadog/core/remote/client.rb
  lib/datadog/core/transport/http/config.rb
  sig/datadog/core/remote/client.rbs
  spec/datadog/core/remote/client_spec.rb
Labels: core

fix rubocop issues
  lib/datadog/core/remote/client.rb
  lib/datadog/core/remote/configuration.rb
Labels: core

Undo last-minute hack used for testing
  lib/datadog/profiling/component.rb
  spec/datadog/profiling/component_spec.rb
Labels: profiling

Enable typechecking for `lib/datadog/profiling.rb`
  Steepfile
  lib/datadog/profiling.rb
  sig/datadog/profiling.rbs
  sig/datadog/profiling/collectors/cpu_and_wall_time_worker.rbs
  vendor/rbs/gem/0/gem.rbs
  vendor/rbs/google-protobuf/0/google-protobuf.rbs
  vendor/rbs/protobuf-cucumber/0/protobuf-cucumber.rbs
Labels: none

Add type signatures for a bunch of profiling classes
  Steepfile
  lib/datadog/profiling/collectors/idle_sampling_helper.rb
  lib/datadog/profiling/component.rb
  lib/datadog/profiling/ext.rb
  lib/datadog/profiling/stack_recorder.rb
  sig/datadog/core/buffer/random.rbs
  sig/datadog/core/buffer/thread_safe.rbs
  sig/datadog/core/configuration.rbs
  sig/datadog/core/configuration/components.rbs
  sig/datadog/core/worker.rbs
  sig/datadog/core/workers/polling.rbs
  sig/datadog/profiling/collectors/code_provenance.rbs
  sig/datadog/profiling/collectors/cpu_and_wall_time_worker.rbs
  sig/datadog/profiling/collectors/dynamic_sampling_rate.rbs
  sig/datadog/profiling/collectors/idle_sampling_helper.rbs
  sig/datadog/profiling/collectors/old_stack.rbs
  sig/datadog/profiling/collectors/stack.rbs
  sig/datadog/profiling/collectors/thread_context.rbs
  sig/datadog/profiling/component.rbs
  sig/datadog/profiling/event.rbs
  sig/datadog/profiling/events/stack.rbs
  sig/datadog/profiling/exporter.rbs
  sig/datadog/profiling/ext.rbs
  sig/datadog/profiling/flush.rbs
  sig/datadog/profiling/http_transport.rbs
  sig/datadog/profiling/load_native_extension.rbs
  sig/datadog/profiling/old_recorder.rbs
  sig/datadog/profiling/preload.rbs
  sig/datadog/profiling/profiler.rbs
  sig/datadog/profiling/scheduler.rbs
  sig/datadog/profiling/stack_recorder.rbs
  sig/datadog/profiling/tag_builder.rbs
  sig/datadog/profiling/tasks/setup.rbs
  sig/datadog/profiling/trace_identifiers/ddtrace.rbs
  sig/datadog/profiling/trace_identifiers/helper.rbs
Labels: profiling

Update typechecking signatures to account for PR #2698
  sig/datadog/profiling/collectors/cpu_and_wall_time_worker.rbs
  sig/datadog/profiling/collectors/thread_context.rbs
Labels: none

Remove check for cpu-time profiling being supported
  lib/datadog/profiling/tasks/setup.rb
  spec/datadog/profiling/tasks/setup_spec.rb
Labels: profiling

Improved profiling settings documentation
  lib/datadog/core/configuration/settings.rb
Labels: core

Mark profiling `max_events` feature as deprecated for removal
  lib/datadog/core/configuration/settings.rb
Labels: core

Add new `profiling.advanced.force_enable_legacy_profiler` setting
  lib/datadog/core/configuration/settings.rb
  spec/datadog/core/configuration/settings_spec.rb
Labels: core

Introduce `enable_new_profiler?` method to profiling component
  lib/datadog/profiling/component.rb
  sig/datadog/profiling/component.rbs
  spec/datadog/profiling/component_spec.rb
Labels: profiling

Disable CPU Profiling 2.0 beta warning banner
  lib/datadog/profiling/component.rb
  spec/datadog/profiling/component_spec.rb
Labels: profiling

[PROF-7360] Enable CPU Profiling 2.0 by default
  benchmarks/profiler_sample_loop.rb
  lib/datadog/profiling/component.rb
  spec/datadog/profiling/component_spec.rb
Labels: profiling

Avoid compiler warning in header when building on Ruby 2.3
  ext/ddtrace_profiling_native_extension/private_vm_api_access.c
Labels: profiling

Minor: Make it explicit that fallthrough behavior is desired to avoid compiler warning
  ext/ddtrace_profiling_native_extension/private_vm_api_access.c
Labels: profiling

Update integration apps now that CPU Profiling 2.0 is enabled by default
  integration/apps/rack/spec/integration/basic_spec.rb
  integration/apps/sinatra2-classic/spec/integration/basic_spec.rb
  integration/apps/sinatra2-modular/spec/integration/basic_spec.rb
Labels: none

.github/labeler.yml:

# Configuration for GitHub Action `.github/workflows/pull-request-labeler.yml`.
# See https://github.com/marketplace/actions/labeler for more information.

core:
  - any: [ 'lib/datadog/core/**' ]

# Only documentation changes
docs:
  - all: [ '**/*.md' ]

# Only test changes
dev/testing:
  - all: [ '{spec/**,integration/**,benchmarks/**}' ]

# Changes to Profiling
profiling:
  - any: [ '{lib/datadog/profiling/**,ext/ddtrace_profiling_loader/**,ext/ddtrace_profiling_native_extension/**}' ]

# Changes to CI-App
ci-app:
  - any: [ 'lib/datadog/ci/**' ]

# Changes to ASM
appsec:
  - any: [ 'lib/datadog/appsec/**' ]

# Changes to Tracing
tracing:
  - any: [ 'lib/datadog/tracing/**' ]

# Changes to Tracing integrations
integrations:
  - any: [ '{lib/datadog/tracing/contrib/**,lib/datadog/appsec/contrib/**}' ]

# Only repository GitHub changes
dev/github:
  - all: [ '.github/**' ]

# Only repository CI changes
dev/ci:
  - all: [ '{.circleci/**,.gitlab-ci.yml}' ]

# Version bump pull request
release:
  - all: [ '{CHANGELOG.md,lib/ddtrace/version.rb}' ]
