Repository DataDog/dd-trace-rb, changes with the labels that .github/labeler.yml gives for each.
All labels: core, profiling, ci-app, appsec, tracing, integrations

Ensure `.enable_new_profiler?` specs don't run on unsupported Rubies
  spec/datadog/profiling/component_spec.rb
Labels: none

Stop warning spam during spec on legacy Rubies
  spec/datadog/profiling/component_spec.rb
Labels: none

Minor: Update spec after tweaking message wording
  spec/datadog/profiling/component_spec.rb
Labels: none

Skip another compiler warning that we can't do anything about
  ext/ddtrace_profiling_native_extension/private_vm_api_access.c
Labels: profiling

Forces default to meet service naming requirements
  lib/datadog/tracing/contrib/http/configuration/settings.rb
  lib/datadog/tracing/contrib/http/ext.rb
  lib/datadog/tracing/contrib/pg/configuration/settings.rb
  lib/datadog/tracing/contrib/pg/instrumentation.rb
  lib/datadog/tracing/contrib/rack/configuration/settings.rb
  lib/datadog/tracing/contrib/rack/ext.rb
  lib/datadog/tracing/contrib/rack/middlewares.rb
Labels: tracing, integrations

update link text
  docs/GettingStarted.md
Labels: none

Fix duplicated typechecking signature
  sig/datadog/core/configuration.rbs
Labels: none

Add @deprecated tags to relevant profiler configs
  lib/datadog/core/configuration/settings.rb
Labels: core

update link text
  docs/GettingStarted.md
Labels: none

Name deadline thread, for easier debugging
  spec/spec_helper.rb
Labels: none

Fix (hopefully for good) flaky profiling "sampling while VM is idle" spec
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  sig/datadog/profiling/collectors/cpu_and_wall_time_worker.rbs
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
Labels: profiling

Add remote configuration worker
  lib/datadog/core/remote/worker.rb
Labels: core

Add RBS for Core::Remote::Worker
  lib/datadog/core/remote/worker.rb
  sig/datadog/core/remote/worker.rbs
Labels: core

Add specs for Core::Remote::Worker
  lib/datadog/core/remote/worker.rb
  sig/datadog/core/remote/worker.rbs
  spec/datadog/core/remote/worker_spec.rb
  spec/spec_helper.rb
Labels: core

Apply feedback
  lib/datadog/core/remote/worker.rb
  sig/datadog/core/remote/worker.rbs
  spec/datadog/core/remote/worker_spec.rb
  spec/spec_helper.rb
Labels: core

Add documentation for Worker class
  lib/datadog/core/remote/worker.rb
Labels: core

Allow `1` as true value in environment variables
  lib/datadog/core/environment/variable_helpers.rb
  spec/datadog/core/environment/variable_helpers_spec.rb
Labels: core

Add comments on the new classes
  lib/datadog/core/remote.rb
  lib/datadog/core/remote/component.rb
Labels: core

Add specs for Core::Remote::Component
  spec/datadog/core/configuration/components_spec.rb
Labels: none

Add RBS for Core::Remote::Component
  lib/datadog/core/remote/component.rb
  sig/datadog/core/configuration/components.rbs
  sig/datadog/core/remote.rbs
  sig/datadog/core/remote/component.rbs
  sig/datadog/core/transport/http.rbs
Labels: core

Add remote configuration component
  lib/datadog/core/configuration/components.rb
  lib/datadog/core/remote.rb
  lib/datadog/core/remote/component.rb
Labels: core

fix spec
  spec/datadog/tracing/integration_spec.rb
Labels: none

Add remote configuration changeset
  lib/datadog/core/remote/client.rb
  lib/datadog/core/remote/configuration/content.rb
  lib/datadog/core/remote/configuration/repository.rb
Labels: core

Add RBS signatures for Core::Remote::Configuration::Repository::ChangeSet
  lib/datadog/core/remote/configuration/repository.rb
  sig/datadog/core/remote/configuration/content.rbs
  sig/datadog/core/remote/configuration/repository.rbs
Labels: core

Add specs for Core::Remote::Configuration::Repository::ChangeSet
  spec/datadog/core/remote/configuration/content_spec.rb
  spec/datadog/core/remote/configuration/respository_spec.rb
Labels: none

Fix rubocop issues
  lib/datadog/core/remote/client.rb
  lib/datadog/core/remote/configuration/content.rb
  lib/datadog/core/remote/configuration/repository.rb
  sig/datadog/core/remote/configuration/content.rbs
Labels: core

Add remote configuration dispatcher
  lib/datadog/core/remote/client.rb
  lib/datadog/core/remote/component.rb
  lib/datadog/core/remote/dispatcher.rb
Labels: core

Add RBS signatures for Core::Remote::Dispatcher
  lib/datadog/core/remote/client.rb
  lib/datadog/core/remote/dispatcher.rb
  sig/datadog/core/remote/client.rbs
  sig/datadog/core/remote/configuration/repository.rbs
  sig/datadog/core/remote/dispatcher.rbs
Labels: core

Add specs for Core::Remote::Dispatcher
  spec/datadog/core/remote/dispatcher_spec.rb
Labels: none

Fix rubocop issues
  lib/datadog/core/remote/client.rb
  lib/datadog/core/remote/dispatcher.rb
  test.rb
Labels: core

Changes not related with the PR logic. Cleanup some specs with base64 strings and use human readable strings
  spec/datadog/core/remote/configuration/content_spec.rb
  spec/datadog/core/remote/configuration/respository_spec.rb
  spec/datadog/core/remote/configuration/target_spec.rb
  spec/datadog/core/remote/dispatcher_spec.rb
  test.rb
Labels: none

Add values with whitespace to test
  spec/datadog/core/environment/variable_helpers_spec.rb
Labels: none

Remove nil values from Telemetry payload
  Steepfile
  lib/datadog/core/telemetry/collector.rb
  lib/datadog/core/telemetry/v1/application.rb
  lib/datadog/core/telemetry/v1/dependency.rb
  lib/datadog/core/telemetry/v1/host.rb
  lib/datadog/core/telemetry/v1/integration.rb
  lib/datadog/core/telemetry/v1/product.rb
  lib/datadog/core/telemetry/v1/telemetry_request.rb
  lib/datadog/core/utils/hash.rb
  spec/datadog/core/telemetry/collector_spec.rb
  spec/datadog/core/telemetry/v1/app_event_spec.rb
  spec/datadog/core/telemetry/v1/telemetry_request_spec.rb
Labels: core

Setup python 3.9 for system tests
  .github/workflows/system-tests.yml
Labels: none

Omit `_dd.span_sampling.max_per_second` when not configured
  lib/datadog/tracing/sampling/span/rule.rb
  spec/datadog/tracing/integration_spec.rb
  spec/datadog/tracing/sampling/span/rule_spec.rb
Labels: tracing

introduce AppSec::Utils::ReadWriteLock
  lib/datadog/appsec/utils/read_write_lock.rb
  sig/datadog/appsec/utils/read_write_lock.rbs
  spec/datadog/appsec/utils/read_write_lock_spec.rb
Labels: appsec

Dev:Add bin/console
  bin/console
Labels: none

Test:Fix start_with typo
  spec/spec_helper.rb
Labels: none

Fix w3c propagation special character handling
  lib/datadog/tracing/distributed/trace_context.rb
  spec/datadog/tracing/distributed/trace_context_spec.rb
Labels: tracing

Fix propagation decision maker on w3c parsing override
  lib/datadog/tracing/distributed/trace_context.rb
Labels: tracing

.github/labeler.yml:

# Configuration for GitHub Action `.github/workflows/pull-request-labeler.yml`.
# See https://github.com/marketplace/actions/labeler for more information.

core:
  - any: [ 'lib/datadog/core/**' ]

# Only documentation changes
docs:
  - all: [ '**/*.md' ]

# Only test changes
dev/testing:
  - all: [ '{spec/**,integration/**,benchmarks/**}' ]

# Changes to Profiling
profiling:
  - any: [ '{lib/datadog/profiling/**,ext/ddtrace_profiling_loader/**,ext/ddtrace_profiling_native_extension/**}' ]

# Changes to CI-App
ci-app:
  - any: [ 'lib/datadog/ci/**' ]

# Changes to ASM
appsec:
  - any: [ 'lib/datadog/appsec/**' ]

# Changes to Tracing
tracing:
  - any: [ 'lib/datadog/tracing/**' ]

# Changes to Tracing integrations
integrations:
  - any: [ '{lib/datadog/tracing/contrib/**,lib/datadog/appsec/contrib/**}' ]

# Only repository GitHub changes
dev/github:
  - all: [ '.github/**' ]

# Only repository CI changes
dev/ci:
  - all: [ '{.circleci/**,.gitlab-ci.yml}' ]

# Version bump pull request
release:
  - all: [ '{CHANGELOG.md,lib/ddtrace/version.rb}' ]
