Repository DataDog/dd-trace-rb, changes with the labels that .github/labeler.yml gives for each.
All labels: core, profiling, ci-app, appsec, tracing, integrations, otel, single-step, debugging

.github/labeler.yml:

# Configuration for GitHub Action `.github/workflows/pull-request-labeler.yml`.
# See https://github.com/marketplace/actions/labeler for more information.

core:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/core/**' ]

# Only documentation changes
docs:
- changed-files:
  - all-globs-to-all-files: [ '**/*.md' ]

# Only test changes
dev/testing:
- changed-files:
  - all-globs-to-all-files: [ '{spec/**,integration/**,benchmarks/**}' ]

# Changes to Profiling
profiling:
- changed-files:
  - any-glob-to-any-file: [ '{lib/datadog/profiling/**,ext/datadog_profiling_loader/**,ext/datadog_profiling_native_extension/**}' ]

# Changes to CI-App
ci-app:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/ci/**' ]

# Changes to ASM
appsec:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/appsec/**' ]

# Changes to Tracing
tracing:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/tracing/**' ]

# Changes to Tracing integrations
integrations:
- changed-files:
  - any-glob-to-any-file: [ '{lib/datadog/tracing/contrib/**,lib/datadog/appsec/contrib/**}' ]

# Only repository GitHub changes
dev/github:
- changed-files:
  - all-globs-to-all-files: [ '.github/**' ]

# Only repository CI changes
dev/ci:
- changed-files:
  - all-globs-to-all-files: [ '{.circleci/**,.gitlab-ci.yml}' ]

# Version bump pull request
release:
- changed-files:
  - all-globs-to-all-files: [ '{CHANGELOG.md,lib/datadog/version.rb}' ]

# Changes to OpenTelemetry
otel:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/opentelemetry/**' ]

# Changes to Single Step Instrumentation
single-step:
- changed-files:
  - any-glob-to-any-file: [ 'lib-injection/**' ]

# Changes to Debugging
debugging:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/debugging/**' ]

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Pin gem version for ruby 3.3
  .github/workflows/test-macos.yaml
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Use BUNDLE_GEMFILE directly intead of appraisal binary
  Rakefile
  docs/DevelopmentGuide.md
Labels: none

rubocop
  Rakefile
Labels: none

Remove force-executed tests and scenario from system-tests workflow after release 2.5.0
  .github/workflows/system-tests.yml
Labels: none

Migrate Lint job from CircleCI to Github Action
  .circleci/config.yml
  .github/workflows/check.yml
Labels: none

[NO-TICKET] Fix flaky profiler spec by adjusting wait condition
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
Labels: none

Remove edge build
  .circleci/config.yml
Labels: none

Refactor port
  .circleci/config.yml
Labels: none

Replace docker containers
  .circleci/config.yml
Labels: none

Remove filters_only_release_tags
  .circleci/config.yml
Labels: none

Remove pg container
  .circleci/config.yml
Labels: none

Refactor job defaults
  .circleci/config.yml
Labels: none

dd_version: Apply dd_version if span is initialized without a service name
  lib/datadog/tracing/tracer.rb
  spec/datadog/tracing/tracer_spec.rb
Labels: tracing

fixup! Add config support for "on_error" in Elasticsearch tracing
  docs/GettingStarted.md
Labels: none

Swap images
  .circleci/config.yml
Labels: none

Install `jq` for test agent
  .circleci/config.yml
Labels: none

Install dockerize
  .circleci/config.yml
Labels: none

Swap docker image from compopse.yml
  docker-compose.yml
Labels: none

Update cache
  .circleci/images/primary/binary_version
Labels: none

Remove build process
  .circleci/images/primary/Dockerfile-2.5.9
  .circleci/images/primary/Dockerfile-2.6.10
  .circleci/images/primary/Dockerfile-2.7.8
  .circleci/images/primary/Dockerfile-3.0.7
  .circleci/images/primary/Dockerfile-3.1.6
  .circleci/images/primary/Dockerfile-3.2.4
  .circleci/images/primary/Dockerfile-3.3.2
  .circleci/images/primary/Dockerfile-3.4.0
  .circleci/images/primary/Dockerfile-jruby-9.2.21.0
  .circleci/images/primary/Dockerfile-jruby-9.3.9.0
  .circleci/images/primary/Dockerfile-jruby-9.4.7.0
  .github/workflows/build-ruby.yml
Labels: none

Update Doc
  .circleci/images/primary/README.md
Labels: none

[🤖] Lock Dependency: https://github.com/DataDog/dd-trace-rb/actions/runs/11687262926
  gemfiles/ruby_3.4_contrib.gemfile.lock
Labels: none

fix rack 3/rackup situation on ruby 3.4
  appraisal/ruby-3.4.rb
  gemfiles/ruby_3.4_contrib.gemfile
  spec/datadog/tracing/contrib/suite/integration_spec.rb
Labels: none

Name step
  .circleci/config.yml
Labels: none

Enable `use_alt_stack` setting for crashtracker
  ext/libdatadog_api/crashtracker.c
Labels: none

Add method name into telemetry in Context#run
  lib/datadog/appsec/processor/context.rb
  spec/datadog/appsec/processor/context_spec.rb
Labels: appsec

[NO-TICKET] Relax profiling CODEOWNERS configuration
  .github/CODEOWNERS
Labels: none

Add macos and yjit tests
  .github/workflows/test-macos.yaml
  .github/workflows/test-yjit.yaml
Labels: none

Address new Ruby 3.4 error message changes
  spec/datadog/core/environment/execution_spec.rb
  spec/datadog/core/error_spec.rb
  spec/datadog/tracing/metadata/tagging_spec.rb
  spec/datadog/tracing/remote_spec.rb
Labels: none

Address PR comments
  spec/datadog/core/environment/execution_spec.rb
  spec/datadog/core/error_spec.rb
Labels: none

Specify gem version for macos test
  .github/workflows/test-macos.yaml
Labels: none

Remove unintentional libddwaf require
  lib/datadog/appsec/processor/context.rb
Labels: appsec

Add 2.6.0 to CHANGELOG.md
  CHANGELOG.md
Labels: none

Bump version 2.5.0 to 2.6.0
  lib/datadog/version.rb
Labels: none

Remove force-executed tests and scenario from system-tests workflow after release 2.6.0
  .github/workflows/system-tests.yml
Labels: none

remove unused rspec integration app
  integration/apps/rspec/.dockerignore
  integration/apps/rspec/.envrc.sample
  integration/apps/rspec/.gitignore
  integration/apps/rspec/.rspec
  integration/apps/rspec/Dockerfile
  integration/apps/rspec/Dockerfile-ci
  integration/apps/rspec/Gemfile
  integration/apps/rspec/README.md
  integration/apps/rspec/agent.yaml
  integration/apps/rspec/app/datadog.rb
  integration/apps/rspec/app/fibonacci.rb
  integration/apps/rspec/bin/run
  integration/apps/rspec/bin/setup
  integration/apps/rspec/bin/test
  integration/apps/rspec/docker-compose.ci.yml
  integration/apps/rspec/docker-compose.yml
  integration/apps/rspec/script/build-images
  integration/apps/rspec/script/ci
  integration/apps/rspec/spec/fibonacci_spec.rb
  integration/apps/rspec/spec/rspec_spec.rb
  integration/apps/rspec/spec/spec_helper.rb
Labels: none

[NO-TICKET] Upgrade to libdatadog 14.1
  datadog.gemspec
  ext/libdatadog_api/crashtracker.c
  ext/libdatadog_extconf_helpers.rb
Labels: none

Revert "Disable crashtracking by default"
  lib/datadog/core/configuration/settings.rb
  spec/datadog/core/configuration/settings_spec.rb
Labels: core
