Repository DataDog/dd-trace-rb, changes with the labels that .github/labeler.yml gives for each.
All labels: core, profiling, ci-app, appsec, tracing, integrations, otel, single-step, debugging

types
  sig/datadog/core/remote/client.rbs
  sig/datadog/di.rbs
Labels: none

fix test
  spec/datadog/di/integration/everything_from_remote_config_spec.rb
  spec/datadog/di/spec_helper.rb
Labels: none

do not fail if code tracking cannot be activated
  lib/datadog/di.rb
  lib/datadog/di/init.rb
Labels: none

types
  sig/datadog/di.rbs
Labels: none

types
  spec/datadog/core/environment/execution_spec.rb
Labels: none

types
  spec/spec_helper.rb
Labels: none

Revert "Run the cucumber test in unbundled environment"
  spec/datadog/core/environment/execution_spec.rb
Labels: none

retest
  spec/datadog/core/environment/execution_spec.rb
Labels: none

try
  spec/datadog/core/environment/execution_spec.rb
Labels: none

Add psych gem to cucumber load script
  spec/datadog/core/environment/execution_spec.rb
Labels: none

retest
  spec/spec_helper.rb
Labels: none

retest
  spec/spec_helper.rb
Labels: none

Uninstall psych gem before running cucumber
  spec/datadog/core/environment/execution_spec.rb
Labels: none

retest
  spec/spec_helper.rb
Labels: none

retest
  spec/spec_helper.rb
Labels: none

retest
  spec/spec_helper.rb
Labels: none

retest
  spec/spec_helper.rb
Labels: none

retest
  spec/spec_helper.rb
Labels: none

retest
  spec/spec_helper.rb
Labels: none

retest
  spec/spec_helper.rb
Labels: none

Revert "Run the cucumber test in unbundled environment" (#4143)
  spec/datadog/core/environment/execution_spec.rb
Labels: none

DEBUG-2334 respect maxFieldCount in probe specification (#4142)
  lib/datadog/di/instrumenter.rb
  lib/datadog/di/probe.rb
  lib/datadog/di/probe_builder.rb
  lib/datadog/di/probe_notification_builder.rb
  lib/datadog/di/serializer.rb
  sig/datadog/di/probe.rbs
  sig/datadog/di/serializer.rbs
  spec/datadog/di/instrumenter_spec.rb
  spec/datadog/di/integration/probe_notification_builder_spec.rb
  spec/datadog/di/probe_builder_spec.rb
Labels: none

wip di current component
  lib/datadog/di.rb
  lib/datadog/di/code_tracker.rb
  lib/datadog/di/component.rb
  spec/datadog/di/integration/instrumentation_spec.rb
Labels: none

Attempt to fix psych test flakiness
  spec/datadog/core/environment/execution_spec.rb
Labels: none

Attempt to fix psych test flakiness again (#4145)
  spec/datadog/core/environment/execution_spec.rb
Labels: none

only activate code tracking by default if DD_DYNAMIC_INSTRUMENTATION_ENABLED is set
  lib/datadog/di.rb
  lib/datadog/di/init.rb
Labels: none

delete obsolete mock
  spec/datadog/di/integration/instrumentation_spec.rb
Labels: none

explain old_state
  lib/datadog/core/configuration.rb
  lib/datadog/core/configuration/components.rb
Labels: core

clarify DI vs remote
  lib/datadog/core/configuration/components.rb
Labels: core

explain current component
  lib/datadog/di.rb
Labels: none

types
  sig/datadog/di.rbs
Labels: none

types
  sig/datadog/di.rbs
Labels: none

explain adding and removing current component
  lib/datadog/di.rb
Labels: none

note current understanding of DI component presence in remote
  lib/datadog/di/remote.rb
Labels: none

deindent
  lib/datadog/di.rb
Labels: none

Add Karafka integration
  appraisal/ruby-2.7.rb
  appraisal/ruby-3.0.rb
  appraisal/ruby-3.1.rb
  appraisal/ruby-3.2.rb
  appraisal/ruby-3.3.rb
  appraisal/ruby-3.4.rb
  docs/GettingStarted.md
  lib/datadog/tracing/contrib.rb
  lib/datadog/tracing/contrib/karafka.rb
  lib/datadog/tracing/contrib/karafka/configuration/settings.rb
  lib/datadog/tracing/contrib/karafka/distributed/propagation.rb
  lib/datadog/tracing/contrib/karafka/event.rb
  lib/datadog/tracing/contrib/karafka/events.rb
  lib/datadog/tracing/contrib/karafka/events/error/occur.rb
  lib/datadog/tracing/contrib/karafka/events/worker/process.rb
  lib/datadog/tracing/contrib/karafka/ext.rb
  lib/datadog/tracing/contrib/karafka/integration.rb
  lib/datadog/tracing/contrib/karafka/patcher.rb
  spec/datadog/tracing/contrib/karafka/patcher_spec.rb
Labels: tracing, integrations

chore: Add karafka mapping
  spec/datadog/tracing/contrib_spec.rb
Labels: none

Remove use of Reactive::Operation in code
  lib/datadog/appsec/contrib/graphql/gateway/watcher.rb
  lib/datadog/appsec/contrib/graphql/reactive/multiplex.rb
  lib/datadog/appsec/contrib/rack/gateway/watcher.rb
  lib/datadog/appsec/contrib/rack/reactive/request.rb
  lib/datadog/appsec/contrib/rack/reactive/request_body.rb
  lib/datadog/appsec/contrib/rack/reactive/response.rb
  lib/datadog/appsec/contrib/rails/gateway/watcher.rb
  lib/datadog/appsec/contrib/rails/reactive/action.rb
  lib/datadog/appsec/contrib/sinatra/gateway/watcher.rb
  lib/datadog/appsec/contrib/sinatra/reactive/routed.rb
  lib/datadog/appsec/monitor/gateway/watcher.rb
  lib/datadog/appsec/monitor/reactive/set_user.rb
  lib/datadog/appsec/reactive/operation.rb
  sig/datadog/appsec/contrib/graphql/reactive/multiplex.rbs
  sig/datadog/appsec/contrib/rack/reactive/request.rbs
  sig/datadog/appsec/contrib/rack/reactive/request_body.rbs
  sig/datadog/appsec/contrib/rack/reactive/response.rbs
  sig/datadog/appsec/contrib/rails/reactive/action.rbs
  sig/datadog/appsec/contrib/sinatra/reactive/routed.rbs
  sig/datadog/appsec/monitor/reactive/set_user.rbs
  sig/datadog/appsec/reactive/operation.rbs
  spec/datadog/appsec/reactive/operation_spec.rb
Labels: appsec, integrations

Remove use of Reactive::Operation in specs
  spec/datadog/appsec/contrib/graphql/reactive/multiplex_spec.rb
  spec/datadog/appsec/contrib/rack/reactive/request_body_spec.rb
  spec/datadog/appsec/contrib/rack/reactive/request_spec.rb
  spec/datadog/appsec/contrib/rack/reactive/response_spec.rb
  spec/datadog/appsec/contrib/rails/integration_test_spec.rb
  spec/datadog/appsec/contrib/rails/reactive/action_spec.rb
  spec/datadog/appsec/contrib/sinatra/reactive/routed_spec.rb
  spec/datadog/appsec/monitor/reactive/set_user_spec.rb
  spec/datadog/appsec/reactive/shared_examples.rb
  spec/datadog/tracing/contrib/graphql/support/application.rb
Labels: none

Remove jq installation from CircleCI
  .circleci/config.yml
  .circleci/test_agent_check.rb
Labels: none

.github/labeler.yml:

# Configuration for GitHub Action `.github/workflows/pull-request-labeler.yml`.
# See https://github.com/marketplace/actions/labeler for more information.

core:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/core/**' ]

# Only documentation changes
docs:
- changed-files:
  - all-globs-to-all-files: [ '**/*.md' ]

# Only test changes
dev/testing:
- changed-files:
  - all-globs-to-all-files: [ '{spec/**,integration/**,benchmarks/**}' ]

# Changes to Profiling
profiling:
- changed-files:
  - any-glob-to-any-file: [ '{lib/datadog/profiling/**,ext/datadog_profiling_loader/**,ext/datadog_profiling_native_extension/**}' ]

# Changes to CI-App
ci-app:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/ci/**' ]

# Changes to ASM
appsec:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/appsec/**' ]

# Changes to Tracing
tracing:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/tracing/**' ]

# Changes to Tracing integrations
integrations:
- changed-files:
  - any-glob-to-any-file: [ '{lib/datadog/tracing/contrib/**,lib/datadog/appsec/contrib/**}' ]

# Only repository GitHub changes
dev/github:
- changed-files:
  - all-globs-to-all-files: [ '.github/**' ]

# Only repository CI changes
dev/ci:
- changed-files:
  - all-globs-to-all-files: [ '{.circleci/**,.gitlab-ci.yml}' ]

# Version bump pull request
release:
- changed-files:
  - all-globs-to-all-files: [ '{CHANGELOG.md,lib/datadog/version.rb}' ]

# Changes to OpenTelemetry
otel:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/opentelemetry/**' ]

# Changes to Single Step Instrumentation
single-step:
- changed-files:
  - any-glob-to-any-file: [ 'lib-injection/**' ]

# Changes to Debugging
debugging:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/debugging/**' ]
