Repository DataDog/dd-trace-rb, changes with the labels that .github/labeler.yml gives for each.
All labels: core, profiling, ci-app, appsec, tracing, integrations

use the appsec setting ruleset if ASM_DD data is empty
  lib/datadog/core/remote/client.rb
Labels: core

add specs and rbs signatures
  lib/datadog/appsec/component.rb
  lib/datadog/appsec/processor/rule_loader.rb
  lib/datadog/core/remote/client.rb
  sig/datadog/appsec/processor.rbs
  sig/datadog/appsec/processor/rule_loader.rbs
  spec/datadog/appsec/component_spec.rb
  spec/datadog/appsec/processor/rule_loader_spec.rb
  spec/datadog/appsec/processor_spec.rb
  spec/datadog/core/remote/client_spec.rb
Labels: core, appsec

Fix log deprecation spec
  spec/datadog/tracing/contrib/action_pack/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/rails/configuration/settings_spec.rb
Labels: none

fix weird order spec issue
  spec/datadog/core/remote/client_spec.rb
Labels: none

Adds testing for span_attribute_schema
  spec/datadog/tracing/contrib/service_name_v1_spec.rb
  spec/datadog/tracing/contrib/span_attribute_schema_spec.rb
Labels: none

adds shared test file that should test v1 schema for service naming
  spec/datadog/tracing/contrib/aws/instrumentation_spec.rb
  spec/datadog/tracing/contrib/service_name_v1_spec.rb
  spec/datadog/tracing/contrib/v1_schema_examples_spec.rb
Labels: none

linter changes
  spec/datadog/tracing/contrib/span_attribute_schema_spec.rb
  spec/datadog/tracing/contrib/v1_schema_examples_spec.rb
Labels: none

renames file to follow convention
  spec/datadog/tracing/contrib/aws/instrumentation_spec.rb
  spec/datadog/tracing/contrib/v1_schema_examples.rb
Labels: none

get opensearch code, specs, and duplicate most ES references
  .env
  .rubocop_todo.yml
  Appraisals
  Gemfile
  Rakefile
  Steepfile
  docs/GettingStarted.md
  gemfiles/ruby_2.7.6_contrib.gemfile
  lib/datadog/tracing/contrib.rb
  lib/datadog/tracing/contrib/opensearch/configuration/settings.rb
  lib/datadog/tracing/contrib/opensearch/ext.rb
  lib/datadog/tracing/contrib/opensearch/integration.rb
  lib/datadog/tracing/contrib/opensearch/patcher.rb
  lib/datadog/tracing/contrib/opensearch/quantize.rb
  spec/datadog/tracing/contrib/opensearch/integration_spec.rb
  spec/datadog/tracing/contrib/opensearch/patcher_spec.rb
  spec/datadog/tracing/contrib/opensearch/quantize_spec.rb
  spec/datadog/tracing/contrib/opensearch/support/client.rb
  spec/datadog/tracing/contrib/opensearch/transport_spec.rb
Labels: tracing, integrations

Update lib injection github action commit hash
  .github/workflows/lib-injection.yml
Labels: none

Ruby 2.1 uses an old version of RubyGems, which uses a deprecated endpoint /api/v1/dependencies. The setup step tries to download the dependency information of the bundler at install time but fails.
  .github/workflows/test-macos.yaml
Labels: none

Adds testing for span_attribute_schema env variable
  spec/datadog/tracing/configuration/settings_spec.rb
Labels: none

linter fixes
  spec/datadog/tracing/configuration/settings_spec.rb
Labels: none

Replaces constants with strings for env var tests
  spec/datadog/tracing/configuration/settings_spec.rb
Labels: none

Update github action commit hash
  .github/workflows/lib-injection.yml
Labels: none

remove ref to temporary system test branch
  .github/workflows/lib-injection.yml
Labels: none

remove the need to tweak ENV['DD_APPSEC_ENABLED'] for the extension_spec.rb
  spec/datadog/appsec/extensions_spec.rb
Labels: none

Store if a specific appsec configuration option has been configured by customer using `Datadog.configure` block or via an ENV variable
  lib/datadog/appsec/configuration.rb
  lib/datadog/appsec/configuration/settings.rb
  sig/datadog/appsec/configuration/settings.rbs
  spec/datadog/appsec/configuration/settings_spec.rb
  spec/datadog/appsec_spec.rb
Labels: appsec

remove appsec global spec configuration around DD_APPSEC_ENABLED ENV variable
  spec/datadog/appsec/configuration/settings_spec.rb
  spec/datadog/appsec/extensions_spec.rb
  spec/datadog/appsec/spec_helper.rb
  spec/datadog/appsec_spec.rb
Labels: none

use ClimateControl to modify env variables
  spec/datadog/appsec/configuration/settings_spec.rb
Labels: none

Add helper to run Ruby block with sigprof disabled
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
Labels: profiling

make the default? and default_setting? API private
  lib/datadog/appsec/configuration.rb
  lib/datadog/appsec/configuration/settings.rb
  sig/datadog/appsec/configuration.rbs
  sig/datadog/appsec/configuration/settings.rbs
  spec/datadog/appsec/configuration/settings_spec.rb
  spec/datadog/appsec_spec.rb
Labels: appsec

.github/labeler.yml:

# Configuration for GitHub Action `.github/workflows/pull-request-labeler.yml`.
# See https://github.com/marketplace/actions/labeler for more information.

core:
  - any: [ 'lib/datadog/core/**' ]

# Only documentation changes
docs:
  - all: [ '**/*.md' ]

# Only test changes
dev/testing:
  - all: [ '{spec/**,integration/**,benchmarks/**}' ]

# Changes to Profiling
profiling:
  - any: [ '{lib/datadog/profiling/**,ext/ddtrace_profiling_loader/**,ext/ddtrace_profiling_native_extension/**}' ]

# Changes to CI-App
ci-app:
  - any: [ 'lib/datadog/ci/**' ]

# Changes to ASM
appsec:
  - any: [ 'lib/datadog/appsec/**' ]

# Changes to Tracing
tracing:
  - any: [ 'lib/datadog/tracing/**' ]

# Changes to Tracing integrations
integrations:
  - any: [ '{lib/datadog/tracing/contrib/**,lib/datadog/appsec/contrib/**}' ]

# Only repository GitHub changes
dev/github:
  - all: [ '.github/**' ]

# Only repository CI changes
dev/ci:
  - all: [ '{.circleci/**,.gitlab-ci.yml}' ]

# Version bump pull request
release:
  - all: [ '{CHANGELOG.md,lib/ddtrace/version.rb}' ]
