Repository DataDog/dd-trace-rb, changes with the labels that .github/labeler.yml gives for each.
All labels: core, profiling, ci-app, appsec, tracing, integrations, otel, single-step, debugging

.github/labeler.yml:

# Configuration for GitHub Action `.github/workflows/pull-request-labeler.yml`.
# See https://github.com/marketplace/actions/labeler for more information.

core:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/core/**' ]

# Only documentation changes
docs:
- changed-files:
  - all-globs-to-all-files: [ '**/*.md' ]

# Only test changes
dev/testing:
- changed-files:
  - all-globs-to-all-files: [ '{spec/**,integration/**,benchmarks/**}' ]

# Changes to Profiling
profiling:
- changed-files:
  - any-glob-to-any-file: [ '{lib/datadog/profiling/**,ext/datadog_profiling_loader/**,ext/datadog_profiling_native_extension/**}' ]

# Changes to CI-App
ci-app:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/ci/**' ]

# Changes to ASM
appsec:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/appsec/**' ]

# Changes to Tracing
tracing:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/tracing/**' ]

# Changes to Tracing integrations
integrations:
- changed-files:
  - any-glob-to-any-file: [ '{lib/datadog/tracing/contrib/**,lib/datadog/appsec/contrib/**}' ]

# Only repository GitHub changes
dev/github:
- changed-files:
  - all-globs-to-all-files: [ '.github/**' ]

# Only repository CI changes
dev/ci:
- changed-files:
  - all-globs-to-all-files: [ '{.circleci/**,.gitlab-ci.yml}' ]

# Version bump pull request
release:
- changed-files:
  - all-globs-to-all-files: [ '{CHANGELOG.md,lib/datadog/version.rb}' ]

# Changes to OpenTelemetry
otel:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/opentelemetry/**' ]

# Changes to Single Step Instrumentation
single-step:
- changed-files:
  - any-glob-to-any-file: [ 'lib-injection/**' ]

# Changes to Debugging
debugging:
- changed-files:
  - any-glob-to-any-file: [ 'lib/datadog/debugging/**' ]

Remove jq
  .github/workflows/test.yml
  tasks/github.rake
Labels: none

WIP
  tasks/github.rake
Labels: none

DEBUG-2334 Set duration to 0 for DI line probes (#4134)
  lib/datadog/di/probe_notification_builder.rb
  spec/datadog/di/probe_notification_builder_spec.rb
Labels: none

check
  spec/spec_helper.rb
Labels: none

test
  spec/spec_helper.rb
Labels: none

test
  spec/spec_helper.rb
Labels: none

DEBUG-2334 require ostruct for OpenStruct dependency (#4135)
  lib/datadog/di/transport.rb
Labels: none

fix
  spec/spec_helper.rb
Labels: none

rebuild
  test
Labels: none

Use CentOS 7 images for SSI
  .gitlab-ci.yml
  .gitlab/Dockerfile-2.7
  .gitlab/Dockerfile-2.7.8
  .gitlab/Dockerfile-3.0
  .gitlab/Dockerfile-3.0.6
  .gitlab/Dockerfile-3.1
  .gitlab/Dockerfile-3.1.4
  .gitlab/Dockerfile-3.2
  .gitlab/Dockerfile-3.2.2
  .gitlab/Dockerfile-3.3
  .gitlab/Dockerfile-3.4
Labels: none

Lower declared requirements
  lib-injection/requirements.json
  lib-injection/requirements.rb
  lib-injection/test_allow.json
  lib-injection/test_block.json
Labels: single-step

Update guard rails and doc (Excluding 3.4 installation)
  .gitlab-ci.yml
  lib-injection/README.md
  lib-injection/host_inject.rb
Labels: single-step

rebuild
  test
Labels: none

rebuild
  spec/x
Labels: none

test
  spec/datadog/core/environment/execution_spec.rb
Labels: none

test
  spec/datadog/core/environment/execution_spec.rb
Labels: none

DEBUG-2334 respect maxFieldCount in probe specification
  lib/datadog/di/probe.rb
  lib/datadog/di/probe_builder.rb
  lib/datadog/di/serializer.rb
  spec/datadog/di/probe_builder_spec.rb
Labels: none

respect probe max capture depth and attribute count in serializer
  lib/datadog/di/instrumenter.rb
  lib/datadog/di/probe_notification_builder.rb
  lib/datadog/di/serializer.rb
  spec/datadog/di/instrumenter_spec.rb
  spec/datadog/di/integration/probe_notification_builder_spec.rb
Labels: none

fix
  spec/datadog/core/environment/execution_spec.rb
Labels: none

types
  lib/datadog/di/serializer.rb
  sig/datadog/di/probe.rbs
  sig/datadog/di/serializer.rbs
Labels: none

test
  spec/datadog/core/environment/execution_spec.rb
Labels: none

test
  spec/datadog/core/environment/execution_spec.rb
Labels: none

test
  spec/datadog/core/environment/execution_spec.rb
Labels: none

test
  spec/datadog/core/environment/execution_spec.rb
Labels: none

types
  sig/datadog/di/init.rbs
Labels: none

deactivate only when possible
  spec/spec_helper.rb
Labels: none

rest of di
  lib/datadog.rb
  lib/datadog/core/configuration.rb
  lib/datadog/core/configuration/components.rb
  lib/datadog/core/remote/client.rb
  lib/datadog/core/remote/client/capabilities.rb
  lib/datadog/di.rb
  lib/datadog/di/init.rb
  lib/datadog/di/remote.rb
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/core/remote/client/capabilities_spec.rb
  spec/datadog/di/integration/everything_from_remote_config_spec.rb
  spec/datadog/di/remote_spec.rb
  spec/loading_spec.rb
Labels: core

types
  sig/datadog/di/remote.rbs
Labels: none

use real DI component
  lib/datadog/di.rb
Labels: none

standard
  spec/datadog/di/integration/everything_from_remote_config_spec.rb
  spec/datadog/di/spec_helper.rb
Labels: none

enable script compiled trace point
  lib/datadog/di.rb
Labels: none

shutdown di
  lib/datadog/core/configuration/components.rb
Labels: core

rubocop
  lib/datadog.rb
  lib/datadog/core/remote/client.rb
Labels: core

disable code tracking in test suite
  spec/spec_helper.rb
Labels: none

mock DI component
  spec/datadog/core/configuration_spec.rb
Labels: none

standard
  spec/datadog/di/integration/everything_from_remote_config_spec.rb
Labels: none

rename state
  lib/datadog/core/configuration.rb
  lib/datadog/core/configuration/components.rb
Labels: core

fix test
  spec/datadog/core/configuration_spec.rb
Labels: none

add an exception boundary around probe parsing, ensure subsequent probes are parsed and installed
  lib/datadog/di/remote.rb
  spec/datadog/di/integration/everything_from_remote_config_spec.rb
Labels: none

rubocop
  spec/datadog/core/configuration_spec.rb
Labels: none
