Repository DataDog/dd-trace-rb, pull requests merged in 2018-05, with the labels that each got.

#412 prevent race condition while running tests
  spec/ddtrace/contrib/grpc/support/grpc_helper.rb
Labels: dev/testing, integrations

#340 Instrument ActiveModelSerializers
  Appraisals
  Rakefile
  gemfiles/contrib.gemfile
  gemfiles/contrib_old.gemfile
  lib/ddtrace.rb
  lib/ddtrace/contrib/active_model_serializers/event.rb
  lib/ddtrace/contrib/active_model_serializers/events.rb
  lib/ddtrace/contrib/active_model_serializers/events/render.rb
  lib/ddtrace/contrib/active_model_serializers/events/serialize.rb
  lib/ddtrace/contrib/active_model_serializers/patcher.rb
  spec/ddtrace/contrib/active_model_serializers/helpers.rb
  spec/ddtrace/contrib/active_model_serializers/patcher_spec.rb
  spec/ddtrace/contrib/active_support/notifications/subscription_spec.rb
Labels: community, feature, integrations

#211 Add Excon instrumentation
  Appraisals
  Rakefile
  docs/GettingStarted.md
  gemfiles/contrib.gemfile
  gemfiles/contrib_old.gemfile
  lib/ddtrace.rb
  lib/ddtrace/contrib/excon/middleware.rb
  lib/ddtrace/contrib/excon/patcher.rb
  spec/ddtrace/contrib/excon/instrumentation_spec.rb
Labels: community, integrations

#409 Add Rake instrumentation
  Appraisals
  Rakefile
  docs/GettingStarted.md
  gemfiles/contrib.gemfile
  gemfiles/contrib_old.gemfile
  lib/ddtrace.rb
  lib/ddtrace/contrib/rake/instrumentation.rb
  lib/ddtrace/contrib/rake/patcher.rb
  lib/ddtrace/quantization/hash.rb
  spec/ddtrace/contrib/rake/instrumentation_spec.rb
  spec/ddtrace/quantization/hash_spec.rb
Labels: feature, integrations

#411 Add configuration examples to RSpec
  spec/ddtrace/configurable_spec.rb
  spec/ddtrace/configuration/pin_setup_spec.rb
  spec/ddtrace/configuration/proxy_spec.rb
  spec/ddtrace/configuration/resolver_spec.rb
  spec/ddtrace/configuration_spec.rb
  spec/ddtrace/pin_spec.rb
  test/configurable_test.rb
  test/configuration/pin_setup_test.rb
  test/configuration/proxy_test.rb
  test/configuration/resolver_test.rb
  test/configuration_test.rb
  test/pin_test.rb
  test/registry_test.rb
Labels: core, dev/testing, refactor

#414 Bump to version 0.12.0
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#417 Bump to version 0.13.0.beta1
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#423 rack-cache breaking 1.9.3 CI build
  Appraisals
  gemfiles/contrib_old.gemfile
  gemfiles/rails30_postgres.gemfile
  gemfiles/rails30_postgres_sidekiq.gemfile
  gemfiles/rails32_mysql2.gemfile
  gemfiles/rails32_postgres.gemfile
  gemfiles/rails32_postgres_redis.gemfile
  gemfiles/rails32_postgres_sidekiq.gemfile
Labels: dev/testing

#430 [net/http] Allow overriding service name.
  Rakefile
  docs/GettingStarted.md
  lib/ddtrace/contrib/http/patcher.rb
  spec/ddtrace/contrib/http/patcher_spec.rb
Labels: bug, integrations

#428 Migrate to CircleCI 2.0 workflows
  .circleci/config.yml
  .env
  circle.yml
  docker-compose.yml
  spec/ddtrace/contrib/active_record/app.rb
  spec/ddtrace/contrib/active_record/tracer_spec.rb
  spec/ddtrace/contrib/active_record/utils_spec.rb
  spec/ddtrace/contrib/dalli/instrumentation_spec.rb
  spec/ddtrace/contrib/rails/support/database.rb
  spec/ddtrace/contrib/redis/integration_spec.rb
  spec/ddtrace/contrib/redis/method_replaced_spec.rb
  spec/ddtrace/contrib/redis/miniapp_spec.rb
  spec/ddtrace/contrib/redis/redis_spec.rb
  spec/ddtrace/transport_spec.rb
  test/contrib/elasticsearch/integration_test.rb
  test/contrib/elasticsearch/miniapp_test.rb
  test/contrib/elasticsearch/transport_test.rb
  test/contrib/http/integration_test.rb
  test/contrib/http/miniapp_test.rb
  test/contrib/http/request_test.rb
  test/contrib/mongodb/client_test.rb
  test/contrib/rails/redis_cache_test.rb
  test/contrib/rails/test_helper.rb
  test/contrib/resque/hooks_test.rb
  test/contrib/sidekiq/tracer_test_base.rb
  test/integration_test.rb
  test/metaheader_test.rb
Labels: dev/testing, dev/tooling, refactor

#434 Parallelize CircleCI workflows
  .circleci/config.yml
  .circleci/images/primary/Dockerfile-1.9.3
  .circleci/images/primary/Dockerfile-2.0.0
  .circleci/images/primary/Dockerfile-2.1.10
  .circleci/images/primary/Dockerfile-2.2.10
  .circleci/images/primary/Dockerfile-2.3.7
  .circleci/images/primary/Dockerfile-2.4.4
  Appraisals
  Rakefile
  ddtrace.gemspec
  test/contrib/rails/test_helper.rb
  test/tracer_test.rb
Labels: dev/testing, dev/tooling, refactor

#438 Dockerize the test suite
  docker-compose.yml
  gemfiles/rails5_mysql2.gemfile
  gemfiles/rails5_postgres.gemfile
  gemfiles/rails5_postgres_redis.gemfile
  gemfiles/rails5_postgres_sidekiq.gemfile
  spec/ddtrace/contrib/active_record/tracer_spec.rb
  spec/ddtrace/contrib/dalli/instrumentation_spec.rb
  spec/ddtrace/contrib/redis/integration_spec.rb
  spec/ddtrace/contrib/redis/method_replaced_spec.rb
  test/contrib/elasticsearch/integration_test.rb
  test/contrib/http/integration_test.rb
  test/contrib/http/miniapp_test.rb
  test/contrib/http/request_test.rb
  test/contrib/rack/helpers.rb
  test/contrib/rails/apps/application.rb
  test/contrib/rails/apps/rails3.rb
  test/contrib/sinatra/tracer_activerecord_test.rb
Labels: dev/testing, dev/tooling, refactor

#420 Fix NoMethodError when ActionController::Metal#response is an Array
  lib/ddtrace/contrib/rails/core_extensions.rb
  spec/ddtrace/contrib/rails/action_controller_spec.rb
Labels: bug, integrations

#426 Jeffjo/fix excon error handler
  lib/ddtrace/contrib/excon/middleware.rb
  spec/ddtrace/contrib/excon/instrumentation_spec.rb
Labels: bug, community, integrations

#421 Make sure to correctly preserve block for Elasticsearch::Transport::Client
  lib/ddtrace/contrib/elasticsearch/patcher.rb
  test/contrib/elasticsearch/dummy_faraday_middleware.rb
  test/contrib/elasticsearch/transport_test.rb
Labels: bug, community, integrations

#433 Cleanup Rubocop warnings for spec files
  .rubocop.yml
  Rakefile
  ddtrace.gemspec
  spec/ddtrace/contrib/active_record/tracer_spec.rb
  spec/ddtrace/contrib/active_record/utils_spec.rb
  spec/ddtrace/contrib/active_support/notifications/subscriber_spec.rb
  spec/ddtrace/contrib/active_support/notifications/subscription_spec.rb
  spec/ddtrace/contrib/faraday/middleware_spec.rb
  spec/ddtrace/contrib/graphql/tracer_spec.rb
  spec/ddtrace/contrib/racecar/patcher_spec.rb
  spec/ddtrace/contrib/rails/middleware_spec.rb
  spec/ddtrace/contrib/rails/rails_helper.rb
  spec/ddtrace/contrib/rails/support/base.rb
  spec/ddtrace/contrib/rails/support/configuration.rb
  spec/ddtrace/contrib/rails/support/database.rb
  spec/ddtrace/contrib/rails/support/middleware.rb
  spec/ddtrace/contrib/rails/support/rails3.rb
  spec/ddtrace/contrib/rails/support/rails4.rb
  spec/ddtrace/contrib/rails/support/rails5.rb
  spec/ddtrace/contrib/redis/integration_spec.rb
  spec/ddtrace/contrib/redis/quantize_spec.rb
  spec/ddtrace/contrib/redis/redis_spec.rb
  spec/ddtrace/patcher_spec.rb
  spec/ddtrace/quantization/http_spec.rb
  spec/ddtrace/registry_spec.rb
  spec/ddtrace/transport_spec.rb
  spec/ddtrace/writer_spec.rb
  test/contrib/rack/helpers.rb
  test/contrib/rails/rack_middleware_test.rb
Labels: refactor
