Repository DataDog/dd-trace-rb, pull requests merged in 2018-12, with the labels that each got.

#650 Add Sidekiq `client_service_name` option to documentation
  docs/GettingStarted.md
Labels: docs

#651 Change configuration resolution misses to return default configuration
  lib/ddtrace/contrib/active_record/events/sql.rb
  lib/ddtrace/contrib/configurable.rb
  lib/ddtrace/utils/database.rb
  spec/ddtrace/contrib/configurable_spec.rb
Labels: core, integrations, refactor

#652 Add Sinatra to RSpec
  Rakefile
  spec/ddtrace/contrib/sinatra/activerecord_spec.rb
  spec/ddtrace/contrib/sinatra/multi_app_spec.rb
  spec/ddtrace/contrib/sinatra/tracer_spec.rb
  spec/ddtrace/contrib/sinatra/views/msg.erb
  test/contrib/sinatra/multi_app_test.rb
  test/contrib/sinatra/tracer_activerecord_test.rb
  test/contrib/sinatra/tracer_disabled_test.rb
  test/contrib/sinatra/tracer_test.rb
  test/contrib/sinatra/tracer_test_base.rb
Labels: dev/testing, refactor

#649 Inject :connection to sql.active_record event instead of using #_id2ref
  lib/ddtrace/contrib/active_record/events/sql.rb
  lib/ddtrace/contrib/active_record/patcher.rb
  lib/ddtrace/contrib/active_record/patches/abstract_adapter.rb
  lib/ddtrace/contrib/active_record/utils.rb
  spec/ddtrace/contrib/active_record/performance_spec.rb
Labels: bug, integrations

#587 Add internal tracing metrics
  .env
  ddtrace.gemspec
  docker-compose.yml
  docs/GettingStarted.md
  lib/ddtrace/ext/http.rb
  lib/ddtrace/ext/meta.rb
  lib/ddtrace/ext/metrics.rb
  lib/ddtrace/metrics.rb
  lib/ddtrace/tracer.rb
  lib/ddtrace/transport.rb
  lib/ddtrace/utils/time.rb
  lib/ddtrace/version.rb
  lib/ddtrace/writer.rb
  spec/ddtrace/contrib/redis/integration_spec.rb
  spec/ddtrace/integration_spec.rb
  spec/ddtrace/meta_header_spec.rb
  spec/ddtrace/metrics_spec.rb
  spec/ddtrace/tracer_count_header_spec.rb
  spec/ddtrace/transport_payload_spec.rb
  spec/ddtrace/transport_spec.rb
  spec/ddtrace/workers_integration_spec.rb
  spec/ddtrace/writer_spec.rb
  spec/spec_helper.rb
  spec/support/metric_helpers.rb
  spec/support/statsd_helpers.rb
Labels: core, dev/tooling

#655 Support Shoryuken in batch mode
  lib/ddtrace/contrib/shoryuken/tracer.rb
Labels: community, integrations

#657 Revert "Add internal tracing metrics"
  .env
  ddtrace.gemspec
  docker-compose.yml
  docs/GettingStarted.md
  lib/ddtrace/ext/http.rb
  lib/ddtrace/ext/meta.rb
  lib/ddtrace/ext/metrics.rb
  lib/ddtrace/metrics.rb
  lib/ddtrace/tracer.rb
  lib/ddtrace/transport.rb
  lib/ddtrace/utils/time.rb
  lib/ddtrace/version.rb
  lib/ddtrace/writer.rb
  spec/ddtrace/contrib/redis/integration_spec.rb
  spec/ddtrace/integration_spec.rb
  spec/ddtrace/meta_header_spec.rb
  spec/ddtrace/metrics_spec.rb
  spec/ddtrace/tracer_count_header_spec.rb
  spec/ddtrace/transport_payload_spec.rb
  spec/ddtrace/transport_spec.rb
  spec/ddtrace/workers_integration_spec.rb
  spec/ddtrace/writer_spec.rb
  spec/spec_helper.rb
  spec/support/metric_helpers.rb
  spec/support/statsd_helpers.rb
Labels: core, dev/tooling, feature

#656 Improve code performances
  lib/ddtrace/contrib/active_record/utils.rb
Labels: community, integrations

#653 Bump to version 0.18.0
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#654 Enable priority sampling by default
  docs/GettingStarted.md
  lib/ddtrace/tracer.rb
  spec/ddtrace/configuration/pin_setup_spec.rb
  spec/ddtrace/context_spec.rb
  spec/ddtrace/contrib/active_model_serializers/patcher_spec.rb
  spec/ddtrace/contrib/active_record/multi_db_spec.rb
  spec/ddtrace/contrib/active_record/performance_spec.rb
  spec/ddtrace/contrib/active_record/tracer_spec.rb
  spec/ddtrace/contrib/active_support/notifications/subscription_spec.rb
  spec/ddtrace/contrib/aws/instrumentation_spec.rb
  spec/ddtrace/contrib/concurrent_ruby/integration_spec.rb
  spec/ddtrace/contrib/dalli/instrumentation_spec.rb
  spec/ddtrace/contrib/delayed_job/plugin_spec.rb
  spec/ddtrace/contrib/elasticsearch/patcher_spec.rb
  spec/ddtrace/contrib/elasticsearch/transport_spec.rb
  spec/ddtrace/contrib/excon/instrumentation_spec.rb
  spec/ddtrace/contrib/faraday/middleware_spec.rb
  spec/ddtrace/contrib/graphql/tracer_spec.rb
  spec/ddtrace/contrib/http/patcher_spec.rb
  spec/ddtrace/contrib/mongodb/client_spec.rb
  spec/ddtrace/contrib/mysql2/patcher_spec.rb
  spec/ddtrace/contrib/racecar/patcher_spec.rb
  spec/ddtrace/contrib/rack/distributed_spec.rb
  spec/ddtrace/contrib/rack/integration_spec.rb
  spec/ddtrace/contrib/rack/middleware_spec.rb
  spec/ddtrace/contrib/rack/request_queuing_spec.rb
  spec/ddtrace/contrib/rack/resource_name_spec.rb
  spec/ddtrace/contrib/rails/action_controller_spec.rb
  spec/ddtrace/contrib/rails/middleware_spec.rb
  spec/ddtrace/contrib/rails/railtie_spec.rb
  spec/ddtrace/contrib/rake/instrumentation_spec.rb
  spec/ddtrace/contrib/redis/miniapp_spec.rb
  spec/ddtrace/contrib/redis/redis_spec.rb
  spec/ddtrace/contrib/resque/instrumentation_spec.rb
  spec/ddtrace/contrib/rest_client/request_patch_spec.rb
  spec/ddtrace/contrib/sequel/configuration_spec.rb
  spec/ddtrace/contrib/sequel/instrumentation_spec.rb
  spec/ddtrace/contrib/shoryuken/tracer_spec.rb
  spec/ddtrace/contrib/sinatra/activerecord_spec.rb
  spec/ddtrace/contrib/sinatra/multi_app_spec.rb
  spec/ddtrace/contrib/sinatra/tracer_spec.rb
  spec/ddtrace/integration_spec.rb
  spec/ddtrace/pin_spec.rb
  spec/ddtrace/propagation/http_propagator_spec.rb
  spec/ddtrace/propagation/propagation_integration_spec.rb
  spec/support/tracer_helpers.rb
  test/context_flush_test.rb
  test/helper.rb
  test/sampler_test.rb
Labels: core

#660 Add correlation identifier
  docs/GettingStarted.md
  lib/ddtrace/correlation.rb
  lib/ddtrace/tracer.rb
  spec/ddtrace/correlation_spec.rb
  spec/ddtrace/tracer_spec.rb
Labels: core, feature

#662 Fix ActiveRecord :connection incompatibility with serialization libraries
  lib/ddtrace/contrib/active_record/events/sql.rb
  lib/ddtrace/contrib/active_record/patcher.rb
  lib/ddtrace/contrib/active_record/patches/abstract_adapter.rb
  lib/ddtrace/contrib/active_record/utils.rb
  spec/ddtrace/contrib/sinatra/activerecord_spec.rb
Labels: bug, community, integrations

#664 Datadog::Correlation usage improvements
  docs/GettingStarted.md
  lib/ddtrace/correlation.rb
  lib/ddtrace/tracer.rb
  spec/ddtrace/correlation_spec.rb
  spec/ddtrace/tracer_spec.rb
Labels: core, feature

#658 Fix for broken mongodb spans
  lib/ddtrace/contrib/mongodb/subscribers.rb
  spec/ddtrace/contrib/mongodb/client_spec.rb
Labels: bug, community, integrations
