Repository DataDog/dd-trace-rb, pull requests merged in 2018-03, with the labels that each got.

#358 Release 0.12.0.beta2
  lib/ddtrace/contrib/rails/core_extensions.rb
  lib/ddtrace/version.rb
Labels: core

#354 Fix Rack middleware name patching
  docs/GettingStarted.md
  lib/ddtrace/contrib/rack/middlewares.rb
  lib/ddtrace/contrib/rack/patcher.rb
  lib/ddtrace/contrib/rails/framework.rb
  lib/ddtrace/contrib/rails/patcher.rb
  spec/ddtrace/contrib/rails/middleware_spec.rb
  spec/ddtrace/contrib/rails/support/application.rb
  spec/ddtrace/contrib/rails/support/base.rb
  test/contrib/rack/resource_name_test.rb
Labels: breaking-change, bug, integrations

#338 Use rack compliant keys
  lib/ddtrace/contrib/grape/endpoint.rb
  lib/ddtrace/contrib/rack/middlewares.rb
  test/contrib/rack/helpers.rb
Labels: bug, community, integrations

#360 359: Add block back into render call
  lib/ddtrace/contrib/rails/core_extensions.rb
Labels: bug, community

#364 Revert "Use rack compliant keys"
  lib/ddtrace/contrib/grape/endpoint.rb
  lib/ddtrace/contrib/rack/middlewares.rb
  test/contrib/rack/helpers.rb
Labels: bug

#382 Pin mysql2 < 0.5.0 to prevent CI build from breaking
  Appraisals
  gemfiles/contrib.gemfile
  gemfiles/rails4_mysql2.gemfile
  gemfiles/rails5_mysql2.gemfile
Labels: dev/tooling

#380 ActiveSupport::Notifications subscriptions
  Rakefile
  lib/ddtrace/contrib/active_support/notifications/subscriber.rb
  lib/ddtrace/contrib/active_support/notifications/subscription.rb
  spec/ddtrace/contrib/active_support/notifications/subscriber_spec.rb
  spec/ddtrace/contrib/active_support/notifications/subscription_spec.rb
Labels: community, feature, integrations

#381 Use ActiveSupport::Notifications::Subscriber with Racecar
  lib/ddtrace/contrib/racecar/patcher.rb
  spec/ddtrace/contrib/racecar/patcher_spec.rb
Labels: integrations

#369 Fix HTTPTransport downgrade causing callback error
  lib/ddtrace/transport.rb
  lib/ddtrace/writer.rb
  spec/ddtrace/transport_spec.rb
  spec/ddtrace/writer_spec.rb
  spec/spec_helper.rb
  spec/support/http_helpers.rb
  test/transport_test.rb
  test/writer_test.rb
Labels: bug, core

#370 Fix HTTPTransport sampling callback for services
  lib/ddtrace/transport.rb
  lib/ddtrace/writer.rb
  spec/ddtrace/writer_spec.rb
  spec/support/http_helpers.rb
Labels: bug, core

#384 Add HTTP url quantizer
  lib/ddtrace.rb
  lib/ddtrace/quantization/http.rb
  spec/ddtrace/quantization/http_spec.rb
Labels: core, feature

#371 Add URL query string quantization to Rack
  docs/GettingStarted.md
  lib/ddtrace/contrib/rack/middlewares.rb
  lib/ddtrace/contrib/rack/patcher.rb
  test/contrib/rack/middleware_test.rb
Labels: feature, integrations

#383 Use correct ActiveRecord connection for `sql.active_record` events
  lib/ddtrace/contrib/active_record/patcher.rb
  lib/ddtrace/contrib/rails/active_record.rb
  lib/ddtrace/contrib/rails/utils.rb
  test/contrib/rails/tracer_test.rb
Labels: bug, integrations

#362 ElasticSearch body quantization
  docs/GettingStarted.md
  lib/ddtrace/contrib/elasticsearch/patcher.rb
  lib/ddtrace/contrib/elasticsearch/quantize.rb
  test/contrib/elasticsearch/quantize_test.rb
  test/contrib/elasticsearch/transport_test.rb
Labels: feature, integrations

#365 Use Rack compliant keys with deprecation
  lib/ddtrace/contrib/grape/endpoint.rb
  lib/ddtrace/contrib/rack/middlewares.rb
  test/contrib/rack/helpers.rb
Labels: bug, integrations

#385 Bump to version 0.11.4
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release
