Repository DataDog/dd-trace-rb, pull requests merged in 2018-07, with the labels that each got.

#480 Use IP address instead of hostname to avoid a bug in libc
  lib/ddtrace/writer.rb
Labels: bug, core

#475 Improve performance of multithreaded operation in short running processes
  lib/ddtrace/workers.rb
  lib/ddtrace/writer.rb
Labels: bug, core

#451 Implement ActiveRecord integration configuration
  .rubocop.yml
  Rakefile
  docs/GettingStarted.md
  lib/ddtrace.rb
  lib/ddtrace/contrib/active_record/configuration/resolver.rb
  lib/ddtrace/contrib/active_record/configuration/settings.rb
  lib/ddtrace/contrib/active_record/events/sql.rb
  lib/ddtrace/contrib/active_record/integration.rb
  lib/ddtrace/contrib/active_record/patcher.rb
  lib/ddtrace/contrib/active_record/utils.rb
  lib/ddtrace/vendor/active_record/connection_specification.rb
  spec/ddtrace/contrib/active_record/multi_db_spec.rb
  spec/ddtrace/contrib/active_record/tracer_spec.rb
  test/contrib/sinatra/tracer_activerecord_test.rb
Labels: feature, integrations

#452 Implement Sequel integration configuration
  lib/ddtrace/contrib/sequel/configuration/settings.rb
  lib/ddtrace/contrib/sequel/database.rb
  lib/ddtrace/contrib/sequel/integration.rb
  lib/ddtrace/contrib/sequel/patcher.rb
  spec/ddtrace/contrib/sequel/configuration_spec.rb
  spec/ddtrace/contrib/sequel/instrumentation_spec.rb
Labels: feature, integrations

#481 Fix variable names in rescue blocks
  lib/ddtrace/workers.rb
  spec/ddtrace/workers_spec.rb
Labels: bug, community, core

#484 Ensure trace yield on #start_span error
  lib/ddtrace/tracer.rb
  spec/ddtrace/tracer_spec.rb
Labels: core, feature

#485 Add on_error callback option for tracing
  docs/GettingStarted.md
  lib/ddtrace/tracer.rb
  spec/ddtrace/tracer_spec.rb
Labels: core, feature

#444 [delayed_job] integration
  Appraisals
  Rakefile
  docs/GettingStarted.md
  lib/ddtrace.rb
  lib/ddtrace/contrib/delayed_job/patcher.rb
  lib/ddtrace/contrib/delayed_job/plugin.rb
  spec/ddtrace/contrib/delayed_job/delayed_job_active_record.rb
  spec/ddtrace/contrib/delayed_job/patcher_spec.rb
  spec/ddtrace/contrib/delayed_job/plugin_spec.rb
Labels: feature, integrations

#482 Run benchmarks using example sidekiq application
  .circleci/config.yml
  benchmarks/postgres_database.yml
  benchmarks/sidekiq_test.rb
  ddtrace.gemspec
Labels: dev/testing

#488 Add missing MySQL2 documentation
  docs/GettingStarted.md
Labels: docs

#489 Fix benchmark after cleanup
  benchmarks/sidekiq_test.rb
Labels: bug

#478 Make sure spans are closed when processing notifications
  lib/ddtrace/contrib/active_support/notifications/subscription.rb
  spec/ddtrace/contrib/active_support/notifications/subscription_spec.rb
Labels: bug, core, integrations

#500 Adjust the message to change deprecation deadline of Rack env key in version 1.0
  lib/ddtrace/contrib/rack/middlewares.rb
Labels: docs

#499 No more ruby warnings
  lib/ddtrace/monkey.rb
  lib/ddtrace/pin.rb
Labels: bug, core

#483 Add version to Integration
  lib/ddtrace/contrib/active_record/integration.rb
  lib/ddtrace/contrib/patchable.rb
  lib/ddtrace/contrib/sequel/integration.rb
  spec/ddtrace/contrib/patchable_spec.rb
Labels: core, feature, integrations

#501 Add HttpPropagator to RSpec
  spec/ddtrace/propagation/http_propagator_spec.rb
  test/propagation/http_propagator_test.rb
Labels: dev/testing, refactor
