Repository DataDog/dd-trace-rb, pull requests merged in 2018-04, with the labels that each got.

#388 Make documentation more consistent
  README.md
  docs/GettingStarted.md
Labels: docs

#390 Extract #ensure_clean_context! from ActiveSupport::Notifications subscription
  lib/ddtrace/contrib/active_support/notifications/subscription.rb
  lib/ddtrace/contrib/racecar/patcher.rb
  spec/ddtrace/contrib/active_support/notifications/subscription_spec.rb
Labels: bug, integrations

#247 [tracer] reduce memory usage on high-cardinality traces
  docs/GettingStarted.md
  lib/ddtrace/context.rb
  lib/ddtrace/context_flush.rb
  lib/ddtrace/tracer.rb
  test/context_flush_test.rb
  test/context_test.rb
  test/span_test.rb
Labels: bug, core

#391 Fix ActionController patching conflict
  lib/ddtrace/contrib/rails/core_extensions.rb
Labels: bug, integrations

#395 Add ActiveSupport::Notifications subscription error handling
  lib/ddtrace/contrib/active_support/notifications/subscription.rb
  lib/ddtrace/contrib/racecar/patcher.rb
  lib/ddtrace/tracer.rb
  spec/ddtrace/contrib/active_support/notifications/subscription_spec.rb
  spec/support/log_helpers.rb
Labels: bug, integrations

#392 Change deprecation warning for Rack request span
  lib/ddtrace/contrib/rack/middlewares.rb
Labels: integrations

#397 Fix min_spans_before_partial_flush option setting
  lib/ddtrace/tracer.rb
Labels: bug, core

#396 Refactor Rails ActiveRecord to use standalone ActiveRecord
  lib/ddtrace/contrib/active_record/patcher.rb
  lib/ddtrace/contrib/active_record/utils.rb
  lib/ddtrace/contrib/active_support/notifications/subscription.rb
  lib/ddtrace/contrib/racecar/patcher.rb
  lib/ddtrace/contrib/rails/active_record.rb
  lib/ddtrace/contrib/rails/framework.rb
  lib/ddtrace/contrib/rails/patcher.rb
  lib/ddtrace/contrib/rails/railtie.rb
  lib/ddtrace/contrib/rails/utils.rb
  spec/ddtrace/contrib/active_record/tracer_spec.rb
  spec/ddtrace/contrib/active_record/utils_spec.rb
  spec/support/rails_active_record_helpers.rb
  test/contrib/rails/apps/models.rb
  test/contrib/rails/controller_test.rb
  test/contrib/rails/database_test.rb
  test/contrib/rails/rack_middleware_test.rb
  test/contrib/rails/rails_sidekiq_test.rb
  test/contrib/rails/tracer_test.rb
  test/contrib/rails/utils_test.rb
  test/contrib/sinatra/tracer_activerecord_test.rb
  test/helper.rb
Labels: breaking-change, integrations, refactor

#399 Bump to version 0.12.0.rc1
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#401 Update distributed tracing documentation
  docs/GettingStarted.md
Labels: docs

#272 [rack] add request queuing option to the Rack middleware
  docs/GettingStarted.md
  lib/ddtrace/contrib/rack/middlewares.rb
  lib/ddtrace/contrib/rack/patcher.rb
  lib/ddtrace/contrib/rack/request_queue.rb
  test/contrib/rack/request_parser_test.rb
  test/contrib/rack/request_queuing_test.rb
Labels: feature, integrations

#402 Add MongoDB to RSpec
  Rakefile
  spec/ddtrace/contrib/mongodb/client_spec.rb
  test/contrib/mongodb/client_test.rb
  test/contrib/mongodb/test_helper.rb
Labels: dev/testing, refactor

#400 Add ActiveSupport::Notifications::Event helper
  lib/ddtrace/contrib/active_record/event.rb
  lib/ddtrace/contrib/active_record/events.rb
  lib/ddtrace/contrib/active_record/events/instantiation.rb
  lib/ddtrace/contrib/active_record/events/sql.rb
  lib/ddtrace/contrib/active_record/patcher.rb
  lib/ddtrace/contrib/active_support/notifications/event.rb
  lib/ddtrace/contrib/racecar/event.rb
  lib/ddtrace/contrib/racecar/events.rb
  lib/ddtrace/contrib/racecar/events/batch.rb
  lib/ddtrace/contrib/racecar/events/message.rb
  lib/ddtrace/contrib/racecar/patcher.rb
  spec/ddtrace/contrib/active_support/notifications/event_spec.rb
  spec/ddtrace/contrib/racecar/patcher_spec.rb
  test/contrib/rails/controller_test.rb
  test/contrib/rails/database_test.rb
  test/contrib/rails/rack_middleware_test.rb
  test/contrib/sinatra/tracer_activerecord_test.rb
Labels: integrations, refactor

#389 Add request and response header tags to Rack
  docs/GettingStarted.md
  lib/ddtrace/contrib/rack/middlewares.rb
  lib/ddtrace/contrib/rack/patcher.rb
  lib/ddtrace/ext/http.rb
  test/contrib/rack/helpers.rb
  test/contrib/rack/middleware_test.rb
Labels: integrations

#405 Add Resque to RSpec
  Rakefile
  spec/ddtrace/contrib/resque/instrumentation_spec.rb
  spec/ddtrace/contrib/resque/job.rb
  spec/spec_helper.rb
  spec/support/configuration_helpers.rb
  test/contrib/resque/hooks_test.rb
  test/contrib/resque/test_helper.rb
Labels: dev/testing, refactor

#410 Extract Hash quantization
  lib/ddtrace.rb
  lib/ddtrace/contrib/elasticsearch/quantize.rb
  lib/ddtrace/quantization/hash.rb
  test/contrib/elasticsearch/quantize_test.rb
Labels: core, integrations, refactor

#408 Fix no Sequel pin when initialized before patched
  lib/ddtrace/contrib/sequel/database.rb
  lib/ddtrace/contrib/sequel/dataset.rb
  spec/ddtrace/contrib/sequel/configuration_spec.rb
  spec/ddtrace/contrib/sequel/instrumentation_spec.rb
Labels: bug, community, integrations

#403 Support gRPC
  Appraisals
  Rakefile
  docs/GettingStarted.md
  lib/ddtrace.rb
  lib/ddtrace/contrib/grpc/datadog_interceptor.rb
  lib/ddtrace/contrib/grpc/datadog_interceptor/client.rb
  lib/ddtrace/contrib/grpc/datadog_interceptor/server.rb
  lib/ddtrace/contrib/grpc/intercept_with_datadog.rb
  lib/ddtrace/contrib/grpc/patcher.rb
  lib/ddtrace/ext/distributed.rb
  lib/ddtrace/ext/grpc.rb
  lib/ddtrace/propagation/grpc_propagator.rb
  spec/ddtrace/contrib/grpc/datadog_interceptor/client_spec.rb
  spec/ddtrace/contrib/grpc/datadog_interceptor/server_spec.rb
  spec/ddtrace/contrib/grpc/integration_spec.rb
  spec/ddtrace/contrib/grpc/interception_context_spec.rb
  spec/ddtrace/contrib/grpc/support/grpc_helper.rb
  spec/ddtrace/propagation/grpc_propagator_spec.rb
Labels: community, feature, integrations
