Repository DataDog/dd-trace-rb, pull requests merged in 2018-11, with the labels that each got.

#624 CI: Fix timers gem not supporting < Ruby 2.2.1
  Appraisals
Labels: bug, dev/tooling

#623 Bump to version 0.17.1
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#633 Add AWS to RSpec
  Rakefile
  lib/ddtrace/contrib/aws/instrumentation.rb
  lib/ddtrace/contrib/aws/patcher.rb
  spec/ddtrace/contrib/aws/instrumentation_spec.rb
  spec/ddtrace/contrib/aws/parsed_context_spec.rb
  test/contrib/aws/instrumentation_test.rb
  test/contrib/aws/parsed_context_test.rb
Labels: dev/testing, refactor

#625 Add Rack to RSpec
  Rakefile
  lib/ddtrace/contrib/rack/request_queue.rb
  spec/ddtrace/contrib/rack/distributed_spec.rb
  spec/ddtrace/contrib/rack/integration_spec.rb
  spec/ddtrace/contrib/rack/middleware_spec.rb
  spec/ddtrace/contrib/rack/queue_time_spec.rb
  spec/ddtrace/contrib/rack/request_queuing_spec.rb
  spec/ddtrace/contrib/rack/resource_name_spec.rb
  test/contrib/rack/distributed_test.rb
  test/contrib/rack/helpers.rb
  test/contrib/rack/middleware_test.rb
  test/contrib/rack/request_parser_test.rb
  test/contrib/rack/request_queuing_test.rb
  test/contrib/rack/resource_name_test.rb
Labels: dev/testing, refactor

#637 Only shutdown tracer when Resque has forked
  lib/ddtrace/contrib/resque/resque_job.rb
  spec/ddtrace/contrib/resque/instrumentation_spec.rb
Labels: bug

#602 Sidekiq client-side tracing
  lib/ddtrace/contrib/sidekiq/client_tracer.rb
  lib/ddtrace/contrib/sidekiq/configuration/settings.rb
  lib/ddtrace/contrib/sidekiq/ext.rb
  lib/ddtrace/contrib/sidekiq/patcher.rb
  lib/ddtrace/contrib/sidekiq/server_tracer.rb
  lib/ddtrace/contrib/sidekiq/tracer.rb
  lib/ddtrace/contrib/sidekiq/tracing.rb
  spec/ddtrace/contrib/rails/support/base.rb
  spec/ddtrace/contrib/rails/support/rails3.rb
  spec/ddtrace/contrib/rails/support/rails4.rb
  spec/ddtrace/contrib/rails/support/rails5.rb
  test/contrib/rails/apps/application.rb
  test/contrib/rails/rails_active_job_test.rb
  test/contrib/rails/rails_sidekiq_test.rb
  test/contrib/sidekiq/client_tracer_test.rb
  test/contrib/sidekiq/disabled_tracer_test.rb
  test/contrib/sidekiq/server_tracer_test.rb
  test/contrib/sidekiq/tracer_configure_test.rb
  test/contrib/sidekiq/tracer_test_base.rb
Labels: community, feature, integrations

#639 Fix bad resource name with Grape::API when used in Grape 1.2.0
  lib/ddtrace/contrib/grape/endpoint.rb
Labels: bug, integrations

#641 Prevent Rails load hooks applying patch twice
  lib/ddtrace/contrib/rails/patcher.rb
  lib/ddtrace/patcher.rb
  spec/ddtrace/contrib/concurrent_ruby/integration_spec.rb
  spec/ddtrace/contrib/rails/railtie_spec.rb
  spec/ddtrace/patcher_spec.rb
Labels: bug, core, integrations

#644 Bump to version 0.17.3
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release
