Repository DataDog/dd-trace-rb, pull requests merged in 2018-08, with the labels that each got.

#502 Prevent HttpPropagator errors given a nil Context
  lib/ddtrace/propagation/http_propagator.rb
  spec/ddtrace/propagation/http_propagator_spec.rb
  spec/ddtrace/propagation/propagation_integration_spec.rb
Labels: bug, integrations

#460 [rest_client] Integration
  Appraisals
  Gemfile
  Rakefile
  docs/GettingStarted.md
  lib/ddtrace.rb
  lib/ddtrace/contrib/rest_client/configuration/settings.rb
  lib/ddtrace/contrib/rest_client/integration.rb
  lib/ddtrace/contrib/rest_client/patcher.rb
  lib/ddtrace/contrib/rest_client/request_patch.rb
  lib/ddtrace/span.rb
  spec/ddtrace/contrib/rest_client/patcher_spec.rb
  spec/ddtrace/contrib/rest_client/request_patch_spec.rb
Labels: feature, integrations

#495 [OpenTracing] Context propagation implementation
  lib/ddtrace/opentracer.rb
  lib/ddtrace/opentracer/binary_propagator.rb
  lib/ddtrace/opentracer/distributed_headers.rb
  lib/ddtrace/opentracer/propagator.rb
  lib/ddtrace/opentracer/rack_propagator.rb
  lib/ddtrace/opentracer/text_map_propagator.rb
  lib/ddtrace/opentracer/tracer.rb
  spec/ddtrace/opentracer/binary_propagator_spec.rb
  spec/ddtrace/opentracer/distributed_headers_spec.rb
  spec/ddtrace/opentracer/propagation_integration_spec.rb
  spec/ddtrace/opentracer/propagator_spec.rb
  spec/ddtrace/opentracer/rack_propagator_spec.rb
  spec/ddtrace/opentracer/text_map_propagator_spec.rb
  spec/ddtrace/opentracer/tracer_spec.rb
Labels: core, feature

#504 Bump to version 0.13.2
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#503 Add active_root_span to Tracer
  docs/GettingStarted.md
  lib/ddtrace/context.rb
  lib/ddtrace/tracer.rb
  spec/ddtrace/context_spec.rb
  spec/ddtrace/tracer_integration_spec.rb
  spec/ddtrace/tracer_spec.rb
Labels: core, feature

#505 Bump to version 0.14.0.rc1
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#508 Fix deprecation warnings when Rack Env is re-used
  lib/ddtrace/contrib/rack/middlewares.rb
  spec/ddtrace/contrib/rack/middleware_spec.rb
Labels: bug, integrations

#510 Bump to version 0.14.0
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#516 Fix Sequel integration not loading by default
  lib/ddtrace.rb
Labels: bug, integrations

#515 Log consecutive errors in Transport only once
  lib/ddtrace/transport.rb
Labels: bug, core

#519 Bump to version 0.14.1
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#521 Use incoming sample priority to decide if the span should be sampled or not
  lib/ddtrace/sampler.rb
  test/sampler_test.rb
Labels: bug, core

#523 Release version 0.14.2
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#518 [OpenTracing] Fix context propagation between OpenTracing and Datadog
  lib/ddtrace/opentracer/tracer.rb
  spec/ddtrace/opentracer/tracer_integration_spec.rb
Labels: bug, core

#522 [OpenTracing] Add documentation
  docs/GettingStarted.md
Labels: docs
