Repository DataDog/dd-trace-rb, pull requests merged in 2019-09, with the labels that each got.

#747 Extract ActiveSupport from Rails
  Appraisals
  Rakefile
  docs/GettingStarted.md
  lib/ddtrace.rb
  lib/ddtrace/contrib/active_support/cache/instrumentation.rb
  lib/ddtrace/contrib/active_support/cache/patcher.rb
  lib/ddtrace/contrib/active_support/cache/redis.rb
  lib/ddtrace/contrib/active_support/configuration/settings.rb
  lib/ddtrace/contrib/active_support/ext.rb
  lib/ddtrace/contrib/active_support/integration.rb
  lib/ddtrace/contrib/active_support/patcher.rb
  lib/ddtrace/contrib/rails/active_support.rb
  lib/ddtrace/contrib/rails/configuration/settings.rb
  lib/ddtrace/contrib/rails/core_extensions.rb
  lib/ddtrace/contrib/rails/ext.rb
  lib/ddtrace/contrib/rails/framework.rb
  lib/ddtrace/contrib/rails/patcher.rb
  lib/ddtrace/contrib/redis/patcher.rb
  spec/ddtrace/contrib/rails/support/rails3.rb
  spec/ddtrace/contrib/rails/support/rails4.rb
  spec/ddtrace/contrib/rails/support/rails5.rb
  test/contrib/rails/apps/application.rb
  test/contrib/rails/apps/rails3.rb
  test/contrib/rails/cache_test.rb
  test/contrib/rails/database_test.rb
  test/contrib/rails/redis_cache_test.rb
  test/helper.rb
Labels: integrations, refactor

#762 Extract ActionView from Rails
  Appraisals
  Rakefile
  docs/GettingStarted.md
  lib/ddtrace.rb
  lib/ddtrace/contrib/action_view/configuration/settings.rb
  lib/ddtrace/contrib/action_view/ext.rb
  lib/ddtrace/contrib/action_view/instrumentation.rb
  lib/ddtrace/contrib/action_view/integration.rb
  lib/ddtrace/contrib/action_view/patcher.rb
  lib/ddtrace/contrib/action_view/utils.rb
  lib/ddtrace/contrib/rails/action_view.rb
  lib/ddtrace/contrib/rails/configuration/settings.rb
  lib/ddtrace/contrib/rails/core_extensions.rb
  lib/ddtrace/contrib/rails/ext.rb
  lib/ddtrace/contrib/rails/framework.rb
  lib/ddtrace/contrib/rails/patcher.rb
  lib/ddtrace/contrib/rails/utils.rb
  test/contrib/rails/utils_test.rb
Labels: integrations, refactor

#795 Extract ActionPack from Rails
  Appraisals
  Rakefile
  docs/GettingStarted.md
  lib/ddtrace.rb
  lib/ddtrace/contrib/action_pack/action_controller/instrumentation.rb
  lib/ddtrace/contrib/action_pack/action_controller/patcher.rb
  lib/ddtrace/contrib/action_pack/configuration/settings.rb
  lib/ddtrace/contrib/action_pack/ext.rb
  lib/ddtrace/contrib/action_pack/integration.rb
  lib/ddtrace/contrib/action_pack/patcher.rb
  lib/ddtrace/contrib/action_pack/utils.rb
  lib/ddtrace/contrib/rails/action_controller.rb
  lib/ddtrace/contrib/rails/action_controller_patch.rb
  lib/ddtrace/contrib/rails/configuration/settings.rb
  lib/ddtrace/contrib/rails/core_extensions.rb
  lib/ddtrace/contrib/rails/ext.rb
  lib/ddtrace/contrib/rails/framework.rb
  lib/ddtrace/contrib/rails/middlewares.rb
  lib/ddtrace/contrib/rails/patcher.rb
  lib/ddtrace/contrib/rails/utils.rb
  spec/ddtrace/contrib/rails/action_controller_spec.rb
  spec/ddtrace/contrib/rails/analytics_spec.rb
Labels: integrations, refactor

#778 Ethon & Typhoeus tracing support
  Appraisals
  Rakefile
  docs/GettingStarted.md
  lib/ddtrace.rb
  lib/ddtrace/contrib/ethon/configuration/settings.rb
  lib/ddtrace/contrib/ethon/easy_patch.rb
  lib/ddtrace/contrib/ethon/ext.rb
  lib/ddtrace/contrib/ethon/integration.rb
  lib/ddtrace/contrib/ethon/multi_patch.rb
  lib/ddtrace/contrib/ethon/patcher.rb
  spec/ddtrace/contrib/ethon/easy_patch_spec.rb
  spec/ddtrace/contrib/ethon/integration_context.rb
  spec/ddtrace/contrib/ethon/integration_spec.rb
  spec/ddtrace/contrib/ethon/multi_patch_spec.rb
  spec/ddtrace/contrib/ethon/patcher_spec.rb
  spec/ddtrace/contrib/ethon/shared_examples.rb
  spec/ddtrace/contrib/ethon/typhoeus_integration_spec.rb
Labels: community, feature, integrations

#802 Official support for Ruby 2.5 and 2.6
  .circleci/config.yml
  .circleci/images/primary/Dockerfile-2.5.6
  .circleci/images/primary/Dockerfile-2.6.4
  Appraisals
  Rakefile
  docker-compose.yml
  docs/GettingStarted.md
Labels: core, feature

#807 Update support table
  docs/GettingStarted.md
Labels: docs

#817 Support for Redis array arguments
  lib/ddtrace/contrib/redis/quantize.rb
  spec/ddtrace/contrib/redis/quantize_spec.rb
  spec/ddtrace/contrib/redis/redis_spec.rb
Labels: bug

#826 [Docs] Update lograge configuration to ensure full ID precision
  docs/GettingStarted.md
Labels: docs, integrations
