Repository DataDog/dd-trace-rb, pull requests merged in 2019-08, with the labels that each got.

#784 Add container tags to traces
  lib/ddtrace/ext/transport.rb
  lib/ddtrace/runtime/cgroup.rb
  lib/ddtrace/runtime/container.rb
  lib/ddtrace/transport/http.rb
  spec/ddtrace/runtime/cgroup_spec.rb
  spec/ddtrace/runtime/container_spec.rb
  spec/ddtrace/transport/http/adapters/net_integration_spec.rb
  spec/ddtrace/transport/http/adapters/unix_socket_integration_spec.rb
  spec/ddtrace/transport/http_spec.rb
  spec/spec_helper.rb
  spec/support/container_helpers.rb
Labels: core, feature

#789 Refactor Datadog::Metrics constants
  lib/ddtrace/ext/metrics.rb
  lib/ddtrace/metrics.rb
  spec/ddtrace/metrics_spec.rb
Labels: core, refactor

#788 Fixing header indent for doc
  docs/GettingStarted.md
Labels: docs

#794 Fix Mongo quantization tests
  spec/ddtrace/contrib/mongodb/client_spec.rb
Labels: bug, dev/testing, integrations

#792 Fix typo in distributed tracing example documentation
  docs/GettingStarted.md
Labels: community, docs

#793 updating supported rails version
  docs/GettingStarted.md
Labels: docs

#791 Remove Ruby 1.9 support from core
  .circleci/config.yml
  .circleci/images/primary/Dockerfile-1.9.3
  Appraisals
  Rakefile
  ddtrace.gemspec
  docker-compose.yml
  docs/GettingStarted.md
  lib/ddtrace/analytics.rb
  lib/ddtrace/configuration.rb
  lib/ddtrace/contrib/patchable.rb
  lib/ddtrace/correlation.rb
  lib/ddtrace/forced_tracing.rb
  lib/ddtrace/span.rb
  lib/ddtrace/tracer.rb
  spec/ddtrace/analytics_spec.rb
  spec/ddtrace/configuration_spec.rb
  spec/ddtrace/contrib/patchable_spec.rb
  spec/ddtrace/forced_tracing_spec.rb
  test/utils_test.rb
Labels: breaking-change, core, refactor
