Repository DataDog/dd-trace-rb, pull requests merged in 2019-07, with the labels that each got.

#772 [documentation] Ruby documentation audit
  docs/GettingStarted.md
Labels: docs

#776 Quantize Redis AUTH command
  lib/ddtrace/contrib/redis/quantize.rb
  spec/ddtrace/contrib/redis/method_replaced_spec.rb
  spec/ddtrace/contrib/redis/miniapp_spec.rb
  spec/ddtrace/contrib/redis/redis_spec.rb
Labels: bug, integrations

#781 Bump to version 0.25.1
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#782 Remove deprecated Datadog::HTTPTransport
  lib/ddtrace/contrib/http/circuit_breaker.rb
  lib/ddtrace/transport.rb
  lib/ddtrace/writer.rb
  spec/ddtrace/meta_header_spec.rb
  spec/ddtrace/tracer_count_header_spec.rb
  spec/ddtrace/transport/http/adapters/net_integration_spec.rb
  spec/ddtrace/transport/http/benchmark_spec.rb
  spec/ddtrace/transport/http/integration_spec.rb
  spec/ddtrace/transport/http_integration_spec.rb
  spec/ddtrace/transport_spec.rb
  spec/spec_helper.rb
  spec/support/faux_transport.rb
  spec/support/spy_transport.rb
  spec/support/test_access_patch.rb
  test/helper.rb
Labels: breaking-change, refactor

#785 [docs] Distributed tracing is enabled by default
  docs/GettingStarted.md
Labels: docs
