Repository DataDog/dd-trace-rb, pull requests merged in 2019-01, with the labels that each got.

#635 fixes #630 potential performance hit logging cache key
  lib/ddtrace/contrib/rails/active_support.rb
  test/contrib/rails/cache_test.rb
  test/contrib/rails/redis_cache_test.rb
Labels: bug, community, integrations

#665 Add event_sample_rate configuration option
  lib/ddtrace/contrib/configuration/settings.rb
  lib/ddtrace/ext/priority.rb
  spec/ddtrace/contrib/configuration/settings_spec.rb
Labels: core, feature, integrations

#667 Bump to version 0.18.2
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#673 Easier Rails log correlation
  docs/GettingStarted.md
  lib/ddtrace/correlation.rb
  spec/ddtrace/correlation_spec.rb
Labels: core, docs, feature

#675 Fix Mongo NoMethodError when thread variable not set
  lib/ddtrace/contrib/mongodb/subscribers.rb
  spec/ddtrace/contrib/mongodb/client_spec.rb
Labels: bug, community, integrations

#671 Shoryuken: use job name as resource instead of the wrapper
  lib/ddtrace/contrib/shoryuken/tracer.rb
  spec/ddtrace/contrib/shoryuken/tracer_spec.rb
Labels: community, feature, integrations

#676 Bump to version 0.18.3
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#679 Added: event_sample_rate to documentation for some integrations.
  docs/GettingStarted.md
Labels: docs

#678 Bump to version 0.19.0
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release
