Repository DataDog/dd-trace-rb, pull requests merged in 2019-04, with the labels that each got.

#722 Add warning log if an integration is incompatible
  lib/ddtrace/contrib/patchable.rb
  spec/ddtrace/contrib/patchable_spec.rb
Labels: community, core

#733 Fix GraphQL 1.9.4 breaking Ruby 2.2 build
  Appraisals
  docker-compose.yml
  spec/ddtrace/tracer_spec.rb
Labels: bug, dev/testing

#731 Pin the Mongo::Address class to support MongoDB Ruby client version > 2.4
  Appraisals
  lib/ddtrace/contrib/mongodb/instrumentation.rb
  lib/ddtrace/contrib/mongodb/patcher.rb
  spec/ddtrace/contrib/mongodb/client_spec.rb
Labels: bug, community, integrations

#735 Bump to version 0.21.2
  CHANGELOG.md
  docs/GettingStarted.md
  lib/ddtrace/version.rb
Labels: release

#677 Collect runtime metrics from Ruby environment
  .env
  Rakefile
  ddtrace.gemspec
  docker-compose.yml
  docs/GettingStarted.md
  lib/ddtrace.rb
  lib/ddtrace/configuration.rb
  lib/ddtrace/configuration/settings.rb
  lib/ddtrace/context.rb
  lib/ddtrace/contrib/rack/middlewares.rb
  lib/ddtrace/contrib/rails/action_controller.rb
  lib/ddtrace/ext/metrics.rb
  lib/ddtrace/ext/runtime.rb
  lib/ddtrace/metrics.rb
  lib/ddtrace/runtime/class_count.rb
  lib/ddtrace/runtime/gc.rb
  lib/ddtrace/runtime/identity.rb
  lib/ddtrace/runtime/metrics.rb
  lib/ddtrace/runtime/thread_count.rb
  lib/ddtrace/utils/time.rb
  lib/ddtrace/workers.rb
  lib/ddtrace/writer.rb
  spec/ddtrace/contrib/rack/configuration_spec.rb
  spec/ddtrace/metrics_spec.rb
  spec/ddtrace/propagation/distributed_headers_spec.rb
  spec/ddtrace/runtime/class_count_spec.rb
  spec/ddtrace/runtime/gc_spec.rb
  spec/ddtrace/runtime/identity_spec.rb
  spec/ddtrace/runtime/metrics_spec.rb
  spec/ddtrace/runtime/thread_count_spec.rb
  spec/ddtrace/tracer_integration_spec.rb
  spec/ddtrace/workers_integration_spec.rb
  spec/ddtrace/workers_spec.rb
  spec/ddtrace/writer_spec.rb
  spec/spec_helper.rb
  spec/support/metric_helpers.rb
  spec/support/statsd_helpers.rb
  test/tracer_test.rb
Labels: core, feature

#737 Bump to version 0.22.0
  .env
  CHANGELOG.md
  Rakefile
  ddtrace.gemspec
  docker-compose.yml
  docs/GettingStarted.md
  lib/ddtrace.rb
  lib/ddtrace/configuration.rb
  lib/ddtrace/configuration/settings.rb
  lib/ddtrace/context.rb
  lib/ddtrace/contrib/patchable.rb
  lib/ddtrace/contrib/rack/middlewares.rb
  lib/ddtrace/contrib/rails/action_controller.rb
  lib/ddtrace/ext/metrics.rb
  lib/ddtrace/ext/runtime.rb
  lib/ddtrace/metrics.rb
  lib/ddtrace/runtime/class_count.rb
  lib/ddtrace/runtime/gc.rb
  lib/ddtrace/runtime/identity.rb
  lib/ddtrace/runtime/metrics.rb
  lib/ddtrace/runtime/thread_count.rb
  lib/ddtrace/utils/time.rb
  lib/ddtrace/version.rb
  lib/ddtrace/workers.rb
  lib/ddtrace/writer.rb
  spec/ddtrace/contrib/patchable_spec.rb
  spec/ddtrace/contrib/rack/configuration_spec.rb
  spec/ddtrace/metrics_spec.rb
  spec/ddtrace/propagation/distributed_headers_spec.rb
  spec/ddtrace/runtime/class_count_spec.rb
  spec/ddtrace/runtime/gc_spec.rb
  spec/ddtrace/runtime/identity_spec.rb
  spec/ddtrace/runtime/metrics_spec.rb
  spec/ddtrace/runtime/thread_count_spec.rb
  spec/ddtrace/tracer_integration_spec.rb
  spec/ddtrace/workers_integration_spec.rb
  spec/ddtrace/workers_spec.rb
  spec/ddtrace/writer_spec.rb
  spec/spec_helper.rb
  spec/support/metric_helpers.rb
  spec/support/statsd_helpers.rb
  test/tracer_test.rb
Labels: release

#738 [core] Stop sending service information
  lib/ddtrace/contrib/active_model_serializers/patcher.rb
  lib/ddtrace/contrib/active_record/configuration/settings.rb
  lib/ddtrace/contrib/dalli/patcher.rb
  lib/ddtrace/contrib/faraday/middleware.rb
  lib/ddtrace/contrib/faraday/patcher.rb
  lib/ddtrace/contrib/grape/patcher.rb
  lib/ddtrace/contrib/graphql/configuration/settings.rb
  lib/ddtrace/contrib/grpc/patcher.rb
  lib/ddtrace/contrib/racecar/patcher.rb
  lib/ddtrace/contrib/rack/configuration/settings.rb
  lib/ddtrace/contrib/rails/framework.rb
  lib/ddtrace/contrib/rake/patcher.rb
  lib/ddtrace/contrib/rest_client/configuration/settings.rb
  lib/ddtrace/contrib/shoryuken/tracer.rb
  lib/ddtrace/contrib/sidekiq/client_tracer.rb
  lib/ddtrace/contrib/sidekiq/server_tracer.rb
  lib/ddtrace/contrib/sidekiq/tracing.rb
  lib/ddtrace/contrib/sinatra/configuration/settings.rb
  lib/ddtrace/encoding.rb
  lib/ddtrace/pin.rb
  lib/ddtrace/sync_writer.rb
  lib/ddtrace/tracer.rb
  lib/ddtrace/transport.rb
  lib/ddtrace/workers.rb
  lib/ddtrace/writer.rb
  spec/ddtrace/contrib/active_record/tracer_spec.rb
  spec/ddtrace/contrib/redis/redis_spec.rb
  spec/ddtrace/integration_spec.rb
  spec/ddtrace/pin_spec.rb
  spec/ddtrace/tracer_spec.rb
  spec/ddtrace/transport_spec.rb
  spec/ddtrace/workers_integration_spec.rb
  spec/ddtrace/workers_spec.rb
  spec/support/faux_writer.rb
  spec/support/spy_transport.rb
  spec/support/test_access_patch.rb
  test/contrib/rails/rails_sidekiq_test.rb
  test/contrib/rails/tracer_test.rb
  test/contrib/sidekiq/server_tracer_test.rb
  test/contrib/sidekiq/tracer_configure_test.rb
  test/helper.rb
  test/sync_writer_test.rb
  test/tracer_test.rb
Labels: core

#720 [core] Add Span.set_tag manual.keep and manual.drop support
  lib/ddtrace/analytics.rb
  lib/ddtrace/ext/forced_tracing.rb
  lib/ddtrace/forced_tracing.rb
  lib/ddtrace/span.rb
  spec/ddtrace/configuration_spec.rb
  spec/ddtrace/span_spec.rb
Labels: core, feature

#742 Use original return values for rake methods
  lib/ddtrace/contrib/rake/instrumentation.rb
  spec/ddtrace/contrib/rake/instrumentation_spec.rb
Labels: bug, community, integrations

#745 Bump to version 0.23.0
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#746 0.23.0 to stable
  CHANGELOG.md
  lib/ddtrace/analytics.rb
  lib/ddtrace/contrib/active_model_serializers/patcher.rb
  lib/ddtrace/contrib/active_record/configuration/settings.rb
  lib/ddtrace/contrib/dalli/patcher.rb
  lib/ddtrace/contrib/faraday/middleware.rb
  lib/ddtrace/contrib/faraday/patcher.rb
  lib/ddtrace/contrib/grape/patcher.rb
  lib/ddtrace/contrib/graphql/configuration/settings.rb
  lib/ddtrace/contrib/grpc/patcher.rb
  lib/ddtrace/contrib/racecar/patcher.rb
  lib/ddtrace/contrib/rack/configuration/settings.rb
  lib/ddtrace/contrib/rails/framework.rb
  lib/ddtrace/contrib/rake/instrumentation.rb
  lib/ddtrace/contrib/rake/patcher.rb
  lib/ddtrace/contrib/rest_client/configuration/settings.rb
  lib/ddtrace/contrib/shoryuken/tracer.rb
  lib/ddtrace/contrib/sidekiq/client_tracer.rb
  lib/ddtrace/contrib/sidekiq/server_tracer.rb
  lib/ddtrace/contrib/sidekiq/tracing.rb
  lib/ddtrace/contrib/sinatra/configuration/settings.rb
  lib/ddtrace/encoding.rb
  lib/ddtrace/ext/forced_tracing.rb
  lib/ddtrace/forced_tracing.rb
  lib/ddtrace/opentracer/span.rb
  lib/ddtrace/pin.rb
  lib/ddtrace/span.rb
  lib/ddtrace/sync_writer.rb
  lib/ddtrace/tracer.rb
  lib/ddtrace/transport.rb
  lib/ddtrace/version.rb
  lib/ddtrace/workers.rb
  lib/ddtrace/writer.rb
  spec/ddtrace/configuration_spec.rb
  spec/ddtrace/contrib/active_record/tracer_spec.rb
  spec/ddtrace/contrib/rake/instrumentation_spec.rb
  spec/ddtrace/contrib/redis/redis_spec.rb
  spec/ddtrace/integration_spec.rb
  spec/ddtrace/opentracer/span_spec.rb
  spec/ddtrace/pin_spec.rb
  spec/ddtrace/span_spec.rb
  spec/ddtrace/tracer_spec.rb
  spec/ddtrace/transport_spec.rb
  spec/ddtrace/workers_integration_spec.rb
  spec/ddtrace/workers_spec.rb
  spec/support/faux_writer.rb
  spec/support/spy_transport.rb
  spec/support/test_access_patch.rb
  test/contrib/rails/rails_sidekiq_test.rb
  test/contrib/rails/tracer_test.rb
  test/contrib/sidekiq/server_tracer_test.rb
  test/contrib/sidekiq/tracer_configure_test.rb
  test/helper.rb
  test/sync_writer_test.rb
  test/tracer_test.rb
Labels: release
