Repository DataDog/dd-trace-rb, pull requests merged in 2019-03, with the labels that each got.

#706 Fix RestClient test not resetting
  spec/ddtrace/contrib/rest_client/request_patch_spec.rb
Labels: dev/testing

#705 Refactor event_sample_rate to analytics
  .rubocop.yml
  Rakefile
  ddtrace.gemspec
  docs/GettingStarted.md
  lib/ddtrace/contrib/analytics.rb
  lib/ddtrace/contrib/configuration/settings.rb
  lib/ddtrace/contrib/delayed_job/configuration/settings.rb
  lib/ddtrace/contrib/delayed_job/ext.rb
  lib/ddtrace/contrib/delayed_job/plugin.rb
  lib/ddtrace/contrib/racecar/configuration/settings.rb
  lib/ddtrace/contrib/racecar/event.rb
  lib/ddtrace/contrib/racecar/ext.rb
  lib/ddtrace/contrib/rack/configuration/settings.rb
  lib/ddtrace/contrib/rack/ext.rb
  lib/ddtrace/contrib/rack/middlewares.rb
  lib/ddtrace/contrib/rake/configuration/settings.rb
  lib/ddtrace/contrib/rake/ext.rb
  lib/ddtrace/contrib/rake/instrumentation.rb
  lib/ddtrace/contrib/resque/configuration/settings.rb
  lib/ddtrace/contrib/resque/ext.rb
  lib/ddtrace/contrib/resque/resque_job.rb
  lib/ddtrace/contrib/sampling.rb
  lib/ddtrace/contrib/shoryuken/configuration/settings.rb
  lib/ddtrace/contrib/shoryuken/ext.rb
  lib/ddtrace/contrib/shoryuken/tracer.rb
  lib/ddtrace/contrib/sidekiq/client_tracer.rb
  lib/ddtrace/contrib/sidekiq/configuration/settings.rb
  lib/ddtrace/contrib/sidekiq/ext.rb
  lib/ddtrace/contrib/sidekiq/server_tracer.rb
  lib/ddtrace/contrib/sucker_punch/configuration/settings.rb
  lib/ddtrace/contrib/sucker_punch/ext.rb
  lib/ddtrace/contrib/sucker_punch/instrumentation.rb
  lib/ddtrace/ext/analytics.rb
  lib/ddtrace/ext/priority.rb
  spec/ddtrace/contrib/analytics_examples.rb
  spec/ddtrace/contrib/analytics_spec.rb
  spec/ddtrace/contrib/configuration/settings_spec.rb
  spec/ddtrace/contrib/delayed_job/plugin_spec.rb
  spec/ddtrace/contrib/racecar/patcher_spec.rb
  spec/ddtrace/contrib/rack/configuration_spec.rb
  spec/ddtrace/contrib/rake/instrumentation_spec.rb
  spec/ddtrace/contrib/resque/instrumentation_spec.rb
  spec/ddtrace/contrib/sampling_examples.rb
  spec/ddtrace/contrib/sampling_spec.rb
  spec/ddtrace/contrib/shoryuken/tracer_spec.rb
  spec/spec_helper.rb
Labels: breaking-change, integrations, refactor

#708 [core] Only require trace id for distributed tracing headers
  lib/ddtrace/propagation/distributed_headers.rb
  test/propagation/distributed_headers_test.rb
Labels: core

#709 Fix Rack http_server.queue spans missing from distributed traces
  lib/ddtrace/contrib/rack/middlewares.rb
  spec/ddtrace/contrib/rack/distributed_spec.rb
Labels: bug, integrations

#712 Fix analytics tag specs breaking when global state lingers
  spec/ddtrace/contrib/delayed_job/plugin_spec.rb
  spec/ddtrace/contrib/racecar/patcher_spec.rb
  spec/ddtrace/contrib/rack/configuration_spec.rb
  spec/ddtrace/contrib/rake/instrumentation_spec.rb
  spec/ddtrace/contrib/resque/instrumentation_spec.rb
  spec/ddtrace/contrib/shoryuken/tracer_spec.rb
Labels: bug, dev/testing

#715 Add analytics global flag
  lib/ddtrace/configuration.rb
  lib/ddtrace/contrib/analytics.rb
  spec/ddtrace/contrib/analytics_examples.rb
  spec/ddtrace/contrib/rack/configuration_spec.rb
  spec/ddtrace/contrib/rails/analytics_spec.rb
  spec/ddtrace/contrib/sinatra/tracer_spec.rb
Labels: core, feature

#714 Implement global configuration using configuration API
  Rakefile
  lib/ddtrace.rb
  lib/ddtrace/configurable.rb
  lib/ddtrace/configuration.rb
  lib/ddtrace/configuration/dependency_resolver.rb
  lib/ddtrace/configuration/option.rb
  lib/ddtrace/configuration/option_definition.rb
  lib/ddtrace/configuration/option_definition_set.rb
  lib/ddtrace/configuration/option_set.rb
  lib/ddtrace/configuration/options.rb
  lib/ddtrace/configuration/pin_setup.rb
  lib/ddtrace/configuration/proxy.rb
  lib/ddtrace/configuration/settings.rb
  lib/ddtrace/contrib/base.rb
  lib/ddtrace/contrib/configuration/option.rb
  lib/ddtrace/contrib/configuration/option_definition.rb
  lib/ddtrace/contrib/configuration/option_definition_set.rb
  lib/ddtrace/contrib/configuration/option_set.rb
  lib/ddtrace/contrib/configuration/options.rb
  lib/ddtrace/contrib/configuration/settings.rb
  lib/ddtrace/contrib/extensions.rb
  lib/ddtrace/contrib/registerable.rb
  lib/ddtrace/contrib/registry.rb
  lib/ddtrace/environment.rb
  lib/ddtrace/ext/analytics.rb
  lib/ddtrace/opentracer/global_tracer.rb
  lib/ddtrace/registry.rb
  lib/ddtrace/registry/registerable.rb
  spec/ddtrace/configurable_spec.rb
  spec/ddtrace/configuration/dependency_resolver_spec.rb
  spec/ddtrace/configuration/option_definition_set_spec.rb
  spec/ddtrace/configuration/option_definition_spec.rb
  spec/ddtrace/configuration/option_set_spec.rb
  spec/ddtrace/configuration/option_spec.rb
  spec/ddtrace/configuration/options_spec.rb
  spec/ddtrace/configuration/proxy_spec.rb
  spec/ddtrace/configuration_spec.rb
  spec/ddtrace/contrib/analytics_examples.rb
  spec/ddtrace/contrib/configuration/settings_spec.rb
  spec/ddtrace/contrib/registerable_spec.rb
  spec/ddtrace/contrib/registry_spec.rb
  spec/ddtrace/opentracer/global_tracer_spec.rb
  spec/ddtrace_spec.rb
Labels: core, feature, refactor

#716 Add #after_request hook to HTTP integration
  lib/ddtrace/contrib/http/instrumentation.rb
  spec/ddtrace/contrib/http/request_spec.rb
Labels: feature, integrations

#719 [core] Fix parsing of distributed tracing headers
  lib/ddtrace/propagation/distributed_headers.rb
  lib/ddtrace/span.rb
  spec/ddtrace/propagation/distributed_headers_spec.rb
  test/propagation/distributed_headers_test.rb
Labels: core

#721 Fix custom log level manipulation and isolate logger unit tests
  lib/ddtrace/tracer.rb
  test/logger_test.rb
Labels: community, core

#724 Change HTTP #after_request span hook scope
  lib/ddtrace/contrib/http/instrumentation.rb
  spec/ddtrace/contrib/http/request_spec.rb
Labels: integrations

#725 Bump to version 0.21.0
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#728 Implement set_tag shortcut for Analytics
  lib/ddtrace/analytics.rb
  lib/ddtrace/contrib/analytics.rb
  lib/ddtrace/contrib/extensions.rb
  lib/ddtrace/ext/analytics.rb
  lib/ddtrace/span.rb
  spec/ddtrace/analytics_spec.rb
  spec/ddtrace/configuration_spec.rb
  spec/ddtrace/span_spec.rb
Labels: core, feature
