Repository DataDog/dd-trace-rb, pull requests merged in 2020-08, with the labels that each got.

#1129 fix:Default connection middleware order for Faraday < 1.0
  lib/ddtrace/contrib/faraday/patcher.rb
Labels: bug

#1131 add url method on test adapter to prevent startup env logs from throwing exception
  lib/ddtrace/transport/http/adapters/test.rb
  spec/ddtrace/transport/http/adapters/test_spec.rb
Labels: bug

#1135 Bump to version 0.39.0
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#1134 test:Report when test exhausts wait timeout
  spec/support/synchronization_helpers.rb
  test/helper.rb
Labels: dev/testing

#1127 migrate grape tests from minitest to rspec
  Rakefile
  spec/ddtrace/contrib/grape/tracer_spec.rb
  test/contrib/grape/app.rb
  test/contrib/grape/rack_app.rb
  test/contrib/grape/rack_integration_test.rb
  test/contrib/grape/request_test.rb
Labels: dev/testing

#1138 docs:Fix http.rb internal links
  docs/GettingStarted.md
Labels: docs

#1137 docs:Mark Ruby 1.9 as EOL
  docs/GettingStarted.md
Labels: deprecation

#1128 migrate sucker_punch tests from minitest to rspec
  Rakefile
  spec/ddtrace/contrib/sucker_punch/patcher_spec.rb
  test/contrib/sucker_punch/dummy_worker.rb
  test/contrib/sucker_punch/patcher_test.rb
Labels: dev/testing

#1139 Rum Injection POC
  docs/GettingStarted.md
  lib/ddtrace/contrib/rack/configuration/settings.rb
  lib/ddtrace/contrib/rack/ext.rb
  lib/ddtrace/contrib/rack/middlewares.rb
  lib/ddtrace/contrib/rack/rum_injection.rb
  lib/ddtrace/contrib/rails/patcher.rb
  spec/ddtrace/contrib/rack/rum_injection_spec.rb
  spec/ddtrace/contrib/rails/railtie_spec.rb
  spec/ddtrace/contrib/rails/rum_injection_middleware_spec.rb
  spec/ddtrace/contrib/sinatra/tracer_spec.rb
  spec/ddtrace/contrib/sinatra/views/msg.erb
Labels: core, feature, integrations

#1151 Add Components#startup! hook
  lib/ddtrace/configuration.rb
  lib/ddtrace/configuration/components.rb
  spec/ddtrace/configuration/components_spec.rb
  spec/ddtrace/configuration_spec.rb
Labels: core, refactor

#1145 fix:Sinatra nested modular apps possibily leaking spans
  lib/ddtrace/contrib/sinatra/env.rb
  lib/ddtrace/contrib/sinatra/tracer.rb
  lib/ddtrace/contrib/sinatra/tracer_middleware.rb
  spec/ddtrace/contrib/sinatra/tracer_spec.rb
Labels: breaking-change, bug, integrations

#1148 test:Fix sucker_punch flaky test
  spec/ddtrace/contrib/sucker_punch/patcher_spec.rb
Labels: dev/testing

#1147 Rum Manual Injection POC
  docs/GettingStarted.md
  lib/ddtrace/contrib/rack/ext.rb
  lib/ddtrace/contrib/rack/rum_injection.rb
  spec/ddtrace/contrib/rack/rum_injection_integration_spec.rb
  spec/ddtrace/contrib/rack/rum_injection_spec.rb
  spec/ddtrace/contrib/rack/support/.DS_Store
  spec/ddtrace/contrib/rack/support/rum_injection_integration_helper.rb
  spec/ddtrace/contrib/rack/support/rum_injection_responses.json.gz
  spec/ddtrace/contrib/rails/rum_injection_middleware_spec.rb
  spec/ddtrace/contrib/sinatra/tracer_spec.rb
  spec/ddtrace/contrib/sinatra/views/msg_manual_injection.erb
  spec/ddtrace/contrib/sinatra/views/msg_manual_injection_no_env.erb.html
Labels: core, feature

#1153 Update Datadog::Context tests from Minitest to Rspec
  spec/ddtrace/context_spec.rb
  test/context_test.rb
Labels: dev/testing

#1150 Add a single top level span for Racecar consumers
  lib/ddtrace/contrib/racecar/events.rb
  lib/ddtrace/contrib/racecar/events/consume.rb
  lib/ddtrace/contrib/racecar/ext.rb
  spec/ddtrace/contrib/racecar/patcher_spec.rb
Labels: community, feature, integrations

#1146 Feature / Introduce Que instrumentation
  Appraisals
  Rakefile
  docs/GettingStarted.md
  lib/ddtrace.rb
  lib/ddtrace/contrib/que/configuration/settings.rb
  lib/ddtrace/contrib/que/ext.rb
  lib/ddtrace/contrib/que/integration.rb
  lib/ddtrace/contrib/que/patcher.rb
  lib/ddtrace/contrib/que/tracer.rb
  spec/ddtrace/contrib/que/integration_spec.rb
  spec/ddtrace/contrib/que/patcher_spec.rb
  spec/ddtrace/contrib/que/tracer_spec.rb
Labels: community, integrations

#1154 fix:Race condition on instance variable assignment
  lib/ddtrace/workers/async.rb
  lib/ddtrace/workers/loop.rb
  lib/ddtrace/workers/polling.rb
Labels: dev/testing

#1158 Prevent logger recursion during startup
  lib/ddtrace/configuration.rb
Labels: bug, core
