Repository DataDog/dd-trace-rb, pull requests merged in 2020-02, with the labels that each got.

#920 Presto-Client Integration Feedback Updates
  .env
  Appraisals
  Rakefile
  docker-compose.yml
  docs/GettingStarted.md
  lib/ddtrace.rb
  lib/ddtrace/contrib/presto/configuration/settings.rb
  lib/ddtrace/contrib/presto/ext.rb
  lib/ddtrace/contrib/presto/instrumentation.rb
  lib/ddtrace/contrib/presto/integration.rb
  lib/ddtrace/contrib/presto/patcher.rb
  spec/ddtrace/contrib/presto/client_spec.rb
Labels: community, feature, integrations

#940 Add #add to configuration resolver
  lib/ddtrace/contrib/active_record/configuration/resolver.rb
  lib/ddtrace/contrib/configurable.rb
  lib/ddtrace/contrib/configuration/resolver.rb
  spec/ddtrace/contrib/configurable_spec.rb
  spec/ddtrace/contrib/configuration/resolver_spec.rb
Labels: community, integrations

#942 Instrument Sidekiq traces with Delayed Extensions
  lib/ddtrace/contrib/sidekiq/tracing.rb
  test/contrib/sidekiq/client_tracer_test.rb
  test/contrib/sidekiq/server_tracer_test.rb
Labels: community, feature, integrations

#944 Make Patchable methods more specific
  lib/ddtrace/contrib/action_cable/integration.rb
  lib/ddtrace/contrib/action_pack/integration.rb
  lib/ddtrace/contrib/action_view/integration.rb
  lib/ddtrace/contrib/active_model_serializers/integration.rb
  lib/ddtrace/contrib/active_record/integration.rb
  lib/ddtrace/contrib/active_support/integration.rb
  lib/ddtrace/contrib/aws/integration.rb
  lib/ddtrace/contrib/concurrent_ruby/integration.rb
  lib/ddtrace/contrib/dalli/integration.rb
  lib/ddtrace/contrib/delayed_job/integration.rb
  lib/ddtrace/contrib/elasticsearch/integration.rb
  lib/ddtrace/contrib/ethon/integration.rb
  lib/ddtrace/contrib/excon/integration.rb
  lib/ddtrace/contrib/faraday/integration.rb
  lib/ddtrace/contrib/grape/integration.rb
  lib/ddtrace/contrib/graphql/integration.rb
  lib/ddtrace/contrib/grpc/integration.rb
  lib/ddtrace/contrib/http/integration.rb
  lib/ddtrace/contrib/mongodb/integration.rb
  lib/ddtrace/contrib/mysql2/integration.rb
  lib/ddtrace/contrib/patchable.rb
  lib/ddtrace/contrib/presto/integration.rb
  lib/ddtrace/contrib/racecar/integration.rb
  lib/ddtrace/contrib/rack/integration.rb
  lib/ddtrace/contrib/rails/integration.rb
  lib/ddtrace/contrib/rake/integration.rb
  lib/ddtrace/contrib/redis/integration.rb
  lib/ddtrace/contrib/resque/integration.rb
  lib/ddtrace/contrib/rest_client/integration.rb
  lib/ddtrace/contrib/sequel/integration.rb
  lib/ddtrace/contrib/shoryuken/integration.rb
  lib/ddtrace/contrib/sidekiq/integration.rb
  lib/ddtrace/contrib/sinatra/integration.rb
  lib/ddtrace/contrib/sucker_punch/integration.rb
  spec/ddtrace/contrib/patchable_spec.rb
  spec/ddtrace/contrib/rails/disable_env_spec.rb
Labels: integrations, refactor

#937 Feature: Redis multiplexing
  docs/GettingStarted.md
  lib/ddtrace/contrib/redis/configuration/resolver.rb
  lib/ddtrace/contrib/redis/integration.rb
  lib/ddtrace/contrib/redis/patcher.rb
  lib/ddtrace/contrib/redis/vendor/resolver.rb
  spec/ddtrace/contrib/redis/configuration/resolver_spec.rb
  spec/ddtrace/contrib/redis/instrumentation_spec.rb
Labels: community, feature, integrations

#945 Fix AWS patcher loading wrong constants when AWS is partially loaded
  lib/ddtrace/contrib/aws/patcher.rb
Labels: bug, community, integrations

#933 Log sidekiq job arguments
  docs/GettingStarted.md
  lib/ddtrace/contrib/sidekiq/configuration/settings.rb
  lib/ddtrace/contrib/sidekiq/ext.rb
  lib/ddtrace/contrib/sidekiq/server_tracer.rb
  test/contrib/sidekiq/server_tracer_test.rb
Labels: community, feature, integrations

#891 Add _dd.agent_psr tag to PrioritySampler
  lib/ddtrace/sampling/rule_sampler.rb
  spec/ddtrace/sampler_spec.rb
  spec/ddtrace/sampling/rule_sampler_spec.rb
  test/tracer_test.rb
Labels: core, feature

#951 Temporarily disable Rails 6 ActionCable tests
  Rakefile
Labels: dev/testing, dev/tooling

#952 Support for Rack 1.1.0+
  docs/GettingStarted.md
  lib/ddtrace/contrib/rack/integration.rb
  spec/ddtrace/contrib/rack/configuration_spec.rb
  spec/ddtrace/contrib/rack/distributed_spec.rb
  spec/ddtrace/contrib/rack/integration_spec.rb
Labels: bug, dev/testing, integrations

#954 Specify minimum rubygems version
  ddtrace.gemspec
Labels: community, core

#950 Fix RuleSampler forwarding #update to sampler without #update
  lib/ddtrace/sampling/rule_sampler.rb
  spec/ddtrace/sampling/rule_sampler_spec.rb
Labels: bug, community, core

#955 Updating dead link when clicking Net/HTTP.
  docs/GettingStarted.md
Labels: community, docs

#956 Fix RuntimeMetrics accumulating service names when disabled
  lib/ddtrace/runtime/metrics.rb
  spec/ddtrace/runtime/metrics_spec.rb
Labels: bug, core

#947 Fix Sidekiq setting non-serializable Class as resource
  lib/ddtrace/contrib/sidekiq/tracing.rb
Labels: bug, community, integrations

#957 Reset and old values for options
  lib/ddtrace/configuration/option.rb
  lib/ddtrace/configuration/option_definition.rb
  lib/ddtrace/configuration/options.rb
  spec/ddtrace/configuration/option_spec.rb
  spec/ddtrace/configuration/options_spec.rb
Labels: core, feature

#960 Fix warning output expecation
  spec/ddtrace/opentracer/tracer_spec.rb
Labels: dev/testing
