Repository DataDog/dd-trace-rb, pull requests merged in 2020-01, with the labels that each got.

#906 Support for Faraday 1.0
  lib/ddtrace/contrib/faraday/connection.rb
  lib/ddtrace/contrib/faraday/integration.rb
  lib/ddtrace/contrib/faraday/patcher.rb
  lib/ddtrace/contrib/faraday/rack_builder.rb
Labels: feature, integrations

#824 ActionCable integration
  Rakefile
  docs/GettingStarted.md
  lib/ddtrace.rb
  lib/ddtrace/contrib/action_cable/configuration/settings.rb
  lib/ddtrace/contrib/action_cable/event.rb
  lib/ddtrace/contrib/action_cable/events.rb
  lib/ddtrace/contrib/action_cable/events/broadcast.rb
  lib/ddtrace/contrib/action_cable/events/perform_action.rb
  lib/ddtrace/contrib/action_cable/events/transmit.rb
  lib/ddtrace/contrib/action_cable/ext.rb
  lib/ddtrace/contrib/action_cable/instrumentation.rb
  lib/ddtrace/contrib/action_cable/integration.rb
  lib/ddtrace/contrib/action_cable/patcher.rb
  lib/ddtrace/contrib/rails/configuration/settings.rb
  lib/ddtrace/contrib/rails/framework.rb
  spec/ddtrace/contrib/action_cable/instrumentation_spec.rb
  spec/ddtrace/contrib/action_cable/patcher_spec.rb
Labels: feature, feature-request, integrations

#892 Add env vars for RuleSampler
  lib/ddtrace/configuration/base.rb
  lib/ddtrace/configuration/settings.rb
  lib/ddtrace/ext/sampling.rb
  lib/ddtrace/sampling/rule_sampler.rb
  spec/ddtrace/configuration/settings_spec.rb
  spec/ddtrace/sampling/rule_sampler_spec.rb
Labels: core, feature

#895 Use available port for gRPC server tests
  spec/ddtrace/contrib/grpc/integration_spec.rb
  spec/ddtrace/contrib/grpc/support/grpc_helper.rb
  spec/spec_helper.rb
  spec/support/network_helpers.rb
Labels: dev/testing

#845 Updated implementation of partial trace flushing
  lib/ddtrace/context.rb
  lib/ddtrace/context_flush.rb
  lib/ddtrace/context_provider.rb
  lib/ddtrace/provider.rb
  lib/ddtrace/tracer.rb
  spec/ddtrace/context_flush_spec.rb
  spec/ddtrace/context_spec.rb
  spec/ddtrace/tracer_spec.rb
  test/context_flush_test.rb
Labels: core, feature

#904 Fix SyncWriter incompatibility with Transport::HTTP::Client
  lib/ddtrace/sync_writer.rb
  spec/ddtrace/sync_writer_spec.rb
  test/sync_writer_test.rb
Labels: bug, community, core

#896 Support for Ruby 2.7
  .circleci/config.yml
  .circleci/images/primary/Dockerfile-2.7.0
  Appraisals
  Rakefile
  ddtrace.gemspec
  docker-compose.yml
  docs/GettingStarted.md
Labels: dev/testing, feature

#909 Add Faraday test for library errors
  spec/ddtrace/contrib/faraday/middleware_spec.rb
Labels: dev/testing, integrations

#912 Fix remaining usages of Datadog::Tracer.log
  lib/ddtrace/context_flush.rb
  lib/ddtrace/contrib/action_cable/instrumentation.rb
Labels: bug

#911 Fix bad await loop in tracer test
  test/tracer_test.rb
Labels: dev/testing

#907 Update net/http instrumentation span annotation
  lib/ddtrace/contrib/http/instrumentation.rb
  spec/ddtrace/contrib/http/request_spec.rb
Labels: community, integrations

#915 Add SyncWriter#stop method
  lib/ddtrace/sync_writer.rb
  spec/ddtrace/sync_writer_spec.rb
Labels: bug, core

#918 Lock Rack version due to Grape incompatibility
  Appraisals
Labels: dev/testing, integrations

#924 Backport for 0.31.1
  Appraisals
  lib/ddtrace/context_flush.rb
  lib/ddtrace/contrib/action_cable/instrumentation.rb
  lib/ddtrace/span.rb
  lib/ddtrace/sync_writer.rb
  spec/ddtrace/contrib/aws/instrumentation_spec.rb
  spec/ddtrace/contrib/elasticsearch/transport_spec.rb
  spec/ddtrace/contrib/ethon/easy_patch_spec.rb
  spec/ddtrace/contrib/ethon/shared_examples.rb
  spec/ddtrace/contrib/excon/instrumentation_spec.rb
  spec/ddtrace/contrib/faraday/middleware_spec.rb
  spec/ddtrace/contrib/rack/configuration_spec.rb
  spec/ddtrace/contrib/rack/integration_spec.rb
  spec/ddtrace/contrib/rails/middleware_spec.rb
  spec/ddtrace/contrib/rest_client/request_patch_spec.rb
  spec/ddtrace/span_spec.rb
  spec/ddtrace/sync_writer_spec.rb
  test/contrib/rails/rack_middleware_test.rb
  test/tracer_test.rb
Labels: release

#925 Bump to version 0.31.1
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#919 Improved support for multiple tracer instances
  lib/ddtrace/configuration/settings.rb
  lib/ddtrace/context_provider.rb
  spec/ddtrace/context_provider_spec.rb
  spec/ddtrace/contrib/action_cable/instrumentation_spec.rb
  spec/ddtrace/contrib/rails/analytics_spec.rb
  spec/ddtrace/contrib/sinatra/activerecord_spec.rb
  spec/ddtrace/integration_spec.rb
  spec/support/tracer_helpers.rb
Labels: core, feature

#917 Make RuleSampler the default sampler
  lib/ddtrace/sampling/rule_sampler.rb
  lib/ddtrace/tracer.rb
  spec/ddtrace/integration_spec.rb
  spec/ddtrace/sampling/rule_sampler_spec.rb
Labels: core, feature

#928 Update class-based GraphQL schema
  docs/GettingStarted.md
  spec/ddtrace/contrib/graphql/test_types.rb
  spec/ddtrace/contrib/graphql/tracer_spec.rb
Labels: dev/testing, integrations

#910 Add Datadog::Transport::IO
  lib/ddtrace/encoding.rb
  lib/ddtrace/transport/io.rb
  lib/ddtrace/transport/io/client.rb
  lib/ddtrace/transport/io/response.rb
  lib/ddtrace/transport/io/traces.rb
  lib/ddtrace/transport/parcel.rb
  lib/ddtrace/writer.rb
  spec/ddtrace/encoding_spec.rb
  spec/ddtrace/integration_spec.rb
  spec/ddtrace/transport/io/client_spec.rb
  spec/ddtrace/transport/io/response_spec.rb
  spec/ddtrace/transport/io/traces_spec.rb
  spec/ddtrace/transport/io_spec.rb
  spec/ddtrace/transport/parcel_spec.rb
Labels: core, feature

#929 Ensure Datadog::Statsd is loaded during test
  spec/ddtrace/metrics_spec.rb
Labels: dev/testing

#931 Bump to version 0.32.0
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#932 Unlock Rack where Graph 1.3 is available
  Appraisals
Labels: dev/testing

#930 Reduce external warnings for Ruby 2.7
  ddtrace.gemspec
  spec/support/health_metric_helpers.rb
  test/helper.rb
Labels: dev/testing
