Repository DataDog/dd-trace-rb, pull requests merged in 2020-05, with the labels that each got.

#1020 Bump to version 0.35.0
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#1023 Fix Components#teardown! NoMethodError
  lib/ddtrace/configuration/components.rb
  spec/ddtrace/configuration/components_spec.rb
Labels: bug, community, core

#1017 Add profiling scheduler
  lib/ddtrace/profiling/recorder.rb
  lib/ddtrace/profiling/scheduler.rb
  lib/ddtrace/utils/time.rb
  lib/ddtrace/workers/async.rb
  lib/ddtrace/workers/loop.rb
  spec/ddtrace/profiling/recorder_spec.rb
  spec/ddtrace/profiling/scheduler_spec.rb
  spec/ddtrace/utils/time_spec.rb
  spec/ddtrace/workers/loop_spec.rb
Labels: core, feature

#1025 bump to version 0.35.1
  CHANGELOG.md
  lib/ddtrace/configuration/components.rb
  lib/ddtrace/version.rb
  spec/ddtrace/configuration/components_spec.rb
Labels: release

#1026 Merge 0.35.1 version bump into master
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#1027 Add JRuby to local docker test environment
  docker-compose.yml
Labels: core, feature

#1031 Fix flaky Workers::Async test
  spec/ddtrace/workers/async_spec.rb
Labels: dev/testing

#1033 Fix HTTP circuit breaker
  Rakefile
  lib/ddtrace/contrib/http/circuit_breaker.rb
  lib/ddtrace/contrib/http/instrumentation.rb
  spec/ddtrace/contrib/http/circuit_breaker_spec.rb
  spec/ddtrace/contrib/suite/transport_spec.rb
  spec/support/faux_transport.rb
Labels: bug, community, integrations

#1034 Fix #configure forcing all options to eager load
  lib/ddtrace/configuration/base.rb
  lib/ddtrace/configuration/options.rb
  lib/ddtrace/contrib/configuration/settings.rb
  lib/ddtrace/contrib/rails/configuration/settings.rb
  spec/ddtrace/contrib/configuration/settings_spec.rb
  spec/ddtrace/contrib/rails/analytics_spec.rb
Labels: bug, community, core

#1036 Bump to version 0.35.2
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#1039 Merge 0.35.2 into master
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#1037 Lazily activate integrations
  .rubocop.yml
  lib/ddtrace/contrib/extensions.rb
  lib/ddtrace/contrib/rails/configuration/settings.rb
  lib/ddtrace/contrib/rails/framework.rb
  spec/ddtrace/contrib/extensions_spec.rb
  spec/ddtrace/contrib/rails/middleware_spec.rb
  spec/ddtrace/contrib/rails/redis_cache_spec.rb
  test/contrib/rails/controller_test.rb
  test/contrib/rails/errors_test.rb
  test/contrib/rails/rack_middleware_test.rb
Labels: bug, integrations

#1045 Lock gRPC version for older Rubies
  Appraisals
Labels: ci

#1046 Lock Rails 5.2 version for Ruby 2.2
  Appraisals
Labels: ci

#1047 Initialize tracer before concurrency test
  test/concurrent_test.rb
Labels: ci, dev/testing

#1041 Only store #tracer on Pin when configured
  lib/ddtrace/pin.rb
  spec/ddtrace/pin_spec.rb
Labels: bug, core

#1054 Allow Rails patching to occur if Railties are loaded
  lib/ddtrace/contrib/rails/integration.rb
  spec/ddtrace/contrib/rails/integration_spec.rb
Labels: bug, community, integrations

#1055 Bump to version 0.36.0
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#1051 Add Gitlab build pipeline
  .gitlab-ci.yml
Labels: ci

#1043 Add Microbenchmarking
  Rakefile
  ddtrace.gemspec
  spec/ddtrace/benchmark/microbenchmark_spec.rb
  spec/support/faux_writer.rb
Labels: dev/testing, performance
