Repository DataDog/dd-trace-rb, pull requests merged in 2020-07, with the labels that each got.

#1091 writer thread safety
  lib/ddtrace/writer.rb
Labels: bug, community

#1092 test:Migrate sidekiq tests to RSpec
  Rakefile
  spec/ddtrace/contrib/sidekiq/client_tracer_spec.rb
  spec/ddtrace/contrib/sidekiq/disabled_tracer_spec.rb
  spec/ddtrace/contrib/sidekiq/server_tracer_spec.rb
  spec/ddtrace/contrib/sidekiq/support/helper.rb
  spec/ddtrace/contrib/sidekiq/tracer_configure_spec.rb
  test/contrib/sidekiq/client_tracer_test.rb
  test/contrib/sidekiq/disabled_tracer_test.rb
  test/contrib/sidekiq/server_tracer_test.rb
  test/contrib/sidekiq/tracer_configure_test.rb
Labels: dev/testing

#1103 test:Ensure worker thread waits for test assertion
  spec/ddtrace/workers/async_spec.rb
Labels: dev/testing

#1070 Add Kafka integration
  Appraisals
  Rakefile
  docs/GettingStarted.md
  lib/ddtrace.rb
  lib/ddtrace/contrib/kafka/configuration/settings.rb
  lib/ddtrace/contrib/kafka/consumer_event.rb
  lib/ddtrace/contrib/kafka/consumer_group_event.rb
  lib/ddtrace/contrib/kafka/event.rb
  lib/ddtrace/contrib/kafka/events.rb
  lib/ddtrace/contrib/kafka/events/connection/request.rb
  lib/ddtrace/contrib/kafka/events/consumer/process_batch.rb
  lib/ddtrace/contrib/kafka/events/consumer/process_message.rb
  lib/ddtrace/contrib/kafka/events/consumer_group/heartbeat.rb
  lib/ddtrace/contrib/kafka/events/consumer_group/join_group.rb
  lib/ddtrace/contrib/kafka/events/consumer_group/leave_group.rb
  lib/ddtrace/contrib/kafka/events/consumer_group/sync_group.rb
  lib/ddtrace/contrib/kafka/events/produce_operation/send_messages.rb
  lib/ddtrace/contrib/kafka/events/producer/deliver_messages.rb
  lib/ddtrace/contrib/kafka/ext.rb
  lib/ddtrace/contrib/kafka/integration.rb
  lib/ddtrace/contrib/kafka/patcher.rb
  spec/ddtrace/contrib/kafka/integration_spec.rb
  spec/ddtrace/contrib/kafka/patcher_spec.rb
Labels: community, feature, integrations

#1089 Add retry_count tag to Sidekiq job traces
  lib/ddtrace/contrib/sidekiq/ext.rb
  lib/ddtrace/contrib/sidekiq/server_tracer.rb
Labels: community, feature, integrations

#1071 Single pass SpanFilter
  lib/ddtrace/pipeline/span_filter.rb
Labels: community, core, performance

#853 Add instrumentation for HTTP.rb
  Appraisals
  Rakefile
  docs/GettingStarted.md
  lib/ddtrace.rb
  lib/ddtrace/contrib/httprb/configuration/settings.rb
  lib/ddtrace/contrib/httprb/ext.rb
  lib/ddtrace/contrib/httprb/instrumentation.rb
  lib/ddtrace/contrib/httprb/integration.rb
  lib/ddtrace/contrib/httprb/patcher.rb
  spec/ddtrace/contrib/httprb/instrumentation_spec.rb
  spec/ddtrace/contrib/httprb/integration_spec.rb
Labels: feature

#1104 feat:Startup environment log
  docs/GettingStarted.md
  lib/ddtrace/configuration/settings.rb
  lib/ddtrace/contrib/extensions.rb
  lib/ddtrace/diagnostics/environment_logger.rb
  lib/ddtrace/ext/diagnostics.rb
  lib/ddtrace/sampler.rb
  lib/ddtrace/transport/http/adapters/net.rb
  lib/ddtrace/transport/http/adapters/test.rb
  lib/ddtrace/transport/http/adapters/unix_socket.rb
  lib/ddtrace/transport/response.rb
  lib/ddtrace/workers/trace_writer.rb
  lib/ddtrace/writer.rb
  spec/ddtrace/contrib/extensions_spec.rb
  spec/ddtrace/diagnostics/environment_logger_spec.rb
  spec/ddtrace/transport/http/adapters/net_spec.rb
  spec/ddtrace/transport/http/adapters/unix_socket_spec.rb
  spec/ddtrace/writer_spec.rb
Labels: feature

#1100 Ensure fatal exceptions are propagated
  lib/ddtrace/contrib/rack/middlewares.rb
  lib/ddtrace/contrib/rest_client/request_patch.rb
  lib/ddtrace/tracer.rb
  spec/ddtrace/contrib/rack/middlewares_spec.rb
  spec/ddtrace/contrib/rest_client/request_patch_spec.rb
  spec/ddtrace/tracer_spec.rb
Labels: bug

#1057 Auto instrument Faraday default connection
  lib/ddtrace/contrib/faraday/middleware.rb
  lib/ddtrace/contrib/faraday/patcher.rb
  spec/ddtrace/contrib/faraday/middleware_spec.rb
Labels: integrations

#1099 Ensure Sidekiq client middleware is same for clients & servers
  lib/ddtrace/contrib/sidekiq/patcher.rb
  spec/ddtrace/contrib/sidekiq/patcher_spec.rb
Labels: community, integrations

#1081 Introduce Span#set_tags
  lib/ddtrace/contrib/grpc/datadog_interceptor/client.rb
  lib/ddtrace/span.rb
  lib/ddtrace/tracer.rb
  spec/ddtrace/span_spec.rb
Labels: community, core, feature

#1097 Add profiling CPU time per thread
  bin/ddtracerb
  ddtrace.gemspec
  lib/ddtrace/configuration.rb
  lib/ddtrace/ext/profiling.rb
  lib/ddtrace/profiling.rb
  lib/ddtrace/profiling/collectors/stack.rb
  lib/ddtrace/profiling/events/stack.rb
  lib/ddtrace/profiling/ext/thread.rb
  lib/ddtrace/profiling/pprof/converter.rb
  lib/ddtrace/profiling/pprof/stack_sample.rb
  lib/ddtrace/profiling/preload.rb
  lib/ddtrace/profiling/tasks/setup.rb
  lib/ddtrace/tasks/exec.rb
  lib/ddtrace/tasks/help.rb
  spec/ddtrace/profiling/collectors/stack_spec.rb
  spec/ddtrace/profiling/events/stack_spec.rb
  spec/ddtrace/profiling/ext/thread_spec.rb
  spec/ddtrace/profiling/integration_spec.rb
  spec/ddtrace/profiling/pprof/stack_sample_spec.rb
  spec/ddtrace/profiling/pprof/template_spec.rb
  spec/ddtrace/profiling/preload_spec.rb
  spec/ddtrace/profiling/spec_helper.rb
  spec/ddtrace/profiling/tasks/setup_spec.rb
  spec/ddtrace/profiling_spec.rb
  spec/ddtrace/tasks/exec_spec.rb
  spec/ddtrace/tasks/help_spec.rb
Labels: core, feature

#1082 Respect child_of: option in Tracer#trace
  lib/ddtrace/contrib/active_support/notifications/subscription.rb
  lib/ddtrace/tracer.rb
  spec/ddtrace/contrib/active_support/notifications/subscription_spec.rb
  spec/ddtrace/tracer_spec.rb
  spec/spec_helper.rb
Labels: bug, community, core

#1107 DD_SITE and DD_API_KEY configuration
  .gitignore
  docker-compose.yml
  lib/ddtrace/configuration/settings.rb
  lib/ddtrace/environment.rb
  lib/ddtrace/ext/environment.rb
  spec/ddtrace/configuration/settings_spec.rb
  spec/ddtrace/diagnostics/environment_logger_spec.rb
  spec/ddtrace/environment_spec.rb
Labels: core, feature

#1108 Bump to version 0.38.0
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#1110 Add metadata to profiling flush
  lib/ddtrace/profiling/collectors/stack.rb
  lib/ddtrace/profiling/encoding/profile.rb
  lib/ddtrace/profiling/exporter.rb
  lib/ddtrace/profiling/flush.rb
  lib/ddtrace/profiling/recorder.rb
  lib/ddtrace/profiling/scheduler.rb
  lib/ddtrace/profiling/transport/client.rb
  lib/ddtrace/profiling/transport/io/client.rb
  spec/ddtrace/profiling/encoding/profile_spec.rb
  spec/ddtrace/profiling/exporter_spec.rb
  spec/ddtrace/profiling/recorder_spec.rb
  spec/ddtrace/profiling/scheduler_spec.rb
  spec/ddtrace/profiling/spec_helper.rb
  spec/ddtrace/profiling/transport/io/client_spec.rb
Labels: core, feature

#1109 fix:Convert custom setting value to string for startup log
  CHANGELOG.md
  lib/ddtrace/diagnostics/environment_logger.rb
  spec/ddtrace/diagnostics/environment_logger_spec.rb
Labels: bug

#1119 docs:Clear wording for :orm_service_name setting
  docs/GettingStarted.md
Labels: docs

#1118 test:Fix leaky tracer setting
  spec/ddtrace/diagnostics/environment_logger_spec.rb
Labels: dev/testing

#1122 Fix 1116, remove parsing of resp body from http.rb instrumentation
  lib/ddtrace/contrib/httprb/instrumentation.rb
  spec/ddtrace/contrib/httprb/instrumentation_spec.rb
Labels: bug

#1105 test:Ensure worker thread waits for test assertion 2
  spec/ddtrace/workers/polling_spec.rb
Labels: dev/testing
