Repository DataDog/dd-trace-rb, pull requests merged in 2020-06, with the labels that each got.

#1074 clarify activation/enablement in docs
  docs/GettingStarted.md
Labels: docs

#1062 Add gem startup benchmarking
  spec/ddtrace/benchmark/gem_loading_spec.rb
Labels: dev/testing

#1086 ci: Ensure Appraisal fetches latest version of dependencies
  .circleci/config.yml
Labels: ci

#1049 Add profiling pprof encoding
  .circleci/images/primary/Dockerfile-2.0.0
  .circleci/images/primary/Dockerfile-2.1.10
  .circleci/images/primary/Dockerfile-2.2.10
  .circleci/images/primary/Dockerfile-2.3.8
  .circleci/images/primary/Dockerfile-2.4.6
  .circleci/images/primary/Dockerfile-2.5.6
  .circleci/images/primary/Dockerfile-2.6.4
  .circleci/images/primary/Dockerfile-2.7.0
  .circleci/images/primary/Dockerfile-jruby-9.2
  .rubocop.yml
  Appraisals
  Gemfile
  ddtrace.gemspec
  lib/ddtrace.rb
  lib/ddtrace/ext/profiling.rb
  lib/ddtrace/profiling.rb
  lib/ddtrace/profiling/collectors/stack.rb
  lib/ddtrace/profiling/encoding/profile.rb
  lib/ddtrace/profiling/exporter.rb
  lib/ddtrace/profiling/flush.rb
  lib/ddtrace/profiling/pprof/builder.rb
  lib/ddtrace/profiling/pprof/converter.rb
  lib/ddtrace/profiling/pprof/message_set.rb
  lib/ddtrace/profiling/pprof/pprof.proto
  lib/ddtrace/profiling/pprof/pprof_pb.rb
  lib/ddtrace/profiling/pprof/stack_sample.rb
  lib/ddtrace/profiling/pprof/string_table.rb
  lib/ddtrace/profiling/pprof/template.rb
  lib/ddtrace/profiling/recorder.rb
  lib/ddtrace/profiling/scheduler.rb
  lib/ddtrace/profiling/transport/io.rb
  lib/ddtrace/profiling/transport/io/client.rb
  lib/ddtrace/profiling/transport/request.rb
  lib/ddtrace/transport/io/client.rb
  lib/ddtrace/transport/parcel.rb
  lib/ddtrace/utils/sequence.rb
  spec/ddtrace/profiling/collectors/stack_spec.rb
  spec/ddtrace/profiling/encoding/profile_spec.rb
  spec/ddtrace/profiling/exporter_spec.rb
  spec/ddtrace/profiling/integration_spec.rb
  spec/ddtrace/profiling/pprof/builder_spec.rb
  spec/ddtrace/profiling/pprof/converter_spec.rb
  spec/ddtrace/profiling/pprof/message_set_spec.rb
  spec/ddtrace/profiling/pprof/stack_sample_spec.rb
  spec/ddtrace/profiling/pprof/string_table_spec.rb
  spec/ddtrace/profiling/pprof/template_spec.rb
  spec/ddtrace/profiling/recorder_spec.rb
  spec/ddtrace/profiling/scheduler_spec.rb
  spec/ddtrace/profiling/transport/io/client_spec.rb
  spec/ddtrace/profiling/transport/io_spec.rb
  spec/ddtrace/transport/io/client_spec.rb
  spec/ddtrace/transport/parcel_spec.rb
  spec/ddtrace/utils/sequence_spec.rb
Labels: core, feature

#1093 Bump to version 0.37.0
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#1094 Fix Profiling::Transport::IO load dependency
  lib/ddtrace/transport/io/response.rb
  lib/ddtrace/transport/io/traces.rb
  spec/ddtrace/transport/io/response_spec.rb
  spec/ddtrace/transport/io/traces_spec.rb
Labels: core, feature

#1096 Add multipart-post package
  LICENSE-3rdparty.csv
  lib/ddtrace/vendor/multipart-post/LICENSE
  lib/ddtrace/vendor/multipart-post/multipart.rb
  lib/ddtrace/vendor/multipart-post/multipart/post.rb
  lib/ddtrace/vendor/multipart-post/multipart/post/composite_read_io.rb
  lib/ddtrace/vendor/multipart-post/multipart/post/multipartable.rb
  lib/ddtrace/vendor/multipart-post/multipart/post/parts.rb
  lib/ddtrace/vendor/multipart-post/multipart/post/version.rb
  lib/ddtrace/vendor/multipart-post/net/http/post/multipart.rb
Labels: core, feature
