Repository DataDog/dd-trace-rb, pull requests merged in 2020-11, with the labels that each got.

#1221 Add Forking helpers
  lib/ddtrace/runtime/identity.rb
  lib/ddtrace/utils.rb
  lib/ddtrace/utils/forking.rb
  spec/ddtrace/runtime/identity_spec.rb
  spec/ddtrace/utils/forking_spec.rb
Labels: core, feature

#1225 Reset trace context after fork
  lib/ddtrace/context.rb
  lib/ddtrace/context_provider.rb
  spec/ddtrace/context_provider_spec.rb
  spec/ddtrace/context_spec.rb
Labels: core, feature

#1228 Add runtime ID tag to parent spans
  lib/ddtrace/ext/runtime.rb
  lib/ddtrace/tracer.rb
  spec/ddtrace/tracer_spec.rb
  test/tracer_test.rb
Labels: core, feature

#1232 Stub all relevant IO calls for cgroup mocking
  spec/support/container_helpers.rb
Labels: dev/testing

#1240 Change `profiling.exporter.timeout` --> `profiling.upload.timeout`
  lib/ddtrace/configuration/components.rb
  lib/ddtrace/configuration/settings.rb
  spec/ddtrace/configuration/components_spec.rb
  spec/ddtrace/configuration/settings_spec.rb
Labels: core, feature

#1238 Grape status codes
  docs/GettingStarted.md
  lib/ddtrace/contrib/grape/configuration/settings.rb
  lib/ddtrace/contrib/grape/endpoint.rb
  lib/ddtrace/contrib/status_code_matcher.rb
  spec/ddtrace/contrib/grape/tracer_spec.rb
Labels: feature, integrations

#1234 feature: rspec integration
  Appraisals
  Rakefile
  docs/GettingStarted.md
  lib/ddtrace.rb
  lib/ddtrace/contrib/rspec/configuration/settings.rb
  lib/ddtrace/contrib/rspec/example.rb
  lib/ddtrace/contrib/rspec/example_group.rb
  lib/ddtrace/contrib/rspec/ext.rb
  lib/ddtrace/contrib/rspec/integration.rb
  lib/ddtrace/contrib/rspec/patcher.rb
  spec/ddtrace/contrib/rspec/instrumentation_spec.rb
  spec/ddtrace/contrib/rspec/integration_spec.rb
  spec/ddtrace/contrib/rspec/patcher_spec.rb
Labels: feature, integrations

#1244 Run Kafka test in CI
  Rakefile
  lib/ddtrace/contrib/active_support/notifications/event.rb
  lib/ddtrace/contrib/kafka/event.rb
  spec/ddtrace/contrib/kafka/patcher_spec.rb
Labels: dev/testing, integrations

#1251 Actions: Add milestone to merged pull requests
  .github/workflows/add-milestone-to-pull-requests.yml
Labels: github

#1248 Avoid writer reinitialization during shutdown
  lib/ddtrace/configuration.rb
  lib/ddtrace/writer.rb
  spec/ddtrace/configuration_spec.rb
  spec/ddtrace/contrib/support/tracer_helpers.rb
  spec/ddtrace/writer_spec.rb
Labels: bug, core

#1253 Actions: Create next milestone after closing
  .github/workflows/create-next-milestone.yml
Labels: github

#1255 Bump to version 0.43.0
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#1256 Ensure consisten configuration in writer test
  spec/ddtrace/writer_spec.rb
Labels: dev/testing

#1257 Skip vendored files in coverage report
  .simplecov
Labels: ci

#1263 docs: add missing link to rspec integration
  docs/GettingStarted.md
Labels: docs

#1237 Add support for instrumenting Qless jobs
  Appraisals
  Rakefile
  docs/GettingStarted.md
  lib/ddtrace.rb
  lib/ddtrace/contrib/qless/configuration/settings.rb
  lib/ddtrace/contrib/qless/ext.rb
  lib/ddtrace/contrib/qless/integration.rb
  lib/ddtrace/contrib/qless/patcher.rb
  lib/ddtrace/contrib/qless/qless_job.rb
  lib/ddtrace/contrib/qless/tracer_cleaner.rb
  spec/ddtrace/contrib/qless/instrumentation_spec.rb
  spec/ddtrace/contrib/qless/integration_spec.rb
  spec/ddtrace/contrib/qless/support/job.rb
  spec/support/span_helpers.rb
Labels: community, feature, integrations

#1262 Clarify Rack middleware_names option
  docs/GettingStarted.md
Labels: docs

#1266 Add regression test for MongoDB crash
  spec/ddtrace/contrib/mongodb/regression_issue_1235_spec.rb
Labels: dev/testing

#1247 Support #fork without block
  lib/ddtrace/profiling/collectors/stack.rb
  lib/ddtrace/profiling/ext/cthread.rb
  lib/ddtrace/profiling/ext/forking.rb
  lib/ddtrace/profiling/tasks/setup.rb
  spec/ddtrace/profiling/ext/forking_spec.rb
  spec/ddtrace/profiling/tasks/setup_spec.rb
Labels: bug, core
