Repository DataDog/dd-trace-rb, pull requests merged in 2020-09, with the labels that each got.

#1161 Autostart profiler
  docs/GettingStarted.md
  lib/ddtrace/profiling.rb
  lib/ddtrace/profiling/ext/cpu.rb
  lib/ddtrace/profiling/ext/cthread.rb
  lib/ddtrace/profiling/ext/forking.rb
  lib/ddtrace/profiling/preload.rb
  lib/ddtrace/profiling/tasks/setup.rb
  spec/ddtrace/profiling/ext/cpu_spec.rb
  spec/ddtrace/profiling/ext/cthread_spec.rb
  spec/ddtrace/profiling/ext/forking_spec.rb
  spec/ddtrace/profiling/preload_spec.rb
  spec/ddtrace/profiling/tasks/setup_spec.rb
  spec/ddtrace/profiling_spec.rb
Labels: core, feature

#1163 Ensure OpenTracer test does not leak writer thread
  spec/ddtrace/opentracer/propagation_integration_spec.rb
Labels: dev/testing

#1156 ci:Run CI tests in parallel
  .circleci/config.yml
  Rakefile
Labels: ci

#1159 test:Code coverage report
  .circleci/config.yml
  .simplecov
  Rakefile
  ddtrace.gemspec
  docs/DevelopmentGuide.md
  spec/spec_helper.rb
Labels: ci, dev/testing

#1160 ci:Remove gitlab deployment when not applicable
  .gitlab-ci.yml
Labels: ci

#1168 Bump to version 0.40.0
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#1166 Change profiling HTTP request runtime and type fields
  lib/ddtrace/ext/profiling.rb
  lib/ddtrace/ext/runtime.rb
  lib/ddtrace/profiling/flush.rb
  lib/ddtrace/profiling/transport/http/api/endpoint.rb
  lib/ddtrace/runtime/identity.rb
  spec/ddtrace/profiling/flush_spec.rb
  spec/ddtrace/profiling/transport/http/adapters/net_integration_spec.rb
  spec/ddtrace/profiling/transport/http/api/endpoint_spec.rb
  spec/ddtrace/runtime/identity_spec.rb
Labels: core

#934 Tag spans from external services
  lib/ddtrace/contrib/active_record/events/sql.rb
  lib/ddtrace/contrib/aws/instrumentation.rb
  lib/ddtrace/contrib/dalli/instrumentation.rb
  lib/ddtrace/contrib/elasticsearch/patcher.rb
  lib/ddtrace/contrib/ethon/easy_patch.rb
  lib/ddtrace/contrib/ethon/multi_patch.rb
  lib/ddtrace/contrib/excon/middleware.rb
  lib/ddtrace/contrib/faraday/middleware.rb
  lib/ddtrace/contrib/grpc/datadog_interceptor/client.rb
  lib/ddtrace/contrib/grpc/datadog_interceptor/server.rb
  lib/ddtrace/contrib/http/instrumentation.rb
  lib/ddtrace/contrib/httprb/instrumentation.rb
  lib/ddtrace/contrib/mongodb/subscribers.rb
  lib/ddtrace/contrib/mysql2/instrumentation.rb
  lib/ddtrace/contrib/presto/instrumentation.rb
  lib/ddtrace/contrib/racecar/event.rb
  lib/ddtrace/contrib/redis/tags.rb
  lib/ddtrace/contrib/rest_client/request_patch.rb
  lib/ddtrace/contrib/sequel/database.rb
  lib/ddtrace/contrib/sequel/dataset.rb
  lib/ddtrace/contrib/sequel/utils.rb
  lib/ddtrace/ext/integration.rb
  spec/ddtrace/contrib/active_record/multi_db_spec.rb
  spec/ddtrace/contrib/active_record/tracer_spec.rb
  spec/ddtrace/contrib/aws/instrumentation_spec.rb
  spec/ddtrace/contrib/dalli/instrumentation_spec.rb
  spec/ddtrace/contrib/elasticsearch/patcher_spec.rb
  spec/ddtrace/contrib/elasticsearch/transport_spec.rb
  spec/ddtrace/contrib/ethon/shared_examples.rb
  spec/ddtrace/contrib/excon/instrumentation_spec.rb
  spec/ddtrace/contrib/faraday/middleware_spec.rb
  spec/ddtrace/contrib/grpc/datadog_interceptor/client_spec.rb
  spec/ddtrace/contrib/grpc/datadog_interceptor/server_spec.rb
  spec/ddtrace/contrib/grpc/integration_spec.rb
  spec/ddtrace/contrib/grpc/interception_context_spec.rb
  spec/ddtrace/contrib/http/miniapp_spec.rb
  spec/ddtrace/contrib/http/patcher_spec.rb
  spec/ddtrace/contrib/http/request_spec.rb
  spec/ddtrace/contrib/httprb/instrumentation_spec.rb
  spec/ddtrace/contrib/integration_examples.rb
  spec/ddtrace/contrib/mongodb/client_spec.rb
  spec/ddtrace/contrib/mysql2/patcher_spec.rb
  spec/ddtrace/contrib/presto/client_spec.rb
  spec/ddtrace/contrib/rails/database_spec.rb
  spec/ddtrace/contrib/rails/redis_cache_spec.rb
  spec/ddtrace/contrib/redis/miniapp_spec.rb
  spec/ddtrace/contrib/redis/redis_spec.rb
  spec/ddtrace/contrib/rest_client/request_patch_spec.rb
  spec/ddtrace/contrib/sequel/configuration_spec.rb
  spec/ddtrace/contrib/sequel/instrumentation_spec.rb
Labels: integrations

#935 Skip language tag for external spans
  lib/ddtrace/runtime/metrics.rb
  spec/ddtrace/contrib/rack/configuration_spec.rb
  spec/ddtrace/runtime/metrics_spec.rb
Labels: core, integrations

#1171 Add string table and object sets to profiling buffer
  lib/ddtrace/buffer.rb
  lib/ddtrace/profiling/backtrace_location.rb
  lib/ddtrace/profiling/buffer.rb
  lib/ddtrace/profiling/collectors/stack.rb
  lib/ddtrace/profiling/pprof/stack_sample.rb
  lib/ddtrace/profiling/recorder.rb
  lib/ddtrace/utils/object_set.rb
  lib/ddtrace/utils/string_table.rb
  spec/ddtrace/buffer_spec.rb
  spec/ddtrace/profiling/backtrace_location_spec.rb
  spec/ddtrace/profiling/buffer_spec.rb
  spec/ddtrace/profiling/collectors/stack_spec.rb
  spec/ddtrace/profiling/recorder_spec.rb
  spec/ddtrace/utils/object_set_spec.rb
  spec/ddtrace/utils/string_table_spec.rb
Labels: core, performance

#1176 Disable coverage report for benchmarks
  spec/spec_helper.rb
Labels: performance

#424 Improve duration counting using monotonic clock
  ddtrace.gemspec
  lib/ddtrace/contrib/active_support/notifications/subscription.rb
  lib/ddtrace/contrib/grape/endpoint.rb
  lib/ddtrace/span.rb
  lib/ddtrace/span/duration.rb
  lib/ddtrace/tracer.rb
  spec/ddtrace/contrib/active_support/notifications/subscription_spec.rb
Labels: community, core

#1178 Add end-to-end benchmarking
  spec/ddtrace/benchmark/microbenchmark_spec.rb
  spec/ddtrace/benchmark/support/benchmark_helper.rb
Labels: performance

#1177 Allow tracer components to be cleanly restarted after shutdown
  lib/ddtrace/configuration.rb
  spec/ddtrace/configuration_spec.rb
Labels: core

#1165 Reduce memory usage of the HTTP transport
  lib/ddtrace/span.rb
  lib/ddtrace/transport/http/adapters/net.rb
  lib/ddtrace/transport/http/statistics.rb
  lib/ddtrace/transport/traces.rb
  spec/ddtrace/benchmark/microbenchmark_spec.rb
  spec/ddtrace/benchmark/support/benchmark_helper.rb
  spec/ddtrace/benchmark/transport_benchmark_spec.rb
  spec/ddtrace/contrib/http/circuit_breaker_spec.rb
  spec/ddtrace/span_spec.rb
  spec/ddtrace/transport/http/adapters/net_spec.rb
  spec/ddtrace/transport/http/statistics_spec.rb
  spec/support/tracer_helpers.rb
Labels: performance

#1090 Reduce memory usage during gem statup
  lib/ddtrace/configuration/options.rb
  lib/ddtrace/configuration/settings.rb
  lib/ddtrace/tracer.rb
  lib/ddtrace/utils.rb
  spec/ddtrace/configuration/settings_spec.rb
  spec/ddtrace/tracer_spec.rb
  test/utils_test.rb
Labels: core, performance

#1172 Faster TraceBuffer for CRuby
  ddtrace.gemspec
  lib/ddtrace/buffer.rb
  lib/ddtrace/ext/runtime.rb
  spec/ddtrace/benchmark/buffer_benchmark_spec.rb
  spec/ddtrace/buffer_spec.rb
Labels: performance

#1184 Disable benchmarks in CI
  Rakefile
Labels: dev/testing

#1181 Remove explicit `Logger` class verification
  lib/ddtrace/configuration/settings.rb
  spec/ddtrace/configuration/settings_spec.rb
Labels: community, core

#1182 Correct tracer buffer metric counting
  lib/ddtrace/buffer.rb
  spec/ddtrace/buffer_spec.rb
Labels: core

#1183 Fix Span#pretty_print for empty duration
  lib/ddtrace/span.rb
  spec/ddtrace/span_spec.rb
Labels: core

#1179 Avoid *_any_instance_of when running tests with parallelism
  spec/ddtrace/contrib/support/tracer_helpers.rb
Labels: dev/testing

#1185 Fix Sequel instrumentation when executing literal strings
  lib/ddtrace/contrib/sequel/database.rb
  spec/ddtrace/contrib/sequel/instrumentation_spec.rb
Labels: community, integrations

#1186 Improved prepared statement support for Sequel
  lib/ddtrace/contrib/sequel/dataset.rb
  lib/ddtrace/contrib/sequel/ext.rb
  lib/ddtrace/contrib/sequel/utils.rb
  spec/ddtrace/contrib/sequel/instrumentation_spec.rb
  spec/ddtrace/contrib/support/matchers.rb
Labels: integrations

#1191 Cache hashes for BacktraceLocation and Stack events
  lib/ddtrace/profiling/backtrace_location.rb
  lib/ddtrace/profiling/events/stack.rb
  lib/ddtrace/profiling/pprof/stack_sample.rb
  spec/ddtrace/profiling/events/stack_spec.rb
Labels: core, performance

#1189 Reduce generated Span ID range to fit in Fixnum
  lib/ddtrace/opentracer/distributed_headers.rb
  lib/ddtrace/propagation/grpc_propagator.rb
  lib/ddtrace/sampler.rb
  lib/ddtrace/span.rb
  lib/ddtrace/utils.rb
  spec/ddtrace/distributed_tracing/headers/headers_spec.rb
  spec/ddtrace/distributed_tracing/headers/helpers_spec.rb
  spec/ddtrace/opentracer/distributed_headers_spec.rb
  spec/ddtrace/opentracer/propagation_integration_spec.rb
  spec/ddtrace/sampler_spec.rb
Labels: core, performance

#1192 Bump to version 0.41.0
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#1187 Extend delayed_job plugin
  docs/GettingStarted.md
  lib/ddtrace/contrib/delayed_job/configuration/settings.rb
  lib/ddtrace/contrib/delayed_job/ext.rb
  lib/ddtrace/contrib/delayed_job/plugin.rb
  spec/ddtrace/contrib/delayed_job/plugin_spec.rb
Labels: community, integrations
