Repository DataDog/dd-trace-rb, pull requests merged in 2021-05, with the labels that each got.

#1487 Fix container parsing for k8s cgroup
  lib/ddtrace/runtime/container.rb
  spec/ddtrace/runtime/cgroup_spec.rb
  spec/ddtrace/runtime/container_spec.rb
  spec/support/container_helpers.rb
Labels: bug, core

#1490 Migrate Rails controller_test to RSpec
  spec/ddtrace/contrib/rails/rack_spec.rb
  spec/support/span_helpers.rb
  test/contrib/rails/controller_test.rb
Labels: dev/testing

#1495 Fix kwargs passing on Ruby 3.0 for sucker_punch
  ddtrace.gemspec
  lib/ddtrace/contrib/sucker_punch/instrumentation.rb
  lib/ddtrace/version.rb
  spec/ddtrace/contrib/sucker_punch/patcher_spec.rb
Labels: bug, integrations

#1472 Add cause to error stack trace
  lib/ddtrace/error.rb
  spec/ddtrace/error_spec.rb
  spec/ddtrace/span_spec.rb
Labels: feature-request

#1500 Fixed an issue where backtrace handling of exception classes that return nil message fails.
  lib/ddtrace/error.rb
  spec/ddtrace/error_spec.rb
Labels: bug, core

#1502 Remove 2.0 from CI
  .circleci/config.yml
  .circleci/images/primary/Dockerfile-2.0.0
  docker-compose.yml
Labels: ci, deprecation

#1503 Remove Ruby 2.0-specific code paths
  Appraisals
  Rakefile
  gemfiles/ruby_2.0.0_contrib_old.gemfile
  gemfiles/ruby_2.0.0_contrib_old.gemfile.lock
  gemfiles/ruby_2.0.0_core_old.gemfile
  gemfiles/ruby_2.0.0_core_old.gemfile.lock
  gemfiles/ruby_2.0.0_rails30_postgres.gemfile
  gemfiles/ruby_2.0.0_rails30_postgres.gemfile.lock
  gemfiles/ruby_2.0.0_rails30_postgres_sidekiq.gemfile
  gemfiles/ruby_2.0.0_rails30_postgres_sidekiq.gemfile.lock
  gemfiles/ruby_2.0.0_rails32_mysql2.gemfile
  gemfiles/ruby_2.0.0_rails32_mysql2.gemfile.lock
  gemfiles/ruby_2.0.0_rails32_postgres.gemfile
  gemfiles/ruby_2.0.0_rails32_postgres.gemfile.lock
  gemfiles/ruby_2.0.0_rails32_postgres_redis.gemfile
  gemfiles/ruby_2.0.0_rails32_postgres_redis.gemfile.lock
  gemfiles/ruby_2.0.0_rails32_postgres_sidekiq.gemfile
  gemfiles/ruby_2.0.0_rails32_postgres_sidekiq.gemfile.lock
  integration/images/ruby/2.0/Dockerfile
  lib/ddtrace/configuration.rb
  lib/ddtrace/error.rb
  lib/ddtrace/opentracer.rb
  lib/ddtrace/profiling.rb
  lib/ddtrace/utils/time.rb
  spec/ddtrace/benchmark/gem_loading_spec.rb
  spec/ddtrace/benchmark/support/benchmark_helper.rb
  spec/ddtrace/configuration_spec.rb
  spec/ddtrace/error_spec.rb
  spec/ddtrace/opentracer/binary_propagator_spec.rb
  spec/ddtrace/opentracer/carrier_spec.rb
  spec/ddtrace/opentracer/distributed_headers_spec.rb
  spec/ddtrace/opentracer/global_tracer_spec.rb
  spec/ddtrace/opentracer/helper.rb
  spec/ddtrace/opentracer/propagation_integration_spec.rb
  spec/ddtrace/opentracer/propagator_spec.rb
  spec/ddtrace/opentracer/rack_propagator_spec.rb
  spec/ddtrace/opentracer/scope_manager_spec.rb
  spec/ddtrace/opentracer/scope_spec.rb
  spec/ddtrace/opentracer/span_context_factory_spec.rb
  spec/ddtrace/opentracer/span_context_spec.rb
  spec/ddtrace/opentracer/span_spec.rb
  spec/ddtrace/opentracer/text_map_propagator_spec.rb
  spec/ddtrace/opentracer/thread_local_scope_manager_spec.rb
  spec/ddtrace/opentracer/thread_local_scope_spec.rb
  spec/ddtrace/opentracer/tracer_integration_spec.rb
  spec/ddtrace/opentracer/tracer_spec.rb
  spec/ddtrace/profiling_spec.rb
  spec/ddtrace/span_spec.rb
  spec/ddtrace/tracer_spec.rb
  spec/ddtrace_integration_spec.rb
  spec/spec_helper.rb
Labels: deprecation

#1459 Temporarily disable graceful shutdown tests for JRuby
  spec/ddtrace_integration_spec.rb
Labels: dev/testing

#1510 Add loaded specs fallback
  lib/ddtrace/metrics.rb
  spec/ddtrace/metrics_spec.rb
Labels: refactor

#1494 Prevent S3 URL presigning from generating a remote request span
  lib/ddtrace/contrib/aws/instrumentation.rb
  lib/ddtrace/contrib/aws/patcher.rb
  spec/ddtrace/contrib/aws/instrumentation_spec.rb
Labels: bug

#1515 Skip bundle install when cached gems match exactly
  .circleci/config.yml
  .gitignore
Labels: ci

#1524 Remove conditional checks for Process.clock_gettime
  lib/ddtrace/profiling/ext/cthread.rb
  spec/ddtrace/profiling/ext/cthread_spec.rb
Labels: deprecation

#1523 Use Array#to_h instead of Hash[array]
  lib/ddtrace/configuration/base.rb
  lib/ddtrace/configuration/settings.rb
  lib/ddtrace/contrib/aws/patcher.rb
  lib/ddtrace/diagnostics/environment_logger.rb
  lib/ddtrace/runtime/metrics.rb
  lib/ddtrace/tracer.rb
Labels: deprecation

#1526 Print logs on integration app run failure
  integration/apps/rack/script/ci
  integration/apps/rails-five/script/ci
  integration/apps/ruby/script/ci
Labels: ci

#1533 Pin `dogstatsd-ruby` to v4 while we adapt the compatibility with the dogstatsd-ruby companion thread.
  docs/GettingStarted.md
Labels: docs
