Repository DataDog/dd-trace-rb, pull requests merged in 2021-08, with the labels that each got.

#1623 Add support for annotating profiler stacks with the resource of the active web trace, if any
  lib/ddtrace/configuration/components.rb
  lib/ddtrace/configuration/settings.rb
  lib/ddtrace/ext/profiling.rb
  lib/ddtrace/profiling/collectors/stack.rb
  lib/ddtrace/profiling/events/stack.rb
  lib/ddtrace/profiling/pprof/stack_sample.rb
  lib/ddtrace/profiling/trace_identifiers/ddtrace.rb
  lib/ddtrace/profiling/trace_identifiers/helper.rb
  lib/ddtrace/span.rb
  lib/ddtrace/tracer.rb
  spec/ddtrace/configuration/components_spec.rb
  spec/ddtrace/configuration/settings_spec.rb
  spec/ddtrace/profiling/collectors/stack_spec.rb
  spec/ddtrace/profiling/events/stack_spec.rb
  spec/ddtrace/profiling/integration_spec.rb
  spec/ddtrace/profiling/pprof/stack_sample_spec.rb
  spec/ddtrace/profiling/spec_helper.rb
  spec/ddtrace/profiling/trace_identifiers/ddtrace_spec.rb
  spec/ddtrace/profiling/trace_identifiers/helper_spec.rb
Labels: profiling

#1634 Upgrade CI docker server
  .circleci/config.yml
Labels: dev/ci

#1632 Dont set peer.service tag on grpc.server spans
  lib/ddtrace/contrib/grpc/datadog_interceptor/server.rb
  spec/ddtrace/contrib/grpc/datadog_interceptor/server_spec.rb
  spec/ddtrace/contrib/grpc/interception_context_spec.rb
  spec/ddtrace/contrib/integration_examples.rb
Labels: bug, integrations

#1637 Appraisal readability cleanups
  Appraisals
  Rakefile
Labels: dev/testing

#1636 [PROF-3321] Fix CPU-time accounting when fibers are used
  lib/ddtrace/profiling/collectors/stack.rb
  spec/ddtrace/profiling/collectors/stack_spec.rb
Labels: profiling

#1638 Migrate tracer_test to RSpec
  .rubocop_todo.yml
  lib/ddtrace/ext/runtime.rb
  lib/ddtrace/span.rb
  lib/ddtrace/tracer.rb
  spec/ddtrace/span_spec.rb
  spec/ddtrace/tracer_spec.rb
  test/tracer_test.rb
Labels: dev/testing

#1640 Migrate rate_by_service_sampler_test to RSpec
  Rakefile
  spec/ddtrace/sampler_spec.rb
  test/rate_by_service_sampler_test.rb
Labels: dev/testing

#1644 Fix NoMethodError in sinatra integration when Tracer middleware is missing
  lib/ddtrace/contrib/sinatra/env.rb
  lib/ddtrace/contrib/sinatra/tracer.rb
  spec/ddtrace/contrib/sinatra/tracer_spec.rb
Labels: bug

#1649 Migrate Rails errors_test to RSpec
  .github/workflows/test-head.yaml
  Gemfile
  Rakefile
  docs/DevelopmentGuide.md
  spec/ddtrace/contrib/rails/rack_spec.rb
  spec/ddtrace/contrib/rails/rails_helper.rb
  test/contrib/rails/apps/application.rb
  test/contrib/rails/apps/controllers.rb
  test/contrib/rails/apps/models.rb
  test/contrib/rails/apps/rails3.rb
  test/contrib/rails/apps/rails4.rb
  test/contrib/rails/apps/rails5.rb
  test/contrib/rails/apps/rails6.rb
  test/contrib/rails/apps/routes.rb
  test/contrib/rails/core_extensions.rb
  test/contrib/rails/errors_test.rb
  test/contrib/rails/test_helper.rb
  test/helper.rb
Labels: dev/testing

#1639 Add standalone Rails ActiveJob integration
  docs/GettingStarted.md
  lib/datadog/contrib.rb
  lib/ddtrace/contrib/active_job/configuration/settings.rb
  lib/ddtrace/contrib/active_job/event.rb
  lib/ddtrace/contrib/active_job/events.rb
  lib/ddtrace/contrib/active_job/events/discard.rb
  lib/ddtrace/contrib/active_job/events/enqueue.rb
  lib/ddtrace/contrib/active_job/events/enqueue_at.rb
  lib/ddtrace/contrib/active_job/events/enqueue_retry.rb
  lib/ddtrace/contrib/active_job/events/perform.rb
  lib/ddtrace/contrib/active_job/events/retry_stopped.rb
  lib/ddtrace/contrib/active_job/ext.rb
  lib/ddtrace/contrib/active_job/integration.rb
  lib/ddtrace/contrib/active_job/patcher.rb
  lib/ddtrace/contrib/rails/framework.rb
  spec/ddtrace/contrib/active_job/integration_spec.rb
  spec/ddtrace/contrib/rails/rails_active_job_spec.rb
  spec/ddtrace/contrib/rails/support/rails4.rb
  spec/ddtrace/contrib/rails/support/rails5.rb
  spec/ddtrace/contrib/rails/support/rails6.rb
Labels: integrations, community

#1280 add action mailer instrumentation
  Rakefile
  docs/GettingStarted.md
  lib/datadog/contrib.rb
  lib/ddtrace/contrib/action_mailer/configuration/settings.rb
  lib/ddtrace/contrib/action_mailer/event.rb
  lib/ddtrace/contrib/action_mailer/events.rb
  lib/ddtrace/contrib/action_mailer/events/deliver.rb
  lib/ddtrace/contrib/action_mailer/events/process.rb
  lib/ddtrace/contrib/action_mailer/ext.rb
  lib/ddtrace/contrib/action_mailer/integration.rb
  lib/ddtrace/contrib/action_mailer/patcher.rb
  lib/ddtrace/contrib/rails/framework.rb
  spec/ddtrace/contrib/action_mailer/helpers.rb
  spec/ddtrace/contrib/action_mailer/integration_spec.rb
  spec/ddtrace/contrib/action_mailer/patcher_spec.rb
Labels: integrations, feature
