Repository DataDog/dd-trace-rb, pull requests merged in 2021-02, with the labels that each got.

#1332 Clearer section naming for automatic instrumentation
  docs/GettingStarted.md
Labels: docs

#1341 Remove Datadog::Monkey
  Rakefile
  lib/ddtrace.rb
  lib/ddtrace/monkey.rb
  test/monkey_test.rb
Labels: core, refactor

#1342 Remove DeprecatedPin
  lib/ddtrace/contrib/dalli/patcher.rb
  lib/ddtrace/contrib/faraday/patcher.rb
  lib/ddtrace/contrib/grape/patcher.rb
  lib/ddtrace/contrib/grpc/patcher.rb
  lib/ddtrace/pin.rb
  spec/ddtrace/contrib/dalli/patcher_spec.rb
  spec/ddtrace/contrib/faraday/patcher_spec.rb
  spec/ddtrace/contrib/grpc/patcher_spec.rb
  spec/ddtrace/pin_spec.rb
Labels: core, refactor

#1353 Temporarily pin i18n for JRuby
  Appraisals
Labels: dev/testing

#1367 [ci] Faster JRuby startup with dev mode
  .circleci/config.yml
Labels: ci

#1377 fix:Fully populate Rake spans on exceptions
  lib/ddtrace/contrib/rake/instrumentation.rb
  spec/ddtrace/contrib/rake/instrumentation_spec.rb
Labels: bug

#1371 Ensure tests don't leak threads
  docs/DevelopmentGuide.md
  spec/ddtrace/buffer_spec.rb
  spec/ddtrace/configuration/settings_spec.rb
  spec/ddtrace/context_spec.rb
  spec/ddtrace/contrib/action_cable/instrumentation_spec.rb
  spec/ddtrace/contrib/concurrent_ruby/integration_test_spec.rb
  spec/ddtrace/contrib/elasticsearch/patcher_spec.rb
  spec/ddtrace/contrib/elasticsearch/transport_spec.rb
  spec/ddtrace/contrib/ethon/easy_patch_spec.rb
  spec/ddtrace/contrib/ethon/integration_context.rb
  spec/ddtrace/contrib/ethon/integration_test_spec.rb
  spec/ddtrace/contrib/ethon/multi_patch_spec.rb
  spec/ddtrace/contrib/ethon/support/thread_helpers.rb
  spec/ddtrace/contrib/ethon/typhoeus_integration_spec.rb
  spec/ddtrace/contrib/grpc/support/grpc_helper.rb
  spec/ddtrace/contrib/httpclient/instrumentation_spec.rb
  spec/ddtrace/contrib/httprb/instrumentation_spec.rb
  spec/ddtrace/contrib/mongodb/client_spec.rb
  spec/ddtrace/contrib/racecar/patcher_spec.rb
  spec/ddtrace/contrib/sucker_punch/patcher_spec.rb
  spec/ddtrace/contrib/support/tracer_helpers.rb
  spec/ddtrace/diagnostics/environment_logger_spec.rb
  spec/ddtrace/integration_spec.rb
  spec/ddtrace/opentracer/tracer_integration_spec.rb
  spec/ddtrace/opentracer/tracer_spec.rb
  spec/ddtrace/propagation/propagation_integration_spec.rb
  spec/ddtrace/tracer_spec.rb
  spec/ddtrace/transport/http/adapters/unix_socket_integration_spec.rb
  spec/ddtrace/workers/async_spec.rb
  spec/ddtrace/workers/loop_spec.rb
  spec/ddtrace/workers/polling_spec.rb
  spec/ddtrace/workers/runtime_metrics_spec.rb
  spec/ddtrace/workers/trace_writer_spec.rb
  spec/ddtrace/workers_integration_spec.rb
  spec/spec_helper.rb
  spec/support/thread_helpers.rb
  spec/support/tracer_helpers.rb
Labels: dev/testing
