Repository DataDog/dd-trace-rb, pull requests merged in 2021-09, with the labels that each got.

#1680 Runtime Metrics: Global VM cache statistics
  docs/GettingStarted.md
  lib/datadog/core/environment/vm_cache.rb
  lib/ddtrace/ext/runtime.rb
  lib/ddtrace/runtime/metrics.rb
  spec/datadog/core/environment/vm_cache_spec.rb
  spec/ddtrace/runtime/metrics_spec.rb
Labels: core

#1674 Instrument Action Cable subscribe/unsubscribe hooks
  lib/ddtrace/contrib/action_cable/instrumentation.rb
  lib/ddtrace/contrib/action_cable/patcher.rb
  sorbet/rbi/todo.rbi
  spec/ddtrace/contrib/action_cable/patcher_spec.rb
Labels: integrations, feature

#1694 Correlate Active Job logs to the active DataDog trace
  docs/GettingStarted.md
  lib/ddtrace/contrib/active_job/configuration/settings.rb
  lib/ddtrace/contrib/active_job/log_injection.rb
  lib/ddtrace/contrib/active_job/patcher.rb
  lib/ddtrace/contrib/rails/framework.rb
  spec/ddtrace/contrib/rails/rails_active_job_spec.rb
Labels: integrations, community, feature

#1695 Use most recent event for trace resource name
  benchmarks/data/profiler-submission-marshal.gz
  lib/ddtrace/profiling/collectors/stack.rb
  lib/ddtrace/profiling/events/stack.rb
  lib/ddtrace/profiling/pprof/converter.rb
  lib/ddtrace/profiling/pprof/stack_sample.rb
  lib/ddtrace/profiling/trace_identifiers/ddtrace.rb
  lib/ddtrace/span.rb
  sorbet/rbi/hidden-definitions/hidden.rbi
  spec/ddtrace/profiling/collectors/stack_spec.rb
  spec/ddtrace/profiling/events/stack_spec.rb
  spec/ddtrace/profiling/integration_spec.rb
  spec/ddtrace/profiling/pprof/converter_spec.rb
  spec/ddtrace/profiling/pprof/stack_sample_spec.rb
  spec/ddtrace/profiling/spec_helper.rb
  spec/ddtrace/profiling/trace_identifiers/ddtrace_spec.rb
Labels: core, profiling
