Repository DataDog/dd-trace-rb, pull requests merged in 2021-04, with the labels that each got.

#1400 Auto instrument Resque workers by default
  docs/GettingStarted.md
  lib/ddtrace/contrib/resque/configuration/settings.rb
  lib/ddtrace/contrib/resque/patcher.rb
  lib/ddtrace/contrib/resque/resque_job.rb
  spec/ddtrace/contrib/resque/instrumentation_spec.rb
  spec/ddtrace/contrib/resque/job.rb
Labels: feature, integrations

#1416 Ensure DD_TRACE_SAMPLE_RATE enables full RuleSampler
  lib/ddtrace/sampling/rule_sampler.rb
  spec/ddtrace/integration_spec.rb
  spec/ddtrace/sampling/rule_sampler_spec.rb
Labels: bug, core

#1441 Add deprecation warning for Ruby 2.0 support
  docs/GettingStarted.md
  lib/ddtrace/configuration.rb
  lib/ddtrace/version.rb
  spec/ddtrace/configuration_spec.rb
Labels: deprecation

#1421 Ensure clean environment for RSpec test suite
  lib/ddtrace/configuration.rb
  spec/ddtrace/auto_instrument_spec.rb
  spec/ddtrace/configuration_spec.rb
  spec/ddtrace/contrib/support/tracer_helpers.rb
  spec/ddtrace_integration_spec.rb
  spec/support/tracer_helpers.rb
Labels: dev/testing

#1449 Add tag_body configuration option for Shoryuken
  docs/GettingStarted.md
  lib/ddtrace/contrib/shoryuken/configuration/settings.rb
  lib/ddtrace/contrib/shoryuken/tracer.rb
  spec/ddtrace/contrib/shoryuken/tracer_spec.rb
Labels: community, feature, integrations

#1456 Migrate error_test to RSpec
  lib/ddtrace/error.rb
  spec/ddtrace/error_spec.rb
  test/error_test.rb
Labels: dev/testing

#1458 Add trace_completed event to Tracer
  .rubocop.yml
  lib/ddtrace/tracer.rb
  spec/ddtrace/tracer_spec.rb
Labels: core, feature

#1457 Fix Fargate 1.4 container ID not being read
  lib/ddtrace/runtime/container.rb
  spec/ddtrace/runtime/cgroup_spec.rb
  spec/ddtrace/runtime/container_spec.rb
  spec/support/container_helpers.rb
Labels: bug, core

#1461 Use multiproject builds rather than s3 for reliability env deployment
  .gitlab-ci.yml
Labels: ci

#1447 Add makara support with ActiveRecord
  Appraisals
  docs/GettingStarted.md
  lib/ddtrace/contrib/active_record/configuration/makara_resolver.rb
  lib/ddtrace/contrib/active_record/configuration/resolver.rb
  spec/ddtrace/contrib/active_record/configuration/resolver_spec.rb
  spec/ddtrace/contrib/active_record/tracer_spec.rb
  spec/spec_helper.rb
Labels: feature, integrations

#1467 Bump to version 0.48.0
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#1480 Fix CGroup parsing for non-containerized environment.
  lib/ddtrace/runtime/container.rb
  spec/ddtrace/runtime/container_spec.rb
Labels: bug, community, core

#1489 Fix ActionPack instrumentation #starts_with? error
  .rubocop.yml
  lib/ddtrace/contrib/action_pack/action_controller/instrumentation.rb
  lib/ddtrace/contrib/action_pack/utils.rb
  spec/ddtrace/contrib/action_pack/action_controller/instrumentation_spec.rb
Labels: bug, integrations

#1488 Ignore appraisal empty artifact
  .gitignore
Labels: ci

#1478 [PROF-3118] Refactor reading agent settings into separate class
  lib/ddtrace/configuration/agent_settings_resolver.rb
  lib/ddtrace/configuration/components.rb
  lib/ddtrace/ext/transport.rb
  lib/ddtrace/tracer.rb
  lib/ddtrace/transport/http.rb
  lib/ddtrace/workers/trace_writer.rb
  lib/ddtrace/writer.rb
  spec/ddtrace/configuration/agent_settings_resolver_spec.rb
  spec/ddtrace/configuration/components_spec.rb
  spec/ddtrace/integration_spec.rb
  spec/ddtrace/tracer_spec.rb
  spec/ddtrace/transport/http_spec.rb
  spec/ddtrace/workers/trace_writer_spec.rb
  spec/ddtrace/writer_spec.rb
Labels: core, refactor
