Repository DataDog/dd-trace-rb, pull requests merged in 2022-10, with the labels that each got.

#2292 Allow DD_TAGS values to have the colon character
  lib/datadog/core/configuration/settings.rb
  spec/datadog/core/configuration/settings_spec.rb
Labels: bug

#2271 test:Reduce wait time on RuntimeMetrics tests
  spec/datadog/core/workers/runtime_metrics_spec.rb
  spec/support/synchronization_helpers.rb
Labels: dev/testing

#2290 Debug:Print trace as it is about to be flushed
  lib/ddtrace/transport/traces.rb
Labels: dev/tooling

#2259 Doc:Clarify Application-side sampling
  docs/GettingStarted.md
Labels: docs

#2062 [PROF-6070] Remove legacy profiling transport
  lib/datadog/core/configuration/components.rb
  lib/datadog/core/configuration/settings.rb
  lib/datadog/profiling/old_ext.rb
  lib/datadog/profiling/transport/http.rb
  lib/datadog/profiling/transport/http/api.rb
  lib/datadog/profiling/transport/http/api/endpoint.rb
  lib/datadog/profiling/transport/http/api/instance.rb
  lib/datadog/profiling/transport/http/api/spec.rb
  lib/datadog/profiling/transport/http/builder.rb
  lib/datadog/profiling/transport/http/client.rb
  lib/datadog/profiling/transport/http/response.rb
  spec/datadog/profiling/transport/http/adapters/net_integration_spec.rb
  spec/datadog/profiling/transport/http/api/endpoint_spec.rb
  spec/datadog/profiling/transport/http/api/instance_spec.rb
  spec/datadog/profiling/transport/http/api/spec_spec.rb
  spec/datadog/profiling/transport/http/api_spec.rb
  spec/datadog/profiling/transport/http/builder_spec.rb
  spec/datadog/profiling/transport/http/client_spec.rb
  spec/datadog/profiling/transport/http/integration_spec.rb
  spec/datadog/profiling/transport/http_spec.rb
Labels: profiling

#2264 Sampling-Propagation:Extract/Inject distributed headers
  lib/datadog/core/configuration/settings.rb
  lib/datadog/tracing/configuration/ext.rb
  lib/datadog/tracing/distributed/headers/datadog.rb
  lib/datadog/tracing/distributed/headers/ext.rb
  lib/datadog/tracing/metadata/ext.rb
  lib/datadog/tracing/propagation/http.rb
  lib/datadog/tracing/trace_digest.rb
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/opentracer/rack_propagator_spec.rb
  spec/datadog/tracing/distributed/headers/datadog_spec.rb
  spec/datadog/tracing/trace_digest_spec.rb
Labels: feature

#2266 Sampling-Propagation:Consume distributed tags in TraceOperation
  lib/datadog/tracing/trace_operation.rb
  lib/datadog/tracing/tracer.rb
  spec/datadog/tracing/trace_operation_spec.rb
  spec/datadog/tracing/tracer_integration_spec.rb
  spec/datadog/tracing/tracer_spec.rb
Labels: feature

#2274 Unified tagging `db.redis.database_index`
  lib/datadog/tracing/contrib/redis/ext.rb
  lib/datadog/tracing/contrib/redis/tags.rb
  spec/datadog/tracing/contrib/redis/instrumentation_spec.rb
Labels: feature-parity

#2310 Fix `URI::InvalidURIError`
  lib/datadog/tracing/contrib/rack/middlewares.rb
  spec/datadog/tracing/contrib/rack/integration_test_spec.rb
Labels: integrations, tracing

#2313 Fix agent_url in environment logger when io transport
  lib/datadog/core/diagnostics/environment_logger.rb
  spec/datadog/core/diagnostics/environment_logger_spec.rb
Labels: core

#2314 Fix flaky spec with redis database index
  spec/datadog/tracing/contrib/redis/instrumentation_spec.rb
Labels: dev/testing

#2311 Handle URLs with invalid characters
  LICENSE-3rdparty.csv
  lib/datadog/tracing/contrib/utils/quantization/http.rb
  spec/datadog/tracing/contrib/utils/quantization/http_spec.rb
Labels: integrations, tracing

#2317 Fix Non-GET request method with rails exception controller
  lib/datadog/tracing/contrib/rack/middlewares.rb
  spec/datadog/tracing/contrib/rack/integration_test_spec.rb
Labels: integrations, tracing

#2319 Backport "Handle URLs with invalid characters"
  LICENSE-3rdparty.csv
  lib/datadog/tracing/contrib/utils/quantization/http.rb
  spec/datadog/tracing/contrib/utils/quantization/http_spec.rb
Labels: integrations, tracing

#2318 Backport "Fix `URI::InvalidURIError`"
  lib/datadog/tracing/contrib/rack/middlewares.rb
  spec/datadog/tracing/contrib/rack/integration_test_spec.rb
Labels: integrations, tracing

#2273 Unified tagging `db.mongodb.collection`
  lib/datadog/tracing/contrib/mongodb/ext.rb
  lib/datadog/tracing/contrib/mongodb/subscribers.rb
  spec/datadog/tracing/contrib/mongodb/client_spec.rb
  spec/datadog/tracing/contrib/mongodb/integration_spec.rb
Labels: feature-parity

#2269 Unified tagging `rpc.system`
  lib/datadog/tracing/contrib/ext.rb
  lib/datadog/tracing/contrib/grpc/datadog_interceptor/client.rb
  lib/datadog/tracing/contrib/grpc/datadog_interceptor/server.rb
  lib/datadog/tracing/contrib/grpc/ext.rb
  spec/datadog/tracing/contrib/grpc/datadog_interceptor/client_spec.rb
  spec/datadog/tracing/contrib/grpc/datadog_interceptor/server_spec.rb
Labels: integrations, feature-parity, tracing

#2268 Unified tagging for `db.system`
  lib/datadog/tracing/contrib/dalli/ext.rb
  lib/datadog/tracing/contrib/dalli/instrumentation.rb
  lib/datadog/tracing/contrib/elasticsearch/ext.rb
  lib/datadog/tracing/contrib/elasticsearch/patcher.rb
  lib/datadog/tracing/contrib/mongodb/ext.rb
  lib/datadog/tracing/contrib/mongodb/subscribers.rb
  lib/datadog/tracing/contrib/mysql2/ext.rb
  lib/datadog/tracing/contrib/mysql2/instrumentation.rb
  lib/datadog/tracing/contrib/pg/ext.rb
  lib/datadog/tracing/contrib/pg/instrumentation.rb
  lib/datadog/tracing/contrib/redis/ext.rb
  lib/datadog/tracing/contrib/redis/tags.rb
  spec/datadog/tracing/contrib/dalli/instrumentation_spec.rb
  spec/datadog/tracing/contrib/elasticsearch/patcher_spec.rb
  spec/datadog/tracing/contrib/mongodb/client_spec.rb
  spec/datadog/tracing/contrib/mysql2/patcher_spec.rb
  spec/datadog/tracing/contrib/pg/patcher_spec.rb
  spec/datadog/tracing/contrib/redis/instrumentation_spec.rb
  spec/datadog/tracing/contrib/redis/miniapp_spec.rb
  spec/datadog/tracing/contrib/redis/redis_spec.rb
Labels: integrations, feature-parity, tracing

#2325 Improve faraday test
  spec/datadog/tracing/contrib/faraday/middleware_spec.rb
Labels: dev/testing

#2323 [PROF-6260] Add support for tracking time spent in GC to CpuAndWallTime collector, second try
  ext/ddtrace_profiling_native_extension/clock_id.h
  ext/ddtrace_profiling_native_extension/clock_id_from_pthread.c
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time.c
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time.h
  ext/ddtrace_profiling_native_extension/collectors_stack.c
  ext/ddtrace_profiling_native_extension/collectors_stack.h
  ext/ddtrace_profiling_native_extension/http_transport.c
  spec/datadog/profiling/collectors/cpu_and_wall_time_spec.rb
Labels: profiling

#2321 Default to disable `http.client_ip` tag collection
  lib/datadog/appsec/contrib/rack/request_middleware.rb
  lib/datadog/appsec/event.rb
  lib/datadog/core/configuration/settings.rb
  lib/datadog/tracing/client_ip.rb
  lib/datadog/tracing/configuration/ext.rb
  spec/datadog/appsec/contrib/rack/integration_test_spec.rb
  spec/datadog/appsec/contrib/rails/integration_test_spec.rb
  spec/datadog/appsec/contrib/sinatra/integration_test_spec.rb
Labels: core, integrations, appsec, tracing

#2328 Handle REQUEST_URI with base url
  lib/datadog/tracing/contrib/rack/middlewares.rb
  spec/datadog/tracing/contrib/rack/middlewares_spec.rb
Labels: integrations, tracing

#2333 Fix incorrect start time for profiles
  ext/ddtrace_profiling_native_extension/stack_recorder.c
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: profiling

#2336 [PROF-6260] Enable tracking of time spent in GC
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time.c
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
Labels: profiling

#2324 SQL comment propagation for `mysql2`
  Rakefile
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/mysql2/configuration/settings.rb
  lib/datadog/tracing/contrib/mysql2/instrumentation.rb
  lib/datadog/tracing/contrib/propagation/sql_comment.rb
  lib/datadog/tracing/contrib/propagation/sql_comment/comment.rb
  lib/datadog/tracing/contrib/propagation/sql_comment/ext.rb
  lib/datadog/tracing/contrib/propagation/sql_comment/mode.rb
  lib/datadog/tracing/contrib/sinatra/tracer_middleware.rb
  spec/datadog/tracing/contrib/mysql2/patcher_spec.rb
  spec/datadog/tracing/contrib/propagation/sql_comment/comment_spec.rb
  spec/datadog/tracing/contrib/propagation/sql_comment/mode_spec.rb
  spec/datadog/tracing/contrib/propagation/sql_comment_spec.rb
  spec/datadog/tracing/contrib/sql_comment_propagation_examples.rb
  spec/support/span_helpers.rb
Labels: integrations, tracing

#2339 SQL comment propagation for `pg`
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/pg/configuration/settings.rb
  lib/datadog/tracing/contrib/pg/instrumentation.rb
  spec/datadog/tracing/contrib/pg/patcher_spec.rb
Labels: integrations, tracing
