Repository DataDog/dd-trace-rb, pull requests merged in 2022-04, with the labels that each got.

#1816 On RSpec integration, change suite name to example group file path (i.e. "fix" shared_examples suite names)
  lib/datadog/ci/contrib/rspec/example.rb
  spec/datadog/ci/contrib/rspec/instrumentation_spec.rb
  spec/datadog/ci/contrib/rspec/some_shared_examples.rb
Labels: bug, community, ci-app

#1959 Add setting a tag at the trace-level
  lib/datadog/appsec/contrib/rack/gateway/watcher.rb
  lib/datadog/appsec/event.rb
  lib/datadog/core/utils/safe_dup.rb
  lib/datadog/tracing/metadata.rb
  lib/datadog/tracing/metadata/errors.rb
  lib/datadog/tracing/metadata/tagging.rb
  lib/datadog/tracing/trace_operation.rb
  lib/datadog/tracing/trace_segment.rb
  lib/ddtrace/transport/trace_formatter.rb
  spec/datadog/tracing/metadata/errors_spec.rb
  spec/datadog/tracing/metadata/tagging_spec.rb
  spec/datadog/tracing/metadata_spec.rb
  spec/datadog/tracing/trace_operation_spec.rb
  spec/datadog/tracing/trace_segment_spec.rb
  spec/ddtrace/transport/trace_formatter_spec.rb
Labels: core, feature

#1976 Provide metrics for AWS spans
  lib/datadog/tracing/contrib/aws/instrumentation.rb
  spec/datadog/tracing/contrib/aws/instrumentation_spec.rb
Labels: integrations, community, feature

#1956 Docs: Fix UpgradeGuide.md "agent.host"
  docs/UpgradeGuide.md
Labels: docs

#1980 Docs: Fix GettingStarted.md rake
  docs/GettingStarted.md
Labels: docs, community

#1984 Rename thread-local to fiber-local in concurrent context
  lib/datadog/tracing/context_provider.rb
  lib/datadog/tracing/tracer.rb
  spec/datadog/tracing/context_provider_spec.rb
  spec/datadog/tracing/integration_spec.rb
Labels: refactor

#1983 Fix resource not inherited from lazily annotated spans
  lib/datadog/tracing/correlation.rb
  lib/datadog/tracing/span.rb
  lib/datadog/tracing/span_operation.rb
  lib/datadog/tracing/trace_operation.rb
  lib/datadog/tracing/trace_segment.rb
  spec/datadog/tracing/trace_operation_spec.rb
Labels: bug, core

#1982 Add support for GraphQL 2.0
  Appraisals
  Rakefile
  gemfiles/jruby_9.2.18.0_contrib.gemfile
  gemfiles/jruby_9.2.18.0_contrib.gemfile.lock
  gemfiles/jruby_9.2.18.0_contrib_old.gemfile
  gemfiles/jruby_9.2.18.0_contrib_old.gemfile.lock
  gemfiles/jruby_9.2.8.0_contrib.gemfile
  gemfiles/jruby_9.2.8.0_contrib.gemfile.lock
  gemfiles/jruby_9.2.8.0_contrib_old.gemfile
  gemfiles/jruby_9.2.8.0_contrib_old.gemfile.lock
  gemfiles/jruby_9.3.4.0_contrib.gemfile
  gemfiles/jruby_9.3.4.0_contrib.gemfile.lock
  gemfiles/jruby_9.3.4.0_contrib_old.gemfile
  gemfiles/jruby_9.3.4.0_contrib_old.gemfile.lock
  gemfiles/ruby_2.2.10_contrib.gemfile
  gemfiles/ruby_2.2.10_contrib.gemfile.lock
  gemfiles/ruby_2.3.8_contrib.gemfile
  gemfiles/ruby_2.3.8_contrib.gemfile.lock
  gemfiles/ruby_2.4.10_contrib.gemfile
  gemfiles/ruby_2.4.10_contrib.gemfile.lock
  gemfiles/ruby_2.4.10_contrib_old.gemfile
  gemfiles/ruby_2.4.10_contrib_old.gemfile.lock
  gemfiles/ruby_2.5.9_contrib.gemfile
  gemfiles/ruby_2.5.9_contrib.gemfile.lock
  gemfiles/ruby_2.5.9_contrib_old.gemfile
  gemfiles/ruby_2.5.9_contrib_old.gemfile.lock
  gemfiles/ruby_2.6.7_contrib.gemfile
  gemfiles/ruby_2.6.7_contrib.gemfile.lock
  gemfiles/ruby_2.6.7_contrib_old.gemfile
  gemfiles/ruby_2.6.7_contrib_old.gemfile.lock
  gemfiles/ruby_2.7.3_contrib.gemfile
  gemfiles/ruby_2.7.3_contrib.gemfile.lock
  gemfiles/ruby_2.7.3_contrib_old.gemfile
  gemfiles/ruby_2.7.3_contrib_old.gemfile.lock
  gemfiles/ruby_2.7.3_cucumber3.gemfile.lock
  gemfiles/ruby_2.7.3_rails5_postgres_redis.gemfile.lock
  gemfiles/ruby_2.7.3_rails5_postgres_redis_activesupport.gemfile.lock
  gemfiles/ruby_2.7.3_rails5_postgres_sidekiq.gemfile.lock
  gemfiles/ruby_2.7.3_rails5_semantic_logger.gemfile.lock
  gemfiles/ruby_3.0.3_contrib.gemfile
  gemfiles/ruby_3.0.3_contrib.gemfile.lock
  gemfiles/ruby_3.0.3_contrib_old.gemfile
  gemfiles/ruby_3.0.3_contrib_old.gemfile.lock
  gemfiles/ruby_3.1.1_contrib.gemfile
  gemfiles/ruby_3.1.1_contrib.gemfile.lock
  gemfiles/ruby_3.1.1_contrib_old.gemfile
  gemfiles/ruby_3.1.1_contrib_old.gemfile.lock
  lib/datadog/tracing/contrib/graphql/ext.rb
  lib/datadog/tracing/contrib/graphql/patcher.rb
  sorbet/rbi/gems/graphql.rbi
  sorbet/rbi/hidden-definitions/hidden.rbi
  sorbet/rbi/todo.rbi
  spec/datadog/tracing/contrib/graphql/tracer_spec.rb
Labels: integrations

#1989 Fix Rails log tagging in 1.0.0.beta2
  lib/datadog/tracing/contrib/rails/patcher.rb
  spec/datadog/tracing/contrib/rails/support/base.rb
Labels: bug, integrations
