Repository DataDog/dd-trace-rb, pull requests merged in 2022-03, with the labels that each got.

#1933 Update installation steps
  docs/GettingStarted.md
Labels: docs, refactor

#1939 Docs: Clarify service naming in upgrade guide
  docs/UpgradeGuide.md
Labels: docs

#1930 Move ENVIRONMENT_AGENT_SETTINGS to class/specs that need it
  lib/datadog/core/configuration/agent_settings_resolver.rb
  lib/ddtrace/transport/http.rb
  spec/datadog/profiling/transport/http/integration_spec.rb
  spec/ddtrace/transport/http_spec.rb
Labels: core, refactor

#1931 `AgentSettingsResolver` cleanups and spec improvements
  lib/datadog/core/configuration/agent_settings_resolver.rb
  spec/datadog/core/configuration/agent_settings_resolver_spec.rb
Labels: core, refactor

#1932 Enable extraction of http/unix adapter config from transport_options proc
  lib/datadog/core/configuration/agent_settings_resolver.rb
  spec/datadog/core/configuration/agent_settings_resolver_spec.rb
  spec/datadog/tracing/integration_spec.rb
Labels: core, refactor

#1943 Fix Grape raising error while tracing is disabled
  lib/datadog/tracing/contrib/grape/endpoint.rb
  spec/datadog/tracing/contrib/grape/tracer_spec.rb
Labels: bug, integrations

#1945 Fix Rake instrumenting while disabled
  lib/datadog/tracing/contrib/rake/instrumentation.rb
  spec/datadog/tracing/contrib/rake/instrumentation_spec.rb
Labels: bug, integrations
