Repository DataDog/dd-trace-rb, pull requests merged in 2022-02, with the labels that each got.

#1874 Namespacing: Datadog::OpenTracer
  .rubocop_todo.yml
  Rakefile
  docs/GettingStarted.md
  lib/datadog/opentelemetry/extensions.rb
  lib/datadog/opentelemetry/span.rb
  lib/datadog/opentracer.rb
  lib/datadog/opentracer/binary_propagator.rb
  lib/datadog/opentracer/carrier.rb
  lib/datadog/opentracer/distributed_headers.rb
  lib/datadog/opentracer/global_tracer.rb
  lib/datadog/opentracer/propagator.rb
  lib/datadog/opentracer/rack_propagator.rb
  lib/datadog/opentracer/scope.rb
  lib/datadog/opentracer/scope_manager.rb
  lib/datadog/opentracer/span.rb
  lib/datadog/opentracer/span_context.rb
  lib/datadog/opentracer/span_context_factory.rb
  lib/datadog/opentracer/text_map_propagator.rb
  lib/datadog/opentracer/thread_local_scope.rb
  lib/datadog/opentracer/thread_local_scope_manager.rb
  lib/datadog/opentracer/tracer.rb
  lib/ddtrace.rb
  lib/ddtrace/opentracer.rb
  spec/datadog/integration_spec.rb
  spec/datadog/opentelemetry/span_spec.rb
  spec/datadog/opentracer/binary_propagator_spec.rb
  spec/datadog/opentracer/carrier_spec.rb
  spec/datadog/opentracer/distributed_headers_spec.rb
  spec/datadog/opentracer/global_tracer_spec.rb
  spec/datadog/opentracer/propagation_integration_spec.rb
  spec/datadog/opentracer/propagator_spec.rb
  spec/datadog/opentracer/rack_propagator_spec.rb
  spec/datadog/opentracer/scope_manager_spec.rb
  spec/datadog/opentracer/scope_spec.rb
  spec/datadog/opentracer/span_context_factory_spec.rb
  spec/datadog/opentracer/span_context_spec.rb
  spec/datadog/opentracer/span_spec.rb
  spec/datadog/opentracer/text_map_propagator_spec.rb
  spec/datadog/opentracer/thread_local_scope_manager_spec.rb
  spec/datadog/opentracer/thread_local_scope_spec.rb
  spec/datadog/opentracer/tracer_integration_spec.rb
  spec/datadog/opentracer/tracer_spec.rb
Labels: core, breaking-change, refactor

#1814 Address warnings on CI-app
  Rakefile
  lib/datadog/ci/contrib/rspec/patcher.rb
  spec/datadog/ci/contrib/cucumber/formatter_spec.rb
  spec/datadog/ci/contrib/cucumber/integration_spec.rb
  spec/datadog/ci/contrib/cucumber/patcher_spec.rb
  spec/datadog/ci/contrib/rspec/instrumentation_spec.rb
  spec/datadog/ci/contrib/rspec/integration_spec.rb
  spec/datadog/ci/contrib/rspec/patcher_spec.rb
  spec/datadog/ci/contrib/support/spec_helper.rb
  spec/spec_helper.rb
Labels: refactor

#1838 Move host and tracer port to the agent settings group
  docs/GettingStarted.md
  lib/datadog/core/configuration/agent_settings_resolver.rb
  lib/datadog/core/configuration/settings.rb
  lib/datadog/core/configuration/validation_proxy.rb
  spec/datadog/core/configuration/agent_settings_resolver_spec.rb
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/profiling/transport/http/adapters/net_integration_spec.rb
  spec/datadog/tracing/integration_spec.rb
Labels: core, breaking-change, refactor

#1841 Fix distributed tracing with ciapp
  lib/datadog/core/configuration/components.rb
  spec/datadog/core/configuration/components_spec.rb
Labels: bug, ci-app

#1870 Ensure span.resource is in UTF-8
  lib/datadog/core/utils.rb
  lib/datadog/tracing/span_operation.rb
  spec/datadog/tracing/span_operation_spec.rb
  spec/support/tracer_helpers.rb
Labels: bug

#1871 Ensure tag and metrics are in UTF-8
  lib/datadog/tracing/metadata/tagging.rb
  spec/datadog/tracing/metadata/tagging_spec.rb
Labels: bug, core

#1882 Core:Fix HTTP header normalization when used as tag
  lib/datadog/tracing/metadata/ext.rb
  spec/datadog/tracing/contrib/rack/integration_test_spec.rb
  spec/datadog/tracing/contrib/sinatra/tracer_spec.rb
  spec/datadog/tracing/metadata/ext_spec.rb
Labels: bug, core

#1883 Use writers for appsec config
  lib/datadog/security/configuration.rb
Labels: appsec

#1891 Remove SpanOperation.allocations
  lib/datadog/tracing/span_operation.rb
  spec/datadog/tracing/span_operation_spec.rb
Labels: core, breaking-change, performance

#1892 perf:Remove Forwardable from TraceSegment
  lib/datadog/tracing/trace_segment.rb
Labels: performance

#1890 Remove Tracing::Event mutex
  lib/datadog/tracing/event.rb
Labels: performance

#1893 perf:Lazy OnError event initialization
  lib/datadog/tracing/span_operation.rb
Labels: performance

#1898 Remove validation proxy
  lib/datadog/ci.rb
  lib/datadog/ci/configuration/validation_proxy.rb
  lib/datadog/core/configuration.rb
  lib/datadog/core/configuration/validation_proxy.rb
  lib/datadog/profiling.rb
  lib/datadog/profiling/configuration/validation_proxy.rb
  lib/datadog/tracing.rb
  lib/datadog/tracing/configuration/validation_proxy.rb
  lib/datadog/tracing/contrib/extensions.rb
  spec/datadog/core/configuration_spec.rb
  spec/datadog/core/metrics/options_spec.rb
  spec/datadog/core_spec.rb
  spec/datadog/profiling/transport/http/adapters/net_integration_spec.rb
  spec/datadog/profiling_spec.rb
  spec/datadog/tracing/correlation_spec.rb
  spec/datadog/tracing/tracer_spec.rb
  spec/datadog/tracing_spec.rb
Labels: core, breaking-change

#1897 Remove splat behavior from tracer
  lib/datadog/ci/contrib/cucumber/formatter.rb
  lib/datadog/ci/contrib/rspec/example.rb
  lib/datadog/tracing/contrib/presto/instrumentation.rb
  lib/datadog/tracing/trace_operation.rb
  lib/datadog/tracing/tracer.rb
  spec/datadog/tracing/trace_operation_spec.rb
  spec/datadog/tracing_spec.rb
Labels: core, performance

#1902 Use functions over helpers in TraceSegment
  lib/datadog/tracing/trace_segment.rb
Labels: core, performance

#1901 Namespace CI settings
  integration/apps/rspec/spec/spec_helper.rb
  lib/datadog/ci.rb
  lib/datadog/ci/configuration/components.rb
  lib/datadog/ci/configuration/settings.rb
  lib/datadog/ci/ext/settings.rb
  spec/datadog/ci/configuration/components_spec.rb
  spec/datadog/ci/configuration/settings_spec.rb
  spec/datadog/ci/contrib/support/mode_helpers.rb
Labels: breaking-change, ci-app

#1894 perf:Avoid copying frozen objects
  lib/datadog/core/environment/identity.rb
  lib/datadog/core/environment/socket.rb
  lib/datadog/tracing/span_operation.rb
  lib/datadog/tracing/trace_segment.rb
  spec/datadog/tracing/trace_segment_spec.rb
Labels: performance

#1888 Use Array instead of Hash for Tracing::Events
  lib/datadog/core/configuration/components.rb
  lib/datadog/opentracer/rack_propagator.rb
  lib/datadog/opentracer/span_context.rb
  lib/datadog/opentracer/span_context_factory.rb
  lib/datadog/opentracer/text_map_propagator.rb
  lib/datadog/opentracer/tracer.rb
  lib/datadog/tracing/event.rb
  lib/datadog/tracing/span_operation.rb
  lib/datadog/tracing/trace_operation.rb
  lib/datadog/tracing/tracer.rb
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/opentracer/span_context_factory_spec.rb
  spec/datadog/opentracer/text_map_propagator_spec.rb
  spec/datadog/tracing/contrib/delayed_job/plugin_spec.rb
  spec/datadog/tracing/contrib/resque/instrumentation_spec.rb
  spec/datadog/tracing/contrib/sidekiq/tracer_configure_spec.rb
  spec/datadog/tracing/contrib/sneakers/tracer_spec.rb
  spec/datadog/tracing/event_spec.rb
  spec/datadog/tracing/integration_spec.rb
  spec/datadog/tracing/span_operation_spec.rb
  spec/datadog/tracing/trace_operation_spec.rb
  spec/datadog/tracing/tracer_spec.rb
  spec/datadog/tracing/writer_spec.rb
Labels: refactor, performance

#1903 Namespace AppSec settings
  Rakefile
  lib/datadog/appsec.rb
  lib/datadog/appsec/configuration/settings.rb
  lib/datadog/appsec/contrib/rack/request.rb
  lib/datadog/appsec/extensions.rb
  spec/datadog/appsec/extensions_spec.rb
  spec/datadog/appsec/spec_helper.rb
Labels: appsec

#1906 Add YARD link to docs
  README.md
  docs/GettingStarted.md
Labels: docs

#1908 Fix AppSec after c.instrument namespacing
  lib/datadog/appsec/contrib/rails/framework.rb
  lib/datadog/appsec/contrib/sinatra/framework.rb
Labels: appsec

#1909 Ensure presence of active trace when looking for root span in AppSec
  lib/datadog/appsec/contrib/rack/gateway/watcher.rb
Labels: appsec

#1832 Add 1.0 upgrade guide
  README.md
  docs/0.x-trace.png
  docs/1.0-trace.png
  docs/GettingStarted.md
  docs/UpgradeGuide.md
Labels: docs

#1911 Fix require 'datadog/ci' not loading dependencies
  integration/apps/rspec/app/datadog.rb
  integration/apps/rspec/docker-compose.ci.yml
  integration/apps/rspec/docker-compose.yml
  lib/datadog/ci.rb
  lib/datadog/opentelemetry/extensions.rb
  lib/datadog/tracing/contrib.rb
  lib/datadog/tracing/contrib/auto_instrument.rb
  lib/datadog/tracing/contrib/extensions.rb
  lib/datadog/tracing/contrib/rails/auto_instrument_railtie.rb
  lib/ddtrace.rb
  lib/ddtrace/auto_instrument.rb
  spec/ddtrace/auto_instrument_spec.rb
Labels: bug, core, refactor, ci-app

#1917 Remove OpenTelemetry extensions
  Rakefile
  docs/UpgradeGuide.md
  lib/datadog/opentelemetry/extensions.rb
  lib/datadog/opentelemetry/span.rb
  lib/ddtrace.rb
  spec/datadog/opentelemetry/span_spec.rb
Labels: feature, deprecation

#1914 1.0 upgrade guide restructure
  docs/UpgradeGuide.md
Labels: docs
