Repository DataDog/dd-trace-rb, pull requests merged in 2022-08, with the labels that each got.

#2195 Update graphql related docs
  docs/GettingStarted.md
Labels: docs

#2201 Opentracing propagation with TraceDigest
  lib/datadog/opentracer/rack_propagator.rb
  lib/datadog/opentracer/text_map_propagator.rb
  spec/datadog/opentracer/propagation_integration_spec.rb
  spec/datadog/opentracer/rack_propagator_spec.rb
  spec/datadog/opentracer/text_map_propagator_spec.rb
Labels: bug

#2203 Doc:Instrumentation options are keyword arguments
  docs/GettingStarted.md
Labels: docs

#2118 Correctly set the default service based off of Rails config
  lib/datadog/tracing/contrib/rails/framework.rb
  spec/datadog/tracing/contrib/rails/defaults_spec.rb
Labels: bug, integrations, community

#2212 Backports fix to #2190
  Gemfile
  lib/ddtrace/contrib/active_support/cache/instrumentation.rb
  spec/ddtrace/contrib/rails/cache_spec.rb
Labels: backport

#2215 Action:Upgrade ruby/setup-ruby action version
  .github/workflows/test-head.yaml
  .github/workflows/test-macos.yaml
Labels: dev/github

#2210 CI:Test time limit with thread dump report
  spec/spec_helper.rb
Labels: dev/ci

#2223 Add link to public docs about tracer telemetry
  docs/GettingStarted.md
Labels: docs

#2224 CI:Test time limit with thread dump report (missing commit)
  spec/spec_helper.rb
Labels: dev/testing

#2233 Disable telemetry by default
  docs/GettingStarted.md
  integration/apps/rails-five/docker-compose.ci.yml
  integration/apps/rails-seven/docker-compose.ci.yml
  integration/apps/rails-six/docker-compose.ci.yml
  lib/datadog/core/configuration/settings.rb
  spec/datadog/core/configuration/settings_spec.rb
Labels: core

#2246 Tracing Ruby Applications Edit
  docs/GettingStarted.md
Labels: docs
