Repository DataDog/dd-trace-rb, pull requests merged in 2022-09, with the labels that each got.

#2128 Single Span Sampling
  .rubocop.yml
  docs/GettingStarted.md
  lib/datadog/core/configuration/components.rb
  lib/datadog/core/configuration/settings.rb
  lib/datadog/tracing/configuration/ext.rb
  lib/datadog/tracing/flush.rb
  lib/datadog/tracing/metadata/tagging.rb
  lib/datadog/tracing/sampling/rate_limiter.rb
  lib/datadog/tracing/sampling/rate_sampler.rb
  lib/datadog/tracing/sampling/span/ext.rb
  lib/datadog/tracing/sampling/span/matcher.rb
  lib/datadog/tracing/sampling/span/rule.rb
  lib/datadog/tracing/sampling/span/rule_parser.rb
  lib/datadog/tracing/sampling/span/sampler.rb
  lib/datadog/tracing/trace_operation.rb
  lib/datadog/tracing/trace_segment.rb
  lib/datadog/tracing/tracer.rb
  spec/datadog/ci/flush_spec.rb
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/tracing/benchmark/microbenchmark_spec.rb
  spec/datadog/tracing/flush_spec.rb
  spec/datadog/tracing/integration_spec.rb
  spec/datadog/tracing/metadata/tagging_spec.rb
  spec/datadog/tracing/sampling/rate_limiter_spec.rb
  spec/datadog/tracing/sampling/span/rule_parser_spec.rb
  spec/datadog/tracing/sampling/span/rule_spec.rb
  spec/datadog/tracing/sampling/span/sampler_spec.rb
  spec/datadog/tracing/trace_operation_spec.rb
  spec/datadog/tracing/tracer_spec.rb
Labels: feature

#2261 chore:Satisfy new Rack linter middleware
  integration/apps/rack/Gemfile
  integration/apps/rack/app/acme.rb
  integration/apps/sinatra2-classic/app/acme.rb
  integration/apps/sinatra2-modular/app/basic.rb
  integration/apps/sinatra2-modular/app/health.rb
Labels: dev/testing

#2257 Correctly extract commit message from AppVeyor
  lib/datadog/ci/ext/environment.rb
  spec/datadog/ci/ext/fixtures/ci/appveyor.json
Labels: ci-app

#2258 CI: Fetch committer and author in Bitrise
  lib/datadog/ci/ext/environment.rb
Labels: ci-app

#2263 test:Fix flaky time in test
  spec/datadog/core/telemetry/collector_spec.rb
Labels: dev/testing

#2270 Move contrib-specific database span tags
  lib/datadog/tracing/contrib/ext.rb
  lib/datadog/tracing/contrib/pg/instrumentation.rb
  lib/datadog/tracing/metadata/ext.rb
  spec/datadog/tracing/contrib/pg/patcher_spec.rb
Labels: refactor

#2279 Set TraceOperation to sampled=true by default
  lib/datadog/tracing/trace_operation.rb
  spec/datadog/tracing/integration_spec.rb
  spec/datadog/tracing/trace_operation_spec.rb
Labels: bug

#2289 Fix OpenTracing context propagation
  lib/datadog/opentracer/tracer.rb
  spec/datadog/opentracer/propagation_integration_spec.rb
Labels: bug, integrations

#2296 Fix `service_nam` typo to `service_name`
  lib/datadog/tracing/contrib/graphql/configuration/settings.rb
Labels: bug

#2293 fix: AppSec Rails should check for railties instead of rails meta gem
  lib/datadog/appsec/contrib/rails/integration.rb
Labels: bug, community
