Repository DataDog/dd-trace-rb, pull requests merged in 2022-05, with the labels that each got.

#1972 Quantize sidekiq args
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/sidekiq/configuration/settings.rb
  lib/datadog/tracing/contrib/sidekiq/server_tracer.rb
  spec/datadog/tracing/contrib/sidekiq/server_tracer_spec.rb
Labels: integrations, community

#2005 Upgrade to Rubocop 1.29.0
  .rubocop.yml
  lib/datadog/appsec/configuration/settings.rb
Labels: dev/tooling

#2016 Fix incorrect reference to Tracing.continue_from!
  docs/UpgradeGuide.md
Labels: docs

#2011 Support spaces in environment variable lists
  lib/datadog/core/configuration/settings.rb
  lib/datadog/core/environment/variable_helpers.rb
  spec/datadog/core/environment/variable_helpers_spec.rb
Labels: core

#1985 Elasticsearch 8.0 support
  .circleci/config.yml
  .rubocop.yml
  Appraisals
  Rakefile
  docker-compose.yml
  docs/GettingStarted.md
  gemfiles/jruby_9.2.18.0_contrib.gemfile.lock
  gemfiles/jruby_9.2.18.0_contrib_old.gemfile.lock
  gemfiles/jruby_9.2.8.0_contrib.gemfile.lock
  gemfiles/jruby_9.2.8.0_contrib_old.gemfile.lock
  gemfiles/jruby_9.3.4.0_contrib.gemfile.lock
  gemfiles/jruby_9.3.4.0_contrib_old.gemfile.lock
  gemfiles/ruby_2.1.10_contrib.gemfile.lock
  gemfiles/ruby_2.1.10_core_old.gemfile.lock
  gemfiles/ruby_2.2.10_contrib.gemfile.lock
  gemfiles/ruby_2.2.10_core_old.gemfile.lock
  gemfiles/ruby_2.3.8_contrib.gemfile.lock
  gemfiles/ruby_2.3.8_contrib_old.gemfile.lock
  gemfiles/ruby_2.4.10_contrib.gemfile.lock
  gemfiles/ruby_2.4.10_contrib_old.gemfile.lock
  gemfiles/ruby_2.5.9_contrib.gemfile.lock
  gemfiles/ruby_2.5.9_contrib_old.gemfile.lock
  gemfiles/ruby_2.6.7_contrib.gemfile.lock
  gemfiles/ruby_2.6.7_contrib_old.gemfile.lock
  gemfiles/ruby_2.7.3_contrib.gemfile.lock
  gemfiles/ruby_2.7.3_contrib_old.gemfile.lock
  gemfiles/ruby_3.0.3_contrib.gemfile.lock
  gemfiles/ruby_3.0.3_contrib_old.gemfile.lock
  gemfiles/ruby_3.1.1_contrib.gemfile.lock
  gemfiles/ruby_3.1.1_contrib_old.gemfile.lock
  gemfiles/ruby_3.2.0_contrib.gemfile.lock
  gemfiles/ruby_3.2.0_contrib_old.gemfile.lock
  lib/datadog/tracing/contrib/elasticsearch/integration.rb
  lib/datadog/tracing/contrib/elasticsearch/patcher.rb
  sorbet/rbi/gems/elastic-transport.rbi
  sorbet/rbi/gems/elasticsearch-api.rbi
  sorbet/rbi/gems/elasticsearch-transport.rbi
  sorbet/rbi/gems/elasticsearch.rbi
  sorbet/rbi/todo.rbi
  spec/datadog/tracing/contrib/elasticsearch/integration_spec.rb
  spec/datadog/tracing/contrib/elasticsearch/patcher_spec.rb
  spec/datadog/tracing/contrib/elasticsearch/quantize_spec.rb
  spec/datadog/tracing/contrib/elasticsearch/support/client.rb
  spec/datadog/tracing/contrib/elasticsearch/transport_spec.rb
  spec/support/container_helpers.rb
  spec/support/log_helpers.rb
  tasks/update_appraisal_gemfiles.rake
Labels: integrations

#2022 Log Correlation:change ddsource to a scalar value
  lib/datadog/core/logging/ext.rb
  lib/datadog/tracing/contrib/lograge/instrumentation.rb
  lib/datadog/tracing/contrib/rails/log_injection.rb
  lib/datadog/tracing/contrib/semantic_logger/instrumentation.rb
  spec/datadog/tracing/contrib/lograge/instrumentation_spec.rb
  spec/datadog/tracing/contrib/semantic_logger/instrumentation_spec.rb
Labels: logging

#2026 Refactor to remove usage of forwardable
  lib/datadog/core/configuration.rb
  lib/datadog/tracing/sampling/priority_sampler.rb
  lib/datadog/tracing/sampling/rule.rb
  lib/ddtrace/transport/http/response.rb
  sorbet/rbi/hidden-definitions/hidden.rbi
  spec/datadog/profiling/transport/http/response_spec.rb
  spec/ddtrace/transport/http/response_spec.rb
Labels: refactor

#2027 Prevent `action_controller` tracing when disabled
  lib/datadog/tracing/contrib/action_pack/action_controller/instrumentation.rb
  spec/datadog/tracing/contrib/rails/action_controller_spec.rb
Labels: integrations

#2053 Fix malformed markdown
  docs/GettingStarted.md
Labels: community

#2050 Actions: Create draft release on release branch push
  .github/workflows/draft-release-on-release-branch-push.yaml
Labels: dev/github

#2049 Link to DevelopmentGuide.md from CONTRIBUTING.md
  CONTRIBUTING.md
Labels: docs, dev/testing

#2055 [Single Span Sampling] Add single span matcher
  lib/datadog/tracing/sampling/rate_sampler.rb
  lib/datadog/tracing/sampling/span/matcher.rb
  spec/datadog/tracing/sampling/span/matcher_spec.rb
Labels: feature
