Repository DataDog/dd-trace-rb, pull requests merged in 2022-07, with the labels that each got.

#2098 [Single Span Sampling] Span Sampler
  lib/datadog/tracing/sampling/span/sampler.rb
  lib/datadog/tracing/tracer.rb
  spec/datadog/tracing/sampling/span/sampler_spec.rb
  spec/datadog/tracing/tracer_spec.rb
Labels: core

#2103 [Single Span Sampling] Rule configuration settings
  docs/GettingStarted.md
  lib/datadog/core/configuration/settings.rb
  lib/datadog/tracing/configuration/ext.rb
  spec/datadog/core/configuration/settings_spec.rb
Labels: feature

#2130 Send telemetry app-closing event on shutdown
  lib/datadog/core/configuration/components.rb
  lib/datadog/core/telemetry/client.rb
  lib/datadog/core/telemetry/event.rb
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/core/telemetry/client_spec.rb
  spec/datadog/core/telemetry/event_spec.rb
Labels: feature

#2080 Implement private attributes `service_entry` for span
  lib/datadog/tracing/span.rb
  lib/datadog/tracing/span_operation.rb
  spec/datadog/tracing/span_operation_spec.rb
  spec/datadog/tracing/trace_operation_spec.rb
  spec/support/span_helpers.rb
Labels: core, feature

#2132 CI:RSpec documentation format to debug hung tests
  .circleci/config.yml
Labels: dev/ci

#2136 Fix have_metadata RSpec helper
  spec/ddtrace/transport/trace_formatter_spec.rb
  spec/support/span_helpers.rb
Labels: dev/testing

#2074 Drop spans for child-to-parent ordered traces in SpanFilter
  lib/datadog/tracing/pipeline/span_filter.rb
  spec/datadog/tracing/pipeline/span_filter_spec.rb
Labels: bug, core

#2160 Lint:ddtrace.gemspec
  .rubocop.yml
  ddtrace.gemspec
Labels: dev/tooling

#2167 Remove non-utf8 character in gemspec
  ddtrace.gemspec
Labels: bug

#2165 Lint:Ensure multi-line arguments align close to left margin
  .rubocop.yml
  Rakefile
  lib/datadog/appsec/contrib/rails/patcher.rb
  lib/datadog/appsec/contrib/sinatra/patcher.rb
  lib/datadog/appsec/reactive/operation.rb
  lib/datadog/ci/ext/environment.rb
  lib/datadog/core/configuration/agent_settings_resolver.rb
  lib/datadog/core/diagnostics/environment_logger.rb
  lib/datadog/profiling/transport/http.rb
  lib/datadog/tracing/contrib/active_support/cache/instrumentation.rb
  lib/datadog/tracing/contrib/extensions.rb
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/core/runtime/metrics_spec.rb
  spec/datadog/profiling/collectors/old_stack_spec.rb
  spec/datadog/profiling/pprof/builder_spec.rb
  spec/datadog/tracing/contrib/action_mailer/helpers.rb
  spec/datadog/tracing/contrib/active_record/configuration/resolver_spec.rb
  spec/datadog/tracing/contrib/active_record/tracer_spec.rb
  spec/datadog/tracing/contrib/elasticsearch/integration_spec.rb
  spec/datadog/tracing/contrib/elasticsearch/quantize_spec.rb
  spec/datadog/tracing/contrib/rails/support/rails3.rb
  spec/datadog/tracing/contrib/redis/configuration/resolver_spec.rb
  spec/datadog/tracing/contrib/sinatra/tracer_spec.rb
  spec/datadog/tracing/contrib/support/matchers.rb
  spec/datadog/tracing/distributed/headers/b3_spec.rb
  spec/datadog/tracing/distributed/headers/datadog_spec.rb
  spec/datadog/tracing/distributed/metadata/b3_spec.rb
  spec/datadog/tracing/distributed/metadata/datadog_spec.rb
  spec/datadog/tracing/propagation/http_spec.rb
  spec/datadog/tracing/writer_spec.rb
Labels: dev/tooling

#2168 Add reverse proxy setup for rails 7 integration
  integration/apps/rails-seven/bin/setup
  integration/apps/rails-seven/config/initializers/datadog.rb
  integration/apps/rails-seven/docker-compose.yml
  integration/apps/rails-seven/nginx.conf
Labels: dev/tooling

#2161 Lint:Add Rubocop Packaging extension
  .rubocop.yml
  Gemfile
  ddtrace.gemspec
  spec/ddtrace/release_gem_spec.rb
  tasks/release_gem.rake
Labels: dev/tooling

#2172 Build native extension in `bin/setup` for integration app
  integration/apps/rack/bin/setup
  integration/apps/rails-five/bin/setup
  integration/apps/rails-seven/bin/setup
  integration/apps/rails-six/bin/setup
  integration/apps/rspec/bin/setup
  integration/apps/ruby/bin/setup
  integration/apps/sinatra2_modular/bin/setup
Labels: dev/tooling

#2177 Update GettingStarted doc rails options
  docs/GettingStarted.md
Labels: docs

#2174 Rake:Require instrumented task list
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/rake/configuration/settings.rb
  lib/datadog/tracing/contrib/rake/instrumentation.rb
  spec/datadog/tracing/contrib/rake/instrumentation_spec.rb
Labels: bug

#2187 Set global source in Gemfile
  integration/apps/rack/Gemfile
  integration/apps/rails-five/Gemfile
  integration/apps/rails-seven/Gemfile
  integration/apps/rails-six/Gemfile
  integration/apps/rspec/Gemfile
  integration/apps/ruby/Gemfile
  integration/apps/sinatra2-classic/Gemfile
  integration/apps/sinatra2-modular/Gemfile
Labels: dev/testing

#2142 Wire Single Span Sampling
  docs/GettingStarted.md
  lib/datadog/core/configuration/components.rb
  lib/datadog/core/configuration/settings.rb
  lib/datadog/tracing/flush.rb
  lib/datadog/tracing/metadata/tagging.rb
  lib/datadog/tracing/sampling/span/rule_parser.rb
  lib/datadog/tracing/sampling/span/sampler.rb
  lib/datadog/tracing/trace_operation.rb
  lib/datadog/tracing/trace_segment.rb
  spec/datadog/ci/flush_spec.rb
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/tracing/flush_spec.rb
  spec/datadog/tracing/integration_spec.rb
  spec/datadog/tracing/metadata/tagging_spec.rb
  spec/datadog/tracing/sampling/span/rule_parser_spec.rb
  spec/datadog/tracing/trace_operation_spec.rb
Labels: feature
