Repository DataDog/dd-trace-rb, pull requests merged in 2022-12, with the labels that each got.

#2440 Fix sidekiq spec
  spec/datadog/tracing/contrib/sidekiq/server_internal_tracer/scheduled_poller_spec.rb
Labels: dev/testing

#2439 Fix using legacy C definitions
  docker-compose.yml
  ext/ddtrace_profiling_loader/extconf.rb
  ext/ddtrace_profiling_native_extension/extconf.rb
  ext/ddtrace_profiling_native_extension/stack_recorder.c
Labels: profiling

#2441 `exit` during sidekiq test
  spec/datadog/tracing/contrib/sidekiq/server_internal_tracer/heartbeat_spec.rb
Labels: dev/testing

#2415 [PROF-6556] Fix profiler incorrectly detecting if a thread is holding the Global VM Lock
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/ddtrace_profiling_native_extension/extconf.rb
  ext/ddtrace_profiling_native_extension/private_vm_api_access.c
  ext/ddtrace_profiling_native_extension/private_vm_api_access.h
  ext/ddtrace_profiling_native_extension/profiling.c
  ext/ddtrace_profiling_native_extension/ruby_helpers.h
  ext/ddtrace_profiling_native_extension/setup_signal_handler.h
  lib/datadog/core/configuration/components.rb
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/collectors/interesting_backtrace_helper.rb
  spec/datadog/profiling/native_extension_spec.rb
Labels: core, profiling

#2436 [PROF-6556] Add stat tracking to `CpuAndWallTimeWorker`
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time.c
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/ddtrace_profiling_native_extension/ruby_helpers.h
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
Labels: profiling

#2429 [PROF-6556] Fix profiler issue due to Ruby native thread reuse
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time.c
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/ddtrace_profiling_native_extension/profiling.c
  ext/ddtrace_profiling_native_extension/ruby_helpers.h
  ext/ddtrace_profiling_native_extension/setup_signal_handler.c
  ext/ddtrace_profiling_native_extension/setup_signal_handler.h
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
Labels: profiling

#2437 [PROF-6556] Refactor profiling global variables
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  spec/datadog/profiling/integration_spec.rb
  spec/datadog/profiling/tasks/setup_spec.rb
Labels: profiling

#2438 [PROF-6556] Directly send SIGPROF signals to thread holding Global VM Lock
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
Labels: profiling

#2453 Move Tracing diagnostic code from Core to Tracing
  lib/datadog/core/configuration/ext.rb
  lib/datadog/core/configuration/settings.rb
  lib/datadog/core/diagnostics/health.rb
  lib/datadog/tracing/configuration/ext.rb
  lib/datadog/tracing/diagnostics/ext.rb
  lib/datadog/tracing/diagnostics/health.rb
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/core/diagnostics/health_spec.rb
  spec/datadog/tracing/diagnostics/health_spec.rb
  spec/support/health_metric_helpers.rb
Labels: core, dev/refactor, tracing, dev/internal

#2451 Add W3C Trace Context propagator
  .rubocop.yml
  lib/datadog/tracing/distributed/trace_context.rb
  lib/datadog/tracing/sampling/priority_sampler.rb
  lib/datadog/tracing/trace_digest.rb
  spec/datadog/tracing/distributed/trace_context_spec.rb
  spec/datadog/tracing/sampling/priority_sampler_spec.rb
  spec/datadog/tracing/trace_digest_spec.rb
Labels: tracing

#2454 Deprecation notice for B3 propagation configuration
  docs/GettingStarted.md
  docs/UpgradeGuide.md
  lib/datadog/core.rb
  lib/datadog/core/configuration/settings.rb
  lib/datadog/core/environment/variable_helpers.rb
  lib/datadog/tracing/configuration/ext.rb
  lib/datadog/tracing/contrib/grpc/distributed/propagation.rb
  lib/datadog/tracing/contrib/http/distributed/propagation.rb
  lib/datadog/tracing/distributed/b3_multi.rb
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/core/environment/variable_helpers_spec.rb
  spec/datadog/core_spec.rb
  spec/datadog/tracing/contrib/grpc/distributed/propagation_spec.rb
  spec/datadog/tracing/contrib/http/distributed/propagation_spec.rb
  spec/datadog/tracing/distributed/b3_multi_spec.rb
  spec/datadog/tracing/distributed/propagation_spec.rb
  spec/spec_helper.rb
  spec/support/core_helpers.rb
Labels: core, integrations, tracing

#2456 Fix profiling integration spec not shutting down tracer correctly
  spec/datadog/profiling/integration_spec.rb
Labels: dev/testing

#2459 Move Tracing config settings from Core to Tracing
  lib/datadog/core/configuration/ext.rb
  lib/datadog/core/configuration/settings.rb
  lib/datadog/tracing/configuration/ext.rb
  lib/datadog/tracing/configuration/settings.rb
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/tracing/configuration/settings_spec.rb
Labels: core, dev/refactor, tracing, dev/internal

#2458 Wire W3C propagator to HTTP & gRPC propagation
  lib/datadog/tracing/contrib/grpc/distributed/propagation.rb
  lib/datadog/tracing/contrib/http/distributed/propagation.rb
  spec/datadog/tracing/contrib/grpc/distributed/propagation_spec.rb
  spec/datadog/tracing/contrib/http/distributed/propagation_spec.rb
Labels: integrations, tracing

#2460 Extra testing from W3C spec
  lib/datadog/tracing/distributed/trace_context.rb
  spec/datadog/tracing/distributed/trace_context_spec.rb
Labels: tracing

#2461 Semicolons not allwed in 'origin'
  lib/datadog/tracing/distributed/trace_context.rb
  spec/datadog/tracing/distributed/trace_context_spec.rb
Labels: tracing

#2457 Remove unused LanguageHelpers
  spec/datadog/core/chunker_spec.rb
  spec/datadog/core/encoding_spec.rb
  spec/support/container_helpers.rb
  spec/support/language_helpers.rb
  spec/support/synchronization_helpers.rb
Labels: dev/testing

#2452 Fix unsafely raising exceptions without global VM lock in new profiler
  ext/ddtrace_profiling_native_extension/NativeExtensionDesign.md
  ext/ddtrace_profiling_native_extension/profiling.c
  ext/ddtrace_profiling_native_extension/ruby_helpers.c
  ext/ddtrace_profiling_native_extension/ruby_helpers.h
  ext/ddtrace_profiling_native_extension/stack_recorder.c
  spec/datadog/profiling/native_extension_spec.rb
Labels: profiling

#2466 Add DD_TRACE_PROPAGATION_STYLE option
  docs/GettingStarted.md
  lib/datadog/tracing/configuration/ext.rb
  lib/datadog/tracing/configuration/settings.rb
  spec/datadog/tracing/configuration/settings_spec.rb
Labels: tracing

#2469 Changes `error.msg` to `error.message` for UNC
  lib/datadog/tracing/metadata/ext.rb
  spec/datadog/tracing/contrib/grape/tracer_spec.rb
  spec/datadog/tracing/contrib/http/request_spec.rb
  spec/datadog/tracing/contrib/mongodb/client_spec.rb
  spec/datadog/tracing/contrib/mysql2/patcher_spec.rb
  spec/datadog/tracing/contrib/rack/integration_test_spec.rb
  spec/datadog/tracing/contrib/rails/cache_spec.rb
  spec/datadog/tracing/contrib/rails/middleware_spec.rb
  spec/datadog/tracing/contrib/redis/shared_examples.rb
Labels: tracing

#2462 Feature test for W3C Trace Context propagation
  spec/datadog/opentracer/propagation_integration_spec.rb
  spec/datadog/tracing/contrib/http/distributed/propagation_spec.rb
  spec/datadog/tracing/tracer_integration_spec.rb
  spec/spec_helper.rb
  spec/support/rack_support.rb
Labels: dev/testing

#2467 Simplify system API error handling in profiler
  ext/ddtrace_profiling_native_extension/profiling.c
  ext/ddtrace_profiling_native_extension/ruby_helpers.c
  ext/ddtrace_profiling_native_extension/ruby_helpers.h
  ext/ddtrace_profiling_native_extension/setup_signal_handler.c
  ext/ddtrace_profiling_native_extension/stack_recorder.c
  spec/datadog/profiling/native_extension_spec.rb
Labels: profiling

#2468 [PROF-6556] Fix new alpha profiler not being able to sample in periods of idleness
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/ddtrace_profiling_native_extension/collectors_idle_sampling_helper.c
  ext/ddtrace_profiling_native_extension/collectors_idle_sampling_helper.h
  ext/ddtrace_profiling_native_extension/private_vm_api_access.c
  ext/ddtrace_profiling_native_extension/profiling.c
  ext/ddtrace_profiling_native_extension/ruby_helpers.h
  ext/ddtrace_profiling_native_extension/setup_signal_handler.c
  lib/datadog/profiling.rb
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  lib/datadog/profiling/collectors/idle_sampling_helper.rb
  lib/datadog/profiling/stack_recorder.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_spec.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/collectors/idle_sampling_helper_spec.rb
  spec/datadog/profiling/collectors/stack_spec.rb
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: profiling

#2464 SQL comment propagation full mode with traceparent
  lib/datadog/tracing/contrib/mysql2/instrumentation.rb
  lib/datadog/tracing/contrib/pg/instrumentation.rb
  lib/datadog/tracing/contrib/propagation/sql_comment.rb
  lib/datadog/tracing/contrib/propagation/sql_comment/ext.rb
  spec/datadog/tracing/contrib/propagation/sql_comment_spec.rb
  spec/datadog/tracing/contrib/sql_comment_propagation_examples.rb
Labels: integrations, tracing

#2470 Improve redis integration patching
  lib/datadog/tracing/contrib/patcher.rb
  lib/datadog/tracing/contrib/redis/integration.rb
  lib/datadog/tracing/contrib/redis/patcher.rb
  spec/datadog/tracing/contrib/redis/integration_spec.rb
  spec/datadog/tracing/contrib/redis/patcher_spec.rb
Labels: integrations, tracing

#2455 Auto-instrumentation with service_name from environmental variable
  .env
  docker-compose.yml
  lib/datadog/tracing/contrib/aws/configuration/settings.rb
  lib/datadog/tracing/contrib/aws/ext.rb
  lib/datadog/tracing/contrib/dalli/configuration/settings.rb
  lib/datadog/tracing/contrib/dalli/ext.rb
  lib/datadog/tracing/contrib/elasticsearch/configuration/settings.rb
  lib/datadog/tracing/contrib/elasticsearch/ext.rb
  lib/datadog/tracing/contrib/ethon/configuration/settings.rb
  lib/datadog/tracing/contrib/ethon/ext.rb
  lib/datadog/tracing/contrib/excon/configuration/settings.rb
  lib/datadog/tracing/contrib/excon/ext.rb
  lib/datadog/tracing/contrib/faraday/configuration/settings.rb
  lib/datadog/tracing/contrib/faraday/ext.rb
  lib/datadog/tracing/contrib/grpc/configuration/settings.rb
  lib/datadog/tracing/contrib/grpc/ext.rb
  lib/datadog/tracing/contrib/http/configuration/settings.rb
  lib/datadog/tracing/contrib/http/ext.rb
  lib/datadog/tracing/contrib/httpclient/configuration/settings.rb
  lib/datadog/tracing/contrib/httpclient/ext.rb
  lib/datadog/tracing/contrib/httprb/configuration/settings.rb
  lib/datadog/tracing/contrib/httprb/ext.rb
  lib/datadog/tracing/contrib/mongodb/configuration/settings.rb
  lib/datadog/tracing/contrib/mongodb/ext.rb
  lib/datadog/tracing/contrib/mysql2/configuration/settings.rb
  lib/datadog/tracing/contrib/mysql2/ext.rb
  lib/datadog/tracing/contrib/pg/configuration/settings.rb
  lib/datadog/tracing/contrib/pg/ext.rb
  lib/datadog/tracing/contrib/presto/configuration/settings.rb
  lib/datadog/tracing/contrib/presto/ext.rb
  lib/datadog/tracing/contrib/redis/configuration/settings.rb
  lib/datadog/tracing/contrib/redis/ext.rb
  lib/datadog/tracing/contrib/rest_client/configuration/settings.rb
  lib/datadog/tracing/contrib/rest_client/ext.rb
  spec/datadog/tracing/contrib/aws/instrumentation_spec.rb
  spec/datadog/tracing/contrib/dalli/instrumentation_spec.rb
  spec/datadog/tracing/contrib/elasticsearch/patcher_spec.rb
  spec/datadog/tracing/contrib/elasticsearch/transport_spec.rb
  spec/datadog/tracing/contrib/environment_service_name_examples.rb
  spec/datadog/tracing/contrib/ethon/easy_patch_spec.rb
  spec/datadog/tracing/contrib/ethon/multi_patch_spec.rb
  spec/datadog/tracing/contrib/ethon/shared_examples.rb
  spec/datadog/tracing/contrib/excon/instrumentation_spec.rb
  spec/datadog/tracing/contrib/faraday/middleware_spec.rb
  spec/datadog/tracing/contrib/grpc/datadog_interceptor/client_spec.rb
  spec/datadog/tracing/contrib/grpc/datadog_interceptor/server_spec.rb
  spec/datadog/tracing/contrib/grpc/interception_context_spec.rb
  spec/datadog/tracing/contrib/http/request_spec.rb
  spec/datadog/tracing/contrib/httpclient/instrumentation_spec.rb
  spec/datadog/tracing/contrib/httprb/instrumentation_spec.rb
  spec/datadog/tracing/contrib/mongodb/client_spec.rb
  spec/datadog/tracing/contrib/mysql2/patcher_spec.rb
  spec/datadog/tracing/contrib/pg/patcher_spec.rb
  spec/datadog/tracing/contrib/presto/client_spec.rb
  spec/datadog/tracing/contrib/redis/redis_spec.rb
  spec/datadog/tracing/contrib/rest_client/request_patch_spec.rb
Labels: integrations, tracing

#2476 [PROF-6691] Send span id in profiles as number and not string
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time.c
  spec/datadog/profiling/collectors/cpu_and_wall_time_spec.rb
  spec/datadog/profiling/spec_helper.rb
Labels: profiling

#2471 Test Propagation class instead of styles directly
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/grpc/distributed/propagation.rb
  lib/datadog/tracing/contrib/http/distributed/propagation.rb
  lib/datadog/tracing/distributed/none.rb
  spec/datadog/tracing/contrib/grpc/distributed/propagation_spec.rb
  spec/datadog/tracing/contrib/http/distributed/propagation_spec.rb
  spec/datadog/tracing/distributed/b3_single_spec.rb
  spec/datadog/tracing/distributed/datadog_spec.rb
  spec/datadog/tracing/distributed/none_spec.rb
  spec/datadog/tracing/distributed/propagation_spec.rb
  spec/datadog/tracing/distributed/trace_context_spec.rb
Labels: integrations, tracing

#2477 Fix sidekiq flaky spec
  spec/datadog/tracing/contrib/sidekiq/server_internal_tracer/heartbeat_spec.rb
  spec/datadog/tracing/contrib/sidekiq/server_internal_tracer/job_fetch_spec.rb
  spec/datadog/tracing/contrib/sidekiq/server_internal_tracer/redis_info_spec.rb
  spec/datadog/tracing/contrib/sidekiq/server_internal_tracer/scheduled_poller_spec.rb
  spec/datadog/tracing/contrib/sidekiq/support/helper.rb
Labels: dev/testing

#2479 Add debug information for flaky grape test
  spec/datadog/tracing/contrib/grape/tracer_spec.rb
Labels: dev/testing

#2478 Allow try_wait_until to be configured with seconds
  spec/datadog/core/workers/runtime_metrics_spec.rb
  spec/datadog/tracing/contrib/presto/client_spec.rb
  spec/datadog/tracing/contrib/redis/integration_test_spec.rb
  spec/datadog/tracing/contrib/sidekiq/support/helper.rb
  spec/datadog/tracing/integration_spec.rb
  spec/datadog/tracing/workers/trace_writer_spec.rb
  spec/support/synchronization_helpers.rb
Labels: dev/testing

#2482 Spec for `sidekiq.stop`
  spec/datadog/tracing/contrib/sidekiq/server_internal_tracer/heartbeat_spec.rb
  spec/datadog/tracing/contrib/sidekiq/support/helper.rb
Labels: dev/testing

#2480 [PROF-6557] Groundwork for using C atomic primitives
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/ddtrace_profiling_native_extension/extconf.rb
  ext/ddtrace_profiling_native_extension/native_extension_helpers.rb
Labels: profiling

#2481 Temporarily disable GC profiling by default in new Ruby profiler due to overhead
  lib/datadog/core/configuration/components.rb
  lib/datadog/core/configuration/settings.rb
  spec/datadog/core/configuration/components_spec.rb
Labels: profiling

#2483 [PROF-6557] Record stats for time spent sampling in new profiler
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time.c
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
Labels: profiling

#2486 [PROF-6557] Refactoring in preparation for implementing dynamic sampling rate
  ext/ddtrace_profiling_native_extension/clock_id_from_pthread.c
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time.c
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time.h
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/ddtrace_profiling_native_extension/helpers.h
  ext/ddtrace_profiling_native_extension/profiling.c
  ext/ddtrace_profiling_native_extension/stack_recorder.c
  ext/ddtrace_profiling_native_extension/time_helpers.c
  ext/ddtrace_profiling_native_extension/time_helpers.h
Labels: profiling

#2487 [PROF-6557] Implement dynamic sampling rate for new profiler
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/ddtrace_profiling_native_extension/collectors_dynamic_sampling_rate.c
  ext/ddtrace_profiling_native_extension/collectors_dynamic_sampling_rate.h
  ext/ddtrace_profiling_native_extension/profiling.c
  lib/datadog/profiling.rb
  lib/datadog/profiling/collectors/dynamic_sampling_rate.rb
  lib/datadog/profiling/collectors/idle_sampling_helper.rb
  spec/datadog/profiling/collectors/dynamic_sampling_rate_spec.rb
Labels: profiling

#2488 Update banner on 1.0 upgrade guide
  README.md
  docs/GettingStarted.md
Labels: docs

#2489 [PROF-6559] Mark Ruby CPU Profiling 2.0 as being in beta
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  lib/datadog/core/configuration/components.rb
  spec/datadog/core/configuration/components_spec.rb
Labels: core, profiling

#2490 Add `full` mode for SQL comment propagation in documentation
  docs/GettingStarted.md
Labels: docs

#2498 Move Metrics ENV constants to Core::Configuration::Ext
  docs/UpgradeGuide.md
  lib/datadog/core/configuration/agent_settings_resolver.rb
  lib/datadog/core/configuration/ext.rb
  lib/datadog/core/metrics/client.rb
  lib/datadog/core/metrics/ext.rb
  lib/datadog/tracing/configuration/ext.rb
  spec/datadog/core/metrics/client_spec.rb
  spec/datadog/tracing/benchmark/support/benchmark_helper.rb
Labels: core, dev/refactor, tracing

#2499 Changed: Enable telemetry by default
  docs/GettingStarted.md
  lib/datadog/core/configuration/settings.rb
  spec/datadog/core/configuration/settings_spec.rb
Labels: core, feature

#2485 W3C: Propagate unknown values as-is
  lib/datadog/tracing/distributed/trace_context.rb
  lib/datadog/tracing/trace_digest.rb
  spec/datadog/tracing/distributed/trace_context_spec.rb
  spec/datadog/tracing/trace_digest_spec.rb
Labels: tracing

#2504 Flexible header matching for HTTP propagator
  lib/datadog/tracing/contrib/http/distributed/fetcher.rb
  spec/datadog/tracing/contrib/http/distributed/fetcher_spec.rb
Labels: integrations, tracing

#2507 Lock gem upgrade version for integration tests
  integration/images/ruby/2.3/Dockerfile
  integration/images/ruby/2.4/Dockerfile
  integration/images/ruby/2.5/Dockerfile
  integration/images/ruby/2.6/Dockerfile
  integration/images/ruby/2.7/Dockerfile
  integration/images/ruby/3.0/Dockerfile
  integration/images/ruby/3.1/Dockerfile
  integration/images/ruby/3.2/Dockerfile
Labels: dev/testing

#2508 Action:Upgrade setup-ruby to fix bundler version matching
  .github/workflows/check.yml
  .github/workflows/test-head.yaml
  .github/workflows/test-macos.yaml
Labels: dev/github
