Repository DataDog/dd-trace-rb, pull requests merged in 2022-11, with the labels that each got.

#2326 Unified tagging `span.kind` as `client`
  lib/datadog/tracing/contrib/aws/instrumentation.rb
  lib/datadog/tracing/contrib/ethon/easy_patch.rb
  lib/datadog/tracing/contrib/ethon/multi_patch.rb
  lib/datadog/tracing/contrib/excon/middleware.rb
  lib/datadog/tracing/contrib/faraday/middleware.rb
  lib/datadog/tracing/contrib/grpc/datadog_interceptor/client.rb
  lib/datadog/tracing/contrib/http/instrumentation.rb
  lib/datadog/tracing/contrib/httpclient/instrumentation.rb
  lib/datadog/tracing/contrib/httprb/instrumentation.rb
  lib/datadog/tracing/contrib/mysql2/instrumentation.rb
  lib/datadog/tracing/contrib/rest_client/request_patch.rb
  spec/datadog/tracing/contrib/aws/instrumentation_spec.rb
  spec/datadog/tracing/contrib/ethon/multi_patch_spec.rb
  spec/datadog/tracing/contrib/ethon/shared_examples.rb
  spec/datadog/tracing/contrib/excon/instrumentation_spec.rb
  spec/datadog/tracing/contrib/faraday/middleware_spec.rb
  spec/datadog/tracing/contrib/grpc/datadog_interceptor/client_spec.rb
  spec/datadog/tracing/contrib/http/miniapp_spec.rb
  spec/datadog/tracing/contrib/http/request_spec.rb
  spec/datadog/tracing/contrib/httpclient/instrumentation_spec.rb
  spec/datadog/tracing/contrib/httprb/instrumentation_spec.rb
  spec/datadog/tracing/contrib/mysql2/patcher_spec.rb
  spec/datadog/tracing/contrib/rest_client/request_patch_spec.rb
Labels: integrations, tracing

#2217 Squash nested sinatra/rack request span
  docs/GettingStarted.md
  integration/apps/sinatra2-classic/docker-compose.yml
  integration/apps/sinatra2-modular/app/acme.rb
  integration/apps/sinatra2-modular/app/basic.rb
  integration/apps/sinatra2-modular/app/parent.rb
  integration/apps/sinatra2-modular/config.ru
  integration/apps/sinatra2-modular/docker-compose.yml
  lib/datadog/tracing/contrib/rack/middlewares.rb
  lib/datadog/tracing/contrib/sinatra/env.rb
  lib/datadog/tracing/contrib/sinatra/ext.rb
  lib/datadog/tracing/contrib/sinatra/patcher.rb
  lib/datadog/tracing/contrib/sinatra/tracer.rb
  lib/datadog/tracing/contrib/sinatra/tracer_middleware.rb
  spec/datadog/tracing/contrib/rack/integration_test_spec.rb
  spec/datadog/tracing/contrib/sinatra/multi_app_spec.rb
  spec/datadog/tracing/contrib/sinatra/tracer_spec.rb
Labels: integrations, tracing

#2282 Sampling-Propagation:Set sampling decision mechanism tag
  lib/datadog/appsec/contrib/rack/request_middleware.rb
  lib/datadog/appsec/event.rb
  lib/datadog/core/configuration/components.rb
  lib/datadog/tracing/flush.rb
  lib/datadog/tracing/metadata/ext.rb
  lib/datadog/tracing/sampling/ext.rb
  lib/datadog/tracing/sampling/priority_sampler.rb
  lib/datadog/tracing/sampling/rate_by_key_sampler.rb
  lib/datadog/tracing/sampling/rate_by_service_sampler.rb
  lib/datadog/tracing/sampling/rate_sampler.rb
  lib/datadog/tracing/sampling/rule_sampler.rb
  lib/datadog/tracing/sampling/span/ext.rb
  lib/datadog/tracing/sampling/span/rule.rb
  lib/datadog/tracing/sampling/span/sampler.rb
  lib/datadog/tracing/trace_operation.rb
  lib/datadog/tracing/trace_segment.rb
  lib/datadog/tracing/writer.rb
  lib/ddtrace/transport/trace_formatter.rb
  spec/datadog/appsec/event_spec.rb
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/tracing/integration_spec.rb
  spec/datadog/tracing/sampling/priority_sampler_spec.rb
  spec/datadog/tracing/sampling/rate_by_key_sampler_spec.rb
  spec/datadog/tracing/sampling/rate_by_service_sampler_spec.rb
  spec/datadog/tracing/sampling/rate_sampler_spec.rb
  spec/datadog/tracing/sampling/rule_sampler_spec.rb
  spec/datadog/tracing/sampling/span/sampler_spec.rb
  spec/datadog/tracing/trace_operation_spec.rb
  spec/datadog/tracing/trace_segment_spec.rb
  spec/ddtrace/transport/trace_formatter_spec.rb
Labels: core, integrations, feature, appsec, tracing

#2298 Sampling-Propagation:Export/import sampling decision through distributed trace tags
  spec/datadog/opentracer/rack_propagator_spec.rb
  spec/datadog/tracing/distributed/headers/datadog_spec.rb
Labels: dev/testing, feature

#2299 Sampling-Propagation:Exclude problematic existing tag
  lib/datadog/tracing/distributed/headers/datadog.rb
  spec/datadog/tracing/distributed/headers/datadog_spec.rb
Labels: feature, tracing

#2345 Include native thread id as part of thread id label for profiling
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time.c
  ext/ddtrace_profiling_native_extension/extconf.rb
  ext/ddtrace_profiling_native_extension/private_vm_api_access.c
  ext/ddtrace_profiling_native_extension/private_vm_api_access.h
  ext/ddtrace_profiling_native_extension/stack_recorder.c
  spec/datadog/profiling/collectors/cpu_and_wall_time_spec.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/spec_helper.rb
Labels: profiling

#2354 Disable GC profiling on Ruby 3 by default due to Ruby VM Ractor-related bug
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/ddtrace_profiling_native_extension/ruby_helpers.c
  ext/ddtrace_profiling_native_extension/ruby_helpers.h
  lib/datadog/core/configuration/components.rb
  lib/datadog/core/configuration/settings.rb
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
Labels: core, profiling

#2350 Add profiler helper for detecting if we're on the main Ractor
  ext/ddtrace_profiling_native_extension/extconf.rb
  ext/ddtrace_profiling_native_extension/private_vm_api_access.c
  ext/ddtrace_profiling_native_extension/private_vm_api_access.h
  ext/ddtrace_profiling_native_extension/profiling.c
  spec/datadog/profiling/native_extension_spec.rb
Labels: profiling

#2357 [PROF-5942] Disallow sampling ractors in profiler
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time.c
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  lib/datadog/core/configuration/settings.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
Labels: core, profiling

#2358 [PROF-6288] Enable `-Werror` to turn compiler warnings into errors in CI
  ext/ddtrace_profiling_loader/ddtrace_profiling_loader.c
  ext/ddtrace_profiling_loader/extconf.rb
  ext/ddtrace_profiling_native_extension/extconf.rb
Labels: profiling

#2359 [PROF-5953] Ruby VM forking fixes for new profiler
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
Labels: profiling

#2364 Redis 6.2 image for CI
  .circleci/config.yml
  .env
  docker-compose.yml
  spec/datadog/tracing/contrib/qless/support/job.rb
  spec/datadog/tracing/contrib/redis/redis_spec.rb
Labels: dev/testing, dev/ci

#2362 Improve clearing of profile data after Ruby app forks
  ext/ddtrace_profiling_native_extension/stack_recorder.c
  lib/datadog/profiling/exporter.rb
  lib/datadog/profiling/scheduler.rb
  lib/datadog/profiling/stack_recorder.rb
  spec/datadog/profiling/exporter_spec.rb
  spec/datadog/profiling/scheduler_spec.rb
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: profiling

#2370 Fix frozen input for Redis
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/redis/integration.rb
  lib/datadog/tracing/contrib/redis/patcher.rb
  spec/datadog/tracing/contrib/redis/instrumentation_spec.rb
  spec/datadog/tracing/contrib/redis/integration_test_spec.rb
  spec/datadog/tracing/contrib/redis/miniapp_spec.rb
  spec/datadog/tracing/contrib/redis/redis_spec.rb
Labels: integrations, tracing

#2276 Unified tagging `process_id`
  lib/datadog/core/runtime/ext.rb
  lib/ddtrace/transport/trace_formatter.rb
  spec/ddtrace/transport/trace_formatter_spec.rb
Labels: feature-parity

#2367 [PROF-5943] Clear leftover state on new profiler after Ruby VM forks
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time.c
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/ddtrace_profiling_native_extension/stack_recorder.c
  lib/datadog/profiling/collectors/cpu_and_wall_time.rb
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  lib/datadog/profiling/collectors/old_stack.rb
  lib/datadog/profiling/exporter.rb
  lib/datadog/profiling/old_recorder.rb
  lib/datadog/profiling/profiler.rb
  lib/datadog/profiling/scheduler.rb
  lib/datadog/profiling/stack_recorder.rb
  lib/datadog/profiling/tasks/setup.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_spec.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/collectors/old_stack_spec.rb
  spec/datadog/profiling/exporter_spec.rb
  spec/datadog/profiling/old_recorder_spec.rb
  spec/datadog/profiling/profiler_spec.rb
  spec/datadog/profiling/scheduler_spec.rb
  spec/datadog/profiling/stack_recorder_spec.rb
  spec/datadog/profiling/tasks/setup_spec.rb
Labels: profiling

#2365 Unified tagging `span.kind` as `server` and `client`
  lib/datadog/tracing/contrib/grpc/datadog_interceptor/server.rb
  lib/datadog/tracing/contrib/mongodb/subscribers.rb
  lib/datadog/tracing/contrib/rack/middlewares.rb
  spec/datadog/tracing/contrib/grpc/datadog_interceptor/server_spec.rb
  spec/datadog/tracing/contrib/mongodb/client_spec.rb
  spec/datadog/tracing/contrib/rack/integration_test_spec.rb
Labels: integrations, tracing

#2341 Benchmark SQL comment propagation with `mysql2`
  spec/ddtrace/benchmark/sql_comment_propagation_spec.rb
Labels: dev/testing

#2381 Removal of extraneous `system.pid` tag
  lib/datadog/core/runtime/ext.rb
  lib/datadog/tracing/trace_segment.rb
  lib/ddtrace/transport/trace_formatter.rb
  spec/datadog/tracing/metadata/tagging_spec.rb
  spec/datadog/tracing/trace_segment_spec.rb
  spec/ddtrace/transport/trace_formatter_spec.rb
Labels: core, tracing

#2372 [PROF-6463] Add `record_endpoint` to `StackRecorder`
  ext/ddtrace_profiling_native_extension/stack_recorder.c
  ext/ddtrace_profiling_native_extension/stack_recorder.h
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: profiling

#2378 [PROF-6566] Fix ddtrace installation issue when users have CI=true
  .circleci/config.yml
  docker-compose.yml
  ext/ddtrace_profiling_loader/extconf.rb
  ext/ddtrace_profiling_native_extension/extconf.rb
Labels: profiling

#2384 [PROF-6463] Implement support for endpoint profiling in CpuAndWallTime collector
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time.c
  lib/datadog/profiling/collectors/cpu_and_wall_time.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_spec.rb
  spec/datadog/profiling/spec_helper.rb
Labels: profiling

#2390 Update AppSec ruleset to v1.4.2
  lib/datadog/appsec/assets/waf_rules/recommended.json
  lib/datadog/appsec/assets/waf_rules/risky.json
  lib/datadog/appsec/assets/waf_rules/strict.json
Labels: appsec

#2392 Adds `span.kind` as `client` for `redis`
  lib/datadog/tracing/contrib/redis/instrumentation.rb
  spec/datadog/tracing/contrib/redis/instrumentation_spec.rb
  spec/datadog/tracing/contrib/redis/miniapp_spec.rb
  spec/datadog/tracing/contrib/redis/redis_spec.rb
Labels: integrations, tracing

#2389 Ensure install_appraisal_gemfiles Rake task does not skip files
  gemfiles/jruby_9.2.18.0_contrib.gemfile.lock
  gemfiles/jruby_9.2.8.0_contrib.gemfile.lock
  gemfiles/jruby_9.3.4.0_contrib.gemfile.lock
  gemfiles/ruby_2.2.10_contrib.gemfile.lock
  gemfiles/ruby_2.4.10_contrib.gemfile.lock
  gemfiles/ruby_2.5.9_contrib.gemfile.lock
  gemfiles/ruby_2.6.7_contrib.gemfile.lock
  gemfiles/ruby_3.0.3_contrib.gemfile.lock
  gemfiles/ruby_3.1.1_contrib.gemfile.lock
  gemfiles/ruby_3.2.0_contrib.gemfile.lock
  tasks/update_appraisal_gemfiles.rake
Labels: dev/tooling

#2394 Adds `span.kind` tag for `que`, `shoryuken`, `sneakers`, and `resque`
  lib/datadog/tracing/contrib/que/tracer.rb
  lib/datadog/tracing/contrib/resque/resque_job.rb
  lib/datadog/tracing/contrib/shoryuken/tracer.rb
  lib/datadog/tracing/contrib/sneakers/tracer.rb
  spec/datadog/tracing/contrib/que/tracer_spec.rb
  spec/datadog/tracing/contrib/resque/instrumentation_spec.rb
  spec/datadog/tracing/contrib/shoryuken/tracer_spec.rb
  spec/datadog/tracing/contrib/sneakers/tracer_spec.rb
Labels: integrations, tracing

#2352 Refactor:Move distributed propagation to Contrib
  lib/datadog/opentracer/distributed_headers.rb
  lib/datadog/opentracer/rack_propagator.rb
  lib/datadog/opentracer/text_map_propagator.rb
  lib/datadog/tracing/contrib/grpc/datadog_interceptor/client.rb
  lib/datadog/tracing/contrib/grpc/datadog_interceptor/server.rb
  lib/datadog/tracing/contrib/grpc/distributed/fetcher.rb
  lib/datadog/tracing/contrib/grpc/distributed/propagation.rb
  lib/datadog/tracing/contrib/grpc/patcher.rb
  lib/datadog/tracing/contrib/http/distributed/fetcher.rb
  lib/datadog/tracing/contrib/http/distributed/propagation.rb
  lib/datadog/tracing/distributed/b3.rb
  lib/datadog/tracing/distributed/b3_single.rb
  lib/datadog/tracing/distributed/datadog.rb
  lib/datadog/tracing/distributed/datadog_tags_codec.rb
  lib/datadog/tracing/distributed/fetcher.rb
  lib/datadog/tracing/distributed/headers/b3.rb
  lib/datadog/tracing/distributed/headers/b3_single.rb
  lib/datadog/tracing/distributed/headers/datadog.rb
  lib/datadog/tracing/distributed/headers/ext.rb
  lib/datadog/tracing/distributed/headers/parser.rb
  lib/datadog/tracing/distributed/helpers.rb
  lib/datadog/tracing/distributed/metadata/b3.rb
  lib/datadog/tracing/distributed/metadata/b3_single.rb
  lib/datadog/tracing/distributed/metadata/datadog.rb
  lib/datadog/tracing/distributed/metadata/parser.rb
  lib/datadog/tracing/distributed/propagation.rb
  lib/datadog/tracing/propagation/grpc.rb
  lib/datadog/tracing/propagation/http.rb
  spec/datadog/opentracer/distributed_headers_spec.rb
  spec/datadog/opentracer/propagation_integration_spec.rb
  spec/datadog/opentracer/rack_propagator_spec.rb
  spec/datadog/opentracer/text_map_propagator_spec.rb
  spec/datadog/tracing/contrib/excon/instrumentation_spec.rb
  spec/datadog/tracing/contrib/faraday/middleware_spec.rb
  spec/datadog/tracing/contrib/grpc/datadog_interceptor/client_spec.rb
  spec/datadog/tracing/contrib/grpc/distributed/fetcher_spec.rb
  spec/datadog/tracing/contrib/grpc/distributed/propagation_spec.rb
  spec/datadog/tracing/contrib/grpc/integration_test_spec.rb
  spec/datadog/tracing/contrib/http/distributed/fetcher_spec.rb
  spec/datadog/tracing/contrib/http/distributed/propagation_spec.rb
  spec/datadog/tracing/contrib/http/request_spec.rb
  spec/datadog/tracing/contrib/rack/distributed_spec.rb
  spec/datadog/tracing/distributed/b3_single_spec.rb
  spec/datadog/tracing/distributed/b3_spec.rb
  spec/datadog/tracing/distributed/datadog_spec.rb
  spec/datadog/tracing/distributed/fetcher_spec.rb
  spec/datadog/tracing/distributed/headers/b3_spec.rb
  spec/datadog/tracing/distributed/headers/parser_spec.rb
  spec/datadog/tracing/distributed/helpers_spec.rb
  spec/datadog/tracing/distributed/metadata/b3_single_spec.rb
  spec/datadog/tracing/distributed/metadata/datadog_spec.rb
  spec/datadog/tracing/distributed/propagation_spec.rb
  spec/datadog/tracing/propagation/grpc_spec.rb
  spec/datadog/tracing/tracer_integration_spec.rb
Labels: integrations, dev/refactor, tracing

#2391 [PROF-6556] Profiler signal handler setup improvements
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/ddtrace_profiling_native_extension/private_vm_api_access.c
  ext/ddtrace_profiling_native_extension/setup_signal_handler.c
  ext/ddtrace_profiling_native_extension/setup_signal_handler.h
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
Labels: profiling

#2403 Align Ruby 2.5.9
  .circleci/images/primary/Dockerfile-2.5.9
Labels: dev/ci

#2404 Align Ruby 2.4.10
  .circleci/images/primary/Dockerfile-2.4.10
  .circleci/images/primary/binary_version
Labels: dev/ci

#2405 Align Ruby 2.1, 2.2, 2.3
  .circleci/images/primary/Dockerfile-2.1.10
  .circleci/images/primary/Dockerfile-2.2.10
  .circleci/images/primary/Dockerfile-2.3.8
Labels: dev/ci

#2414 Silence compiler warning in Ruby headers
  ext/ddtrace_profiling_native_extension/private_vm_api_access.c
Labels: profiling

#2395 Fix CircleCI JUnit test result uploading
  .circleci/config.yml
Labels: dev/ci

#2416 Temporarily disable Workers::Polling flaky test
  spec/datadog/core/workers/polling_spec.rb
Labels: dev/testing

#2413 Adds `span.kind` tag for `racecar`
  Appraisals
  Rakefile
  gemfiles/ruby_3.0.4_contrib.gemfile.lock
  lib/datadog/tracing/contrib/racecar/events/batch.rb
  lib/datadog/tracing/contrib/racecar/events/message.rb
  spec/datadog/tracing/contrib/racecar/patcher_spec.rb
Labels: integrations, tracing

#2419 Adds `span.kind` tag for `sidekiq`
  lib/datadog/tracing/contrib/sidekiq/client_tracer.rb
  lib/datadog/tracing/contrib/sidekiq/server_tracer.rb
  spec/datadog/tracing/contrib/sidekiq/client_tracer_spec.rb
  spec/datadog/tracing/contrib/sidekiq/server_tracer_spec.rb
Labels: integrations, tracing

#2420 Adds 'span.kind' tag for 'kafka'
  lib/datadog/tracing/contrib/kafka/consumer_event.rb
  lib/datadog/tracing/contrib/kafka/events/produce_operation/send_messages.rb
  lib/datadog/tracing/contrib/kafka/events/producer/deliver_messages.rb
  spec/datadog/tracing/contrib/kafka/patcher_spec.rb
Labels: integrations, tracing

#2397 [PROF-6556] Leave SIGPROF signal handler after disabling profiling
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/ddtrace_profiling_native_extension/setup_signal_handler.c
  ext/ddtrace_profiling_native_extension/setup_signal_handler.h
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
Labels: profiling

#2422 Align Ruby CI cache keys
  .circleci/config.yml
Labels: dev/ci

#2425 Tweak profiler code to avoid triggering bug in compiler warnings
  ext/ddtrace_profiling_native_extension/collectors_stack.c
Labels: profiling

#2426 Update actions/checkout and actions/*-artifact to Node 16
  .github/workflows/build-ruby.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/system-tests.yml
  .github/workflows/test-head.yaml
  .github/workflows/test-macos.yaml
Labels: dev/github

#2427 Adjust macOS testing
  .github/workflows/test-macos.yaml
Labels: dev/github
