Repository DataDog/dd-trace-rb, pull requests merged in 2023-08, with the labels that each got.

#3024 Run minitest integration test on CI
  Rakefile
Labels: dev/internal

#3028 Remove profiler_submission.rb benchmark
  benchmarks/data/profiler-submission-marshal.gz
  benchmarks/profiler_submission.rb
  spec/datadog/profiling/validate_benchmarks_spec.rb
Labels: dev/testing

#3022 Fix hash log_tags warning
  lib/datadog/tracing/contrib/rails/log_injection.rb
  lib/datadog/tracing/contrib/rails/patcher.rb
  spec/datadog/tracing/contrib/rails/log_injection_spec.rb
Labels: integrations, tracing

#3035 Use Fiber instead of Thread for IntervalLoop spec
  spec/datadog/core/workers/interval_loop_spec.rb
Labels: dev/testing, dev/refactor

#3038 Minor: Improve Datadog::Profiling::HttpTransport error logging
  lib/datadog/profiling/http_transport.rb
  sig/datadog/profiling/http_transport.rbs
  spec/datadog/profiling/http_transport_spec.rb
Labels: profiling

#3036 Add development environment detection
  Steepfile
  lib/datadog/core/environment/execution.rb
  sig/datadog/core/environment/execution.rbs
  spec/datadog/core/environment/execution_spec.rb
Labels: core

#3046 Test:Fix race condition on spec:suite
  spec/datadog/tracing/contrib/suite/integration_spec.rb
Labels: dev/testing

#3045 Tracing: Exclude query string for `http.url` tag from `net/http` instrumentation
  lib/datadog/tracing/contrib/http/instrumentation.rb
  spec/datadog/tracing/contrib/ethon/easy_patch_spec.rb
  spec/datadog/tracing/contrib/excon/instrumentation_spec.rb
  spec/datadog/tracing/contrib/faraday/middleware_spec.rb
  spec/datadog/tracing/contrib/http/request_spec.rb
  spec/datadog/tracing/contrib/httpclient/instrumentation_spec.rb
  spec/datadog/tracing/contrib/httprb/instrumentation_spec.rb
  spec/datadog/tracing/contrib/rest_client/request_patch_spec.rb
Labels: integrations, tracing

#3033 Document issue with Resque workers hanging
  docs/GettingStarted.md
Labels: docs

#3039 Disable Telemetry and Remote Configuration in development environments
  lib/datadog/core/configuration/settings.rb
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/core/remote/component_spec.rb
  spec/datadog/tracing/contrib/suite/integration_spec.rb
  spec/support/core_helpers.rb
  spec/support/test_helpers.rb
Labels: core

#3030 Update Elasticsearch patcher from using alias method to prepend method
  lib/datadog/tracing/contrib/elasticsearch/patcher.rb
Labels: integrations, tracing

#3040 [PROF-7440] Report status of timeline feature as internal metadata
  benchmarks/profiler_http_transport.rb
  lib/datadog/profiling/component.rb
  lib/datadog/profiling/exporter.rb
  lib/datadog/profiling/flush.rb
  sig/datadog/profiling/component.rbs
  sig/datadog/profiling/exporter.rbs
  sig/datadog/profiling/flush.rbs
  spec/datadog/profiling/component_spec.rb
  spec/datadog/profiling/exporter_spec.rb
  spec/datadog/profiling/flush_spec.rb
  spec/datadog/profiling/http_transport_spec.rb
  spec/datadog/profiling/integration_spec.rb
Labels: profiling

#3041 Improve quantization
  lib/datadog/tracing/contrib/utils/quantization/http.rb
  spec/datadog/tracing/contrib/utils/quantization/http_spec.rb
Labels: integrations, tracing

#3020 Refactor EnvironmentLogger
  Steepfile
  lib/datadog/core/configuration/components.rb
  lib/datadog/core/diagnostics/environment_logger.rb
  lib/datadog/profiling.rb
  lib/datadog/profiling/component.rb
  lib/datadog/profiling/diagnostics/environment_logger.rb
  lib/datadog/tracing/component.rb
  lib/datadog/tracing/diagnostics/environment_logger.rb
  lib/datadog/tracing/workers/trace_writer.rb
  sig/datadog/core/diagnostics/environment_logger.rbs
  sig/datadog/profiling/diagnostics/environment_logger.rbs
  sig/datadog/tracing/diagnostics/environment_logger.rbs
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/core/diagnostics/environment_logger_spec.rb
  spec/datadog/profiling/diagnostics/environment_logger_spec.rb
  spec/datadog/tracing/component_spec.rb
  spec/datadog/tracing/diagnostics/environment_logger_spec.rb
  spec/datadog/tracing/writer_spec.rb
Labels: core, profiling, tracing

#3025 Add `ddsource` to #to_log_format
  lib/datadog/tracing/contrib/lograge/instrumentation.rb
  lib/datadog/tracing/contrib/semantic_logger/instrumentation.rb
  lib/datadog/tracing/correlation.rb
  spec/datadog/tracing/correlation_spec.rb
Labels: integrations, tracing

#3052 Test:Capture output on fork test failures
  spec/support/synchronization_helpers.rb
Labels: dev/testing

#3056 include peer service configurations in telemetry payload
  lib/datadog/core/telemetry/collector.rb
  spec/datadog/core/telemetry/collector_spec.rb
Labels: core

#3057 EnvironmentLogger adjustments
  lib/datadog/core/diagnostics/environment_logger.rb
  lib/datadog/profiling/component.rb
  lib/datadog/profiling/diagnostics/environment_logger.rb
  lib/datadog/tracing/diagnostics/environment_logger.rb
  spec/datadog/core/diagnostics/environment_logger_spec.rb
  spec/datadog/tracing/diagnostics/environment_logger_spec.rb
Labels: core, profiling, tracing

#3054 Disable profiler on Ruby 3.3 due to incompatibility
  Rakefile
  ext/ddtrace_profiling_native_extension/native_extension_helpers.rb
  integration/apps/rack/spec/integration/basic_spec.rb
  integration/apps/rails-seven/spec/integration/basic_spec.rb
  integration/apps/rails-six/spec/integration/basic_spec.rb
  integration/apps/sinatra2-classic/spec/integration/basic_spec.rb
  integration/apps/sinatra2-modular/spec/integration/basic_spec.rb
  integration/images/include/build_ddtrace_profiling_native_extension.rb
  spec/datadog/profiling/native_extension_helpers_spec.rb
  spec/datadog/profiling/spec_helper.rb
Labels: profiling

#3058 Ensure Rails running on Spring is considered a development environment
  Steepfile
  lib/datadog/core/environment/execution.rb
  sig/datadog/core/environment/execution.rbs
  spec/datadog/core/environment/execution_spec.rb
  spec/support/synchronization_helpers.rb
  vendor/rbs/spring/0/spring.rbs
Labels: core

#3051 Fix ActiveRecord adapter name for Rails 7
  Appraisals
  Rakefile
  gemfiles/jruby_9.2.21.0_contrib.gemfile
  gemfiles/jruby_9.2.21.0_contrib.gemfile.lock
  gemfiles/jruby_9.3.9.0_contrib.gemfile
  gemfiles/jruby_9.3.9.0_contrib.gemfile.lock
  gemfiles/ruby_2.3.8_activerecord_3.gemfile
  gemfiles/ruby_2.3.8_activerecord_3.gemfile.lock
  gemfiles/ruby_2.4.10_activerecord_4.gemfile
  gemfiles/ruby_2.4.10_activerecord_4.gemfile.lock
  gemfiles/ruby_2.5.9_contrib.gemfile
  gemfiles/ruby_2.5.9_contrib.gemfile.lock
  gemfiles/ruby_2.6.10_contrib.gemfile
  gemfiles/ruby_2.6.10_contrib.gemfile.lock
  gemfiles/ruby_2.7.6_contrib.gemfile
  gemfiles/ruby_2.7.6_contrib.gemfile.lock
  lib/datadog/tracing/contrib/active_record/configuration/resolver.rb
  lib/datadog/tracing/contrib/active_record/utils.rb
  spec/datadog/tracing/contrib/active_record/configuration/resolver_spec.rb
  spec/datadog/tracing/contrib/active_record/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/active_record/utils_spec.rb
Labels: integrations, tracing

#3070 Fix ASM setting for automated user events.
  lib/datadog/appsec/configuration/settings.rb
  sig/datadog/appsec/configuration/settings.rbs
  spec/datadog/appsec/configuration/settings_spec.rb
Labels: appsec

#3071 Refactor ActiveSupport Cache instrumentation
  lib/datadog/tracing/contrib/active_support/cache/instrumentation.rb
Labels: integrations, tracing

#3067 ekump/remove hard dep on tracing in agent resolver
  Steepfile
  lib/datadog/core/configuration/agent_settings_resolver.rb
  lib/datadog/core/configuration/components.rb
  lib/datadog/core/configuration/ext.rb
  lib/datadog/profiling/agent_settings_resolver.rb
  lib/datadog/profiling/component.rb
  lib/datadog/tracing/component.rb
  lib/datadog/tracing/configuration/agent_settings_resolver.rb
  lib/datadog/tracing/configuration/ext.rb
  lib/datadog/tracing/sync_writer.rb
  lib/ddtrace/transport/ext.rb
  sig/datadog/profiling/agent_settings_resolver.rbs
  sig/datadog/profiling/component.rbs
  sig/datadog/tracing/configuration/agent_settings_resolver.rbs
  spec/datadog/core/configuration/agent_settings_resolver_spec.rb
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/profiling/component_spec.rb
  spec/datadog/profiling/http_transport_spec.rb
  spec/datadog/tracing/integration_spec.rb
Labels: core, profiling, tracing

#3075 Add APPSEC_AUTO_EVENTS_EXTENDED scenario to the system test GH action
  .github/workflows/system-tests.yml
Labels: dev/github

#3069 Update the pull request template with a security-related section
  .github/PULL_REQUEST_TEMPLATE.md
Labels: dev/github, mergequeue-status: waiting

#3074 [PROF-7307] Include 'ruby vm type' in profiler allocation samples
  ext/ddtrace_profiling_native_extension/collectors_thread_context.c
  ext/ddtrace_profiling_native_extension/collectors_thread_context.h
  ext/ddtrace_profiling_native_extension/extconf.rb
  ext/ddtrace_profiling_native_extension/libdatadog_helpers.c
  ext/ddtrace_profiling_native_extension/libdatadog_helpers.h
  spec/datadog/profiling/collectors/thread_context_spec.rb
Labels: profiling, mergequeue-status: removed

#3076 Fix bug where Tracing::AgentSettingsResolver wasn't being passed param logger
  lib/datadog/tracing/component.rb
  sig/datadog/profiling/component.rbs
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/profiling/component_spec.rb
Labels: tracing

#3078 Test:Reduce wait on long Sidekiq test
  spec/datadog/tracing/contrib/sidekiq/server_internal_tracer/job_fetch_spec.rb
Labels: dev/testing

#3077 Test:Reduce Sidekiq initial wait time
  spec/datadog/tracing/contrib/sidekiq/support/helper.rb
Labels: dev/testing

#3060 Correctly set `rails.cache.backend` span tag for multiple stores
  lib/datadog/tracing/contrib/active_support/cache/instrumentation.rb
  lib/datadog/tracing/contrib/active_support/cache/patcher.rb
  spec/datadog/tracing/contrib/rails/cache_spec.rb
Labels: integrations, tracing

#3080 Fix Datadog::CI::Environment to support the new CI specs
  lib/datadog/ci/ext/environment.rb
  spec/datadog/ci/ext/fixtures/ci/appveyor.json
  spec/datadog/ci/ext/fixtures/ci/azurepipelines.json
  spec/datadog/ci/ext/fixtures/ci/bitbucket.json
  spec/datadog/ci/ext/fixtures/ci/bitrise.json
  spec/datadog/ci/ext/fixtures/ci/buddy.json
  spec/datadog/ci/ext/fixtures/ci/buildkite.json
  spec/datadog/ci/ext/fixtures/ci/circleci.json
  spec/datadog/ci/ext/fixtures/ci/github.json
  spec/datadog/ci/ext/fixtures/ci/gitlab.json
  spec/datadog/ci/ext/fixtures/ci/jenkins.json
  spec/datadog/ci/ext/fixtures/ci/teamcity.json
  spec/datadog/ci/ext/fixtures/ci/travisci.json
Labels: ci-app

#3085 Remove `depends_on` from Core Configuration option
  Steepfile
  lib/datadog/core/configuration/base.rb
  lib/datadog/core/configuration/dependency_resolver.rb
  lib/datadog/core/configuration/option_definition.rb
  lib/datadog/core/configuration/option_definition_set.rb
  lib/datadog/core/configuration/option_set.rb
  lib/datadog/core/configuration/options.rb
  lib/datadog/tracing/contrib/configuration/settings.rb
  sig/datadog/core/configuration/dependency_resolver.rbs
  sig/datadog/core/configuration/option_definition_set.rbs
  sig/datadog/core/configuration/option_set.rbs
  spec/datadog/core/configuration/dependency_resolver_spec.rb
  spec/datadog/core/configuration/option_definition_set_spec.rb
  spec/datadog/core/configuration/option_definition_spec.rb
  spec/datadog/core/configuration/option_set_spec.rb
  spec/datadog/core/configuration/options_spec.rb
Labels: core, integrations, tracing

#3082 Revert profiling back to using the agent_settings generated in Datadog::Core::Configuration::Components.initalize
  Steepfile
  lib/datadog/core/configuration/components.rb
  lib/datadog/profiling/agent_settings_resolver.rb
  lib/datadog/profiling/component.rb
  sig/datadog/profiling/agent_settings_resolver.rbs
  sig/datadog/profiling/component.rbs
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/profiling/component_spec.rb
  spec/datadog/profiling/http_transport_spec.rb
Labels: core, profiling

#3087 [APPSEC-9341] Upgrade libddwaf-rb version to 1.11.0
  ddtrace.gemspec
  lib/datadog/appsec/contrib/rack/request_middleware.rb
  lib/datadog/appsec/event.rb
  lib/datadog/appsec/processor.rb
  sig/datadog/appsec/processor.rbs
  spec/datadog/appsec/event_spec.rb
  spec/datadog/appsec/processor_spec.rb
  vendor/rbs/libddwaf/0/datadog/appsec/waf.rbs
Labels: integrations, appsec

#3086 remove `delegate_to` configuration option from our DSL
  lib/datadog/core/configuration/option.rb
  lib/datadog/core/configuration/option_definition.rb
  sig/datadog/core/configuration/option_definition.rbs
  spec/datadog/core/configuration/option_definition_spec.rb
  spec/datadog/core/configuration/option_spec.rb
Labels: core

#3091 rename experimental_default_proc to default_proc
  lib/datadog/core/configuration/option.rb
  lib/datadog/core/configuration/option_definition.rb
  lib/datadog/core/configuration/settings.rb
  lib/datadog/tracing/contrib/active_job/configuration/settings.rb
  lib/datadog/tracing/contrib/delayed_job/configuration/settings.rb
  lib/datadog/tracing/contrib/faraday/configuration/settings.rb
  lib/datadog/tracing/contrib/grpc/configuration/settings.rb
  lib/datadog/tracing/contrib/que/configuration/settings.rb
  lib/datadog/tracing/contrib/resque/configuration/settings.rb
  lib/datadog/tracing/contrib/shoryuken/configuration/settings.rb
  lib/datadog/tracing/contrib/sidekiq/configuration/settings.rb
  lib/datadog/tracing/contrib/sneakers/configuration/settings.rb
  sig/datadog/core/configuration/option_definition.rbs
  spec/datadog/core/configuration/option_definition_spec.rb
  spec/datadog/core/configuration/option_spec.rb
Labels: core, integrations, tracing
