Repository DataDog/dd-trace-rb, pull requests merged in 2023-03, with the labels that each got.

#2656 Fix system test runner commit sha
  .github/workflows/lib-injection.yml
Labels: dev/ci

#2658 Negative test cases for lib injection
  .github/workflows/lib-injection.yml
Labels: dev/github

#2659 [APPSEC-8475] appsec update ruleset to 1.5.1
  lib/datadog/appsec/assets/waf_rules/recommended.json
  lib/datadog/appsec/assets/waf_rules/strict.json
Labels: appsec

#2651 Fix small inconsistencies in ddtrace logging
  ext/ddtrace_profiling_native_extension/collectors_idle_sampling_helper.c
  ext/ddtrace_profiling_native_extension/extconf.rb
  ext/ddtrace_profiling_native_extension/ruby_helpers.c
  lib/datadog/appsec/autoload.rb
  lib/datadog/kit/enable_core_dumps.rb
  lib/datadog/profiling.rb
Labels: profiling, appsec

#2654 [PROF-7307] Rename `CpuAndWallTime` collector to `ThreadContext` collector
  benchmarks/profiler_sample_loop_v2.rb
  docs/ProfilingDevelopment.md
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time.h
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/ddtrace_profiling_native_extension/collectors_thread_context.c
  ext/ddtrace_profiling_native_extension/collectors_thread_context.h
  ext/ddtrace_profiling_native_extension/profiling.c
  lib/datadog/profiling.rb
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  lib/datadog/profiling/collectors/thread_context.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/collectors/thread_context_spec.rb
Labels: profiling

#2653 Simplify macOS testing matrix
  .github/workflows/test-macos.yaml
Labels: dev/github

#2662 [APPSEC-8492] Appsec update ruleset to 1.5.2
  lib/datadog/appsec/assets/waf_rules/recommended.json
  lib/datadog/appsec/assets/waf_rules/strict.json
Labels: appsec

#2649 Fix 'uninitialized constant GRPC::Interceptor' when with the 'gapic-common' gem
  lib/datadog/tracing/contrib/grpc/integration.rb
  spec/datadog/tracing/contrib/grpc/integration_spec.rb
Labels: integrations, tracing

#2543 128 bits trace id
  docs/GettingStarted.md
  lib/datadog/tracing/configuration/ext.rb
  lib/datadog/tracing/configuration/settings.rb
  lib/datadog/tracing/correlation.rb
  lib/datadog/tracing/distributed/b3_multi.rb
  lib/datadog/tracing/distributed/b3_single.rb
  lib/datadog/tracing/distributed/datadog.rb
  lib/datadog/tracing/distributed/fetcher.rb
  lib/datadog/tracing/distributed/helpers.rb
  lib/datadog/tracing/distributed/trace_context.rb
  lib/datadog/tracing/metadata/ext.rb
  lib/datadog/tracing/span_operation.rb
  lib/datadog/tracing/trace_operation.rb
  lib/datadog/tracing/trace_segment.rb
  lib/datadog/tracing/utils.rb
  lib/ddtrace/transport/serializable_trace.rb
  lib/ddtrace/transport/trace_formatter.rb
  spec/datadog/opentracer/rack_propagator_spec.rb
  spec/datadog/tracing/configuration/settings_spec.rb
  spec/datadog/tracing/correlation_spec.rb
  spec/datadog/tracing/distributed/b3_multi_spec.rb
  spec/datadog/tracing/distributed/b3_single_spec.rb
  spec/datadog/tracing/distributed/datadog_spec.rb
  spec/datadog/tracing/distributed/fetcher_spec.rb
  spec/datadog/tracing/distributed/helpers_spec.rb
  spec/datadog/tracing/distributed/trace_context_spec.rb
  spec/datadog/tracing/trace_operation_spec.rb
  spec/datadog/tracing/trace_segment_spec.rb
  spec/datadog/tracing/utils_spec.rb
  spec/ddtrace/transport/serializable_trace_spec.rb
  spec/ddtrace/transport/trace_formatter_spec.rb
Labels: tracing

#2668 Update TeamCity env var extraction
  lib/datadog/ci/ext/environment.rb
  spec/datadog/ci/ext/fixtures/ci/teamcity.json
Labels: ci-app

#2664 Clarify non-framework instrumentation use case
  docs/GettingStarted.md
Labels: docs

#2665 [APPSEC-7946] Update the client IP extraction resolution base on the latest RFC.
  LICENSE-3rdparty.csv
  lib/datadog/appsec/contrib/rack/gateway/request.rb
  lib/datadog/core/utils/network.rb
  lib/datadog/core/vendor/ipaddr.rb
  lib/datadog/tracing/client_ip.rb
  sig/datadog/core/header_collection.rbs
  sig/datadog/core/utils/network.rbs
  sig/datadog/tracing/client_ip.rbs
  spec/datadog/core/utils/network_spec.rb
  spec/datadog/tracing/client_ip_spec.rb
Labels: core, integrations, appsec, tracing

#2671 Fix "NameError: uninitialized constant Datadog::Core::Vendor::IPAddr::AddressFamilyError"
  lib/datadog/core/vendor/ipaddr.rb
  spec/datadog/core/vendor/ipaddr_spec.rb
Labels: core

#2669 Capture user-relevant implementation details for the Processing Pipeline
  docs/GettingStarted.md
Labels: docs

#2679 Do not try accessing the appsec settings if the appsec module is not loaded
  lib/datadog/appsec/component.rb
  lib/datadog/core/configuration/components.rb
  spec/datadog/appsec/component_spec.rb
Labels: core, appsec

#2368 Roda Integration
  Rakefile
  docs/GettingStarted.md
  lib/datadog/tracing/contrib.rb
  lib/datadog/tracing/contrib/roda/configuration/settings.rb
  lib/datadog/tracing/contrib/roda/ext.rb
  lib/datadog/tracing/contrib/roda/instrumentation.rb
  lib/datadog/tracing/contrib/roda/integration.rb
  lib/datadog/tracing/contrib/roda/patcher.rb
  spec/datadog/tracing/contrib/roda/instrumentation_spec.rb
  spec/datadog/tracing/contrib/roda/integration_spec.rb
  spec/datadog/tracing/contrib/roda/patcher_spec.rb
  spec/datadog/tracing/contrib/roda/shared_examples.rb
Labels: integrations, tracing

#2676 Add info transport endpoint
  Steepfile
  lib/datadog/core/configuration/agent_settings_resolver.rb
  lib/datadog/core/transport/http.rb
  lib/datadog/core/transport/http/api.rb
  lib/datadog/core/transport/http/api/instance.rb
  lib/datadog/core/transport/http/api/spec.rb
  lib/datadog/core/transport/http/builder.rb
  lib/datadog/core/transport/http/client.rb
  lib/datadog/core/transport/http/negotiation.rb
  lib/datadog/core/transport/negotiation.rb
  sig/datadog/core/configuration/agent_settings_resolver.rbs
  sig/datadog/core/transport/http.rbs
  sig/datadog/core/transport/http/api.rbs
  sig/datadog/core/transport/http/api/instance.rbs
  sig/datadog/core/transport/http/api/spec.rbs
  sig/datadog/core/transport/http/builder.rbs
  sig/datadog/core/transport/http/client.rbs
  sig/datadog/core/transport/http/negotiation.rbs
  sig/datadog/core/transport/negotiation.rbs
  sig/ddtrace/transport/ext.rbs
  sig/ddtrace/transport/http.rbs
  sig/ddtrace/transport/http/adapters/net.rbs
  sig/ddtrace/transport/http/adapters/registry.rbs
  sig/ddtrace/transport/http/adapters/test.rbs
  sig/ddtrace/transport/http/adapters/unix_socket.rbs
  sig/ddtrace/transport/http/api.rbs
  sig/ddtrace/transport/http/api/endpoint.rbs
  sig/ddtrace/transport/http/api/fallbacks.rbs
  sig/ddtrace/transport/http/api/instance.rbs
  sig/ddtrace/transport/http/api/map.rbs
  sig/ddtrace/transport/http/api/spec.rbs
  sig/ddtrace/transport/http/builder.rbs
  sig/ddtrace/transport/http/client.rbs
  sig/ddtrace/transport/http/env.rbs
  sig/ddtrace/transport/http/response.rbs
  sig/ddtrace/transport/http/statistics.rbs
  sig/ddtrace/transport/http/traces.rbs
  sig/ddtrace/transport/io.rbs
  sig/ddtrace/transport/io/client.rbs
  sig/ddtrace/transport/io/response.rbs
  sig/ddtrace/transport/io/traces.rbs
  sig/ddtrace/transport/parcel.rbs
  sig/ddtrace/transport/request.rbs
  sig/ddtrace/transport/response.rbs
  sig/ddtrace/transport/serializable_trace.rbs
  sig/ddtrace/transport/statistics.rbs
  sig/ddtrace/transport/trace_formatter.rbs
  sig/ddtrace/transport/traces.rbs
  spec/datadog/core/transport/http_spec.rb
  spec/datadog/core/transport/integration_spec.rb
Labels: core

#2678 Add config transport endpoint
  .env
  Steepfile
  docker-compose.yml
  lib/datadog/core/transport/config.rb
  lib/datadog/core/transport/http.rb
  lib/datadog/core/transport/http/api.rb
  lib/datadog/core/transport/http/config.rb
  sig/datadog/core/encoding.rbs
  sig/datadog/core/transport/config.rbs
  sig/datadog/core/transport/http.rbs
  sig/datadog/core/transport/http/api.rbs
  sig/datadog/core/transport/http/config.rbs
  spec/datadog/core/transport/http_spec.rb
  spec/datadog/core/transport/integration_spec.rb
Labels: core

#2690 [PROF-7307] Avoid triggering allocation sampling during sampling
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
Labels: profiling

#2687 Add remote configuration PORO objects
  Steepfile
  lib/datadog/core/remote/configuration/content.rb
  lib/datadog/core/remote/configuration/path.rb
  lib/datadog/core/remote/configuration/target.rb
  sig/datadog/core/remote/configuration/content.rbs
  sig/datadog/core/remote/configuration/path.rbs
  sig/datadog/core/remote/configuration/target.rbs
  spec/datadog/core/remote/configuration/content_spec.rb
  spec/datadog/core/remote/configuration/path_spec.rb
  spec/datadog/core/remote/configuration/target_spec.rb
Labels: core

#2688 Add remote configuration repository
  lib/datadog/core/remote/configuration/repository.rb
  sig/datadog/core/remote/configuration/repository.rbs
  spec/datadog/core/remote/configuration/respository_spec.rb
Labels: core

#2695 Fix Rails < 3 conditional check in Utils#railtie_supported?
  lib/datadog/tracing/contrib/rails/utils.rb
  spec/datadog/tracing/contrib/rails/utils_spec.rb
Labels: integrations, tracing

#2697 [PROF-6555] Decouple profiling component initialization from core
  lib/datadog/core/configuration/components.rb
  lib/datadog/core/configuration/settings.rb
  lib/datadog/profiling/component.rb
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/profiling/component_spec.rb
Labels: core, profiling

#2698 [PROF-6555] Support disabling endpoint names collection in new profiler
  benchmarks/profiler_sample_loop_v2.rb
  ext/ddtrace_profiling_native_extension/collectors_thread_context.c
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  lib/datadog/profiling/collectors/thread_context.rb
  lib/datadog/profiling/component.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/collectors/thread_context_spec.rb
  spec/datadog/profiling/component_spec.rb
Labels: profiling

#2700 Add type signatures for a bunch of profiling classes
  Steepfile
  lib/datadog/profiling.rb
  lib/datadog/profiling/collectors/idle_sampling_helper.rb
  lib/datadog/profiling/component.rb
  lib/datadog/profiling/ext.rb
  lib/datadog/profiling/stack_recorder.rb
  sig/datadog/core/buffer/random.rbs
  sig/datadog/core/buffer/thread_safe.rbs
  sig/datadog/core/configuration.rbs
  sig/datadog/core/configuration/components.rbs
  sig/datadog/core/worker.rbs
  sig/datadog/core/workers/polling.rbs
  sig/datadog/profiling.rbs
  sig/datadog/profiling/collectors/code_provenance.rbs
  sig/datadog/profiling/collectors/cpu_and_wall_time_worker.rbs
  sig/datadog/profiling/collectors/dynamic_sampling_rate.rbs
  sig/datadog/profiling/collectors/idle_sampling_helper.rbs
  sig/datadog/profiling/collectors/old_stack.rbs
  sig/datadog/profiling/collectors/stack.rbs
  sig/datadog/profiling/collectors/thread_context.rbs
  sig/datadog/profiling/component.rbs
  sig/datadog/profiling/event.rbs
  sig/datadog/profiling/events/stack.rbs
  sig/datadog/profiling/exporter.rbs
  sig/datadog/profiling/ext.rbs
  sig/datadog/profiling/flush.rbs
  sig/datadog/profiling/http_transport.rbs
  sig/datadog/profiling/load_native_extension.rbs
  sig/datadog/profiling/old_recorder.rbs
  sig/datadog/profiling/preload.rbs
  sig/datadog/profiling/profiler.rbs
  sig/datadog/profiling/scheduler.rbs
  sig/datadog/profiling/stack_recorder.rbs
  sig/datadog/profiling/tag_builder.rbs
  sig/datadog/profiling/tasks/setup.rbs
  sig/datadog/profiling/trace_identifiers/ddtrace.rbs
  sig/datadog/profiling/trace_identifiers/helper.rbs
  vendor/rbs/gem/0/gem.rbs
  vendor/rbs/google-protobuf/0/google-protobuf.rbs
  vendor/rbs/protobuf-cucumber/0/protobuf-cucumber.rbs
Labels: profiling

#2689 Add remote configuration client
  lib/datadog/core/remote/client.rb
  lib/datadog/core/remote/configuration.rb
  lib/datadog/core/transport/config.rb
  lib/datadog/core/transport/http/config.rb
  sig/datadog/core/configuration.rbs
  sig/datadog/core/configuration/settings.rbs
  sig/datadog/core/remote/client.rbs
  sig/datadog/core/remote/configuration/content.rbs
  sig/datadog/core/remote/configuration/repository.rbs
  sig/datadog/core/transport/config.rbs
  spec/datadog/core/remote/client_spec.rb
Labels: core

#2686 [APPSEC-8287] Add AppSec::Processor::RuleMerger
  lib/datadog/appsec/processor/rule_merger.rb
  sig/datadog/appsec/processor/rule_merger.rbs
  spec/datadog/appsec/processor/rule_merger_spec.rb
Labels: appsec

#2702 [PROF-7360] Enable CPU Profiling 2.0 by default
  benchmarks/profiler_sample_loop.rb
  ext/ddtrace_profiling_native_extension/private_vm_api_access.c
  integration/apps/rack/spec/integration/basic_spec.rb
  integration/apps/sinatra2-classic/spec/integration/basic_spec.rb
  integration/apps/sinatra2-modular/spec/integration/basic_spec.rb
  lib/datadog/core/configuration/settings.rb
  lib/datadog/profiling/component.rb
  lib/datadog/profiling/tasks/setup.rb
  sig/datadog/profiling/component.rbs
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/profiling/component_spec.rb
  spec/datadog/profiling/tasks/setup_spec.rb
Labels: core, profiling

#2691 Add remote configuration worker
  lib/datadog/core/remote/worker.rb
  sig/datadog/core/remote/worker.rbs
  spec/datadog/core/remote/worker_spec.rb
  spec/spec_helper.rb
Labels: core

#2706 Cherry-pick PR2703 "[DOCS-5086] Update link text in Ruby tracing setup" to master
  docs/GettingStarted.md
Labels: docs

#2696 Add remote configuration changeset
  lib/datadog/core/remote/configuration/content.rb
  lib/datadog/core/remote/configuration/repository.rb
  sig/datadog/core/remote/configuration/content.rbs
  sig/datadog/core/remote/configuration/repository.rbs
  spec/datadog/core/remote/configuration/content_spec.rb
  spec/datadog/core/remote/configuration/respository_spec.rb
Labels: core

#2708 Fix (hopefully for good) flaky profiling "sampling while VM is idle" spec
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  sig/datadog/profiling/collectors/cpu_and_wall_time_worker.rbs
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/spec_helper.rb
Labels: profiling

#2713 Setup python 3.9 for system tests
  .github/workflows/system-tests.yml
Labels: dev/github

#2712 Telemetry:Remove nil values from payload
  Steepfile
  lib/datadog/core/telemetry/collector.rb
  lib/datadog/core/telemetry/v1/application.rb
  lib/datadog/core/telemetry/v1/dependency.rb
  lib/datadog/core/telemetry/v1/host.rb
  lib/datadog/core/telemetry/v1/integration.rb
  lib/datadog/core/telemetry/v1/product.rb
  lib/datadog/core/telemetry/v1/telemetry_request.rb
  lib/datadog/core/utils/hash.rb
  spec/datadog/core/telemetry/collector_spec.rb
  spec/datadog/core/telemetry/v1/app_event_spec.rb
  spec/datadog/core/telemetry/v1/telemetry_request_spec.rb
Labels: core

#2710 Allow `1` as true value in environment variables
  lib/datadog/core/environment/variable_helpers.rb
  spec/datadog/core/environment/variable_helpers_spec.rb
Labels: core

#2719 Test:Fix start_with typo
  spec/spec_helper.rb
Labels: dev/testing, dev/internal

#2729 fix debian sources for old ruby images
  integration/images/ruby/2.1/Dockerfile
  integration/images/ruby/2.2/Dockerfile
Labels: dev/testing

#2714 Glue remote config together
  ddtrace.gemspec
  lib/datadog/appsec.rb
  lib/datadog/appsec/component.rb
  lib/datadog/appsec/contrib/rack/gateway/request.rb
  lib/datadog/appsec/contrib/rack/gateway/response.rb
  lib/datadog/appsec/contrib/rack/request_middleware.rb
  lib/datadog/appsec/contrib/rails/gateway/request.rb
  lib/datadog/appsec/contrib/sinatra/gateway/route_params.rb
  lib/datadog/appsec/instrumentation/gateway/argument.rb
  lib/datadog/appsec/processor.rb
  lib/datadog/core/configuration/settings.rb
  lib/datadog/core/remote/client.rb
  lib/datadog/core/remote/component.rb
  lib/datadog/core/remote/ext.rb
  sig/datadog/appsec.rbs
  sig/datadog/appsec/component.rbs
  sig/datadog/appsec/processor.rbs
  sig/datadog/core/configuration/settings.rbs
  sig/datadog/core/remote/client.rbs
  sig/datadog/core/remote/component.rbs
  sig/datadog/core/remote/configuration.rbs
  sig/datadog/core/remote/ext.rbs
  sig/datadog/core/remote/worker.rbs
  spec/datadog/appsec/component_spec.rb
  spec/datadog/appsec/processor_spec.rb
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/core/remote/client_spec.rb
  spec/datadog/tracing/integration_spec.rb
Labels: core, integrations, appsec

#2732 [APPSEC-8867] Appsec reuse rules when ASM_DD is empty
  lib/datadog/appsec/component.rb
  lib/datadog/appsec/processor.rb
  lib/datadog/appsec/processor/rule_loader.rb
  lib/datadog/core/remote/client.rb
  sig/datadog/appsec/processor.rbs
  sig/datadog/appsec/processor/rule_loader.rbs
  spec/datadog/appsec/component_spec.rb
  spec/datadog/appsec/processor/rule_loader_spec.rb
  spec/datadog/appsec/processor_spec.rb
  spec/datadog/core/remote/client_spec.rb
Labels: core, appsec

#2726 Improve controller instrumentation and deprecate option `exception_controller`
  docs/GettingStarted.md
  integration/apps/rails-seven/app/controllers/basic_controller.rb
  integration/apps/rails-seven/app/controllers/errors_controller.rb
  integration/apps/rails-seven/config/application.rb
  integration/apps/rails-seven/config/routes.rb
  integration/apps/rails-six/app/controllers/basic_controller.rb
  integration/apps/rails-six/app/controllers/errors_controller.rb
  integration/apps/rails-six/config/application.rb
  integration/apps/rails-six/config/routes.rb
  lib/datadog/tracing/contrib/action_pack/action_controller/instrumentation.rb
  lib/datadog/tracing/contrib/action_pack/configuration/settings.rb
  lib/datadog/tracing/contrib/rails/configuration/settings.rb
  spec/datadog/tracing/contrib/action_pack/action_controller/metal_spec.rb
  spec/datadog/tracing/contrib/action_pack/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/rails/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/rails/rack_spec.rb
Labels: integrations, tracing
