Repository DataDog/dd-trace-rb, pull requests merged in 2023-11, with the labels that each got.

#3235 Redis:Omit command arguments from span.resource by default
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/redis/configuration/settings.rb
  lib/datadog/tracing/contrib/redis/instrumentation.rb
  lib/datadog/tracing/contrib/redis/tags.rb
  lib/datadog/tracing/contrib/redis/trace_middleware.rb
  spec/datadog/tracing/contrib/rails/redis_cache_spec.rb
  spec/datadog/tracing/contrib/redis/instrumentation_spec.rb
  spec/datadog/tracing/contrib/redis/redis_spec.rb
  spec/datadog/tracing/contrib/redis/shared_examples.rb
Labels: integrations, tracing

#3204 ASM make sure to append content type and length information
  lib/datadog/appsec/contrib/rack/gateway/request.rb
  spec/datadog/appsec/contrib/rack/gateway/request_spec.rb
  spec/datadog/appsec/contrib/rack/reactive/request_spec.rb
  spec/datadog/appsec/event_spec.rb
Labels: integrations, appsec

#3239 Bump version 1.15.0 to 1.16.0
  CHANGELOG.md
  lib/ddtrace/version.rb
Labels: release

#3242 Fix concurrent ruby future propagation without `active_trace`
  lib/datadog/tracing/contrib/concurrent_ruby/context_composite_executor_service.rb
  spec/datadog/tracing/contrib/concurrent_ruby/integration_test_spec.rb
Labels: integrations, tracing

#3250 Minor: Fix incorrect comment
  lib/datadog/core/configuration/settings.rb
Labels: core

#3252 revert https://github.com/DataDog/dd-trace-rb/pull/3153
  .gitlab/benchmarks.yml
  lib/datadog/appsec/configuration/settings.rb
  lib/datadog/appsec/contrib/rack/gateway/response.rb
  lib/datadog/appsec/contrib/rack/reactive/response.rb
  lib/datadog/appsec/contrib/rack/request_middleware.rb
  spec/datadog/appsec/configuration/settings_spec.rb
  spec/datadog/appsec/contrib/rack/gateway/response_spec.rb
  spec/datadog/appsec/contrib/rack/reactive/response_spec.rb
Labels: integrations, appsec

#3247 Update PULL_REQUEST_TEMPLATE with 2.0 release notes section
  .github/PULL_REQUEST_TEMPLATE.md
Labels: dev/github

#3248 Changed:Default trace propagation styles to `Datadog,tracecontext`
  docs/GettingStarted.md
  lib/datadog/tracing/configuration/settings.rb
  spec/datadog/opentelemetry_spec.rb
  spec/datadog/opentracer/rack_propagator_spec.rb
  spec/datadog/tracing/configuration/settings_spec.rb
  spec/datadog/tracing/distributed/propagation_spec.rb
  spec/spec_helper.rb
Labels: tracing

#3255 Propagation:Ensure W3C `tracestate` is always propagated
  docs/GettingStarted.md
  lib/datadog/tracing/configuration/ext.rb
  lib/datadog/tracing/configuration/settings.rb
  lib/datadog/tracing/distributed/propagation.rb
  lib/datadog/tracing/trace_digest.rb
  spec/datadog/tracing/configuration/settings_spec.rb
  spec/datadog/tracing/distributed/propagation_spec.rb
  spec/datadog/tracing/trace_digest_spec.rb
Labels: tracing

#3245 Setup clangd-based native dev env via rake native_dev:setup
  Rakefile
  ext/.gitignore
  ext/ddtrace_profiling_loader/.clang-format
  ext/ddtrace_profiling_native_extension/.clang-format
  spec/ddtrace/release_gem_spec.rb
Labels: profiling

#3267 Tracing: Add b3 for default extraction
  lib/datadog/tracing/configuration/settings.rb
  spec/datadog/tracing/configuration/settings_spec.rb
Labels: tracing

#3266 set 128-bit trace_id to true by default
  docs/GettingStarted.md
  lib/datadog/opentracer/text_map_propagator.rb
  lib/datadog/tracing/configuration/settings.rb
  lib/datadog/tracing/distributed/datadog.rb
  spec/datadog/opentelemetry_spec.rb
  spec/datadog/opentracer/propagation_integration_spec.rb
  spec/datadog/opentracer/rack_propagator_spec.rb
  spec/datadog/tracing/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/ethon/shared_examples.rb
  spec/datadog/tracing/contrib/excon/instrumentation_spec.rb
  spec/datadog/tracing/contrib/faraday/middleware_spec.rb
  spec/datadog/tracing/contrib/http/request_spec.rb
  spec/datadog/tracing/contrib/httpclient/instrumentation_spec.rb
  spec/datadog/tracing/contrib/httprb/instrumentation_spec.rb
  spec/datadog/tracing/contrib/rails/rails_active_job_spec.rb
  spec/datadog/tracing/contrib/rails/rails_log_auto_injection_spec.rb
  spec/datadog/tracing/contrib/rails/rails_semantic_logger_auto_injection_spec.rb
  spec/datadog/tracing/contrib/rest_client/request_patch_spec.rb
  spec/datadog/tracing/contrib/sidekiq/distributed_tracing_spec.rb
  spec/datadog/tracing/distributed/datadog_spec.rb
  spec/datadog/tracing/tracer_spec.rb
  spec/datadog/tracing/transport/trace_formatter_spec.rb
  spec/support/tracer_helpers.rb
Labels: tracing

#3280 Allow profiler to run without "no signals" workaround on passenger 6.0.19+
  lib/datadog/profiling/component.rb
  sig/datadog/profiling/component.rbs
  spec/datadog/profiling/component_spec.rb
Labels: profiling

#3279 Mark ddtrace threads as fork-safe
  lib/datadog/core/configuration.rb
  lib/datadog/core/remote/worker.rb
  lib/datadog/core/workers/async.rb
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  lib/datadog/profiling/collectors/idle_sampling_helper.rb
  lib/datadog/tracing/workers.rb
  spec/datadog/core/configuration_spec.rb
  spec/datadog/core/remote/worker_spec.rb
  spec/datadog/core/workers/async_spec.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/collectors/idle_sampling_helper_spec.rb
  spec/datadog/tracing/workers_spec.rb
Labels: core, profiling, tracing

#3259 Disable profiler on Ruby 3.3 when running with RUBY_MN_THREADS=1
  ext/ddtrace_profiling_native_extension/clock_id_from_pthread.c
  ext/ddtrace_profiling_native_extension/extconf.rb
  ext/ddtrace_profiling_native_extension/private_vm_api_access.c
  ext/ddtrace_profiling_native_extension/private_vm_api_access.h
  ext/ddtrace_profiling_native_extension/profiling.c
Labels: profiling

#3285 Revert "Disable Ruby 3.3 integration due to protobuf compilation error"
  .circleci/config.yml
Labels: dev/ci

#3290 Profiling: Include specific kind of VM-internal T_IMEMO object in allocation info
  ext/ddtrace_profiling_native_extension/collectors_thread_context.c
  ext/ddtrace_profiling_native_extension/extconf.rb
  ext/ddtrace_profiling_native_extension/private_vm_api_access.c
  ext/ddtrace_profiling_native_extension/private_vm_api_access.h
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
Labels: profiling
