Repository DataDog/dd-trace-rb, pull requests merged in 2023-09, with the labels that each got.

#3096 [PROF-7307] Record allocation type when sampling objects
  ext/ddtrace_profiling_native_extension/collectors_thread_context.c
  lib/datadog/profiling/collectors/thread_context.rb
  sig/datadog/profiling/collectors/thread_context.rbs
  spec/datadog/profiling/collectors/thread_context_spec.rb
Labels: profiling

#3094 Refactor: Separate Profiling ThreadContext initialization from CpuAndWallTimeWorker
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  lib/datadog/profiling/component.rb
  sig/datadog/profiling/collectors/cpu_and_wall_time_worker.rbs
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/component_spec.rb
Labels: profiling

#3098 Enable type checking for `Profiling::Collectors::CpuAndWallTimeWorker`
  Steepfile
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  sig/datadog/profiling/collectors/cpu_and_wall_time_worker.rbs
Labels: profiling

#2879 Use first valid extracted style for distributed tracing
  lib/datadog/tracing/distributed/propagation.rb
  spec/datadog/tracing/distributed/propagation_spec.rb
Labels: tracing

#3102 Fix tagging with empty data
  lib/datadog/tracing/metadata/tagging.rb
  spec/datadog/tracing/metadata/tagging_spec.rb
Labels: tracing

#3100 [CIAPP-5371] CI visibility: validate git tags
  lib/datadog/ci/ext/environment.rb
  lib/datadog/core/git/ext.rb
  sig/datadog/core/git/ext.rbs
  spec/datadog/ci/ext/environment_spec.rb
Labels: core, ci-app

#3106 Fix a bug with ASM span tags reporting the number of WAF failed loaded rules
  .github/workflows/system-tests.yml
  lib/datadog/appsec/contrib/rack/request_middleware.rb
Labels: integrations, appsec

#3107 rename core configuration option on_set to after_set
  lib/datadog/core/configuration/option.rb
  lib/datadog/core/configuration/option_definition.rb
  lib/datadog/core/configuration/settings.rb
  lib/datadog/tracing/configuration/settings.rb
  lib/datadog/tracing/contrib/action_pack/configuration/settings.rb
  lib/datadog/tracing/contrib/rails/configuration/settings.rb
  lib/datadog/tracing/contrib/rake/configuration/settings.rb
  lib/datadog/tracing/distributed/propagation.rb
  sig/datadog/core/configuration/option_definition.rbs
  spec/datadog/core/configuration/option_definition_spec.rb
  spec/datadog/core/configuration/option_spec.rb
Labels: core, integrations, tracing

#3108 Add description for test task
  Rakefile
Labels: dev/internal

#3110 rename system test action to a single word
  .github/workflows/system-tests.yml
Labels: dev/github

#3103 [PROF-7307] Wire up allocation sampling into `CpuAndWallTimeWorker`
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/ddtrace_profiling_native_extension/collectors_thread_context.c
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  lib/datadog/profiling/component.rb
  sig/datadog/profiling/collectors/cpu_and_wall_time_worker.rbs
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/component_spec.rb
Labels: profiling

#3065 Detect WebMock to disable telemetry and remote configuration
  Steepfile
  lib/datadog/core/environment/execution.rb
  sig/datadog/core/environment/execution.rbs
  spec/datadog/core/environment/execution_spec.rb
  vendor/rbs/webmock/0/webmock.rbs
Labels: core

#3112 Use dummy job to know when all the system test are successful
  .github/workflows/system-tests.yml
Labels: dev/github

#3109 Fix missing endpoint profiling when request_queuing is enabled in rack instrumentation
  ext/ddtrace_profiling_native_extension/collectors_thread_context.c
  spec/datadog/profiling/collectors/thread_context_spec.rb
Labels: profiling

#3111 Implement test tasks
  Rakefile
  docs/DevelopmentGuide.md
Labels: docs, dev/ci, dev/internal

#3018 Implements `_dd.base_service` tag
  lib/datadog/tracing/contrib/active_record/events/sql.rb
  lib/datadog/tracing/contrib/active_support/cache/instrumentation.rb
  lib/datadog/tracing/contrib/aws/instrumentation.rb
  lib/datadog/tracing/contrib/dalli/instrumentation.rb
  lib/datadog/tracing/contrib/elasticsearch/patcher.rb
  lib/datadog/tracing/contrib/ethon/easy_patch.rb
  lib/datadog/tracing/contrib/ethon/multi_patch.rb
  lib/datadog/tracing/contrib/excon/middleware.rb
  lib/datadog/tracing/contrib/ext.rb
  lib/datadog/tracing/contrib/faraday/middleware.rb
  lib/datadog/tracing/contrib/grpc/datadog_interceptor/client.rb
  lib/datadog/tracing/contrib/grpc/datadog_interceptor/server.rb
  lib/datadog/tracing/contrib/http/instrumentation.rb
  lib/datadog/tracing/contrib/httpclient/instrumentation.rb
  lib/datadog/tracing/contrib/httprb/instrumentation.rb
  lib/datadog/tracing/contrib/mongodb/subscribers.rb
  lib/datadog/tracing/contrib/mysql2/instrumentation.rb
  lib/datadog/tracing/contrib/opensearch/patcher.rb
  lib/datadog/tracing/contrib/pg/instrumentation.rb
  lib/datadog/tracing/contrib/presto/instrumentation.rb
  lib/datadog/tracing/contrib/racecar/event.rb
  lib/datadog/tracing/contrib/redis/tags.rb
  lib/datadog/tracing/contrib/rest_client/request_patch.rb
  lib/datadog/tracing/contrib/sequel/utils.rb
  sig/datadog/tracing/contrib/ext.rbs
  spec/datadog/tracing/contrib/environment_service_name_examples.rb
  spec/datadog/tracing/contrib/span_attribute_schema_examples.rb
  spec/support/network_helpers.rb
Labels: integrations, tracing

#3123 Run the MacOS and System Test actions for every pull request.
  .github/workflows/system-tests.yml
  .github/workflows/test-macos.yaml
Labels: dev/github

#3124 Do not run the system tests action for every pull request.
  .github/workflows/system-tests.yml
Labels: dev/github

#3114 Refactor: Simplify `Profiler` instance
  benchmarks/profiler_sample_loop.rb
  lib/datadog/profiling.rb
  lib/datadog/profiling/component.rb
  lib/datadog/profiling/profiler.rb
  sig/datadog/profiling/profiler.rbs
  spec/datadog/profiling/component_spec.rb
  spec/datadog/profiling/profiler_spec.rb
Labels: profiling

#3099 [APPSEC-9341] Enable configuring blocking response via Remote Configuration
  lib/datadog/appsec.rb
  lib/datadog/appsec/component.rb
  lib/datadog/appsec/contrib/rack/gateway/watcher.rb
  lib/datadog/appsec/contrib/rack/reactive/request.rb
  lib/datadog/appsec/contrib/rack/reactive/request_body.rb
  lib/datadog/appsec/contrib/rack/reactive/response.rb
  lib/datadog/appsec/contrib/rack/request_body_middleware.rb
  lib/datadog/appsec/contrib/rack/request_middleware.rb
  lib/datadog/appsec/contrib/rails/gateway/watcher.rb
  lib/datadog/appsec/contrib/rails/patcher.rb
  lib/datadog/appsec/contrib/rails/reactive/action.rb
  lib/datadog/appsec/contrib/sinatra/gateway/watcher.rb
  lib/datadog/appsec/contrib/sinatra/patcher.rb
  lib/datadog/appsec/contrib/sinatra/reactive/routed.rb
  lib/datadog/appsec/monitor/gateway/watcher.rb
  lib/datadog/appsec/monitor/reactive/set_user.rb
  lib/datadog/appsec/processor/actions.rb
  lib/datadog/appsec/remote.rb
  lib/datadog/appsec/response.rb
  sig/datadog/appsec.rbs
  sig/datadog/appsec/component.rbs
  sig/datadog/appsec/processor/actions.rbs
  sig/datadog/appsec/response.rbs
  spec/datadog/appsec/component_spec.rb
  spec/datadog/appsec/contrib/rack/reactive/request_body_spec.rb
  spec/datadog/appsec/contrib/rack/reactive/request_spec.rb
  spec/datadog/appsec/contrib/rack/reactive/response_spec.rb
  spec/datadog/appsec/contrib/rails/reactive/action_spec.rb
  spec/datadog/appsec/contrib/sinatra/reactive/routed_spec.rb
  spec/datadog/appsec/monitor/reactive/set_user_spec.rb
  spec/datadog/appsec/processor/actions_spec.rb
  spec/datadog/appsec/remote_spec.rb
  spec/datadog/appsec/response_spec.rb
Labels: integrations, appsec

#3126 Improve contribution documentation
  docs/DevelopmentGuide.md
Labels: docs

#3121 Fix the broken link to gem source of `grpc`
  docs/GettingStarted.md
Labels: docs

#3089 Action:Semgrep security monitoring
  .github/workflows/semgrep.yml
  .semgrepignore
  lib/datadog/ci/ext/environment.rb
  spec/ddtrace/release_gem_spec.rb
Labels: ci-app

#3127 peer.service adjustment for sql propagation with DBM
  lib/datadog/tracing/contrib/mysql2/instrumentation.rb
  lib/datadog/tracing/contrib/propagation/sql_comment.rb
  spec/datadog/tracing/contrib/propagation/sql_comment_spec.rb
Labels: integrations, tracing

#3129 Action:Fix semgrep truncated rule name
  .github/workflows/semgrep.yml
Labels: dev/github

#3095 fix(grpc): allow custom error_handler for client interceptor
  lib/datadog/tracing/contrib/grpc/configuration/settings.rb
  lib/datadog/tracing/contrib/grpc/datadog_interceptor.rb
  lib/datadog/tracing/contrib/grpc/datadog_interceptor/client.rb
  lib/datadog/tracing/contrib/grpc/datadog_interceptor/server.rb
  spec/datadog/tracing/contrib/grpc/datadog_interceptor/client_spec.rb
  spec/datadog/tracing/contrib/grpc/datadog_interceptor/server_spec.rb
  spec/datadog/tracing/contrib/grpc/datadog_interceptor/shared_examples.rb
Labels: integrations, tracing

#3133 Create Compatibility Requirements Page for Single Sourcing
  docs/Compatibility.md
  docs/GettingStarted.md
Labels: docs

#3134 Add grpc document for error handler
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/grpc/configuration/settings.rb
Labels: integrations, tracing

#3135 Test:Fix flaky loofah+nokogiri version mismatching
  integration/apps/rails-five/Gemfile
Labels: dev/testing

#3139 Update AppSec rules to 1.7.2
  lib/datadog/appsec/assets/waf_rules/recommended.json
  lib/datadog/appsec/assets/waf_rules/strict.json
Labels: appsec

#3140 Update AppSec rules to 1.8.0
  lib/datadog/appsec/assets/waf_rules/recommended.json
  lib/datadog/appsec/assets/waf_rules/strict.json
Labels: appsec

#3142 Add Docs team as code owners for single sourced docs
  .github/CODEOWNERS
Labels: dev/github

#3136 Update actions/checkout
  .github/workflows/build-gem.yml
  .github/workflows/build-ruby.yml
  .github/workflows/check.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/lib-injection.yml
  .github/workflows/release-lib-injection.yml
  .github/workflows/semgrep.yml
  .github/workflows/system-tests.yml
  .github/workflows/test-head.yaml
  .github/workflows/test-macos.yaml
  .github/workflows/test-yjit.yaml
  .github/workflows/yard.yml
Labels: dev/github

#3062 Ensure Rails testing is considered a development environment
  lib/datadog/core/environment/execution.rb
  sig/datadog/core/environment/execution.rbs
  spec/datadog/core/environment/execution_spec.rb
  vendor/rbs/rails/0/rails.rbs
Labels: core

#3145 Detect Cucumber as a development environment
  Steepfile
  lib/datadog/core/environment/execution.rb
  sig/datadog/core/environment/execution.rbs
  spec/datadog/core/environment/execution_spec.rb
  vendor/rbs/cucumber/0/cucumber.rbs
Labels: core

#3143 Update CODEOWNERS file
  .github/CODEOWNERS
Labels: dev/github

#3147 ekump/upgrade to rubocop 1.50.0
  .rubocop.yml
  .rubocop_todo.yml
  Gemfile
  lib/datadog/core/configuration/options.rb
  lib/datadog/core/configuration/settings.rb
  lib/datadog/profiling.rb
  lib/datadog/tracing/contrib/utils/quantization/http.rb
  spec/datadog/appsec/remote_spec.rb
  spec/datadog/profiling/integration_spec.rb
  spec/datadog/tracing/contrib/aws/instrumentation_spec.rb
  spec/datadog/tracing/contrib/rails/rails_active_job_spec.rb
  spec/support/platform_helpers.rb
Labels: core, integrations, tracing

#3152 remove variable helpers module from our configuration DSL
  lib/datadog/core/configuration/base.rb
  lib/datadog/core/environment/variable_helpers.rb
  lib/datadog/tracing/configuration/settings.rb
  sig/datadog/appsec/configuration/settings.rbs
  sig/datadog/core/environment/variable_helpers.rbs
  spec/datadog/core/configuration/base_spec.rb
  spec/datadog/core/environment/variable_helpers_spec.rb
Labels: core, tracing

#3156 Change `test:appsec:sinatra` to use `sinatra` group
  Rakefile
  appraisal/jruby-9.2.21.0.rb
  appraisal/jruby-9.3.9.0.rb
  appraisal/jruby-9.4.0.0.rb
  appraisal/ruby-2.1.10.rb
  appraisal/ruby-2.2.10.rb
  appraisal/ruby-2.3.8.rb
  appraisal/ruby-2.4.10.rb
  appraisal/ruby-2.5.9.rb
  appraisal/ruby-2.6.10.rb
  appraisal/ruby-2.7.6.rb
  appraisal/ruby-3.0.4.rb
  appraisal/ruby-3.1.2.rb
  appraisal/ruby-3.2.0.rb
  appraisal/ruby-3.3.0.rb
  gemfiles/jruby_9.2.21.0_sinatra.gemfile
  gemfiles/jruby_9.2.21.0_sinatra.gemfile.lock
  gemfiles/jruby_9.3.9.0_sinatra.gemfile
  gemfiles/jruby_9.3.9.0_sinatra.gemfile.lock
  gemfiles/jruby_9.4.0.0_sinatra.gemfile
  gemfiles/jruby_9.4.0.0_sinatra.gemfile.lock
  gemfiles/ruby_2.1.10_sinatra.gemfile
  gemfiles/ruby_2.1.10_sinatra.gemfile.lock
  gemfiles/ruby_2.2.10_sinatra.gemfile
  gemfiles/ruby_2.2.10_sinatra.gemfile.lock
  gemfiles/ruby_2.3.8_sinatra.gemfile
  gemfiles/ruby_2.3.8_sinatra.gemfile.lock
  gemfiles/ruby_2.4.10_sinatra.gemfile
  gemfiles/ruby_2.4.10_sinatra.gemfile.lock
  gemfiles/ruby_2.5.9_sinatra.gemfile
  gemfiles/ruby_2.5.9_sinatra.gemfile.lock
  gemfiles/ruby_2.6.10_sinatra.gemfile
  gemfiles/ruby_2.6.10_sinatra.gemfile.lock
  gemfiles/ruby_2.7.6_sinatra.gemfile
  gemfiles/ruby_2.7.6_sinatra.gemfile.lock
  gemfiles/ruby_3.0.4_sinatra.gemfile
  gemfiles/ruby_3.0.4_sinatra.gemfile.lock
  gemfiles/ruby_3.1.2_sinatra.gemfile
  gemfiles/ruby_3.1.2_sinatra.gemfile.lock
  gemfiles/ruby_3.2.0_sinatra.gemfile
  gemfiles/ruby_3.2.0_sinatra.gemfile.lock
  gemfiles/ruby_3.3.0_sinatra.gemfile
  gemfiles/ruby_3.3.0_sinatra.gemfile.lock
Labels: dev/testing, dev/internal

#3154 Make sure that file name and defined class on the file matches.
  .rubocop.yml
  .rubocop_todo.yml
  lib/datadog/core/configuration/settings.rb
Labels: core

#3158 [Tracer] Introduce async configuration for test mode to use standard writer when needed
  lib/datadog/core/workers/polling.rb
  lib/datadog/tracing/component.rb
  lib/datadog/tracing/configuration/settings.rb
  lib/datadog/tracing/workers.rb
  lib/datadog/tracing/workers/trace_writer.rb
  lib/datadog/tracing/writer.rb
  sig/datadog/tracing/component.rbs
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/core/workers/polling_spec.rb
  spec/datadog/tracing/configuration/settings_spec.rb
  spec/datadog/tracing/workers/trace_writer_spec.rb
  spec/datadog/tracing/workers_integration_spec.rb
  spec/datadog/tracing/workers_spec.rb
  spec/datadog/tracing/writer_spec.rb
Labels: core, tracing

#3165 Add more logging to profiling flaky test
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
Labels: dev/testing

#3166 [APPSEC-10967] add defaults scanners to the WAF ruleset
  lib/datadog/appsec/assets.rb
  lib/datadog/appsec/assets/waf_rules/processors.json
  lib/datadog/appsec/assets/waf_rules/scanners.json
  lib/datadog/appsec/processor/rule_merger.rb
  sig/datadog/appsec/assets.rbs
  sig/datadog/appsec/processor/rule_merger.rbs
  spec/datadog/appsec/processor/rule_merger_spec.rb
  spec/datadog/appsec/processor_spec.rb
  spec/datadog/appsec/remote_spec.rb
Labels: appsec

#3170 Add telemetry for opentracing
  lib/datadog/core/telemetry/collector.rb
  lib/datadog/opentracer.rb
  spec/datadog/core/telemetry/collector_spec.rb
Labels: core

#3167 [PROF-8074] Restore support for Ruby 3.3
  Rakefile
  ext/ddtrace_profiling_native_extension/extconf.rb
  ext/ddtrace_profiling_native_extension/native_extension_helpers.rb
  ext/ddtrace_profiling_native_extension/private_vm_api_access.c
  integration/apps/rack/spec/integration/basic_spec.rb
  integration/apps/rails-seven/spec/integration/basic_spec.rb
  integration/apps/rails-six/spec/integration/basic_spec.rb
  integration/apps/sinatra2-classic/spec/integration/basic_spec.rb
  integration/apps/sinatra2-modular/spec/integration/basic_spec.rb
  integration/images/include/build_ddtrace_profiling_native_extension.rb
  spec/datadog/profiling/collectors/stack_spec.rb
  spec/datadog/profiling/native_extension_helpers_spec.rb
  spec/datadog/profiling/spec_helper.rb
Labels: profiling

#3171 Disable memcached command tag by default
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/dalli/configuration/settings.rb
  lib/datadog/tracing/contrib/dalli/ext.rb
  lib/datadog/tracing/contrib/dalli/instrumentation.rb
  sig/datadog/tracing/contrib/dalli/ext.rbs
  spec/datadog/tracing/contrib/dalli/instrumentation_spec.rb
Labels: integrations, tracing
