Repository DataDog/dd-trace-rb, pull requests merged in 2023-02, with the labels that each got.

#2592 [PROF-7145] Remove support for profiling Ruby 2.2
  Rakefile
  ddtrace.gemspec
  docs/GettingStarted.md
  ext/ddtrace_profiling_native_extension/collectors_stack.c
  ext/ddtrace_profiling_native_extension/extconf.rb
  ext/ddtrace_profiling_native_extension/native_extension_helpers.rb
  ext/ddtrace_profiling_native_extension/private_vm_api_access.c
  ext/ddtrace_profiling_native_extension/ruby_helpers.h
  ext/ddtrace_profiling_native_extension/stack_recorder.c
  integration/apps/rack/spec/integration/basic_spec.rb
  integration/apps/sinatra2-classic/spec/integration/basic_spec.rb
  integration/apps/sinatra2-modular/spec/integration/basic_spec.rb
  integration/images/include/build_ddtrace_profiling_native_extension.rb
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  lib/datadog/profiling/collectors/idle_sampling_helper.rb
  lib/datadog/profiling/collectors/old_stack.rb
  lib/datadog/profiling/stack_recorder.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_spec.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/collectors/old_stack_spec.rb
  spec/datadog/profiling/ext/forking_spec.rb
  spec/datadog/profiling/http_transport_spec.rb
  spec/datadog/profiling/native_extension_helpers_spec.rb
  spec/datadog/profiling/native_extension_spec.rb
  spec/datadog/profiling/spec_helper.rb
Labels: profiling

#2593 Change base to keyword argument
  lib/datadog/tracing/distributed/b3_single.rb
  lib/datadog/tracing/distributed/fetcher.rb
  lib/datadog/tracing/distributed/helpers.rb
  spec/datadog/tracing/distributed/fetcher_spec.rb
  spec/datadog/tracing/distributed/helpers_spec.rb
Labels: tracing

#2594 Fix profiler sometimes not adding the "In native code" placeholder
  ext/ddtrace_profiling_native_extension/private_vm_api_access.c
Labels: profiling

#2596 Minor: Log libdatadog version while building profiler + Tweak banner when new profiler is enabled
  ext/ddtrace_profiling_native_extension/extconf.rb
  lib/datadog/core/configuration/components.rb
  spec/datadog/core/configuration/components_spec.rb
Labels: core, profiling

#2597 Appsec extract array creation from critical path
  lib/datadog/appsec/contrib/rack/reactive/request.rb
  lib/datadog/appsec/contrib/rack/reactive/request_body.rb
  lib/datadog/appsec/contrib/rack/reactive/response.rb
  lib/datadog/appsec/contrib/rails/reactive/action.rb
  lib/datadog/appsec/contrib/sinatra/reactive/routed.rb
  sig/datadog/appsec/contrib/rack/reactive/request.rbs
  sig/datadog/appsec/contrib/rack/reactive/request_body.rbs
  sig/datadog/appsec/contrib/rack/reactive/response.rbs
  sig/datadog/appsec/contrib/rails/reactive/action.rbs
  sig/datadog/appsec/contrib/sinatra/reactive/routed.rbs
Labels: integrations, appsec

#2598 update waf rules to 1.5.0 version
  lib/datadog/appsec/assets/waf_rules/recommended.json
  lib/datadog/appsec/assets/waf_rules/risky.json
  lib/datadog/appsec/assets/waf_rules/strict.json
  lib/datadog/appsec/processor.rb
  spec/datadog/appsec/configuration/settings_spec.rb
  spec/datadog/appsec/extensions_spec.rb
  spec/datadog/appsec/processor_spec.rb
Labels: appsec

#2561 Extract tracing and profiling components out of the core namespace
  lib/datadog/core/configuration/components.rb
  lib/datadog/profiling/component.rb
  lib/datadog/tracing/component.rb
Labels: core, profiling, tracing

#2600 Fix Ruby VM statistics broken and causing errors on Ruby 3.2
  docs/GettingStarted.md
  gemfiles/ruby_3.2.0_contrib.gemfile.lock
  gemfiles/ruby_3.2.0_contrib_old.gemfile.lock
  gemfiles/ruby_3.2.0_core_old.gemfile.lock
  gemfiles/ruby_3.2.0_cucumber3.gemfile.lock
  gemfiles/ruby_3.2.0_cucumber4.gemfile.lock
  gemfiles/ruby_3.2.0_cucumber5.gemfile.lock
  gemfiles/ruby_3.2.0_opentelemetry.gemfile.lock
  gemfiles/ruby_3.2.0_rails61_mysql2.gemfile.lock
  gemfiles/ruby_3.2.0_rails61_postgres.gemfile.lock
  gemfiles/ruby_3.2.0_rails61_postgres_redis.gemfile.lock
  gemfiles/ruby_3.2.0_rails61_postgres_sidekiq.gemfile.lock
  gemfiles/ruby_3.2.0_rails61_semantic_logger.gemfile.lock
  gemfiles/ruby_3.2.0_redis_3.gemfile.lock
  gemfiles/ruby_3.2.0_redis_4.gemfile.lock
  gemfiles/ruby_3.2.0_redis_5.gemfile.lock
  gemfiles/ruby_3.2.0_resque2_redis3.gemfile.lock
  gemfiles/ruby_3.2.0_resque2_redis4.gemfile.lock
  gemfiles/ruby_3.2.0_sinatra.gemfile.lock
  lib/datadog/core/environment/vm_cache.rb
  lib/datadog/core/runtime/ext.rb
  lib/datadog/core/runtime/metrics.rb
  spec/datadog/core/environment/vm_cache_spec.rb
  spec/datadog/core/runtime/metrics_spec.rb
  spec/datadog/tracing/contrib/support/tracer_helpers.rb
Labels: core

#2604 Minor: Remove leftover `OnlyOnce` instance
  lib/datadog/tracing/contrib/configuration/settings.rb
Labels: integrations, tracing

#2605 [APPSEC-7801] Appsec block request base on response addresses matches
  lib/datadog/appsec/contrib/rack/request_middleware.rb
  spec/datadog/appsec/contrib/rack/integration_test_spec.rb
Labels: integrations, appsec

#2599 Upgrade profiler to use libdatadog v2.0.0
  ddtrace.gemspec
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time.c
  ext/ddtrace_profiling_native_extension/collectors_stack.c
  ext/ddtrace_profiling_native_extension/http_transport.c
  ext/ddtrace_profiling_native_extension/libdatadog_helpers.h
  ext/ddtrace_profiling_native_extension/native_extension_helpers.rb
  ext/ddtrace_profiling_native_extension/stack_recorder.c
  ext/ddtrace_profiling_native_extension/stack_recorder.h
  spec/datadog/profiling/collectors/cpu_and_wall_time_spec.rb
  spec/datadog/profiling/collectors/stack_spec.rb
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: profiling

#2603 add tests for Appsec reactive engine
  lib/datadog/appsec/instrumentation/gateway.rb
  lib/datadog/appsec/reactive/address_hash.rb
  lib/datadog/appsec/reactive/engine.rb
  lib/datadog/appsec/reactive/operation.rb
  lib/datadog/appsec/reactive/subscriber.rb
  sig/datadog/appsec/instrumentation/gateway.rbs
  sig/datadog/appsec/reactive/address_hash.rbs
  sig/datadog/appsec/reactive/engine.rbs
  sig/datadog/appsec/reactive/operation.rbs
  spec/datadog/appsec/instrumentation/gateway_spec.rb
  spec/datadog/appsec/reactive/engine_spec.rb
  spec/datadog/appsec/reactive/operation_spec.rb
Labels: appsec

#2612 [APPSEC-8112] Appsec allow to set user id denylist
  lib/datadog/appsec/configuration.rb
  lib/datadog/appsec/configuration/settings.rb
  lib/datadog/appsec/extensions.rb
  lib/datadog/appsec/processor.rb
  sig/datadog/appsec/configuration.rbs
  sig/datadog/appsec/configuration/settings.rbs
  sig/datadog/appsec/extensions.rbs
  sig/datadog/appsec/processor.rbs
  spec/datadog/appsec/configuration/settings_spec.rb
  spec/datadog/appsec/extensions_spec.rb
  spec/datadog/appsec/processor_spec.rb
Labels: appsec

#2613 Add mandatory tags for rabbitmq integrations
  lib/datadog/tracing/contrib/ext.rb
  lib/datadog/tracing/contrib/sneakers/tracer.rb
  spec/datadog/tracing/contrib/sneakers/tracer_spec.rb
Labels: integrations, tracing

#2609 Fix flaky spec on Ruby 3.2
  spec/datadog/core/environment/cgroup_spec.rb
Labels: dev/testing

#2610 Minor: Don't actually start profiling in core specs
  spec/datadog/core/diagnostics/environment_logger_spec.rb
  spec/datadog/core/telemetry/collector_spec.rb
  spec/datadog/profiling/profiler_spec.rb
Labels: dev/testing

#2615 update ruby 3.2 appraisal gemfile lock files
  gemfiles/ruby_3.2.0_contrib.gemfile.lock
  gemfiles/ruby_3.2.0_contrib_old.gemfile.lock
  gemfiles/ruby_3.2.0_core_old.gemfile.lock
  gemfiles/ruby_3.2.0_cucumber3.gemfile.lock
  gemfiles/ruby_3.2.0_cucumber4.gemfile.lock
  gemfiles/ruby_3.2.0_cucumber5.gemfile.lock
  gemfiles/ruby_3.2.0_opentelemetry.gemfile.lock
  gemfiles/ruby_3.2.0_rails61_mysql2.gemfile.lock
  gemfiles/ruby_3.2.0_rails61_postgres.gemfile.lock
  gemfiles/ruby_3.2.0_rails61_postgres_redis.gemfile.lock
  gemfiles/ruby_3.2.0_rails61_postgres_sidekiq.gemfile.lock
  gemfiles/ruby_3.2.0_rails61_semantic_logger.gemfile.lock
  gemfiles/ruby_3.2.0_redis_3.gemfile.lock
  gemfiles/ruby_3.2.0_redis_4.gemfile.lock
  gemfiles/ruby_3.2.0_redis_5.gemfile.lock
  gemfiles/ruby_3.2.0_resque2_redis3.gemfile.lock
  gemfiles/ruby_3.2.0_resque2_redis4.gemfile.lock
  gemfiles/ruby_3.2.0_sinatra.gemfile.lock
Labels: dev/internal

#2607 [PROF-6558] Show profiler overhead in flamegraph for CPU Profiling 2.0
  benchmarks/profiler_sample_loop_v2.rb
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time.c
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time.h
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  spec/datadog/profiling/collectors/cpu_and_wall_time_spec.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/collectors/stack_spec.rb
  spec/datadog/profiling/spec_helper.rb
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: profiling

#2618 [PROF-7192] Minor: Extend stack collector to be able to record the alloc-samples metric
  ext/ddtrace_profiling_native_extension/collectors_stack.c
  ext/ddtrace_profiling_native_extension/stack_recorder.h
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: profiling

#2619 Adds span.kind:client for dalli
  lib/datadog/tracing/contrib/dalli/instrumentation.rb
  spec/datadog/tracing/contrib/dalli/instrumentation_spec.rb
Labels: integrations, tracing

#2622 Add specs for appsec contrib reactive components
  spec/datadog/appsec/contrib/rack/reactive/request_body_spec.rb
  spec/datadog/appsec/contrib/rack/reactive/request_spec.rb
  spec/datadog/appsec/contrib/rack/reactive/response_spec.rb
  spec/datadog/appsec/contrib/rails/reactive/action_spec.rb
  spec/datadog/appsec/contrib/sinatra/reactive/routed_spec.rb
Labels: dev/testing

#2626 Minor: Remove unused AgentSettings#merge method
  lib/datadog/core/configuration/agent_settings_resolver.rb
Labels: core

#2591 Only count time spent in queue as part of the `http_server.queue` span
  docs/GettingStarted.md
  integration/apps/rails-seven/config/initializers/datadog.rb
  lib/datadog/tracing/contrib/rack/ext.rb
  lib/datadog/tracing/contrib/rack/middlewares.rb
  lib/datadog/tracing/metadata/ext.rb
  spec/datadog/tracing/contrib/rack/configuration_spec.rb
  spec/datadog/tracing/contrib/rack/distributed_spec.rb
  spec/datadog/tracing/contrib/rack/integration_test_spec.rb
Labels: integrations, community, tracing

#2608 Presto/Elasticsearch/qLess updates
  lib/datadog/tracing/contrib/elasticsearch/patcher.rb
  lib/datadog/tracing/contrib/presto/ext.rb
  lib/datadog/tracing/contrib/presto/instrumentation.rb
  lib/datadog/tracing/contrib/qless/qless_job.rb
  spec/datadog/tracing/contrib/elasticsearch/patcher_spec.rb
  spec/datadog/tracing/contrib/presto/client_spec.rb
  spec/datadog/tracing/contrib/qless/instrumentation_spec.rb
Labels: integrations, tracing

#2623 flaky:Datadog::Core::Workers::RuntimeMetrics integration test
  spec/datadog/core/workers/runtime_metrics_spec.rb
  spec/spec_helper.rb
Labels: dev/testing

#2630 Add better error information to flaky thread-leak detection test
  spec/datadog/integration_spec.rb
  spec/spec_helper.rb
Labels: dev/testing

#2631 Increase timeout on flaky Ethon test
  spec/datadog/tracing/contrib/ethon/integration_context.rb
Labels: dev/testing

#2634 [PROF-7251] Exclude disabled profiling sample value types from output
  benchmarks/profiler_sample_loop_v2.rb
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time.c
  ext/ddtrace_profiling_native_extension/collectors_stack.c
  ext/ddtrace_profiling_native_extension/collectors_stack.h
  ext/ddtrace_profiling_native_extension/stack_recorder.c
  ext/ddtrace_profiling_native_extension/stack_recorder.h
  lib/datadog/profiling/component.rb
  lib/datadog/profiling/stack_recorder.rb
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_spec.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/collectors/stack_spec.rb
  spec/datadog/profiling/spec_helper.rb
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: profiling

#2635 [PROF-7252] Add `Profiling.allocation_count` API for new profiler
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  lib/datadog/core/configuration/settings.rb
  lib/datadog/profiling.rb
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  lib/datadog/profiling/component.rb
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling_spec.rb
Labels: core, profiling

#2632 Add appsec component
  .rubocop.yml
  Steepfile
  lib/datadog/appsec.rb
  lib/datadog/appsec/assets.rb
  lib/datadog/appsec/autoload.rb
  lib/datadog/appsec/component.rb
  lib/datadog/appsec/contrib/rack/request_middleware.rb
  lib/datadog/appsec/processor.rb
  lib/datadog/core/configuration/components.rb
  lib/ddtrace.rb
  sig/datadog/appsec.rbs
  sig/datadog/appsec/component.rbs
  sig/datadog/core/configuration/agent_settings_resolver.rbs
  sig/datadog/core/configuration/settings.rbs
  sorbet/config
  spec/datadog/appsec/component_spec.rb
  spec/datadog/appsec/extensions_spec.rb
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/core/diagnostics/environment_logger_spec.rb
  spec/datadog/tracing/buffer_spec.rb
Labels: core, integrations, appsec

#2637 make sure to assign a valid processor to the appsec component
  lib/datadog/appsec/component.rb
  lib/datadog/appsec/contrib/rack/request_middleware.rb
  sig/datadog/appsec/component.rbs
  spec/datadog/appsec/component_spec.rb
Labels: integrations, appsec

#2617 [APPSEC-8115] create AppSec::Monitor to subscribe to internal app sec events
  .circleci/config.yml
  Steepfile
  lib/datadog/appsec/contrib/rack/gateway/watcher.rb
  lib/datadog/appsec/contrib/rack/patcher.rb
  lib/datadog/appsec/contrib/rack/request_middleware.rb
  lib/datadog/appsec/contrib/rails/gateway/watcher.rb
  lib/datadog/appsec/contrib/sinatra/gateway/watcher.rb
  lib/datadog/appsec/monitor.rb
  lib/datadog/appsec/monitor/gateway/watcher.rb
  lib/datadog/appsec/monitor/reactive/set_user.rb
  lib/datadog/appsec/processor.rb
  sig/datadog/appsec/contrib/rack/gateway/watcher.rbs
  sig/datadog/appsec/contrib/rails/gateway/watcher.rbs
  sig/datadog/appsec/contrib/sinatra/gateway/watcher.rbs
  sig/datadog/appsec/monitor/gateway/watcher.rbs
  sig/datadog/appsec/monitor/reactive/set_user.rbs
  sig/datadog/appsec/processor.rbs
  spec/datadog/appsec/monitor/reactive/set_user_spec.rb
  spec/datadog/appsec/processor_spec.rb
Labels: integrations, appsec

#2640 Flaky:Remove race condition from integration test
  spec/datadog/tracing/integration_spec.rb
Labels: dev/testing

#2639 Flaky:Increase worker shutdown timing tolerance
  spec/datadog/tracing/workers_integration_spec.rb
Labels: dev/testing

#2642 [APPSEC-8112] Appsec block request when user ID matches rules data
  lib/datadog/appsec/contrib/rack/request_middleware.rb
  lib/datadog/appsec/ext.rb
  lib/datadog/appsec/monitor/gateway/watcher.rb
  lib/datadog/kit/identity.rb
  sig/datadog/appsec/ext.rbs
  spec/datadog/appsec/contrib/rack/integration_test_spec.rb
  spec/datadog/appsec/contrib/rails/integration_test_spec.rb
  spec/datadog/appsec/contrib/sinatra/integration_test_spec.rb
  spec/datadog/kit/identity_spec.rb
Labels: integrations, appsec

#2644 Reuse array for listing threads instead of creating one every time
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time.c
  ext/ddtrace_profiling_native_extension/private_vm_api_access.c
  ext/ddtrace_profiling_native_extension/private_vm_api_access.h
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
Labels: profiling

#2646 Minor: Tweak profiling error guidance when pkg-config is missing
  ext/ddtrace_profiling_native_extension/native_extension_helpers.rb
Labels: profiling

#2648 Introduce AppSec::Instrumentation::Gateway::Argument
  lib/datadog/appsec/contrib/rack/gateway/request.rb
  lib/datadog/appsec/contrib/rack/gateway/response.rb
  lib/datadog/appsec/contrib/rack/gateway/watcher.rb
  lib/datadog/appsec/contrib/rack/reactive/request.rb
  lib/datadog/appsec/contrib/rack/reactive/request_body.rb
  lib/datadog/appsec/contrib/rack/reactive/response.rb
  lib/datadog/appsec/contrib/rack/request.rb
  lib/datadog/appsec/contrib/rack/request_body_middleware.rb
  lib/datadog/appsec/contrib/rack/request_middleware.rb
  lib/datadog/appsec/contrib/rack/response.rb
  lib/datadog/appsec/contrib/rails/gateway/request.rb
  lib/datadog/appsec/contrib/rails/gateway/watcher.rb
  lib/datadog/appsec/contrib/rails/patcher.rb
  lib/datadog/appsec/contrib/rails/reactive/action.rb
  lib/datadog/appsec/contrib/sinatra/gateway/request.rb
  lib/datadog/appsec/contrib/sinatra/gateway/route_params.rb
  lib/datadog/appsec/contrib/sinatra/gateway/watcher.rb
  lib/datadog/appsec/contrib/sinatra/patcher.rb
  lib/datadog/appsec/contrib/sinatra/reactive/routed.rb
  lib/datadog/appsec/event.rb
  lib/datadog/appsec/instrumentation.rb
  lib/datadog/appsec/instrumentation/gateway/argument.rb
  lib/datadog/kit/identity.rb
  sig/datadog/appsec/contrib/rack/gateway/request.rbs
  sig/datadog/appsec/contrib/rack/gateway/response.rbs
  sig/datadog/appsec/contrib/rack/reactive/request.rbs
  sig/datadog/appsec/contrib/rack/reactive/request_body.rbs
  sig/datadog/appsec/contrib/rack/reactive/response.rbs
  sig/datadog/appsec/contrib/rack/request.rbs
  sig/datadog/appsec/contrib/rack/response.rbs
  sig/datadog/appsec/contrib/rails/gateway/request.rbs
  sig/datadog/appsec/contrib/rails/reactive/action.rbs
  sig/datadog/appsec/contrib/sinatra/gateway/route_params.rbs
  sig/datadog/appsec/contrib/sinatra/reactive/routed.rbs
  sig/datadog/appsec/instrumentation/gateway.rbs
  sig/datadog/appsec/instrumentation/gateway/argument.rbs
  sig/datadog/appsec/monitor/reactive/set_user.rbs
  spec/datadog/appsec/contrib/rack/gateway/request_spec.rb
  spec/datadog/appsec/contrib/rack/gateway/response_spec.rb
  spec/datadog/appsec/contrib/rack/reactive/request_body_spec.rb
  spec/datadog/appsec/contrib/rack/reactive/request_spec.rb
  spec/datadog/appsec/contrib/rack/reactive/response_spec.rb
  spec/datadog/appsec/contrib/rails/reactive/action_spec.rb
  spec/datadog/appsec/contrib/sinatra/reactive/routed_spec.rb
  spec/datadog/appsec/event_spec.rb
  spec/datadog/kit/identity_spec.rb
Labels: integrations, appsec
