Repository DataDog/dd-trace-rb, pull requests merged in 2023-01, with the labels that each got.

#2515 Lint: Rubocop running out of memory in CI
  .circleci/config.yml
Labels: dev/tooling, dev/ci

#2519 Lint: Fix Lint/DuplicateRequire occurrences
  .rubocop_todo.yml
  spec/datadog/tracing/contrib/presto/client_spec.rb
Labels: dev/tooling

#2520 Lint: Fix Lint/ConstantDefinitionInBlock occurrences
  .rubocop_todo.yml
  spec/datadog/core/workers/async_spec.rb
  spec/datadog/tracing/benchmark/support/benchmark_helper.rb
  spec/datadog/tracing/contrib/rails/rack_spec.rb
Labels: dev/tooling

#2521 Lint: Fix Lint/Void occurrences
  .rubocop_todo.yml
  spec/datadog/tracing/contrib/grpc/support/grpc_helper.rb
Labels: dev/tooling

#2524 Use stable Ruby 3.2 when testing integration apps
  integration/images/ruby/3.2/Dockerfile
Labels: dev/testing

#2527 Minor: Document that `DD_PROFILING_MAX_FRAMES` can be used to configure profiling `max_frames`
  lib/datadog/core/configuration/settings.rb
Labels: core

#2517 Remove agent container for integration test on CI
  integration/apps/hanami/docker-compose.ci.yml
  integration/apps/rack/docker-compose.ci.yml
  integration/apps/rails-five/docker-compose.ci.yml
  integration/apps/rails-seven/docker-compose.ci.yml
  integration/apps/rails-six/docker-compose.ci.yml
  integration/apps/rspec/docker-compose.ci.yml
  integration/apps/ruby/docker-compose.ci.yml
  integration/apps/sinatra2-classic/docker-compose.ci.yml
  integration/apps/sinatra2-modular/docker-compose.ci.yml
Labels: dev/testing

#2530 [PROF-6838] Upgrade to libdatadog 1.0.1.1.0
  ddtrace.gemspec
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time.c
  ext/ddtrace_profiling_native_extension/collectors_stack.c
  ext/ddtrace_profiling_native_extension/collectors_stack.h
  ext/ddtrace_profiling_native_extension/http_transport.c
  ext/ddtrace_profiling_native_extension/libdatadog_helpers.h
  ext/ddtrace_profiling_native_extension/stack_recorder.c
  ext/ddtrace_profiling_native_extension/stack_recorder.h
  spec/datadog/profiling/http_transport_spec.rb
Labels: profiling

#2536 Pin bundler and rubygems fro Rubies < 2.6
  .circleci/images/primary/Dockerfile-2.1.10
  .circleci/images/primary/Dockerfile-2.2.10
  .circleci/images/primary/Dockerfile-2.3.8
  .circleci/images/primary/Dockerfile-2.4.10
  .circleci/images/primary/Dockerfile-2.5.9
  .circleci/images/primary/Dockerfile-2.6.10
  .circleci/images/primary/Dockerfile-2.7.6
  .circleci/images/primary/Dockerfile-3.0.4
  .circleci/images/primary/Dockerfile-3.1.2
  .circleci/images/primary/Dockerfile-3.2.0
  .circleci/images/primary/Dockerfile-jruby-9.2.21.0
  .circleci/images/primary/Dockerfile-jruby-9.2.8.0
  .circleci/images/primary/Dockerfile-jruby-9.3.9.0
  .circleci/images/primary/Dockerfile-jruby-9.4.0.0
  .circleci/images/primary/Dockerfile-truffleruby-22.3.0
Labels: dev/ci

#2539 Tweak flaky profiling spec
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
Labels: dev/testing

#2540 DOCS-4628 Ports must match agent config
  docs/GettingStarted.md
Labels: docs

#2538 Fix leftover profiling `Makefile` breaking integration app run
  integration/images/include/build_ddtrace_profiling_native_extension.rb
Labels: dev/testing

#2531 [PROF-6900] Fix wrong libdatadog version being picked during profiler build
  ddtrace.gemspec
  ext/ddtrace_profiling_native_extension/native_extension_helpers.rb
  spec/datadog/profiling/native_extension_helpers_spec.rb
Labels: profiling

#2559 Pin bundler to 2.3
  .circleci/images/primary/Dockerfile-2.1.10
  .circleci/images/primary/Dockerfile-2.2.10
  .circleci/images/primary/Dockerfile-2.6.10
  .circleci/images/primary/Dockerfile-2.7.6
  .circleci/images/primary/Dockerfile-3.1.2
  .circleci/images/primary/Dockerfile-3.2.0
  .circleci/images/primary/Dockerfile-jruby-9.2.21.0
  .circleci/images/primary/Dockerfile-jruby-9.2.8.0
  .circleci/images/primary/Dockerfile-jruby-9.3.9.0
  .circleci/images/primary/Dockerfile-jruby-9.4.0.0
  .circleci/images/primary/Dockerfile-truffleruby-22.3.0
Labels: dev/ci

#2563 Pin bundler on 3.0
  .circleci/images/primary/Dockerfile-3.0.4
Labels: dev/ci

#2562 [ci visibility] Fix copy-paste error in teamcity env vars
  lib/datadog/ci/ext/environment.rb
Labels: ci-app

#2564 update development guide
  docs/DevelopmentGuide.md
Labels: docs

#2541 [PROF-6660] Add `profiling_enabled` state to environment logger output
  lib/datadog/core/diagnostics/environment_logger.rb
  spec/datadog/core/diagnostics/environment_logger_spec.rb
Labels: core

#2547 Document how to publish updates to test container images
  .circleci/images/primary/Dockerfile-2.1.10
  .circleci/images/primary/Dockerfile-2.2.10
  .circleci/images/primary/Dockerfile-2.3.8
  .circleci/images/primary/Dockerfile-2.4.10
  .circleci/images/primary/Dockerfile-2.5.9
  .circleci/images/primary/Dockerfile-2.6.10
  .circleci/images/primary/Dockerfile-2.7.6
  .circleci/images/primary/Dockerfile-3.0.4
  .circleci/images/primary/Dockerfile-3.1.2
  .circleci/images/primary/Dockerfile-3.2.0
  .circleci/images/primary/Dockerfile-jruby-9.2.21.0
  .circleci/images/primary/Dockerfile-jruby-9.2.8.0
  .circleci/images/primary/Dockerfile-jruby-9.3.9.0
  .circleci/images/primary/Dockerfile-jruby-9.4.0.0
  .circleci/images/primary/Dockerfile-truffleruby-22.3.0
  .circleci/images/primary/README.md
Labels: dev/ci

#2551 Add basic auth spec for httpclient
  spec/datadog/tracing/contrib/httpclient/instrumentation_spec.rb
Labels: dev/testing

#2550 Add basic auth spec for httprb
  spec/datadog/tracing/contrib/httprb/instrumentation_spec.rb
Labels: dev/testing

#2548 Add basic auth spec for faraday
  spec/datadog/tracing/contrib/faraday/middleware_spec.rb
Labels: dev/testing

#2549 Add basic auth spec for rest-client
  spec/datadog/tracing/contrib/rest_client/request_patch_spec.rb
Labels: dev/testing

#2553 Add basic auth spec for net http
  spec/datadog/tracing/contrib/http/request_spec.rb
Labels: dev/testing

#2554 Add basic auth spec for ethon
  spec/datadog/tracing/contrib/ethon/easy_patch_spec.rb
Labels: dev/testing

#2501 Configure which response codes are considered errors for Net/HTTP
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/http/configuration/settings.rb
  lib/datadog/tracing/contrib/http/ext.rb
  lib/datadog/tracing/contrib/http/instrumentation.rb
  spec/datadog/tracing/contrib/http/request_spec.rb
  spec/datadog/tracing/contrib/http_examples.rb
Labels: integrations, community, tracing

#2575 Upgrade CodeQL Github Action to v2
  .github/workflows/codeql-analysis.yml
Labels: dev/github

#2557 Add Stripe instrumentation
  Appraisals
  Rakefile
  docs/GettingStarted.md
  gemfiles/jruby_9.2.21.0_contrib.gemfile
  gemfiles/jruby_9.2.21.0_contrib.gemfile.lock
  gemfiles/jruby_9.3.9.0_contrib.gemfile
  gemfiles/jruby_9.3.9.0_contrib.gemfile.lock
  gemfiles/jruby_9.4.0.0_contrib.gemfile
  gemfiles/jruby_9.4.0.0_contrib.gemfile.lock
  gemfiles/ruby_2.3.8_contrib.gemfile
  gemfiles/ruby_2.3.8_contrib.gemfile.lock
  gemfiles/ruby_2.4.10_contrib.gemfile
  gemfiles/ruby_2.4.10_contrib.gemfile.lock
  gemfiles/ruby_2.5.9_contrib.gemfile
  gemfiles/ruby_2.5.9_contrib.gemfile.lock
  gemfiles/ruby_2.6.10_contrib.gemfile
  gemfiles/ruby_2.6.10_contrib.gemfile.lock
  gemfiles/ruby_2.7.6_contrib.gemfile
  gemfiles/ruby_2.7.6_contrib.gemfile.lock
  gemfiles/ruby_3.0.4_contrib.gemfile
  gemfiles/ruby_3.0.4_contrib.gemfile.lock
  gemfiles/ruby_3.1.2_contrib.gemfile
  gemfiles/ruby_3.1.2_contrib.gemfile.lock
  gemfiles/ruby_3.2.0_contrib.gemfile
  gemfiles/ruby_3.2.0_contrib.gemfile.lock
  lib/datadog/tracing/contrib.rb
  lib/datadog/tracing/contrib/stripe/configuration/settings.rb
  lib/datadog/tracing/contrib/stripe/ext.rb
  lib/datadog/tracing/contrib/stripe/integration.rb
  lib/datadog/tracing/contrib/stripe/patcher.rb
  lib/datadog/tracing/contrib/stripe/request.rb
  sorbet/rbi/todo.rbi
  spec/datadog/tracing/contrib/stripe/integration_spec.rb
  spec/datadog/tracing/contrib/stripe/patcher_spec.rb
  spec/datadog/tracing/contrib/stripe/request_spec.rb
Labels: integrations, tracing

#2580 Update appsec rules 1.4.3
  lib/datadog/appsec/assets/waf_rules/recommended.json
  lib/datadog/appsec/assets/waf_rules/risky.json
  lib/datadog/appsec/assets/waf_rules/strict.json
Labels: appsec

#2573 Allow profiler development on arm64 macOS
  ext/ddtrace_profiling_native_extension/native_extension_helpers.rb
  spec/datadog/profiling/native_extension_helpers_spec.rb
Labels: profiling

#2579 Minor: Tweak profiling error message when pkg-config is missing
  ext/ddtrace_profiling_native_extension/native_extension_helpers.rb
Labels: profiling

#2583 Minor: Import upstream safety check into the profiler custom `rb_profile_frames`
  ext/ddtrace_profiling_native_extension/private_vm_api_access.c
Labels: profiling

#2584 Add hanami getting started doc
  docs/GettingStarted.md
Labels: docs

#2585 Disable telemetry by default
  docs/GettingStarted.md
  lib/datadog/core/configuration/settings.rb
  spec/datadog/core/configuration/settings_spec.rb
Labels: core

#2586 Update CI Visibility metadata extraction
  lib/datadog/ci/ext/environment.rb
  spec/datadog/ci/ext/fixtures/ci/appveyor.json
  spec/datadog/ci/ext/fixtures/ci/azurepipelines.json
  spec/datadog/ci/ext/fixtures/ci/bitbucket.json
  spec/datadog/ci/ext/fixtures/ci/bitrise.json
  spec/datadog/ci/ext/fixtures/ci/buddy.json
  spec/datadog/ci/ext/fixtures/ci/buildkite.json
  spec/datadog/ci/ext/fixtures/ci/circleci.json
  spec/datadog/ci/ext/fixtures/ci/github.json
  spec/datadog/ci/ext/fixtures/ci/gitlab.json
  spec/datadog/ci/ext/fixtures/ci/jenkins.json
  spec/datadog/ci/ext/fixtures/ci/travisci.json
  spec/datadog/ci/ext/fixtures/ci/usersupplied.json
Labels: ci-app

#2496 OpenTelemetry Traces support
  Appraisals
  Rakefile
  docs/GettingStarted.md
  docs/OpenTelemetry.md
  gemfiles/jruby_9.2.21.0_opentelemetry.gemfile.lock
  gemfiles/jruby_9.2.8.0_opentelemetry.gemfile.lock
  gemfiles/jruby_9.3.9.0_opentelemetry.gemfile
  gemfiles/jruby_9.3.9.0_opentelemetry.gemfile.lock
  gemfiles/jruby_9.4.0.0_opentelemetry.gemfile
  gemfiles/jruby_9.4.0.0_opentelemetry.gemfile.lock
  gemfiles/ruby_2.5.9_opentelemetry.gemfile.lock
  gemfiles/ruby_2.6.10_opentelemetry.gemfile
  gemfiles/ruby_2.6.10_opentelemetry.gemfile.lock
  gemfiles/ruby_2.7.6_opentelemetry.gemfile
  gemfiles/ruby_2.7.6_opentelemetry.gemfile.lock
  gemfiles/ruby_3.0.4_opentelemetry.gemfile
  gemfiles/ruby_3.0.4_opentelemetry.gemfile.lock
  gemfiles/ruby_3.1.2_opentelemetry.gemfile
  gemfiles/ruby_3.1.2_opentelemetry.gemfile.lock
  gemfiles/ruby_3.2.0_opentelemetry.gemfile
  gemfiles/ruby_3.2.0_opentelemetry.gemfile.lock
  integration/README.md
  integration/apps/opentelemetry/.dockerignore
  integration/apps/opentelemetry/.envrc.sample
  integration/apps/opentelemetry/.gitignore
  integration/apps/opentelemetry/Dockerfile
  integration/apps/opentelemetry/Dockerfile-ci
  integration/apps/opentelemetry/Gemfile
  integration/apps/opentelemetry/README.md
  integration/apps/opentelemetry/agent.yaml
  integration/apps/opentelemetry/app/datadog.rb
  integration/apps/opentelemetry/app/main.rb
  integration/apps/opentelemetry/bin/run
  integration/apps/opentelemetry/bin/setup
  integration/apps/opentelemetry/bin/test
  integration/apps/opentelemetry/docker-compose.ci.yml
  integration/apps/opentelemetry/docker-compose.yml
  integration/apps/opentelemetry/script/build-images
  integration/apps/opentelemetry/script/ci
  integration/apps/opentelemetry/spec/main_spec.rb
  integration/apps/opentelemetry/spec/spec_helper.rb
  lib/datadog/core/telemetry/collector.rb
  lib/datadog/opentelemetry.rb
  lib/datadog/opentelemetry/api/context.rb
  lib/datadog/opentelemetry/api/trace/span.rb
  lib/datadog/opentelemetry/sdk/configurator.rb
  lib/datadog/opentelemetry/sdk/id_generator.rb
  lib/datadog/opentelemetry/sdk/propagator.rb
  lib/datadog/opentelemetry/sdk/span_processor.rb
  lib/datadog/tracing/configuration/ext.rb
  lib/datadog/tracing/metadata/tagging.rb
  lib/datadog/tracing/trace_operation.rb
  sorbet/config
  spec/datadog/core/telemetry/collector_spec.rb
  spec/datadog/opentelemetry_spec.rb
  tasks/upstream_test.rake
Labels: core, feature, tracing
