Repository DataDog/dd-trace-rb, pull requests merged in 2023-12, with the labels that each got.

#3297 Remove deprecated DD_PROPAGATION_STYLE env vars
  lib/datadog/tracing/configuration/ext.rb
  lib/datadog/tracing/configuration/settings.rb
  sig/datadog/tracing/configuration/ext.rbs
  spec/datadog/tracing/configuration/settings_spec.rb
Labels: tracing

#3293 Revert "Add b3 default extraction"
  lib/datadog/tracing/configuration/settings.rb
  spec/datadog/tracing/configuration/settings_spec.rb
Labels: tracing

#3304 [NO-TICKET] Remove unused parameter warning workaround for Ruby 3.3
  ext/ddtrace_profiling_native_extension/extconf.rb
Labels: profiling

#3289 Fix potential crash by importing upstream `rb_profile_frames` fix
  ext/ddtrace_profiling_native_extension/extconf.rb
  ext/ddtrace_profiling_native_extension/private_vm_api_access.c
Labels: profiling

#3271 Fix disabling pg instrumentation configuration
  lib/datadog/tracing/contrib/pg/instrumentation.rb
  spec/datadog/tracing/contrib/pg/patcher_spec.rb
Labels: integrations, tracing

#3294 Remove deprecated B3 configuration style
  lib/datadog/tracing/configuration/ext.rb
  lib/datadog/tracing/configuration/settings.rb
  sig/datadog/tracing/configuration/ext.rbs
  spec/datadog/tracing/configuration/settings_spec.rb
Labels: tracing

#3298 Remove deprecated DD_PROPAGATION_STYLE env vars
  lib/datadog/tracing/configuration/ext.rb
  lib/datadog/tracing/configuration/settings.rb
  sig/datadog/tracing/configuration/ext.rbs
  spec/datadog/tracing/configuration/settings_spec.rb
Labels: tracing

#3299 Case-insensitive propagation style configuration
  lib/datadog/tracing/configuration/ext.rb
  lib/datadog/tracing/configuration/settings.rb
  spec/datadog/opentelemetry_spec.rb
  spec/datadog/opentracer/rack_propagator_spec.rb
  spec/datadog/tracing/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/grpc/distributed/propagation_spec.rb
  spec/datadog/tracing/contrib/http/distributed/propagation_spec.rb
  spec/datadog/tracing/distributed/propagation_spec.rb
Labels: tracing

#3307 Revert "Revert "Support lib injection for ARM64 architecture""
  .gitlab-ci.yml
  .gitlab/Dockerfile-2.7.8
  .gitlab/Dockerfile-3.0.6
  .gitlab/Dockerfile-3.1.4
  .gitlab/Dockerfile-3.2.2
  lib-injection/README.md
Labels: tracing

#3296 Ensure traces reach the agent
  lib/datadog/tracing/trace_operation.rb
  spec/datadog/tracing/integration_spec.rb
  spec/datadog/tracing/trace_operation_spec.rb
Labels: tracing

#3303 Add ability to configure pg error_handler
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/pg/configuration/settings.rb
  lib/datadog/tracing/contrib/pg/instrumentation.rb
  spec/datadog/tracing/contrib/pg/patcher_spec.rb
Labels: integrations, tracing

#3243 Remove obsolete `exception_controller` option
  lib/datadog/tracing/contrib/action_pack/configuration/settings.rb
  lib/datadog/tracing/contrib/rails/configuration/settings.rb
  spec/datadog/tracing/contrib/action_pack/action_controller/instrumentation_spec.rb
  spec/datadog/tracing/contrib/action_pack/action_controller/metal_spec.rb
  spec/datadog/tracing/contrib/action_pack/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/rails/configuration/settings_spec.rb
Labels: integrations, breaking-change, tracing

#3310 Allow the dynamic sampling rate overhead target to be set
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/ddtrace_profiling_native_extension/collectors_dynamic_sampling_rate.c
  ext/ddtrace_profiling_native_extension/collectors_dynamic_sampling_rate.h
  lib/datadog/core/configuration/settings.rb
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  lib/datadog/profiling/component.rb
  lib/datadog/profiling/scheduler.rb
  sig/datadog/profiling/collectors/cpu_and_wall_time_worker.rbs
  sig/datadog/profiling/component.rbs
  sig/datadog/profiling/ext.rbs
  sig/datadog/profiling/scheduler.rbs
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/collectors/dynamic_sampling_rate_spec.rb
  spec/datadog/profiling/component_spec.rb
  spec/datadog/profiling/scheduler_spec.rb
Labels: core, profiling

#3281 [PROF-8667] Heap Profiling - Part 1 - Setup
  benchmarks/profiler_sample_loop_v2.rb
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/ddtrace_profiling_native_extension/collectors_thread_context.c
  ext/ddtrace_profiling_native_extension/extconf.rb
  ext/ddtrace_profiling_native_extension/heap_recorder.c
  ext/ddtrace_profiling_native_extension/heap_recorder.h
  ext/ddtrace_profiling_native_extension/libdatadog_helpers.c
  ext/ddtrace_profiling_native_extension/libdatadog_helpers.h
  ext/ddtrace_profiling_native_extension/stack_recorder.c
  ext/ddtrace_profiling_native_extension/stack_recorder.h
  lib/datadog/core/configuration/settings.rb
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  lib/datadog/profiling/component.rb
  lib/datadog/profiling/stack_recorder.rb
  sig/datadog/profiling/collectors/cpu_and_wall_time_worker.rbs
  sig/datadog/profiling/component.rbs
  sig/datadog/profiling/stack_recorder.rbs
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/component_spec.rb
  spec/datadog/profiling/spec_helper.rb
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: core, profiling

#3317 Fix `pg` doc markdown format
  docs/GettingStarted.md
Labels: docs

#3324 Remove support for Rails 3
  .rubocop_todo.yml
  LICENSE-3rdparty.csv
  Steepfile
  docs/Compatibility.md
  lib/datadog/appsec/contrib/rails/integration.rb
  lib/datadog/tracing/contrib/action_pack/integration.rb
  lib/datadog/tracing/contrib/action_view/instrumentation/partial_renderer.rb
  lib/datadog/tracing/contrib/action_view/instrumentation/template_renderer.rb
  lib/datadog/tracing/contrib/action_view/integration.rb
  lib/datadog/tracing/contrib/action_view/patcher.rb
  lib/datadog/tracing/contrib/active_record/configuration/resolver.rb
  lib/datadog/tracing/contrib/active_record/integration.rb
  lib/datadog/tracing/contrib/active_record/vendor/MIT-LICENSE
  lib/datadog/tracing/contrib/active_record/vendor/connection_specification.rb
  lib/datadog/tracing/contrib/active_support/integration.rb
  lib/datadog/tracing/contrib/rails/ext.rb
  lib/datadog/tracing/contrib/rails/integration.rb
  lib/datadog/tracing/contrib/rails/utils.rb
  sig/datadog/tracing/contrib/action_view/instrumentation/partial_renderer.rbs
  sig/datadog/tracing/contrib/action_view/instrumentation/template_renderer.rbs
  sig/datadog/tracing/contrib/active_record/vendor/connection_specification.rbs
  spec/datadog/tracing/contrib/rails/support/base.rb
  spec/datadog/tracing/contrib/rails/support/middleware.rb
  spec/datadog/tracing/contrib/rails/support/rails3.rb
  spec/datadog/tracing/contrib/rails/utils_spec.rb
Labels: integrations, appsec, tracing

#3313 [NO-TICKET] Redesign GC profiling to add timeline support and reduce overhead
  benchmarks/profiler_sample_loop_v2.rb
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/ddtrace_profiling_native_extension/collectors_gc_profiling_helper.c
  ext/ddtrace_profiling_native_extension/collectors_gc_profiling_helper.h
  ext/ddtrace_profiling_native_extension/collectors_stack.c
  ext/ddtrace_profiling_native_extension/collectors_stack.h
  ext/ddtrace_profiling_native_extension/collectors_thread_context.c
  ext/ddtrace_profiling_native_extension/collectors_thread_context.h
  ext/ddtrace_profiling_native_extension/helpers.h
  ext/ddtrace_profiling_native_extension/stack_recorder.c
  ext/ddtrace_profiling_native_extension/stack_recorder.h
  lib/datadog/profiling/component.rb
  lib/datadog/profiling/stack_recorder.rb
  sig/datadog/profiling/component.rbs
  sig/datadog/profiling/stack_recorder.rbs
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/collectors/stack_spec.rb
  spec/datadog/profiling/collectors/thread_context_spec.rb
  spec/datadog/profiling/component_spec.rb
  spec/datadog/profiling/spec_helper.rb
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: profiling

#3327 Remove unused module Compression
  Steepfile
  lib/datadog/core/utils/compression.rb
  sig/datadog/core/utils/compression.rbs
  spec/datadog/core/utils/compression_spec.rb
Labels: core

#3326 Ensure service and env are strings
  lib/datadog/core/configuration/settings.rb
  spec/datadog/core/configuration/settings_spec.rb
Labels: core

#3287 [PROF-8667] Heap Profiling - Part 2 - Heap Recorder
  ext/ddtrace_profiling_native_extension/collectors_stack.c
  ext/ddtrace_profiling_native_extension/collectors_stack.h
  ext/ddtrace_profiling_native_extension/heap_recorder.c
  ext/ddtrace_profiling_native_extension/heap_recorder.h
  ext/ddtrace_profiling_native_extension/profiling.c
  ext/ddtrace_profiling_native_extension/ruby_helpers.c
  ext/ddtrace_profiling_native_extension/ruby_helpers.h
  ext/ddtrace_profiling_native_extension/stack_recorder.c
  lib/datadog/profiling/component.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/component_spec.rb
  spec/datadog/profiling/spec_helper.rb
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: profiling

#3316 Add `on_error` settings for `mysql2`
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/mysql2/configuration/settings.rb
  lib/datadog/tracing/contrib/mysql2/instrumentation.rb
  spec/datadog/tracing/contrib/mysql2/patcher_spec.rb
Labels: integrations, tracing

#3337 test:gRPC testing cleanup
  spec/datadog/tracing/contrib/grpc/support/gen/grpc-1.19.0/test_service_pb.rb
  spec/datadog/tracing/contrib/grpc/support/gen/grpc-1.19.0/test_service_services_pb.rb
  spec/datadog/tracing/contrib/grpc/support/grpc_helper.rb
  spec/test_service_pb.rb
Labels: dev/testing

#3335 Remove deprecated HTTP Transport methods
  lib/datadog/core/remote/transport/http.rb
  lib/datadog/tracing/transport/http.rb
  spec/datadog/tracing/transport/http_spec.rb
Labels: core, tracing

#3341 Rename `error_handler` settings to `on_error`
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/active_job/configuration/settings.rb
  lib/datadog/tracing/contrib/delayed_job/configuration/settings.rb
  lib/datadog/tracing/contrib/delayed_job/plugin.rb
  lib/datadog/tracing/contrib/excon/configuration/settings.rb
  lib/datadog/tracing/contrib/excon/ext.rb
  lib/datadog/tracing/contrib/excon/middleware.rb
  lib/datadog/tracing/contrib/faraday/configuration/settings.rb
  lib/datadog/tracing/contrib/faraday/ext.rb
  lib/datadog/tracing/contrib/faraday/middleware.rb
  lib/datadog/tracing/contrib/grpc/configuration/settings.rb
  lib/datadog/tracing/contrib/grpc/datadog_interceptor.rb
  lib/datadog/tracing/contrib/grpc/datadog_interceptor/client.rb
  lib/datadog/tracing/contrib/grpc/datadog_interceptor/server.rb
  lib/datadog/tracing/contrib/httprb/ext.rb
  lib/datadog/tracing/contrib/pg/configuration/settings.rb
  lib/datadog/tracing/contrib/pg/instrumentation.rb
  lib/datadog/tracing/contrib/que/configuration/settings.rb
  lib/datadog/tracing/contrib/que/tracer.rb
  lib/datadog/tracing/contrib/resque/configuration/settings.rb
  lib/datadog/tracing/contrib/resque/resque_job.rb
  lib/datadog/tracing/contrib/shoryuken/configuration/settings.rb
  lib/datadog/tracing/contrib/shoryuken/tracer.rb
  lib/datadog/tracing/contrib/sidekiq/configuration/settings.rb
  lib/datadog/tracing/contrib/sidekiq/server_tracer.rb
  lib/datadog/tracing/contrib/sneakers/configuration/settings.rb
  lib/datadog/tracing/contrib/sneakers/tracer.rb
  spec/datadog/tracing/contrib/delayed_job/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/delayed_job/plugin_spec.rb
  spec/datadog/tracing/contrib/excon/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/excon/instrumentation_spec.rb
  spec/datadog/tracing/contrib/faraday/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/faraday/middleware_spec.rb
  spec/datadog/tracing/contrib/grpc/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/grpc/datadog_interceptor/client_spec.rb
  spec/datadog/tracing/contrib/grpc/datadog_interceptor/server_spec.rb
  spec/datadog/tracing/contrib/http/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/httpclient/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/httprb/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/pg/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/pg/patcher_spec.rb
  spec/datadog/tracing/contrib/que/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/que/tracer_spec.rb
  spec/datadog/tracing/contrib/resque/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/resque/instrumentation_spec.rb
  spec/datadog/tracing/contrib/shared_settings_examples.rb
  spec/datadog/tracing/contrib/shoryuken/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/shoryuken/tracer_spec.rb
  spec/datadog/tracing/contrib/sidekiq/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/sidekiq/tracer_configure_spec.rb
  spec/datadog/tracing/contrib/sneakers/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/sneakers/tracer_spec.rb
Labels: integrations, tracing

#3328 [PROF-8667] Heap Profiling - Part 3 - Snapshot system
  ext/ddtrace_profiling_native_extension/collectors_stack.c
  ext/ddtrace_profiling_native_extension/heap_recorder.c
  ext/ddtrace_profiling_native_extension/heap_recorder.h
  ext/ddtrace_profiling_native_extension/stack_recorder.c
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: profiling

#3348 Prevent spec:main errors with stale extensions
  spec/datadog/core/telemetry/collector_spec.rb
Labels: dev/testing
