Repository DataDog/dd-trace-rb, pull requests merged in 2023-10, with the labels that each got.

#3162 [PROF-7440] Add approximate thread state categorization for timeline
  ext/ddtrace_profiling_native_extension/collectors_stack.c
  ext/ddtrace_profiling_native_extension/collectors_stack.h
  ext/ddtrace_profiling_native_extension/collectors_thread_context.c
  ext/ddtrace_profiling_native_extension/extconf.rb
  ext/ddtrace_profiling_native_extension/stack_recorder.c
  ext/ddtrace_profiling_native_extension/stack_recorder.h
  spec/datadog/profiling/collectors/stack_spec.rb
  spec/datadog/profiling/collectors/thread_context_spec.rb
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: profiling

#3176 [PROF-7307] Enable allocation counting feature by default for some Ruby 3 versions
  lib/datadog/core/configuration/settings.rb
  spec/datadog/core/configuration/settings_spec.rb
Labels: core

#3179 Add more logging to profiling flaky to thread state categorization spec
  spec/datadog/profiling/collectors/stack_spec.rb
Labels: dev/testing

#3183 [PROF-7440] Add workaround for incorrect invoke location when logging gem is in use
  ext/ddtrace_profiling_native_extension/collectors_thread_context.c
  spec/datadog/profiling/collectors/helper/lib/logging/diagnostic_context.rb
  spec/datadog/profiling/collectors/thread_context_spec.rb
Labels: profiling

#3177 [APPSEC-10967] Compress and encode schema information
  Gemfile
  Steepfile
  lib/datadog/appsec/event.rb
  sig/datadog/appsec/event.rbs
  spec/datadog/appsec/event_spec.rb
Labels: appsec

#3026 Improve OpenTelemetry integration compatiblity
  Steepfile
  docs/OpenTelemetry.md
  lib/datadog/core/error.rb
  lib/datadog/opentelemetry.rb
  lib/datadog/opentelemetry/api/context.rb
  lib/datadog/opentelemetry/sdk/propagator.rb
  lib/datadog/opentelemetry/sdk/span_processor.rb
  lib/datadog/opentelemetry/sdk/trace/span.rb
  lib/datadog/opentelemetry/trace.rb
  lib/datadog/tracing/tracer.rb
  sig/datadog/opentelemetry/sdk/trace/span.rbs
  sig/datadog/opentelemetry/trace.rbs
  sig/datadog/tracing.rbs
  spec/datadog/core/error_spec.rb
  spec/datadog/opentelemetry_spec.rb
Labels: core, tracing

#3180 Profiling: Add note about Ruby 3.2 bug
  lib/datadog/core/configuration/settings.rb
Labels: core

#3185 Try to fix flaky profiler spec
  spec/datadog/profiling/collectors/stack_spec.rb
Labels: dev/testing

#3164 Refactor rails test
  spec/datadog/tracing/contrib/rails/database_spec.rb
  spec/datadog/tracing/contrib/rails/rails_active_job_spec.rb
  spec/datadog/tracing/contrib/rails/rails_auto_instrument_spec.rb
  spec/datadog/tracing/contrib/rails/rails_log_auto_injection_spec.rb
  spec/datadog/tracing/contrib/rails/rails_semantic_logger_auto_injection_spec.rb
  spec/datadog/tracing/contrib/rails/support/application.rb
  spec/datadog/tracing/contrib/rails/support/backport.rb
  spec/datadog/tracing/contrib/rails/support/base.rb
  spec/datadog/tracing/contrib/rails/support/core_extensions.rb
  spec/datadog/tracing/contrib/rails/support/log_configuration.rb
  spec/datadog/tracing/contrib/rails/support/rails3.rb
  spec/datadog/tracing/contrib/rails/support/rails4.rb
  spec/datadog/tracing/contrib/rails/support/rails5.rb
  spec/datadog/tracing/contrib/rails/support/rails6.rb
  spec/datadog/tracing/contrib/rails/tracer_spec.rb
  spec/support/rails_active_record_helpers.rb
Labels: dev/testing

#3190 [PROF-8328] Import java-profiler PID controller and port it to C
  ext/ddtrace_profiling_native_extension/pid_controller.c
  ext/ddtrace_profiling_native_extension/pid_controller.h
Labels: profiling

#3188 skip passing waf addresses when the value is empty
  lib/datadog/appsec/processor.rb
  sig/datadog/appsec/processor.rbs
  spec/datadog/appsec/processor_spec.rb
Labels: appsec

#3196 Cleanup changelog for 1.15.0
  CHANGELOG.md
Labels: docs, release

#3193 Reduce permission for milestone GitHub Action
  .github/workflows/add-milestone-to-pull-requests.yml
Labels: dev/github

#3194 Reduce permissions to Action for creating next milestone
  .github/workflows/create-next-milestone.yml
Labels: dev/github

#3153 [APPSEC-10967] ASM parse response body
  .gitlab/benchmarks.yml
  lib/datadog/appsec/configuration/settings.rb
  lib/datadog/appsec/contrib/rack/gateway/response.rb
  lib/datadog/appsec/contrib/rack/reactive/response.rb
  lib/datadog/appsec/contrib/rack/request_middleware.rb
  spec/datadog/appsec/configuration/settings_spec.rb
  spec/datadog/appsec/contrib/rack/gateway/response_spec.rb
  spec/datadog/appsec/contrib/rack/reactive/response_spec.rb
Labels: integrations, appsec

#3206 Fix instrumentation of custom cache stores
  lib/datadog/tracing/contrib/active_support/cache/instrumentation.rb
  spec/datadog/tracing/contrib/rails/cache_spec.rb
Labels: integrations, tracing

#3197 Shut down profiler if any components failed
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  lib/datadog/profiling/profiler.rb
  lib/datadog/profiling/scheduler.rb
  sig/datadog/profiling/collectors/cpu_and_wall_time_worker.rbs
  sig/datadog/profiling/profiler.rbs
  sig/datadog/profiling/scheduler.rbs
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/profiler_spec.rb
  spec/datadog/profiling/scheduler_spec.rb
Labels: profiling

#3207 Name `Datadog::Core::Remote::Worker` thread
  lib/datadog/core/remote/worker.rb
  spec/datadog/core/remote/worker_spec.rb
Labels: core

#3211 Disable Ruby 3.3 integration due to protobuf compilation error
  .circleci/config.yml
Labels: dev/ci

#3210 Action:Prevent Update Gemfiles running on merge target
  .github/workflows/update-gemfiles.yml
Labels: dev/github

#3220 rename ENV var for ASM API Security response body parsing and enable by default
  .gitlab/benchmarks.yml
  lib/datadog/appsec/configuration/settings.rb
  spec/datadog/appsec/configuration/settings_spec.rb
  spec/datadog/appsec/contrib/rack/gateway/response_spec.rb
  spec/datadog/appsec/contrib/rack/reactive/response_spec.rb
Labels: appsec

#3209 [CIVIS-7720] instrumented_integrations returns empty hash if tracing config is not extended by Tracing::Contrib::Extensions
  lib/datadog/tracing/diagnostics/environment_logger.rb
Labels: tracing

#3217 Backport #3207 to 1.x-stable: Name `Datadog::Core::Remote::Worker` thread
  lib/datadog/core/remote/worker.rb
  spec/datadog/core/remote/worker_spec.rb
Labels: core

#3218 Action:Fix PR milestone action
  .github/workflows/add-milestone-to-pull-requests.yml
Labels: dev/github

#3221 return empty hash if tracing config is not extended by Tracing::Contrib::Extensions
  lib/datadog/tracing/diagnostics/environment_logger.rb
Labels: tracing

#3227 ekump/backport fix instrumentation of custom cache stores
  lib/datadog/tracing/contrib/active_support/cache/instrumentation.rb
  spec/datadog/tracing/contrib/rails/cache_spec.rb
Labels: core, integrations, tracing

#3232 Disable Ruby 3.3 integration due to protobuf compilation error (#3211)
  .circleci/config.yml
Labels: dev/ci

#3216 Backport #3197 to 1.x-stable: Shut down profiler if any components failed
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  lib/datadog/profiling/profiler.rb
  lib/datadog/profiling/scheduler.rb
  sig/datadog/profiling/collectors/cpu_and_wall_time_worker.rbs
  sig/datadog/profiling/profiler.rbs
  sig/datadog/profiling/scheduler.rbs
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/profiler_spec.rb
  spec/datadog/profiling/scheduler_spec.rb
Labels: profiling

#3228 Attempt to remove flaky test for checking that tracer threads are correctly shutdown
  spec/datadog/integration_spec.rb
  spec/spec_helper.rb
Labels: dev/testing

#3234 Make sure function that checks content-type header value accepts nil content-type header value
  .github/workflows/system-tests.yml
  lib/datadog/appsec/contrib/rack/gateway/response.rb
  spec/datadog/appsec/contrib/rack/gateway/response_spec.rb
Labels: integrations, appsec
