Repository DataDog/dd-trace-rb, pull requests merged in 2024-06, with the labels that each got.

#3681 Fix ffi version 1.16.3 in lib injection artifacts
  .gitlab-ci.yml
  .gitlab/Dockerfile-2.7.8
  .gitlab/Dockerfile-3.0.6
  .gitlab/Dockerfile-3.1.4
  .gitlab/Dockerfile-3.2.2
  .gitlab/install_datadog_deps.rb
  .vscode/settings.json
  spec/datadog/release_gem_spec.rb
Labels: dev/internal

#3678 Backport #3677
  ddtrace.gemspec
  spec/ddtrace/release_gem_spec.rb
Labels: dev/internal

#3684 Update gemspec with `source_code_uri`
  ddtrace.gemspec
  spec/ddtrace/release_gem_spec.rb
Labels: dev/internal

#3689 Update UpgradeGuide in README.md
  README.md
Labels: docs

#3693 Add Ruby 3.3 to matrix target in test-yjit
  .github/workflows/test-yjit.yaml
Labels: dev/github

#3679 chore: add a mechanism to set multiple envs per configuration
  lib/datadog/core/configuration/option.rb
  lib/datadog/core/configuration/options.rb
  spec/datadog/core/configuration/option_spec.rb
Labels: core

#3631 w3c(phase 3): ensure last datadog parent id is always recorded
  lib/datadog/tracing/distributed/propagation.rb
  lib/datadog/tracing/distributed/trace_context.rb
  lib/datadog/tracing/metadata/ext.rb
  spec/datadog/tracing/distributed/propagation_spec.rb
Labels: tracing

#3697 Update spec for allowed_push_host for different destination
  spec/ddtrace/release_gem_spec.rb
Labels: dev/testing

#3563 Add SCA enablement state in telemetry messages
  .github/workflows/system-tests.yml
  lib/datadog/appsec/configuration/settings.rb
  lib/datadog/appsec/contrib/rack/request_middleware.rb
  lib/datadog/core/telemetry/event.rb
  spec/datadog/appsec/configuration/settings_spec.rb
  spec/datadog/core/telemetry/event_spec.rb
Labels: core, integrations, feature, appsec

#3703 Update GettingStarted.md
  docs/GettingStarted.md
Labels: docs, mergequeue-status: waiting

#3704 Update GettingStarted.md
  docs/GettingStarted.md
Labels: docs

#3683 [PROF-9926] Fix rpath for linking to libdatadog when loading from extension dir
  ext/datadog_profiling_native_extension/extconf.rb
  ext/datadog_profiling_native_extension/native_extension_helpers.rb
  spec/datadog/profiling/native_extension_helpers_spec.rb
Labels: profiling

#3708 [NO-TICKET] Minor: Use fiddle to simulate crash in spec
  spec/datadog/profiling/crashtracker_spec.rb
Labels: dev/testing

#3706 [PROF-9926] Fix rpath for linking to libdatadog when loading from extension dir (cherry-pick from 1.x-stable)
  ext/datadog_profiling_native_extension/extconf.rb
  ext/datadog_profiling_native_extension/native_extension_helpers.rb
  spec/datadog/profiling/native_extension_helpers_spec.rb
Labels: profiling

#3707 [SDTEST-409] add signatures and enable type checking for Core::Telemetry module
  Steepfile
  lib/datadog/core/telemetry/event.rb
  lib/datadog/core/telemetry/heartbeat.rb
  sig/datadog/core.rbs
  sig/datadog/core/telemetry/client.rbs
  sig/datadog/core/telemetry/emitter.rbs
  sig/datadog/core/telemetry/event.rbs
  sig/datadog/core/telemetry/heartbeat.rbs
  sig/datadog/core/telemetry/http/adapters/net.rbs
  sig/datadog/core/telemetry/http/ext.rbs
  sig/datadog/core/telemetry/http/response.rbs
  sig/datadog/core/telemetry/http/transport.rbs
  sig/datadog/core/transport/ext.rbs
  sig/datadog/core/worker.rbs
Labels: core

#3064 Remove broken "Test unstable" GitHub action
  .github/workflows/test-head.yaml
Labels: dev/github

#3715 Backport #3064 Remove broken "Test unstable" GitHub action to 1.x-stable
  .github/workflows/test-head.yaml
Labels: dev/github

#3709 fix: ensure the correct ids are serialized and propagated
  lib/datadog/opentelemetry/sdk/propagator.rb
  lib/datadog/opentelemetry/sdk/span_processor.rb
  lib/datadog/tracing.rb
  lib/datadog/tracing/span_operation.rb
  lib/datadog/tracing/trace_operation.rb
  lib/datadog/tracing/tracer.rb
  spec/datadog/opentelemetry_spec.rb
  spec/datadog/profiling/spec_helper.rb
  spec/datadog/tracing/span_operation_spec.rb
  spec/datadog/tracing_spec.rb
Labels: tracing, otel

#3728 Document environment variables to disable instrumentation
  docs/GettingStarted.md
Labels: docs, editorial review

#3718 [SDTEST-409] Send telemetry events in background thread to remove blocking HTTP calls from critical path
  Rakefile
  lib/datadog/core/configuration.rb
  lib/datadog/core/configuration/components.rb
  lib/datadog/core/telemetry/client.rb
  lib/datadog/core/telemetry/component.rb
  lib/datadog/core/telemetry/heartbeat.rb
  lib/datadog/core/telemetry/http/adapters/net.rb
  lib/datadog/core/telemetry/worker.rb
  lib/datadog/core/utils/only_once_successful.rb
  sig/datadog/core/telemetry/component.rbs
  sig/datadog/core/telemetry/heartbeat.rbs
  sig/datadog/core/telemetry/http/adapters/net.rbs
  sig/datadog/core/telemetry/http/ext.rbs
  sig/datadog/core/telemetry/worker.rbs
  sig/datadog/core/utils/only_once.rbs
  sig/datadog/core/utils/only_once_successful.rbs
  sig/datadog/core/workers/polling.rbs
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/core/configuration_spec.rb
  spec/datadog/core/telemetry/client_spec.rb
  spec/datadog/core/telemetry/component_spec.rb
  spec/datadog/core/telemetry/heartbeat_spec.rb
  spec/datadog/core/telemetry/worker_spec.rb
  spec/datadog/core/utils/only_once_successful_spec.rb
  spec/datadog/tracing/contrib/extensions_spec.rb
Labels: core

#3734 [SDTEST-409] Telemetry metrics data model
  lib/datadog/core/telemetry/event.rb
  lib/datadog/core/telemetry/metric.rb
  sig/datadog/core/telemetry/event.rbs
  sig/datadog/core/telemetry/metric.rbs
  spec/datadog/core/telemetry/event_spec.rb
  spec/datadog/core/telemetry/metric_spec.rb
Labels: core

#3739 Disable ethon and httprb for jruby only
  Rakefile
Labels: dev/ci

#3740 fix: move telemetry events sending out of the critical path to a background thread
  Rakefile
  Steepfile
  lib/datadog/core/configuration.rb
  lib/datadog/core/configuration/components.rb
  lib/datadog/core/telemetry/client.rb
  lib/datadog/core/telemetry/component.rb
  lib/datadog/core/telemetry/event.rb
  lib/datadog/core/telemetry/heartbeat.rb
  lib/datadog/core/telemetry/http/adapters/net.rb
  lib/datadog/core/telemetry/worker.rb
  lib/datadog/core/utils/only_once_successful.rb
  sig/datadog/core.rbs
  sig/datadog/core/telemetry/client.rbs
  sig/datadog/core/telemetry/component.rbs
  sig/datadog/core/telemetry/emitter.rbs
  sig/datadog/core/telemetry/event.rbs
  sig/datadog/core/telemetry/heartbeat.rbs
  sig/datadog/core/telemetry/http/adapters/net.rbs
  sig/datadog/core/telemetry/http/ext.rbs
  sig/datadog/core/telemetry/http/response.rbs
  sig/datadog/core/telemetry/http/transport.rbs
  sig/datadog/core/telemetry/worker.rbs
  sig/datadog/core/transport/ext.rbs
  sig/datadog/core/utils/only_once.rbs
  sig/datadog/core/utils/only_once_successful.rbs
  sig/datadog/core/worker.rbs
  sig/datadog/core/workers/polling.rbs
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/core/configuration_spec.rb
  spec/datadog/core/telemetry/client_spec.rb
  spec/datadog/core/telemetry/component_spec.rb
  spec/datadog/core/telemetry/heartbeat_spec.rb
  spec/datadog/core/telemetry/worker_spec.rb
  spec/datadog/core/utils/only_once_successful_spec.rb
  spec/datadog/tracing/contrib/extensions_spec.rb
Labels: core

#3730 HTTP propagator: Better handling of invalid data
  lib/datadog/tracing/distributed/b3_multi.rb
  lib/datadog/tracing/distributed/b3_single.rb
  lib/datadog/tracing/distributed/datadog.rb
  lib/datadog/tracing/distributed/propagation.rb
  lib/datadog/tracing/distributed/trace_context.rb
  spec/datadog/tracing/distributed/b3_multi_spec.rb
  spec/datadog/tracing/distributed/b3_single_spec.rb
  spec/datadog/tracing/distributed/datadog_spec.rb
  spec/datadog/tracing/distributed/propagation_spec.rb
  spec/datadog/tracing/distributed/trace_context_spec.rb
Labels: tracing

#3729 Ensure the _dd.p.tid tag has fixed size
  lib/datadog/tracing/distributed/datadog.rb
  lib/datadog/tracing/trace_segment.rb
  spec/datadog/tracing/distributed/datadog_spec.rb
  spec/datadog/tracing/trace_segment_spec.rb
  spec/datadog/tracing/transport/trace_formatter_spec.rb
  spec/support/tracer_helpers.rb
Labels: tracing

#3725 Populate ActiveSupport Notification spans as early as possible
  lib/datadog/tracing/contrib/action_cable/event.rb
  lib/datadog/tracing/contrib/action_cable/events/broadcast.rb
  lib/datadog/tracing/contrib/action_cable/events/perform_action.rb
  lib/datadog/tracing/contrib/action_cable/events/transmit.rb
  lib/datadog/tracing/contrib/action_mailer/event.rb
  lib/datadog/tracing/contrib/action_mailer/events/deliver.rb
  lib/datadog/tracing/contrib/action_mailer/events/process.rb
  lib/datadog/tracing/contrib/action_view/events/render_partial.rb
  lib/datadog/tracing/contrib/action_view/events/render_template.rb
  lib/datadog/tracing/contrib/active_job/events/discard.rb
  lib/datadog/tracing/contrib/active_job/events/enqueue.rb
  lib/datadog/tracing/contrib/active_job/events/enqueue_at.rb
  lib/datadog/tracing/contrib/active_job/events/enqueue_retry.rb
  lib/datadog/tracing/contrib/active_job/events/perform.rb
  lib/datadog/tracing/contrib/active_job/events/retry_stopped.rb
  lib/datadog/tracing/contrib/active_model_serializers/events/render.rb
  lib/datadog/tracing/contrib/active_model_serializers/events/serialize.rb
  lib/datadog/tracing/contrib/active_record/events/instantiation.rb
  lib/datadog/tracing/contrib/active_record/events/sql.rb
  lib/datadog/tracing/contrib/active_support/notifications/event.rb
  lib/datadog/tracing/contrib/active_support/notifications/subscriber.rb
  lib/datadog/tracing/contrib/active_support/notifications/subscription.rb
  lib/datadog/tracing/contrib/kafka/consumer_event.rb
  lib/datadog/tracing/contrib/kafka/consumer_group_event.rb
  lib/datadog/tracing/contrib/kafka/event.rb
  lib/datadog/tracing/contrib/kafka/events/connection/request.rb
  lib/datadog/tracing/contrib/kafka/events/consumer/process_batch.rb
  lib/datadog/tracing/contrib/kafka/events/consumer/process_message.rb
  lib/datadog/tracing/contrib/kafka/events/consumer_group/heartbeat.rb
  lib/datadog/tracing/contrib/kafka/events/produce_operation/send_messages.rb
  lib/datadog/tracing/contrib/kafka/events/producer/deliver_messages.rb
  lib/datadog/tracing/contrib/racecar/event.rb
  sig/datadog/tracing/contrib/active_support/notifications/subscription.rbs
  spec/datadog/tracing/contrib/active_support/notifications/event_spec.rb
  spec/datadog/tracing/contrib/active_support/notifications/subscriber_spec.rb
  spec/datadog/tracing/contrib/active_support/notifications/subscription_spec.rb
  spec/datadog/tracing/contrib/rails/rack_spec.rb
Labels: integrations, tracing

#3726 chore(lib-injection): update base image to alpine 3.20
  lib-injection/Dockerfile
Labels: dev/internal

#3717 backport(OCI): Backport OCI build (#3662) in 1.x-stable
  .gitlab-ci.yml
  .gitlab/build-oci-package.sh
  .gitlab/onboarding_tests.yml
Labels: dev/internal

#3676 Injection guard rails
  lib-injection/host_inject.rb
Labels: single-step

#3738 Test individual product loading
  lib/datadog/appsec/contrib/sinatra/patcher.rb
  lib/datadog/appsec/extensions.rb
  spec/loading_spec.rb
Labels: integrations, appsec

#3743 [SDTEST-409] fix deadlock issue: don't flush_events in main thread when calling stop, override #work_pending? instead
  lib/datadog/core/telemetry/worker.rb
  spec/datadog/core/telemetry/worker_spec.rb
Labels: core

#3723 Add post_install_message in gemspec
  CHANGELOG.md
  ddtrace.gemspec
  spec/ddtrace/release_gem_spec.rb
Labels: dev/internal
