Repository DataDog/dd-trace-rb, pull requests merged in 2024-01, with the labels that each got.

#3356 [NO-TICKET] Fix Ruby 3.3 CI being broken in master due to profiler
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/ddtrace_profiling_native_extension/extconf.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: profiling

#3349 Add install_signature to app-started
  lib/datadog/core/configuration/settings.rb
  lib/datadog/core/telemetry/collector.rb
  lib/datadog/core/telemetry/event.rb
  lib/datadog/core/telemetry/ext.rb
  lib/datadog/core/telemetry/v1/app_event.rb
  lib/datadog/core/telemetry/v1/install_signature.rb
  sig/datadog/core/telemetry/v1/install_signature.rbs
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/core/telemetry/collector_spec.rb
  spec/datadog/core/telemetry/v1/app_event_spec.rb
  spec/datadog/core/telemetry/v1/install_signature.spec.rb
Labels: core, feature

#3329 [PROF-8667] Heap Profiling - Part 4 - Labels
  ext/ddtrace_profiling_native_extension/collectors_thread_context.c
  ext/ddtrace_profiling_native_extension/heap_recorder.c
  ext/ddtrace_profiling_native_extension/heap_recorder.h
  ext/ddtrace_profiling_native_extension/libdatadog_helpers.h
  ext/ddtrace_profiling_native_extension/stack_recorder.c
  ext/ddtrace_profiling_native_extension/stack_recorder.h
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: profiling

#3352 [NO-TICKET] Import upstream `rb_profile_frames` fix
  ext/ddtrace_profiling_native_extension/private_vm_api_access.c
Labels: profiling

#3363 Fix code owners to capture deep changes and force absolute paths
  .github/CODEOWNERS
Labels: dev/github

#3333 [PROF-8667] Heap Profiling - Part 5 - Size
  benchmarks/profiler_sample_loop_v2.rb
  ext/ddtrace_profiling_native_extension/heap_recorder.c
  ext/ddtrace_profiling_native_extension/heap_recorder.h
  ext/ddtrace_profiling_native_extension/ruby_helpers.c
  ext/ddtrace_profiling_native_extension/ruby_helpers.h
  ext/ddtrace_profiling_native_extension/stack_recorder.c
  lib/datadog/profiling/component.rb
  lib/datadog/profiling/stack_recorder.rb
  sig/datadog/profiling/stack_recorder.rbs
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/spec_helper.rb
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: profiling

#3325 Remove configuration for priority_sampling
  lib/datadog/core/telemetry/collector.rb
  lib/datadog/tracing/component.rb
  lib/datadog/tracing/configuration/settings.rb
  lib/datadog/tracing/diagnostics/environment_logger.rb
  sig/datadog/core/telemetry/collector.rbs
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/tracing/configuration/settings_spec.rb
  spec/datadog/tracing/diagnostics/environment_logger_spec.rb
  spec/datadog/tracing/integration_spec.rb
Labels: core, tracing

#3365 Fix recursive `require` in Railtie
  lib/datadog/tracing/contrib/rails/auto_instrument_railtie.rb
Labels: integrations, tracing

#3321 Use 128 bits trace id in test
  spec/datadog/tracing/contrib/lograge/instrumentation_spec.rb
  spec/datadog/tracing/contrib/semantic_logger/instrumentation_spec.rb
  spec/datadog/tracing/contrib/sidekiq/distributed_tracing_spec.rb
  spec/datadog/tracing/correlation_spec.rb
  spec/datadog/tracing/span_operation_spec.rb
  spec/datadog/tracing/trace_digest_spec.rb
Labels: dev/testing

#3360 [prof-heap] Misc improvements/fixes
  benchmarks/profiler_sample_loop_v2.rb
  ext/ddtrace_profiling_native_extension/heap_recorder.c
  ext/ddtrace_profiling_native_extension/heap_recorder.h
  ext/ddtrace_profiling_native_extension/ruby_helpers.c
  ext/ddtrace_profiling_native_extension/ruby_helpers.h
  ext/ddtrace_profiling_native_extension/stack_recorder.c
  lib/datadog/core/configuration/settings.rb
  lib/datadog/profiling/component.rb
  lib/datadog/profiling/stack_recorder.rb
  sig/datadog/profiling/component.rbs
  sig/datadog/profiling/stack_recorder.rbs
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/profiling/component_spec.rb
  spec/datadog/profiling/spec_helper.rb
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: core, profiling

#3344 Fix `error_status_codes` options
  lib/datadog/tracing/contrib/excon/configuration/settings.rb
  lib/datadog/tracing/contrib/faraday/configuration/settings.rb
  lib/datadog/tracing/contrib/http/configuration/settings.rb
  lib/datadog/tracing/contrib/httpclient/configuration/settings.rb
  lib/datadog/tracing/contrib/httprb/configuration/settings.rb
  lib/datadog/tracing/contrib/status_range_env_parser.rb
  lib/datadog/tracing/contrib/status_range_matcher.rb
  spec/datadog/tracing/contrib/excon/instrumentation_spec.rb
  spec/datadog/tracing/contrib/faraday/middleware_spec.rb
  spec/datadog/tracing/contrib/http/request_spec.rb
  spec/datadog/tracing/contrib/http_examples.rb
  spec/datadog/tracing/contrib/httpclient/instrumentation_spec.rb
  spec/datadog/tracing/contrib/httprb/instrumentation_spec.rb
  spec/datadog/tracing/contrib/shared_settings_examples.rb
  spec/datadog/tracing/contrib/status_code_matcher_spec.rb
  spec/datadog/tracing/contrib/status_range_env_parser_spec.rb
  spec/datadog/tracing/contrib/status_range_matcher_spec.rb
Labels: integrations, tracing

#3374 Backport "List Ruby 3.3 as supported in the docs" to master branch
  docs/Compatibility.md
Labels: docs

#3370 `on_error` settings for `grape`
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/grape/configuration/settings.rb
  lib/datadog/tracing/contrib/grape/endpoint.rb
  lib/datadog/tracing/contrib/grape/ext.rb
  lib/datadog/tracing/contrib/status_code_matcher.rb
  sig/datadog/tracing/contrib/status_code_matcher.rbs
  spec/datadog/tracing/contrib/excon/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/faraday/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/grape/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/grape/tracer_spec.rb
  spec/datadog/tracing/contrib/http/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/httpclient/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/httprb/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/shared_settings_examples.rb
  spec/datadog/tracing/contrib/status_code_matcher_spec.rb
Labels: integrations, tracing

#3377 [NO-TICKET] Minor: Skip testcases using ractors when calling RSpec directly
  spec/spec_helper.rb
Labels: dev/testing

#3367 Remove `Datadog::Tracing::Contrib::HTTP::Instrumentation.after_request`
  lib/datadog/tracing/contrib/http/instrumentation.rb
  sig/datadog/tracing/contrib/http/instrumentation.rbs
  spec/datadog/tracing/contrib/http/request_spec.rb
Labels: integrations, tracing

#3380 [NO-TICKET] Minor: Re-enable gc profiling spec on Ruby 3
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
Labels: dev/testing

#3364 add base64 gem
  ddtrace.gemspec
Labels: core

#3379 Restore Rails 4 testing
  Rakefile
  appraisal/ruby-2.5.rb
  docs/GettingStarted.md
  gemfiles/ruby_2.5_rails4_mysql2.gemfile
  gemfiles/ruby_2.5_rails4_mysql2.gemfile.lock
  gemfiles/ruby_2.5_rails4_postgres.gemfile
  gemfiles/ruby_2.5_rails4_postgres.gemfile.lock
  gemfiles/ruby_2.5_rails4_postgres_redis.gemfile
  gemfiles/ruby_2.5_rails4_postgres_redis.gemfile.lock
  gemfiles/ruby_2.5_rails4_postgres_sidekiq.gemfile
  gemfiles/ruby_2.5_rails4_postgres_sidekiq.gemfile.lock
  gemfiles/ruby_2.5_rails4_semantic_logger.gemfile
  gemfiles/ruby_2.5_rails4_semantic_logger.gemfile.lock
Labels: dev/internal

#3369 Change http proxy span pattern
  docs/GettingStarted.md
  integration/apps/rails-seven/config/initializers/datadog.rb
  lib/datadog/tracing/contrib/rack/configuration/settings.rb
  lib/datadog/tracing/contrib/rack/ext.rb
  lib/datadog/tracing/contrib/rack/middlewares.rb
  lib/datadog/tracing/contrib/rack/trace_proxy_middleware.rb
  lib/datadog/tracing/contrib/rails/configuration/settings.rb
  sig/datadog/tracing/contrib/rack/ext.rbs
  spec/datadog/tracing/contrib/rack/configuration_spec.rb
  spec/datadog/tracing/contrib/rack/distributed_spec.rb
  spec/datadog/tracing/contrib/rack/integration_test_spec.rb
  spec/datadog/tracing/contrib/rack/trace_proxy_middleware_spec.rb
Labels: integrations, tracing

#3391 [NO-TICKET] Pin sinatra integration apps to sinatra 2
  integration/apps/sinatra2-classic/Gemfile
  integration/apps/sinatra2-modular/Gemfile
Labels: dev/testing

#3398 Remove `qless` integration
  .circleci/config.yml
  .env
  .rubocop_todo.yml
  Rakefile
  Steepfile
  docker-compose.yml
  docs/Compatibility.md
  docs/GettingStarted.md
  lib/datadog/tracing/contrib.rb
  lib/datadog/tracing/contrib/qless/configuration/settings.rb
  lib/datadog/tracing/contrib/qless/ext.rb
  lib/datadog/tracing/contrib/qless/integration.rb
  lib/datadog/tracing/contrib/qless/patcher.rb
  lib/datadog/tracing/contrib/qless/qless_job.rb
  lib/datadog/tracing/contrib/qless/tracer_cleaner.rb
  sig/datadog/tracing/contrib/qless/configuration/settings.rbs
  sig/datadog/tracing/contrib/qless/ext.rbs
  sig/datadog/tracing/contrib/qless/integration.rbs
  sig/datadog/tracing/contrib/qless/patcher.rbs
  sig/datadog/tracing/contrib/qless/qless_job.rbs
  sig/datadog/tracing/contrib/qless/tracer_cleaner.rbs
  spec/datadog/tracing/contrib/qless/instrumentation_spec.rb
  spec/datadog/tracing/contrib/qless/integration_spec.rb
  spec/datadog/tracing/contrib/qless/support/job.rb
  spec/datadog/tracing/contrib_spec.rb
Labels: integrations, tracing

#3396 `Sidekiq`: Remove `tag_args` option
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/sidekiq/configuration/settings.rb
  lib/datadog/tracing/contrib/sidekiq/ext.rb
  lib/datadog/tracing/contrib/sidekiq/server_tracer.rb
  sig/datadog/tracing/contrib/sidekiq/ext.rbs
  spec/datadog/tracing/contrib/sidekiq/server_tracer_spec.rb
Labels: integrations, tracing

#3402 `Sidekiq` : Remove worker specific configuration
  lib/datadog/tracing/contrib/sidekiq/server_tracer.rb
  spec/datadog/tracing/contrib/sidekiq/server_tracer_spec.rb
Labels: integrations, tracing

#3401 `Sinatra` :Remove deprecated constants
  lib/datadog/tracing/contrib/sinatra/ext.rb
  sig/datadog/tracing/contrib/sinatra/ext.rbs
Labels: integrations, tracing

#3343 Consistent option naming for health metrics
  lib/datadog/core/configuration/components.rb
  lib/datadog/core/configuration/settings.rb
  lib/datadog/core/diagnostics/environment_logger.rb
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/core/configuration_spec.rb
  spec/datadog/core/diagnostics/environment_logger_spec.rb
  spec/datadog/integration_spec.rb
Labels: core

#3332 Stricter validation for integer and float configuration
  lib/datadog/core/configuration/option.rb
  spec/datadog/appsec/contrib/support/integration/shared_examples.rb
  spec/datadog/core/configuration/option_spec.rb
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/tracing/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/shared_settings_examples.rb
Labels: core

#3400 Fix OpenTelemetry internal loading
  lib/datadog/opentelemetry.rb
  lib/datadog/opentelemetry/sdk/propagator.rb
  lib/datadog/tracing/contrib/http/distributed/fetcher.rb
  sig/datadog/tracing/contrib/http/distributed/fetcher.rbs
Labels: integrations, tracing

#3338 Remove distributed_tracing option namespacing
  docs/GettingStarted.md
  lib/datadog/core/telemetry/collector.rb
  lib/datadog/tracing/configuration/settings.rb
  lib/datadog/tracing/distributed/propagation.rb
  spec/datadog/opentelemetry_spec.rb
  spec/datadog/opentracer/rack_propagator_spec.rb
  spec/datadog/tracing/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/grpc/distributed/propagation_spec.rb
  spec/datadog/tracing/contrib/http/distributed/propagation_spec.rb
  spec/datadog/tracing/distributed/propagation_spec.rb
  spec/datadog/tracing/tracer_integration_spec.rb
Labels: core, tracing

#3322 Return string for `trace_id` and `span_id` from `Correlation::Identifier`
  lib/datadog/tracing/correlation.rb
  spec/datadog/tracing/correlation_spec.rb
  spec/datadog/tracing/tracer_spec.rb
Labels: breaking-change, tracing

#3409 Update GraphQL support
  docs/Compatibility.md
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/graphql/integration.rb
  spec/datadog/tracing/contrib/graphql/integration_spec.rb
  spec/support/loaded_gem.rb
Labels: integrations, tracing

#3404 Remove `client_ip` disabled env
  lib/datadog/tracing/configuration/ext.rb
  lib/datadog/tracing/configuration/settings.rb
  spec/datadog/tracing/configuration/settings_spec.rb
Labels: tracing

#3415 Fix check workflow branches
  .github/workflows/check.yml
Labels: dev/github

#3399 remove access to patching elasticsearch client directly as it is not supported anymore by elasticsearch
  lib/datadog/tracing/contrib/elasticsearch/patcher.rb
  spec/datadog/tracing/contrib/elasticsearch/transport_spec.rb
Labels: integrations, tracing

#3417 GraphQL: Instrument with `GraphQL::Tracing::DataDogTrace`
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/graphql/configuration/settings.rb
  lib/datadog/tracing/contrib/graphql/integration.rb
  lib/datadog/tracing/contrib/graphql/patcher.rb
  lib/datadog/tracing/contrib/graphql/trace_patcher.rb
  lib/datadog/tracing/contrib/graphql/tracing_patcher.rb
  sig/datadog/tracing/contrib/graphql/trace_patcher.rbs
  sig/datadog/tracing/contrib/graphql/tracing_patcher.rbs
  spec/datadog/tracing/contrib/graphql/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/graphql/integration_spec.rb
  spec/datadog/tracing/contrib/graphql/patcher_spec.rb
  spec/datadog/tracing/contrib/graphql/test_helpers.rb
  spec/datadog/tracing/contrib/graphql/test_schema_examples.rb
  spec/datadog/tracing/contrib/graphql/trace_patcher_spec.rb
  spec/datadog/tracing/contrib/graphql/tracer_spec.rb
  spec/datadog/tracing/contrib/graphql/tracing_patcher_spec.rb
Labels: integrations, tracing

#3407 Remove IPAddr vendor files
  LICENSE-3rdparty.csv
  Steepfile
  lib/datadog/core/utils/network.rb
  lib/datadog/core/vendor/ipaddr.rb
  sig/datadog/core/vendor/ipaddr.rbs
  spec/datadog/core/vendor/ipaddr_spec.rb
Labels: core

#3411 Remove possibly inaccurate comment
  lib/datadog/core/configuration/ext.rb
Labels: core

#3405 Consolidate Datadog::Core::Configuration::Ext::Transport into Datadog::Core::Configuration::Agent
  lib/datadog/core/configuration/agent_settings_resolver.rb
  lib/datadog/core/configuration/ext.rb
  lib/datadog/core/metrics/client.rb
  sig/datadog/core/configuration/ext.rbs
  spec/datadog/core/metrics/client_spec.rb
Labels: core

#3278 Fix configure_onto when redis instance is early initialized
  docs/GettingStarted.md
  gemfiles/ruby_2.2_graphql_1.12.gemfile.lock
  gemfiles/ruby_2.3_graphql_1.12.gemfile.lock
  gemfiles/ruby_2.4_graphql_1.12.gemfile.lock
  gemfiles/ruby_2.4_graphql_1.13.gemfile.lock
  gemfiles/ruby_2.4_graphql_2.0.gemfile.lock
  gemfiles/ruby_2.5_graphql_1.12.gemfile.lock
  gemfiles/ruby_2.5_graphql_1.13.gemfile.lock
  gemfiles/ruby_2.5_graphql_2.0.gemfile.lock
  gemfiles/ruby_2.6_graphql_1.12.gemfile.lock
  gemfiles/ruby_2.6_graphql_1.13.gemfile.lock
  gemfiles/ruby_2.6_graphql_2.0.gemfile.lock
  gemfiles/ruby_2.7_graphql_1.12.gemfile.lock
  gemfiles/ruby_2.7_graphql_1.13.gemfile.lock
  gemfiles/ruby_2.7_graphql_2.0.gemfile.lock
  gemfiles/ruby_2.7_graphql_2.1.gemfile.lock
  gemfiles/ruby_2.7_graphql_2.2.gemfile.lock
  gemfiles/ruby_3.0_graphql_1.12.gemfile.lock
  gemfiles/ruby_3.0_graphql_1.13.gemfile.lock
  gemfiles/ruby_3.0_graphql_2.0.gemfile.lock
  gemfiles/ruby_3.0_graphql_2.1.gemfile.lock
  gemfiles/ruby_3.0_graphql_2.2.gemfile.lock
  gemfiles/ruby_3.1_graphql_1.12.gemfile.lock
  gemfiles/ruby_3.1_graphql_1.13.gemfile.lock
  gemfiles/ruby_3.1_graphql_2.0.gemfile.lock
  gemfiles/ruby_3.1_graphql_2.1.gemfile.lock
  gemfiles/ruby_3.1_graphql_2.2.gemfile.lock
  gemfiles/ruby_3.2_graphql_1.12.gemfile.lock
  gemfiles/ruby_3.2_graphql_1.13.gemfile.lock
  gemfiles/ruby_3.2_graphql_2.0.gemfile.lock
  gemfiles/ruby_3.2_graphql_2.1.gemfile.lock
  gemfiles/ruby_3.2_graphql_2.2.gemfile.lock
  gemfiles/ruby_3.3_graphql_1.12.gemfile.lock
  gemfiles/ruby_3.3_graphql_1.13.gemfile.lock
  gemfiles/ruby_3.3_graphql_2.0.gemfile.lock
  gemfiles/ruby_3.3_graphql_2.1.gemfile.lock
  gemfiles/ruby_3.3_graphql_2.2.gemfile.lock
  lib/datadog/tracing/contrib/redis/instrumentation.rb
  lib/datadog/tracing/contrib/redis/patcher.rb
  sig/datadog/tracing/contrib/redis/patcher.rbs
  spec/datadog/tracing/contrib/redis/miniapp_spec.rb
  spec/datadog/tracing/contrib/redis/redis_patcher_lifecycle_spec.rb
  spec/datadog/tracing/contrib/redis/redis_spec.rb
Labels: integrations, tracing

#3418 Fix OpenTelemetry doc headings
  docs/OpenTelemetry.md
Labels: docs

#3395 [PROF-8864] Dynamic allocation sampling
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/ddtrace_profiling_native_extension/collectors_discrete_dynamic_sampler.c
  ext/ddtrace_profiling_native_extension/collectors_discrete_dynamic_sampler.h
  ext/ddtrace_profiling_native_extension/extconf.rb
  ext/ddtrace_profiling_native_extension/helpers.h
  ext/ddtrace_profiling_native_extension/profiling.c
  ext/ddtrace_profiling_native_extension/time_helpers.h
  lib/datadog/core/configuration/settings.rb
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  lib/datadog/profiling/component.rb
  sig/datadog/profiling/collectors/cpu_and_wall_time_worker.rbs
  sig/datadog/profiling/component.rbs
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/collectors/discrete_dynamic_sampler_spec.rb
  spec/datadog/profiling/component_spec.rb
Labels: core, profiling
