Repository DataDog/dd-trace-rb, pull requests merged in 2024-04, with the labels that each got.

#3546 feat: Add span links to the Datadog API
  lib/datadog/opentelemetry/sdk/span_processor.rb
  lib/datadog/opentelemetry/sdk/trace/span.rb
  lib/datadog/tracing/span.rb
  lib/datadog/tracing/span_link.rb
  lib/datadog/tracing/transport/serializable_trace.rb
  lib/datadog/tracing/utils.rb
  sig/datadog/tracing/span_link.rbs
  sig/datadog/tracing/utils.rbs
  spec/datadog/tracing/span_link_spec.rb
  spec/datadog/tracing/span_spec.rb
  spec/datadog/tracing/transport/serializable_trace_spec.rb
Labels: tracing

#3558 [PROF-9370] Enable Garbage Collection profiling by default
  benchmarks/profiler_gc.rb
  lib/datadog/core/configuration/settings.rb
  lib/datadog/profiling/component.rb
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/profiling/component_spec.rb
Labels: core, profiling

#3567 Rails: Remove circular require
  lib/datadog/tracing/contrib/action_pack/integration.rb
  lib/datadog/tracing/contrib/action_view/integration.rb
  lib/datadog/tracing/contrib/active_record/integration.rb
  lib/datadog/tracing/contrib/active_support/integration.rb
Labels: integrations, tracing

#3568 ASEC-131:Remove reference to SDG as the team no longer exists
  .github/PULL_REQUEST_TEMPLATE.md
Labels: dev/github

#3565 Use strict base64 encoding (no newline)
  lib/datadog/appsec/event.rb
  lib/datadog/core/remote/client/capabilities.rb
  lib/datadog/core/remote/transport/http/config.rb
  spec/datadog/appsec/event_spec.rb
Labels: core, appsec

#3569 Add banner to documentation that announces beta release
  docs/GettingStarted.md
Labels: docs

#3574 [NO-TICKET] Improve testing coverage for profiler sampling via signals
  ext/datadog_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  sig/datadog/profiling/collectors/cpu_and_wall_time_worker.rbs
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
Labels: profiling

#3578 [NO-TICKET] Do not reference `rb_gc_force_recycle` on Ruby 3.1+
  ext/datadog_profiling_native_extension/stack_recorder.c
Labels: profiling

#3573 [PROF-9469] Skip heap samples with age 0
  benchmarks/profiler_memory_sample_serialize.rb
  ext/datadog_profiling_native_extension/heap_recorder.c
  ext/datadog_profiling_native_extension/heap_recorder.h
  ext/datadog_profiling_native_extension/stack_recorder.c
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: profiling

#3582 [NO-TICKET] Check extension dir as well when loading profiler
  lib/datadog/profiling/load_native_extension.rb
  spec/datadog/profiling/load_native_extension_spec.rb
  vendor/rbs/gem/0/gem.rbs
Labels: profiling

#3566 Skip publishing lib injection artifacts for prereleases
  .github/workflows/release-lib-injection.yml
  .gitlab-ci.yml
Labels: dev/tooling

#3486 Improve log correlation performance
  gemfiles/ruby_2.5_rails4_mysql2.gemfile.lock
  gemfiles/ruby_2.5_rails4_postgres.gemfile.lock
  gemfiles/ruby_2.5_rails4_postgres_redis.gemfile.lock
  gemfiles/ruby_2.5_rails4_postgres_sidekiq.gemfile.lock
  gemfiles/ruby_2.5_rails4_semantic_logger.gemfile.lock
  gemfiles/ruby_3.1_multi_rack_app.gemfile.lock
  lib/datadog/tracing/correlation.rb
  lib/datadog/tracing/trace_operation.rb
  lib/datadog/tracing/tracer.rb
  spec/datadog/tracing/correlation_spec.rb
  spec/datadog/tracing/trace_operation_spec.rb
Labels: tracing, 2.0

#3570 GHA to ensure milestone
  .github/workflows/add-milestone-to-pull-requests.yml
  .github/workflows/create-next-milestone.yml
  .github/workflows/draft-release-on-release-branch-push.yaml
Labels: dev/github

#3585 Add sampling by trace resource
  docs/GettingStarted.md
  lib/datadog/tracing/sampling/matcher.rb
  lib/datadog/tracing/sampling/rule.rb
  lib/datadog/tracing/sampling/rule_sampler.rb
  spec/datadog/tracing/sampling/matcher_spec.rb
  spec/datadog/tracing/sampling/rule_sampler_spec.rb
  spec/datadog/tracing/sampling/rule_spec.rb
Labels: tracing

#3587 Add sampling by trace tags
  docs/GettingStarted.md
  lib/datadog/tracing/sampling/matcher.rb
  lib/datadog/tracing/sampling/rule.rb
  lib/datadog/tracing/sampling/rule_sampler.rb
  spec/datadog/tracing/sampling/matcher_spec.rb
  spec/datadog/tracing/sampling/rule_sampler_spec.rb
  spec/datadog/tracing/sampling/rule_spec.rb
Labels: tracing

#3590 Fix add milestone GHA
  .github/workflows/add-milestone-to-pull-requests.yml
Labels: dev/github

#3592 Add spec for dependencies
  spec/ddtrace/release_gem_spec.rb
Labels: dev/tooling, dev/testing

#3594 Fix telemetry app-started event on auto instrument
  lib/datadog/core/configuration.rb
  spec/datadog/core/configuration_spec.rb
Labels: core

#3595 Update 2.0 with 1.22.0
  .github/workflows/add-milestone-to-pull-requests.yml
  .github/workflows/create-next-milestone.yml
  .github/workflows/draft-release-on-release-branch-push.yaml
  .github/workflows/release-lib-injection.yml
  .gitlab-ci.yml
  CHANGELOG.md
  benchmarks/profiler_memory_sample_serialize.rb
  datadog.gemspec
  docs/GettingStarted.md
  ext/datadog_profiling_native_extension/heap_recorder.c
  ext/datadog_profiling_native_extension/heap_recorder.h
  ext/datadog_profiling_native_extension/stack_recorder.c
  lib/datadog/profiling/load_native_extension.rb
  lib/datadog/tracing/sampling/matcher.rb
  lib/datadog/tracing/sampling/rule.rb
  lib/datadog/tracing/sampling/rule_sampler.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/load_native_extension_spec.rb
  spec/datadog/profiling/stack_recorder_spec.rb
  spec/datadog/tracing/sampling/matcher_spec.rb
  spec/datadog/tracing/sampling/rule_sampler_spec.rb
  spec/datadog/tracing/sampling/rule_spec.rb
  vendor/rbs/gem/0/gem.rbs
Labels: profiling, tracing

#3599 Update changelog with release 2.0.0.beta2
  CHANGELOG.md
Labels: docs, release

#3597 [NO-TICKET] Remove deprecated profiler settings
  docs/UpgradeGuide2.md
  lib/datadog/core/configuration/settings.rb
  spec/datadog/core/configuration/settings_spec.rb
Labels: core, 2.0

#3603 Add trilogy to test matrix
  Rakefile
  appraisal/ruby-3.0.rb
  appraisal/ruby-3.1.rb
  appraisal/ruby-3.2.rb
  gemfiles/ruby_3.0_relational_db.gemfile
  gemfiles/ruby_3.0_relational_db.gemfile.lock
  gemfiles/ruby_3.1_relational_db.gemfile
  gemfiles/ruby_3.1_relational_db.gemfile.lock
  gemfiles/ruby_3.2_relational_db.gemfile
  gemfiles/ruby_3.2_relational_db.gemfile.lock
  lib/datadog/tracing/contrib/trilogy/instrumentation.rb
Labels: integrations, tracing

#3583 [PROF-9472] Add recorder_stats and profile_stats to internal metadata
  ext/datadog_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/datadog_profiling_native_extension/heap_recorder.c
  ext/datadog_profiling_native_extension/heap_recorder.h
  ext/datadog_profiling_native_extension/ruby_helpers.h
  ext/datadog_profiling_native_extension/stack_recorder.c
  lib/datadog/profiling/exporter.rb
  lib/datadog/profiling/stack_recorder.rb
  sig/datadog/profiling/stack_recorder.rbs
  spec/datadog/profiling/exporter_spec.rb
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: profiling

#3605 Update system test branch with `main`
  .github/workflows/lib-injection.yml
  .github/workflows/system-tests.yml
Labels: dev/github

#3608 Fix build args for lib injection docker
  .github/workflows/lib-injection.yml
  .github/workflows/release-lib-injection.yml
Labels: dev/github

#3606 test: Lint produced deb and rpm packages
  .gitlab-ci.yml
Labels: dev/ci

#3604 Remove more with script
  .github/workflows/update-gemfiles.yml
  gemfiles/jruby_9.2.21.0_sinatra.gemfile.lock
  gemfiles/jruby_9.2_graphql_1.13.gemfile.lock
  gemfiles/jruby_9.2_hanami_1.gemfile.lock
  gemfiles/jruby_9.2_opentracing.gemfile.lock
  gemfiles/jruby_9.3_hanami_1.gemfile.lock
  gemfiles/jruby_9.3_opentracing.gemfile.lock
  gemfiles/jruby_9.4_opentracing.gemfile.lock
  gemfiles/ruby_2.5_graphql_1.13.gemfile.lock
  gemfiles/ruby_2.5_opentracing.gemfile.lock
  gemfiles/ruby_2.6_opentracing.gemfile.lock
  gemfiles/ruby_2.7.6_sinatra.gemfile.lock
  gemfiles/ruby_2.7_opentracing.gemfile.lock
  gemfiles/ruby_3.0_opentracing.gemfile.lock
  gemfiles/ruby_3.1_opentracing.gemfile.lock
  gemfiles/ruby_3.2_opentracing.gemfile.lock
  gemfiles/ruby_3.3_opentracing.gemfile.lock
  gemfiles/ruby_3.3_rack_1.gemfile.lock
  tasks/appraisal.rake
Labels: dev/tooling

#3596 fix(span_links): ensures trace_flags is consistent with the sampling priority
  lib/datadog/tracing/span_link.rb
  sig/datadog/tracing/span_link.rbs
  spec/datadog/tracing/span_link_spec.rb
  spec/datadog/tracing/transport/serializable_trace_spec.rb
Labels: tracing

#3612 Update GHA with `macos-13` and `ruby/setup-ruby@v1`
  .github/workflows/build-gem.yml
  .github/workflows/check.yml
  .github/workflows/test-head.yaml
  .github/workflows/test-macos.yaml
  .github/workflows/test-yjit.yaml
  .github/workflows/update-gemfiles.yml
Labels: dev/github

#3613 Backport update GHA with `macos-13` and `ruby/setup-ruby@v1` (#3612)
  .github/workflows/build-gem.yml
  .github/workflows/check.yml
  .github/workflows/test-head.yaml
  .github/workflows/test-macos.yaml
  .github/workflows/test-yjit.yaml
  .github/workflows/update-gemfiles.yml
Labels: dev/github

#3615 Backport fix macro benchmark
  .gitlab/benchmarks.yml
Labels: dev/ci
