Repository DataDog/dd-trace-rb, pull requests merged in 2024-02, with the labels that each got.

#3420 Rack: Fix missing active trace
  lib/datadog/tracing/contrib/rack/middlewares.rb
  spec/datadog/tracing/contrib/rack/disabled_spec.rb
Labels: integrations, tracing

#3423 Minimize sampling API
  docs/GettingStarted.md
  lib/datadog/tracing/sampling/all_sampler.rb
  lib/datadog/tracing/sampling/matcher.rb
  lib/datadog/tracing/sampling/priority_sampler.rb
  lib/datadog/tracing/sampling/rate_by_key_sampler.rb
  lib/datadog/tracing/sampling/rate_by_service_sampler.rb
  lib/datadog/tracing/sampling/rate_limiter.rb
  lib/datadog/tracing/sampling/rate_sampler.rb
  lib/datadog/tracing/sampling/rule.rb
  lib/datadog/tracing/sampling/rule_sampler.rb
  lib/datadog/tracing/sampling/sampler.rb
  lib/datadog/tracing/sampling/span/rule.rb
  lib/datadog/tracing/sampling/span/sampler.rb
  spec/datadog/tracing/integration_spec.rb
  spec/datadog/tracing/sampling/rate_sampler_spec.rb
  spec/datadog/tracing/sampling/rule_sampler_spec.rb
  spec/datadog/tracing/sampling/rule_spec.rb
  spec/datadog/tracing/sampling/span/rule_spec.rb
Labels: tracing

#3431 Faraday: Add `on_error` option
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/faraday/configuration/settings.rb
  lib/datadog/tracing/contrib/faraday/middleware.rb
  spec/datadog/tracing/contrib/faraday/middleware_spec.rb
Labels: integrations, tracing

#3445 Fix minitest detection spec
  spec/datadog/core/environment/execution_spec.rb
Labels: dev/testing

#3441 do not restrict startup logs to emit only once
  lib/datadog/core/diagnostics/environment_logger.rb
  lib/datadog/profiling/diagnostics/environment_logger.rb
  lib/datadog/tracing/diagnostics/environment_logger.rb
  sig/datadog/core/diagnostics/environment_logger.rbs
  spec/datadog/core/diagnostics/environment_logger_spec.rb
  spec/datadog/profiling/diagnostics/environment_logger_spec.rb
  spec/datadog/tracing/diagnostics/environment_logger_spec.rb
Labels: core, profiling, tracing

#3427 Add Concurrent::Async instrumentation
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/concurrent_ruby/async_patch.rb
  lib/datadog/tracing/contrib/concurrent_ruby/patcher.rb
  sig/datadog/tracing/contrib/concurrent_ruby/async_patch.rbs
  spec/datadog/tracing/contrib/concurrent_ruby/integration_test_spec.rb
Labels: integrations, tracing

#3403 Remove `use` alias for `instrument`
  gemfiles/ruby_2.5_graphql_1.12.gemfile.lock
  gemfiles/ruby_2.6_graphql_1.12.gemfile.lock
  gemfiles/ruby_2.7_graphql_1.12.gemfile.lock
  gemfiles/ruby_3.0_graphql_1.12.gemfile.lock
  gemfiles/ruby_3.0_rails61_trilogy.gemfile.lock
  gemfiles/ruby_3.1_graphql_1.12.gemfile.lock
  gemfiles/ruby_3.1_rails61_trilogy.gemfile.lock
  gemfiles/ruby_3.2_graphql_1.12.gemfile.lock
  gemfiles/ruby_3.2_rails61_trilogy.gemfile.lock
  lib/datadog/tracing/contrib/extensions.rb
Labels: integrations, tracing

#3429 [PROF-9036] Include profiling worker and GC stats in profiles
  ext/ddtrace_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/ddtrace_profiling_native_extension/collectors_discrete_dynamic_sampler.c
  ext/ddtrace_profiling_native_extension/collectors_discrete_dynamic_sampler.h
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  lib/datadog/profiling/component.rb
  lib/datadog/profiling/exporter.rb
  lib/datadog/profiling/flush.rb
  sig/datadog/profiling/collectors/cpu_and_wall_time_worker.rbs
  sig/datadog/profiling/component.rbs
  sig/datadog/profiling/exporter.rbs
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/exporter_spec.rb
  spec/datadog/profiling/flush_spec.rb
  spec/datadog/profiling/http_transport_spec.rb
Labels: profiling

#3345 Add Rails routing instrumentation
  Rakefile
  appraisal/jruby-9.2.rb
  appraisal/jruby-9.3.rb
  appraisal/jruby-9.4.rb
  appraisal/ruby-2.5.rb
  appraisal/ruby-2.6.rb
  appraisal/ruby-2.7.rb
  appraisal/ruby-3.0.rb
  appraisal/ruby-3.1.rb
  appraisal/ruby-3.2.rb
  appraisal/ruby-3.3.rb
  gemfiles/jruby_9.2_multi_rack_app.gemfile
  gemfiles/jruby_9.2_multi_rack_app.gemfile.lock
  gemfiles/jruby_9.3_multi_rack_app.gemfile
  gemfiles/jruby_9.3_multi_rack_app.gemfile.lock
  gemfiles/jruby_9.4_multi_rack_app.gemfile
  gemfiles/jruby_9.4_multi_rack_app.gemfile.lock
  gemfiles/ruby_2.5_multi_rack_app.gemfile
  gemfiles/ruby_2.5_multi_rack_app.gemfile.lock
  gemfiles/ruby_2.6_multi_rack_app.gemfile
  gemfiles/ruby_2.6_multi_rack_app.gemfile.lock
  gemfiles/ruby_2.7_multi_rack_app.gemfile
  gemfiles/ruby_2.7_multi_rack_app.gemfile.lock
  gemfiles/ruby_3.0_multi_rack_app.gemfile
  gemfiles/ruby_3.0_multi_rack_app.gemfile.lock
  gemfiles/ruby_3.1_multi_rack_app.gemfile
  gemfiles/ruby_3.1_multi_rack_app.gemfile.lock
  gemfiles/ruby_3.2_multi_rack_app.gemfile
  gemfiles/ruby_3.2_multi_rack_app.gemfile.lock
  gemfiles/ruby_3.3_multi_rack_app.gemfile
  gemfiles/ruby_3.3_multi_rack_app.gemfile.lock
  lib/datadog/tracing/contrib/grape/endpoint.rb
  lib/datadog/tracing/contrib/rack/middlewares.rb
  lib/datadog/tracing/contrib/rails/patcher.rb
  lib/datadog/tracing/contrib/sinatra/tracer.rb
  lib/datadog/tracing/metadata/ext.rb
  sig/datadog/tracing/metadata/ext.rbs
  spec/datadog/core/environment/execution_spec.rb
  spec/datadog/tracing/contrib/http_route_spec.rb
  spec/datadog/tracing/contrib/rails/rack_spec.rb
Labels: integrations, tracing

#3451 Add interpreter vendor to trace headers
  lib/datadog/core/transport/ext.rb
  lib/datadog/tracing/transport/http.rb
  sig/datadog/core/transport/ext.rbs
  spec/datadog/tracing/transport/http_spec.rb
Labels: core, tracing

#3381 Move propagation public API to contrib
  docs/GettingStarted.md
  lib/datadog/core/configuration.rb
  lib/datadog/core/configuration/components.rb
  lib/datadog/opentelemetry/sdk/configurator.rb
  lib/datadog/opentelemetry/sdk/propagator.rb
  lib/datadog/opentracer/rack_propagator.rb
  lib/datadog/tracing/component.rb
  lib/datadog/tracing/contrib.rb
  lib/datadog/tracing/contrib/component.rb
  lib/datadog/tracing/contrib/ethon/easy_patch.rb
  lib/datadog/tracing/contrib/ethon/multi_patch.rb
  lib/datadog/tracing/contrib/excon/middleware.rb
  lib/datadog/tracing/contrib/faraday/middleware.rb
  lib/datadog/tracing/contrib/grpc.rb
  lib/datadog/tracing/contrib/grpc/datadog_interceptor/client.rb
  lib/datadog/tracing/contrib/grpc/datadog_interceptor/server.rb
  lib/datadog/tracing/contrib/grpc/distributed/propagation.rb
  lib/datadog/tracing/contrib/http.rb
  lib/datadog/tracing/contrib/http/distributed/propagation.rb
  lib/datadog/tracing/contrib/http/instrumentation.rb
  lib/datadog/tracing/contrib/httpclient/instrumentation.rb
  lib/datadog/tracing/contrib/httprb/instrumentation.rb
  lib/datadog/tracing/contrib/rack/middlewares.rb
  lib/datadog/tracing/contrib/rest_client/request_patch.rb
  lib/datadog/tracing/contrib/sidekiq.rb
  lib/datadog/tracing/contrib/sidekiq/client_tracer.rb
  lib/datadog/tracing/contrib/sidekiq/distributed/propagation.rb
  lib/datadog/tracing/contrib/sidekiq/server_tracer.rb
  lib/datadog/tracing/contrib/sinatra/tracer.rb
  lib/datadog/tracing/contrib/sinatra/tracer_middleware.rb
  lib/datadog/tracing/distributed/propagation.rb
  lib/datadog/tracing/propagation/http.rb
  sig/datadog/tracing/contrib/component.rbs
  sig/datadog/tracing/contrib/grpc.rbs
  sig/datadog/tracing/contrib/grpc/distributed/propagation.rbs
  sig/datadog/tracing/contrib/http.rbs
  sig/datadog/tracing/contrib/sidekiq.rbs
  sig/datadog/tracing/propagation/http.rbs
  spec/datadog/opentelemetry_spec.rb
  spec/datadog/opentracer/propagation_integration_spec.rb
  spec/datadog/opentracer/rack_propagator_spec.rb
  spec/datadog/tracing/contrib/component_spec.rb
  spec/datadog/tracing/contrib/grpc/distributed/propagation_spec.rb
  spec/datadog/tracing/contrib/grpc_spec.rb
  spec/datadog/tracing/contrib/http/distributed/propagation_spec.rb
  spec/datadog/tracing/contrib/http_spec.rb
  spec/datadog/tracing/distributed/b3_multi_spec.rb
  spec/datadog/tracing/distributed/b3_single_spec.rb
  spec/datadog/tracing/distributed/datadog_spec.rb
  spec/datadog/tracing/distributed/none_spec.rb
  spec/datadog/tracing/distributed/propagation_spec.rb
  spec/datadog/tracing/distributed/trace_context_spec.rb
  spec/datadog/tracing/integration_spec.rb
  spec/datadog/tracing/tracer_integration_spec.rb
Labels: core, integrations, tracing

#3453 [NO-TICKET] Remove unused profiler PID controller
  ext/ddtrace_profiling_native_extension/pid_controller.c
  ext/ddtrace_profiling_native_extension/pid_controller.h
Labels: profiling

#3448 [NO-TICKET] Reduce startup logs verbosity
  Steepfile
  lib/datadog/core/configuration/components.rb
  lib/datadog/core/diagnostics/environment_logger.rb
  lib/datadog/profiling.rb
  lib/datadog/profiling/component.rb
  lib/datadog/profiling/diagnostics/environment_logger.rb
  sig/datadog/core/diagnostics/environment_logger.rbs
  sig/datadog/profiling/component.rbs
  sig/datadog/profiling/diagnostics/environment_logger.rbs
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/core/diagnostics/environment_logger_spec.rb
  spec/datadog/profiling/component_spec.rb
  spec/datadog/profiling/diagnostics/environment_logger_spec.rb
Labels: core, profiling

#3449 Fix flakiness of gc_force_recycle tests
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: dev/testing

#3434 [PROF-9045] Better handle spikes within dynamic sampling adjustment windows
  ext/ddtrace_profiling_native_extension/collectors_discrete_dynamic_sampler.c
  spec/datadog/profiling/collectors/discrete_dynamic_sampler_spec.rb
Labels: profiling

#3456 Remove `binding.pry` comment
  lib/datadog/tracing/contrib/sinatra/tracer.rb
Labels: integrations, tracing

#3454 remove deprecated lazy method for option_definition
  lib/datadog/core/configuration/option_definition.rb
  spec/datadog/core/configuration/option_definition_spec.rb
Labels: core

#3457 ekump/remove 2.4 safe dup string code
  .rubocop_todo.yml
  lib/datadog/core/backport.rb
  lib/datadog/core/utils/safe_dup.rb
  lib/datadog/tracing/contrib/rack/middlewares.rb
  lib/datadog/tracing/sampling/rule_sampler.rb
  sig/datadog/core/backport.rbs
Labels: core, integrations, tracing

#3424 [CIVIS-8604] APM source code integration
  lib/datadog/core/environment/git.rb
  lib/datadog/core/git/ext.rb
  lib/datadog/core/utils/url.rb
  lib/datadog/profiling/ext.rb
  lib/datadog/profiling/tag_builder.rb
  lib/datadog/tracing/transport/trace_formatter.rb
  sig/datadog/core/environment/git.rbs
  sig/datadog/core/git/ext.rbs
  sig/datadog/core/utils/url.rbs
  sig/datadog/profiling/ext.rbs
  sig/datadog/tracing/transport/trace_formatter.rbs
  spec/datadog/core/environment/git_spec.rb
  spec/datadog/core/utils/url_spec.rb
  spec/datadog/profiling/tag_builder_spec.rb
  spec/datadog/tracing/transport/trace_formatter_spec.rb
Labels: core, profiling, tracing

#3463 Backport "APM source code integration"
  lib/datadog/core/environment/git.rb
  lib/datadog/core/git/ext.rb
  lib/datadog/core/utils/url.rb
  lib/datadog/profiling/ext.rb
  lib/datadog/profiling/tag_builder.rb
  lib/datadog/tracing/transport/trace_formatter.rb
  sig/datadog/core/environment/git.rbs
  sig/datadog/core/git/ext.rbs
  sig/datadog/core/utils/url.rbs
  sig/datadog/profiling/ext.rbs
  sig/datadog/tracing/transport/trace_formatter.rbs
  spec/datadog/core/environment/git_spec.rb
  spec/datadog/core/utils/url_spec.rb
  spec/datadog/profiling/tag_builder_spec.rb
  spec/datadog/tracing/transport/trace_formatter_spec.rb
Labels: core, profiling, tracing

#3468 Backport "Reduce startup logs verbosity" to master
  Steepfile
  lib/datadog/core/configuration/components.rb
  lib/datadog/core/diagnostics/environment_logger.rb
  lib/datadog/profiling.rb
  lib/datadog/profiling/component.rb
  lib/datadog/profiling/diagnostics/environment_logger.rb
  sig/datadog/core/diagnostics/environment_logger.rbs
  sig/datadog/profiling/component.rbs
  sig/datadog/profiling/diagnostics/environment_logger.rbs
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/core/diagnostics/environment_logger_spec.rb
  spec/datadog/profiling/component_spec.rb
  spec/datadog/profiling/diagnostics/environment_logger_spec.rb
Labels: core, profiling

#3466 [PROF-9163] Fix missing profiling code hotspots when using ddtrace+otel
  Rakefile
  ext/ddtrace_profiling_native_extension/collectors_thread_context.c
  lib/datadog/profiling/collectors/info.rb
  spec/datadog/profiling/collectors/thread_context_spec.rb
Labels: profiling

#3461 Backport "Add interpreter vendor to trace headers" to master
  lib/datadog/core/transport/ext.rb
  lib/datadog/tracing/transport/http.rb
  sig/datadog/core/transport/ext.rbs
  spec/datadog/tracing/transport/http_spec.rb
Labels: core, tracing

#3470 [NO-TICKET] Minor: Fix misnamed variable in profiler
  lib/datadog/profiling/exporter.rb
Labels: profiling

#3428 [PROF-8942] Enable Ruby timeline by default
  lib/datadog/core/configuration/settings.rb
  lib/datadog/profiling/component.rb
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/profiling/component_spec.rb
Labels: core, profiling

#3474 Add benchmark that only excludes network
  benchmarks/tracing_trace.rb
Labels: dev/testing

#3475 Add benchmark for TraceDigest generation
  benchmarks/tracing_trace.rb
Labels: dev/testing

#3476 Add benchmark for log correlation
  benchmarks/tracing_trace.rb
Labels: dev/testing

#3485 Change prerelease gem version pattern
  .github/workflows/build-gem.yml
  .gitlab-ci.yml
  .gitlab/patch_gem_version.sh
  lib/datadog/core/environment/identity.rb
  spec/datadog/core/environment/identity_spec.rb
Labels: core

#3480 Add benchmark for distributed trace propagation
  benchmarks/tracing_trace.rb
Labels: dev/testing

#3481 Add benchmark for gem loading
  benchmarks/tracing_trace.rb
Labels: dev/testing

#3491 Fix `Datadog::Tracing.reject!` with correct metrics
  lib/datadog/tracing/trace_operation.rb
  spec/datadog/tracing/integration_spec.rb
  spec/datadog/tracing/trace_operation_spec.rb
Labels: tracing

#3489 Update 2.0 branch
  .github/workflows/build-gem.yml
  .gitlab-ci.yml
  .gitlab/benchmarks.yml
  .gitlab/build-deb-rpm.sh
  .gitlab/install_ddtrace_deps.rb
  .gitlab/onboarding_tests.yml
  .gitlab/patch_gem_version.sh
  .gitlab/prepare_pkg_directory.sh
  Rakefile
  benchmarks/profiler_http_transport.rb
  ext/ddtrace_profiling_native_extension/collectors_thread_context.c
  ext/ddtrace_profiling_native_extension/http_transport.c
  lib-injection/host_inject.rb
  lib/datadog/core/configuration/option.rb
  lib/datadog/core/configuration/settings.rb
  lib/datadog/core/environment/identity.rb
  lib/datadog/profiling.rb
  lib/datadog/profiling/collectors/info.rb
  lib/datadog/profiling/component.rb
  lib/datadog/profiling/exporter.rb
  lib/datadog/profiling/flush.rb
  lib/datadog/profiling/http_transport.rb
  sig/datadog/profiling/collectors/info.rbs
  sig/datadog/profiling/exporter.rbs
  sig/datadog/profiling/flush.rbs
  sig/datadog/profiling/http_transport.rbs
  spec/datadog/core/configuration/option_spec.rb
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/core/environment/identity_spec.rb
  spec/datadog/profiling/collectors/info_spec.rb
  spec/datadog/profiling/collectors/thread_context_spec.rb
  spec/datadog/profiling/component_spec.rb
  spec/datadog/profiling/exporter_spec.rb
  spec/datadog/profiling/flush_spec.rb
  spec/datadog/profiling/http_transport_spec.rb
Labels: core, profiling

#3492 Allows deployment without prerequisites
  .gitlab-ci.yml
Labels: dev/ci

#3493 Update Doc with Type
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/action_mailer/configuration/settings.rb
  lib/datadog/tracing/contrib/action_view/configuration/settings.rb
  lib/datadog/tracing/contrib/active_record/configuration/settings.rb
  lib/datadog/tracing/contrib/active_support/configuration/settings.rb
  lib/datadog/tracing/contrib/aws/configuration/settings.rb
  lib/datadog/tracing/contrib/configuration/settings.rb
  lib/datadog/tracing/contrib/dalli/configuration/settings.rb
  lib/datadog/tracing/contrib/delayed_job/configuration/settings.rb
  lib/datadog/tracing/contrib/elasticsearch/configuration/settings.rb
  lib/datadog/tracing/contrib/ethon/configuration/settings.rb
  lib/datadog/tracing/contrib/excon/configuration/settings.rb
  lib/datadog/tracing/contrib/faraday/configuration/settings.rb
  lib/datadog/tracing/contrib/graphql/configuration/settings.rb
  lib/datadog/tracing/contrib/grpc/configuration/settings.rb
  lib/datadog/tracing/contrib/http/configuration/settings.rb
  lib/datadog/tracing/contrib/mongodb/configuration/settings.rb
  lib/datadog/tracing/contrib/mysql2/configuration/settings.rb
  lib/datadog/tracing/contrib/opensearch/configuration/settings.rb
  lib/datadog/tracing/contrib/pg/configuration/settings.rb
  lib/datadog/tracing/contrib/presto/configuration/settings.rb
  lib/datadog/tracing/contrib/racecar/configuration/settings.rb
  lib/datadog/tracing/contrib/rack/configuration/settings.rb
  spec/datadog/core/diagnostics/environment_logger_spec.rb
  spec/datadog/tracing/contrib/configuration/settings_spec.rb
  spec/datadog/tracing/diagnostics/environment_logger_spec.rb
Labels: integrations, tracing, 2.0
