Repository DataDog/dd-trace-rb, pull requests merged in 2024-11, with the labels that each got.

#4024 fix: ensure uds always takes precedence over http if both configurations are defined
  lib/datadog/core/configuration/agent_settings_resolver.rb
  spec/datadog/core/configuration/agent_settings_resolver_spec.rb
Labels: core

#4071 Migrate Lint job from CircleCI to Github Action
  .circleci/config.yml
  .github/workflows/check.yml
Labels: dev/tooling, dev/github

#4056 Remove edge build
  .circleci/config.yml
Labels: dev/ci

#4073 Streamline CircleCI config
  .circleci/config.yml
Labels: dev/ci

#4069 Use BUNDLE_GEMFILE directly instead of appraisal binary
  Rakefile
  docs/DevelopmentGuide.md
Labels: dev/internal

#4068 fix rack 3/rackup situation on ruby 3.4
  appraisal/ruby-3.4.rb
  gemfiles/ruby_3.4_contrib.gemfile
  gemfiles/ruby_3.4_contrib.gemfile.lock
  spec/datadog/tracing/contrib/suite/integration_spec.rb
Labels: dev/internal

#4072 [NO-TICKET] Fix flaky profiler spec by adjusting wait condition
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
Labels: dev/testing, profiling, dev/internal

#4074 Replace docker images for testing and development
  .circleci/config.yml
  .circleci/images/primary/Dockerfile-2.5.9
  .circleci/images/primary/Dockerfile-2.6.10
  .circleci/images/primary/Dockerfile-2.7.8
  .circleci/images/primary/Dockerfile-3.0.7
  .circleci/images/primary/Dockerfile-3.1.6
  .circleci/images/primary/Dockerfile-3.2.4
  .circleci/images/primary/Dockerfile-3.3.2
  .circleci/images/primary/Dockerfile-3.4.0
  .circleci/images/primary/Dockerfile-jruby-9.2.21.0
  .circleci/images/primary/Dockerfile-jruby-9.3.9.0
  .circleci/images/primary/Dockerfile-jruby-9.4.7.0
  .circleci/images/primary/README.md
  .circleci/images/primary/binary_version
  .github/workflows/build-ruby.yml
  docker-compose.yml
Labels: dev/ci

#4076 [NO-TICKET] Relax profiling CODEOWNERS configuration
  .github/CODEOWNERS
Labels: dev/github, profiling, dev/internal

#4039 Add Ruby 3.4.0-preview2 support for github workflow tests
  .github/workflows/test-macos.yaml
  .github/workflows/test-yjit.yaml
  spec/datadog/core/environment/execution_spec.rb
  spec/datadog/core/error_spec.rb
  spec/datadog/tracing/metadata/tagging_spec.rb
  spec/datadog/tracing/remote_spec.rb
Labels: dev/testing

#4078 Remove unintentional libddwaf require
  lib/datadog/appsec/processor/context.rb
Labels: bug, appsec

#4070 Post release steps for 2.5.0
  .github/workflows/system-tests.yml
Labels: dev/github

#4081 [NO-TICKET] Remove unused rspec integration app
  integration/apps/rspec/.dockerignore
  integration/apps/rspec/.envrc.sample
  integration/apps/rspec/.gitignore
  integration/apps/rspec/.rspec
  integration/apps/rspec/Dockerfile
  integration/apps/rspec/Dockerfile-ci
  integration/apps/rspec/Gemfile
  integration/apps/rspec/README.md
  integration/apps/rspec/agent.yaml
  integration/apps/rspec/app/datadog.rb
  integration/apps/rspec/app/fibonacci.rb
  integration/apps/rspec/bin/run
  integration/apps/rspec/bin/setup
  integration/apps/rspec/bin/test
  integration/apps/rspec/docker-compose.ci.yml
  integration/apps/rspec/docker-compose.yml
  integration/apps/rspec/script/build-images
  integration/apps/rspec/script/ci
  integration/apps/rspec/spec/fibonacci_spec.rb
  integration/apps/rspec/spec/rspec_spec.rb
  integration/apps/rspec/spec/spec_helper.rb
Labels: dev/testing, dev/internal

#4083 Revert "Disable crashtracking by default"
  lib/datadog/core/configuration/settings.rb
  spec/datadog/core/configuration/settings_spec.rb
Labels: core

#4085 [PROF-9470] Enable "heap clean after GC" profiler optimization by default
  .gitlab/benchmarks.yml
  lib/datadog/core/configuration/settings.rb
  spec/datadog/core/configuration/settings_spec.rb
Labels: performance, profiling

#4086 [NO-TICKET] Re-enable ASAN memory leaks testing
  .github/workflows/test-memory-leaks.yaml
Labels: dev/testing, dev/github, dev/internal

#4100 Remove static dependency task for each group
  tasks/dependency.rake
Labels: dev/tooling

#4104 Replace `Bundler.with_clean_env` with `Bundler.with_unbundled_env`
  .circleci/images/primary/binary_version
  spec/datadog/core/environment/execution_spec.rb
Labels: dev/testing

#4093 Update use of rack vs rackup
  spec/datadog/tracing/contrib/suite/integration_spec.rb
Labels: dev/testing

#4075 fix: Apply DD_VERSION on all spans that use the default or global service name
  lib/datadog/tracing/tracer.rb
  spec/datadog/tracing/tracer_spec.rb
Labels: tracing

#4094 Adjust OTel Spec for new Ruby 3.4 syntax
  spec/datadog/opentelemetry_spec.rb
Labels: dev/testing

#4113 Temporarily disable asan ruby job
  .github/workflows/test-memory-leaks.yaml
Labels: dev/testing, dev/github

#4103 Add method name into telemetry in Context#run
  lib/datadog/appsec/processor/context.rb
  spec/datadog/appsec/processor/context_spec.rb
Labels: appsec, dev/internal

#4118 Update filter with splitted gemfile and task
  .github/dependency_filters.yml
Labels: dev/github

#4119 Fix system-tests CI flakiness by adding Dockerhub login
  .github/workflows/system-tests.yml
Labels: dev/github

#4126 Try requiring ostruct explicitly to fix missing OpenStruct exception
  spec/datadog/core/remote/transport/http_spec.rb
Labels: dev/testing, dev/internal

#4121 Add Rails 7.2 and Rails 8.0 weblogs to system-tests workflow
  .github/workflows/system-tests.yml
Labels: dev/github

#4122 DEBUG-2334 enable dynamic instrumentation line probe benchmarks
  benchmarks/di_instrument.rb
  lib/datadog/di/instrumenter.rb
  spec/datadog/di/validate_benchmarks_spec.rb
Labels: dev/testing

#4127 Remove duplicate require
  spec/datadog/core/remote/transport/http_spec.rb
Labels: dev/testing, dev/internal

#4128 Fix execution spec with cucumber on ruby 3.4
  spec/datadog/core/environment/execution_spec.rb
Labels: dev/testing

#4137 Lower glibc requirements for SSI
  .gitlab-ci.yml
  .gitlab/Dockerfile-2.7
  .gitlab/Dockerfile-2.7.8
  .gitlab/Dockerfile-3.0
  .gitlab/Dockerfile-3.0.6
  .gitlab/Dockerfile-3.1
  .gitlab/Dockerfile-3.1.4
  .gitlab/Dockerfile-3.2
  .gitlab/Dockerfile-3.2.2
  .gitlab/Dockerfile-3.3
  .gitlab/Dockerfile-3.4
  lib-injection/requirements.json
  lib-injection/requirements.rb
  lib-injection/test_allow.json
  lib-injection/test_block.json
Labels: single-step

#4139 Update injection guard for Ruby 3.3
  .gitlab-ci.yml
  lib-injection/README.md
  lib-injection/host_inject.rb
Labels: dev/internal, single-step

#4143 Revert "Run the cucumber test in unbundled environment"
  spec/datadog/core/environment/execution_spec.rb
Labels: dev/testing

#4145 Attempt to fix psych test flakiness
  spec/datadog/core/environment/execution_spec.rb
Labels: dev/testing

#4148 Improve reliability by removing `jq` installation from CircleCI
  .circleci/config.yml
  .circleci/test_agent_check.rb
Labels: dev/ci

#4123 [🤖] Update Latest Dependency
  gemfiles/jruby_9.2_elasticsearch_8.gemfile.lock
  gemfiles/jruby_9.2_elasticsearch_latest.gemfile.lock
  gemfiles/jruby_9.2_stripe_latest.gemfile.lock
  gemfiles/jruby_9.3_elasticsearch_8.gemfile.lock
  gemfiles/jruby_9.3_elasticsearch_latest.gemfile.lock
  gemfiles/jruby_9.3_stripe_latest.gemfile.lock
  gemfiles/jruby_9.4_stripe_latest.gemfile.lock
  gemfiles/ruby_2.5_elasticsearch_8.gemfile.lock
  gemfiles/ruby_2.5_elasticsearch_latest.gemfile.lock
  gemfiles/ruby_2.5_stripe_latest.gemfile.lock
  gemfiles/ruby_2.6_elasticsearch_8.gemfile.lock
  gemfiles/ruby_2.6_elasticsearch_latest.gemfile.lock
  gemfiles/ruby_2.6_stripe_latest.gemfile.lock
  gemfiles/ruby_2.7_elasticsearch_8.gemfile.lock
  gemfiles/ruby_2.7_elasticsearch_latest.gemfile.lock
  gemfiles/ruby_2.7_stripe_latest.gemfile.lock
  gemfiles/ruby_3.0_stripe_latest.gemfile.lock
  gemfiles/ruby_3.1_stripe_latest.gemfile.lock
  gemfiles/ruby_3.2_stripe_latest.gemfile.lock
  gemfiles/ruby_3.3_stripe_latest.gemfile.lock
  gemfiles/ruby_3.4_elasticsearch_7.gemfile.lock
  gemfiles/ruby_3.4_elasticsearch_8.gemfile.lock
  gemfiles/ruby_3.4_elasticsearch_latest.gemfile.lock
  gemfiles/ruby_3.4_opensearch_2.gemfile.lock
  gemfiles/ruby_3.4_opensearch_3.gemfile.lock
  gemfiles/ruby_3.4_opensearch_latest.gemfile.lock
  gemfiles/ruby_3.4_stripe_latest.gemfile.lock
Labels: integrations, dev/internal

#4156 psych fix attempt #3
  spec/datadog/core/environment/execution_spec.rb
Labels: dev/testing

#4151 Enable auto-merge for dependencies update PR
  .github/workflows/update-latest-dependency.yml
Labels: dev/github

#4157 DEBUG-2334 test argument squashing into hashes on ruby 2
  spec/datadog/di/hook_method.rb
  spec/datadog/di/instrumenter_spec.rb
  spec/datadog/di/spec_helper.rb
Labels: dev/testing

#4159 Update Action with JRuby9.2, Rails 4 exception
  Matrixfile
  Rakefile
Labels: dev/internal

#4098 DEBUG-2334 remaining dynamic instrumentation code
  lib/datadog.rb
  lib/datadog/core/configuration.rb
  lib/datadog/core/configuration/components.rb
  lib/datadog/core/remote/client.rb
  lib/datadog/core/remote/client/capabilities.rb
  lib/datadog/di.rb
  lib/datadog/di/code_tracker.rb
  lib/datadog/di/component.rb
  lib/datadog/di/init.rb
  lib/datadog/di/remote.rb
  sig/datadog/core/remote/client.rbs
  sig/datadog/di.rbs
  sig/datadog/di/init.rbs
  sig/datadog/di/remote.rbs
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/core/configuration_spec.rb
  spec/datadog/core/remote/client/capabilities_spec.rb
  spec/datadog/di/integration/everything_from_remote_config_spec.rb
  spec/datadog/di/integration/instrumentation_spec.rb
  spec/datadog/di/remote_spec.rb
  spec/datadog/di/spec_helper.rb
  spec/loading_spec.rb
  spec/spec_helper.rb
Labels: core

#4146 DEBUG-2334 Run Dynamic Instrumentation system tests
  .github/workflows/system-tests.yml
Labels: core, dev/github

#4161 [PROF-10967] Fix profiler not loading due to "rb_obj_info" symbol not found
  .github/workflows/test-memory-leaks.yaml
  ext/datadog_profiling_native_extension/extconf.rb
  ext/datadog_profiling_native_extension/private_vm_api_access.c
  ext/datadog_profiling_native_extension/profiling.c
  ext/datadog_profiling_native_extension/ruby_helpers.c
  ext/datadog_profiling_native_extension/ruby_helpers.h
  spec/datadog/profiling/native_extension_spec.rb
Labels: profiling

#4066 Add config support for "on_error" in Elasticsearch tracing
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/elasticsearch/configuration/settings.rb
  lib/datadog/tracing/contrib/elasticsearch/patcher.rb
  spec/datadog/tracing/contrib/elasticsearch/patcher_spec.rb
Labels: integrations, tracing

#4173 Fix AppSec libddwaf actions handling after update to 1.17.0.0.0
  .github/workflows/system-tests.yml
  lib/datadog/appsec.rb
  lib/datadog/appsec/component.rb
  lib/datadog/appsec/processor/actions.rb
  lib/datadog/appsec/remote.rb
  lib/datadog/appsec/response.rb
  sig/datadog/appsec.rbs
  sig/datadog/appsec/processor/actions.rbs
  sig/datadog/appsec/response.rbs
  spec/datadog/appsec/component_spec.rb
  spec/datadog/appsec/processor/actions_spec.rb
  spec/datadog/appsec/remote_spec.rb
  spec/datadog/appsec/response_spec.rb
Labels: appsec

#4140 Guard injection against old rubies
  .gitlab/prepare-oci-package.sh
  lib-injection/host_inject.rb
  lib-injection/host_inject_main.rb
Labels: single-step

#4175 Fix handling of non integer response status code in AppSec
  lib/datadog/appsec/response.rb
  spec/datadog/appsec/response_spec.rb
Labels: appsec
