Repository DataDog/dd-trace-rb, pull requests merged in 2024-07, with the labels that each got.

#3720 [PROF-9342] Introduce profiler workaround for Ruby Dir interruption bug
  benchmarks/profiler_hold_resume_interruptions.rb
  ext/datadog_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/datadog_profiling_native_extension/setup_signal_handler.c
  lib/datadog/core/configuration/settings.rb
  lib/datadog/profiling.rb
  lib/datadog/profiling/component.rb
  lib/datadog/profiling/ext/dir_monkey_patches.rb
  sig/datadog/profiling.rbs
  sig/datadog/profiling/collectors/cpu_and_wall_time_worker.rbs
  sig/datadog/profiling/component.rbs
  sig/datadog/profiling/ext/dir_monkey_patches.rbs
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/component_spec.rb
  spec/datadog/profiling/ext/dir_monkey_patches_spec.rb
  spec/datadog/profiling/validate_benchmarks_spec.rb
Labels: core, profiling

#3750 [PROF-10015] Fix Phusion Passenger detection when not in `Gemfile`/`gems.rb`
  lib/datadog/profiling/component.rb
  spec/datadog/profiling/component_spec.rb
  vendor/rbs/passenger/0/passenger.rbs
Labels: profiling

#3749 [SDTEST-409] Send telemetry events in batches
  lib/datadog/core/telemetry/event.rb
  lib/datadog/core/telemetry/request.rb
  lib/datadog/core/telemetry/worker.rb
  sig/datadog/core/telemetry/emitter.rbs
  sig/datadog/core/telemetry/event.rbs
  spec/datadog/core/telemetry/event_spec.rb
  spec/datadog/core/telemetry/worker_spec.rb
Labels: core

#3751 Fix a small typo about `Datadog::Tracing::Correlation::Identifier` in UpgradeGuide2.md
  docs/UpgradeGuide2.md
Labels: docs

#3742 [SDTEST-409] Add metrics management capabilities
  lib/datadog/core/telemetry/metric.rb
  lib/datadog/core/telemetry/metrics_collection.rb
  lib/datadog/core/telemetry/metrics_manager.rb
  sig/datadog/core/telemetry/metric.rbs
  sig/datadog/core/telemetry/metrics_collection.rbs
  sig/datadog/core/telemetry/metrics_manager.rbs
  spec/datadog/core/telemetry/metric_spec.rb
  spec/datadog/core/telemetry/metrics_collection_spec.rb
  spec/datadog/core/telemetry/metrics_manager_spec.rb
Labels: core

#3754 Add quick link to support in issue creation form
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: dev/github

#3747 Fix lib injection with fork
  lib-injection/host_inject.rb
Labels: single-step

#3763 Propagate docs fixes from #3761 to master
  docs/GettingStarted.md
  docs/legacy/GettingStarted-v1.md
Labels: docs

#3757 [NO-TICKET] Optimize CodeProvenance#record_loaded_files to avoid allocations
  lib/datadog/profiling/collectors/code_provenance.rb
Labels: profiling

#3759 [PROF-10112] Simplify method names from actionview templates in profiler
  ext/datadog_profiling_native_extension/collectors_stack.c
  spec/datadog/profiling/collectors/stack_spec.rb
Labels: profiling

#3765 Fix leaky db test
  spec/datadog/tracing/contrib/active_record/instantiation_spec.rb
Labels: dev/testing

#3764 Switch system-tests to python 3.12
  .github/workflows/system-tests.yml
Labels: dev/github

#3675 Add limits to #log_deprecation
  lib/datadog/core.rb
  lib/datadog/core/deprecations.rb
  sig/datadog/core.rbs
  sig/datadog/core/deprecations.rbs
  spec/datadog/core/deprecations_spec.rb
  spec/datadog/core_spec.rb
Labels: core, dev/refactor, deprecation

#3766 [NO-TICKET] Switch libdatadog-crashtracking-receiver checks to wait_for
  spec/datadog/profiling/crashtracker_spec.rb
Labels: dev/testing

#3760 [PROF-10123] Add placeholder for skipped samples in allocation profiler
  ext/datadog_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/datadog_profiling_native_extension/collectors_stack.c
  ext/datadog_profiling_native_extension/collectors_thread_context.c
  ext/datadog_profiling_native_extension/collectors_thread_context.h
  ext/datadog_profiling_native_extension/heap_recorder.c
  ext/datadog_profiling_native_extension/heap_recorder.h
  ext/datadog_profiling_native_extension/stack_recorder.c
  ext/datadog_profiling_native_extension/stack_recorder.h
  lib/datadog/profiling/profiler.rb
  lib/datadog/profiling/scheduler.rb
  sig/datadog/profiling/scheduler.rbs
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/collectors/thread_context_spec.rb
  spec/datadog/profiling/profiler_spec.rb
  spec/datadog/profiling/scheduler_spec.rb
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: profiling

#3770 [PROF-10125] Track unscaled allocation counts in allocation profiler
  ext/datadog_profiling_native_extension/collectors_stack.c
  ext/datadog_profiling_native_extension/collectors_thread_context.c
  ext/datadog_profiling_native_extension/stack_recorder.c
  ext/datadog_profiling_native_extension/stack_recorder.h
  spec/datadog/profiling/collectors/thread_context_spec.rb
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: profiling

#3768 [SDTEST-409] Telemetry metrics support
  lib/datadog/core/configuration/components.rb
  lib/datadog/core/configuration/settings.rb
  lib/datadog/core/telemetry/component.rb
  lib/datadog/core/telemetry/ext.rb
  lib/datadog/core/telemetry/metric.rb
  lib/datadog/core/telemetry/metrics_collection.rb
  lib/datadog/core/telemetry/metrics_manager.rb
  lib/datadog/core/telemetry/worker.rb
  sig/datadog/core/telemetry/component.rbs
  sig/datadog/core/telemetry/ext.rbs
  sig/datadog/core/telemetry/metric.rbs
  sig/datadog/core/telemetry/metrics_collection.rbs
  sig/datadog/core/telemetry/metrics_manager.rbs
  sig/datadog/core/telemetry/worker.rbs
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/core/telemetry/component_spec.rb
  spec/datadog/core/telemetry/metrics_collection_spec.rb
  spec/datadog/core/telemetry/metrics_manager_spec.rb
  spec/datadog/core/telemetry/worker_spec.rb
  static-analysis.datadog.yml
Labels: core

#3774 [PROF-10112] Also simplify actionview templates with three underscores
  ext/datadog_profiling_native_extension/collectors_stack.c
  spec/datadog/profiling/collectors/stack_spec.rb
Labels: profiling

#3775 [PROF-3760] Revert "Merge pull request #3760 from DataDog/ivoanjo/prof-10123-placeholder-missing-allocations"
  ext/datadog_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/datadog_profiling_native_extension/collectors_stack.c
  ext/datadog_profiling_native_extension/collectors_thread_context.c
  ext/datadog_profiling_native_extension/collectors_thread_context.h
  ext/datadog_profiling_native_extension/heap_recorder.c
  ext/datadog_profiling_native_extension/heap_recorder.h
  ext/datadog_profiling_native_extension/stack_recorder.c
  ext/datadog_profiling_native_extension/stack_recorder.h
  lib/datadog/profiling/profiler.rb
  lib/datadog/profiling/scheduler.rb
  sig/datadog/profiling/scheduler.rbs
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/collectors/thread_context_spec.rb
  spec/datadog/profiling/profiler_spec.rb
  spec/datadog/profiling/scheduler_spec.rb
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: profiling

#3772 Use ActiveSupport events to instrument ActiveSupport::Cache
  lib/datadog/tracing/contrib/active_support/cache/event.rb
  lib/datadog/tracing/contrib/active_support/cache/events.rb
  lib/datadog/tracing/contrib/active_support/cache/events/cache.rb
  lib/datadog/tracing/contrib/active_support/cache/instrumentation.rb
  lib/datadog/tracing/contrib/active_support/cache/patcher.rb
  lib/datadog/tracing/contrib/active_support/cache/redis.rb
  lib/datadog/tracing/contrib/active_support/notifications/event.rb
  lib/datadog/tracing/contrib/active_support/notifications/subscriber.rb
  lib/datadog/tracing/contrib/active_support/notifications/subscription.rb
  sig/datadog/tracing/contrib/active_support/cache/event.rbs
  sig/datadog/tracing/contrib/active_support/cache/events.rbs
  sig/datadog/tracing/contrib/active_support/cache/events/cache.rbs
  sig/datadog/tracing/contrib/active_support/cache/instrumentation.rbs
  spec/datadog/tracing/contrib/active_support/notifications/event_spec.rb
  spec/datadog/tracing/contrib/active_support/notifications/subscriber_spec.rb
  spec/datadog/tracing/contrib/active_support/notifications/subscription_spec.rb
  spec/datadog/tracing/contrib/rails/cache_spec.rb
  spec/datadog/tracing/contrib/rails/redis_cache_spec.rb
Labels: integrations, tracing

#3780 Backport (1.x): Add limits to #log_deprecation
  lib/datadog/core.rb
  lib/datadog/core/deprecations.rb
  sig/datadog/core.rbs
  sig/datadog/core/deprecations.rbs
  spec/datadog/core/deprecations_spec.rb
  spec/datadog/core_spec.rb
Labels: core, feature

#3786 [NO-TICKET] Fixes for rare issues in the profiler + small optimization
  ext/datadog_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/datadog_profiling_native_extension/collectors_discrete_dynamic_sampler.c
  ext/datadog_profiling_native_extension/collectors_idle_sampling_helper.c
  ext/datadog_profiling_native_extension/collectors_thread_context.c
  ext/datadog_profiling_native_extension/heap_recorder.c
  ext/datadog_profiling_native_extension/stack_recorder.c
Labels: profiling

#3789 Add ARM/DBM peer entity tags
  Steepfile
  lib/datadog/tracing/contrib/active_record/events/sql.rb
  lib/datadog/tracing/contrib/ext.rb
  lib/datadog/tracing/contrib/mysql2/instrumentation.rb
  lib/datadog/tracing/contrib/propagation/sql_comment.rb
  lib/datadog/tracing/contrib/propagation/sql_comment/ext.rb
  lib/datadog/tracing/contrib/trilogy/instrumentation.rb
  lib/datadog/tracing/metadata/ext.rb
  sig/datadog/tracing/contrib/ext.rbs
  sig/datadog/tracing/contrib/propagation/sql_comment.rbs
  sig/datadog/tracing/contrib/propagation/sql_comment/ext.rbs
  sig/datadog/tracing/contrib/propagation/sql_comment/mode.rbs
  spec/datadog/tracing/contrib/active_record/tracer_spec.rb
  spec/datadog/tracing/contrib/mysql2/patcher_spec.rb
  spec/datadog/tracing/contrib/propagation/sql_comment_spec.rb
  spec/datadog/tracing/contrib/rails/database_spec.rb
  spec/datadog/tracing/contrib/trilogy/patcher_spec.rb
Labels: integrations, tracing

#3785 [NO-TICKET] Move tracing integrations logging under a debug log
  lib/datadog/core/diagnostics/environment_logger.rb
  lib/datadog/tracing/diagnostics/environment_logger.rb
  spec/datadog/tracing/diagnostics/environment_logger_spec.rb
Labels: core, tracing

#3779 [SDTEST-184] Agentless telemetry
  Steepfile
  lib/datadog/core/configuration/components.rb
  lib/datadog/core/configuration/settings.rb
  lib/datadog/core/telemetry/component.rb
  lib/datadog/core/telemetry/emitter.rb
  lib/datadog/core/telemetry/event.rb
  lib/datadog/core/telemetry/ext.rb
  lib/datadog/core/telemetry/http/adapters/net.rb
  lib/datadog/core/telemetry/http/ext.rb
  lib/datadog/core/telemetry/http/transport.rb
  sig/datadog/core/environment/ext.rbs
  sig/datadog/core/telemetry/component.rbs
  sig/datadog/core/telemetry/emitter.rbs
  sig/datadog/core/telemetry/event.rbs
  sig/datadog/core/telemetry/ext.rbs
  sig/datadog/core/telemetry/http/ext.rbs
  sig/datadog/core/telemetry/http/transport.rbs
  sig/datadog/core/telemetry/worker.rbs
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/core/telemetry/component_spec.rb
  spec/datadog/core/telemetry/emitter_spec.rb
  spec/datadog/core/telemetry/http/transport_spec.rb
  static-analysis.datadog.yml
Labels: core

#3790 Fix AppSec crash when parsing integer http headers
  lib/datadog/appsec/contrib/rack/gateway/request.rb
  spec/datadog/appsec/contrib/rack/gateway/request_spec.rb
Labels: integrations, appsec

#3793 [PROF-10124] Lower value used to clamp very high allocation profiling weights
  ext/datadog_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
Labels: profiling

#3798 [PROF-10201] Disable profiler allocation counting feature by default
  ext/datadog_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  lib/datadog/core/configuration/settings.rb
  lib/datadog/profiling.rb
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  lib/datadog/profiling/component.rb
  sig/datadog/profiling/collectors/cpu_and_wall_time_worker.rbs
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/component_spec.rb
Labels: core, profiling

#3792 [PROF-10123] Add placeholder for skipped samples in allocation profiler, second try
  ext/datadog_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/datadog_profiling_native_extension/collectors_stack.c
  ext/datadog_profiling_native_extension/collectors_thread_context.c
  ext/datadog_profiling_native_extension/collectors_thread_context.h
  ext/datadog_profiling_native_extension/heap_recorder.c
  ext/datadog_profiling_native_extension/heap_recorder.h
  ext/datadog_profiling_native_extension/stack_recorder.c
  ext/datadog_profiling_native_extension/stack_recorder.h
  lib/datadog/profiling/profiler.rb
  lib/datadog/profiling/scheduler.rb
  sig/datadog/profiling/scheduler.rbs
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/collectors/thread_context_spec.rb
  spec/datadog/profiling/profiler_spec.rb
  spec/datadog/profiling/scheduler_spec.rb
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: profiling

#3805 [PROF-10201] Reduce allocation profiling overhead by replacing tracepoint with lower-level API
  ext/datadog_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
Labels: profiling

#3806 [NO-TICKET] Fix profiler flaky test
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
Labels: dev/testing

#3803 Fork injection
  lib-injection/host_inject.rb
Labels: single-step

#3762 [Docs] Clarify description for propagation_extract_first
  docs/GettingStarted.md
  docs/legacy/GettingStarted-v1.md
Labels: docs

#3800 Use unified Gitlab pipeline for APM libraries
  .github/workflows/lib-injection.yml
  .github/workflows/release-lib-injection.yml
  .gitlab-ci.yml
  .gitlab/benchmarks.yml
  .gitlab/build-deb-rpm.sh
  .gitlab/build-oci-package.sh
  .gitlab/install_datadog_deps.rb
  .gitlab/prepare-oci-package.sh
  .gitlab/prepare_image_destinations.rb
  gemfiles/jruby_9.4_graphql_2.3.gemfile
  gemfiles/jruby_9.4_graphql_2.3.gemfile.lock
  gemfiles/ruby_2.7_graphql_2.3.gemfile
  gemfiles/ruby_2.7_graphql_2.3.gemfile.lock
  gemfiles/ruby_3.0_graphql_2.3.gemfile
  gemfiles/ruby_3.0_graphql_2.3.gemfile.lock
  gemfiles/ruby_3.1_graphql_2.3.gemfile
  gemfiles/ruby_3.1_graphql_2.3.gemfile.lock
  gemfiles/ruby_3.2_graphql_2.3.gemfile
  gemfiles/ruby_3.2_graphql_2.3.gemfile.lock
  gemfiles/ruby_3.3_graphql_2.3.gemfile
  gemfiles/ruby_3.3_graphql_2.3.gemfile.lock
  gemfiles/ruby_3.4_graphql_2.3.gemfile
  gemfiles/ruby_3.4_graphql_2.3.gemfile.lock
  lib-injection/Dockerfile
  lib-injection/auto_inject.rb
  lib-injection/copy-lib.sh
  lib-injection/host_inject.rb
Labels: single-step

#3811 Disable "Consider using fetch on hash key" cop
  static-analysis.datadog.yml
Labels: dev/tooling

#3812 Add log instructions for Lograge users
  docs/GettingStarted.md
Labels: docs

#3796 fix(errors): revert breaking change
  lib/datadog/tracing/metadata/errors.rb
  spec/datadog/tracing/metadata/errors_spec.rb
Labels: tracing
