Repository DataDog/dd-trace-rb, pull requests merged in 2024-05, with the labels that each got.

#3617 [NO-TICKET] Fix error during telemetry debug logging attempt
  lib/datadog/core/telemetry/emitter.rb
  lib/datadog/core/telemetry/http/response.rb
  spec/datadog/core/telemetry/emitter_spec.rb
Labels: core

#3616 Add sampling rule glob pattern support
  lib/datadog/tracing/sampling/ext.rb
  lib/datadog/tracing/sampling/matcher.rb
  lib/datadog/tracing/sampling/rule.rb
  lib/datadog/tracing/sampling/span/matcher.rb
  sig/datadog/tracing/sampling/matcher.rbs
  spec/datadog/tracing/sampling/matcher_spec.rb
  spec/datadog/tracing/sampling/rule_sampler_spec.rb
  spec/datadog/tracing/sampling/rule_spec.rb
Labels: tracing

#3626 Create Folder for Legacy v1.x Documentation
  docs/Compatibility.md
  docs/GettingStarted.md
  docs/legacy/Compatibility-v1.md
  docs/legacy/GettingStarted-v1.md
Labels: docs

#3624 Fix environment logger repeated entries
  lib/datadog/tracing/component.rb
  sig/datadog/tracing/component.rbs
  spec/datadog/tracing/component_spec.rb
Labels: tracing

#3572 feat(otel): add support for span links
  lib/datadog/opentelemetry/sdk/span_processor.rb
  lib/datadog/tracing/span_operation.rb
  sig/datadog/tracing/span_operation.rbs
  spec/datadog/opentelemetry_spec.rb
  spec/datadog/tracing/span_operation_spec.rb
Labels: tracing

#3623 Backport file force remove
  lib-injection/auto_inject.rb
Labels: dev/internal

#3619 Backport "[PROF-9650] Enable endpoint profiling for Sidekiq and similar background job processors" to 1.x-stable
  ext/datadog_profiling_native_extension/collectors_thread_context.c
  spec/datadog/profiling/collectors/thread_context_spec.rb
Labels: profiling

#3620 Backport "[PROF-9472] Add recorder_stats and profile_stats to internal metadata" to 1.x-stable
  ext/datadog_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/datadog_profiling_native_extension/heap_recorder.c
  ext/datadog_profiling_native_extension/heap_recorder.h
  ext/datadog_profiling_native_extension/ruby_helpers.h
  ext/datadog_profiling_native_extension/stack_recorder.c
  lib/datadog/profiling/exporter.rb
  lib/datadog/profiling/stack_recorder.rb
  sig/datadog/profiling/stack_recorder.rbs
  spec/datadog/profiling/exporter_spec.rb
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: profiling

#3618 Backport "[NO-TICKET] Fix error during telemetry debug logging attempt" to 1.x-stable
  lib/datadog/core/telemetry/emitter.rb
  lib/datadog/core/telemetry/http/response.rb
  spec/datadog/core/telemetry/emitter_spec.rb
Labels: core

#3621 [NO-TICKET] Remove profiler support for Ruby 2.3 and 2.4
  ext/datadog_profiling_native_extension/NativeExtensionDesign.md
  ext/datadog_profiling_native_extension/extconf.rb
  ext/datadog_profiling_native_extension/native_extension_helpers.rb
  ext/datadog_profiling_native_extension/private_vm_api_access.c
  ext/datadog_profiling_native_extension/ruby_helpers.h
  integration/apps/rack/app/acme.rb
  integration/apps/rack/app/resque_background_job.rb
  integration/apps/rack/app/sidekiq_background_job.rb
  integration/apps/rack/spec/integration/basic_spec.rb
  integration/apps/rails-five/config/initializers/resque.rb
  integration/apps/rails-seven/config/initializers/resque.rb
  integration/apps/rails-seven/spec/integration/basic_spec.rb
  integration/apps/rails-six/config/initializers/resque.rb
  integration/apps/rails-six/spec/integration/basic_spec.rb
  integration/apps/sinatra2-classic/Gemfile
  integration/apps/sinatra2-classic/app/acme.rb
  integration/apps/sinatra2-classic/spec/integration/basic_spec.rb
  integration/apps/sinatra2-modular/Gemfile
  integration/apps/sinatra2-modular/app/health.rb
  integration/apps/sinatra2-modular/spec/integration/basic_spec.rb
  integration/images/include/build_datadog_profiling_native_extension.rb
  lib/datadog/profiling/component.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/collectors/stack_spec.rb
  spec/datadog/profiling/collectors/thread_context_spec.rb
  spec/datadog/profiling/component_spec.rb
  spec/datadog/profiling/native_extension_helpers_spec.rb
  spec/datadog/profiling/scheduler_spec.rb
  spec/datadog/profiling/spec_helper.rb
Labels: profiling

#3629 Add apm-idm-ruby as CODEOWNERS to contrib
  .github/CODEOWNERS
Labels: dev/github

#3633 Update changelog with release 1.23.0
  CHANGELOG.md
Labels: docs, release

#3637 Two spelling fixes
  lib/datadog/core/remote/configuration/repository.rb
  lib/datadog/core/remote/dispatcher.rb
Labels: core

#3630 Cache ActiveRecord configuration resolver
  lib/datadog/tracing/contrib/active_record/configuration/resolver.rb
  lib/datadog/tracing/contrib/active_record/integration.rb
  lib/datadog/tracing/contrib/configuration/resolver.rb
  spec/datadog/tracing/contrib/active_record/configuration/resolver_spec.rb
  spec/datadog/tracing/contrib/active_record/instantiation_spec.rb
  spec/datadog/tracing/contrib/configuration/resolver_spec.rb
Labels: integrations, tracing

#3640 DEBUG-2334 Add Debugger component
  lib/datadog.rb
  lib/datadog/core/configuration/components.rb
  lib/datadog/debugger.rb
  lib/datadog/debugger/component.rb
  lib/datadog/debugger/configuration.rb
  lib/datadog/debugger/configuration/settings.rb
  lib/datadog/debugger/extensions.rb
  sig/datadog/core/configuration/settings.rbs
  sig/datadog/debugger.rbs
  sig/datadog/debugger/component.rbs
  sig/datadog/debugger/configuration.rbs
  sig/datadog/debugger/configuration/settings.rbs
  sig/datadog/debugger/extensions.rbs
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/debugger/component_spec.rb
  spec/datadog/debugger/configuration/settings_spec.rb
Labels: core

#3642 Ship with latest msgpack for lib injection artifacts
  .gitlab/install_datadog_deps.rb
Labels: dev/tooling

#3636 DEBUG-2334 Change Dispatcher constructor to directly accept receivers
  lib/datadog/core/remote/client.rb
  lib/datadog/core/remote/dispatcher.rb
  sig/datadog/core/remote/dispatcher.rbs
  spec/datadog/core/remote/dispatcher_spec.rb
Labels: core

#3645 Make appsec work without tracing
  lib/datadog/appsec/contrib/devise/tracking.rb
  shell.nix
Labels: integrations, appsec

#3650 Backport #3645
  lib/datadog/appsec/contrib/devise/tracking.rb
  shell.nix
Labels: integrations, appsec

#3655 Remove bundler cache in for `setup-ruby`
  .github/workflows/test-macos.yaml
Labels: dev/github

#3659 Backport "Build jruby-9.4 image with 9.4.7.0 version"
  .circleci/images/primary/Dockerfile-jruby-9.4.7.0
  .github/workflows/build-ruby.yml
  docker-compose.yml
Labels: dev/github

#3658 Backport macos tess bundle changes
  .github/workflows/test-macos.yaml
Labels: dev/github

#3663 Revert "DEBUG-2334 Add Debugger component (#3640)"
  lib/datadog.rb
  lib/datadog/core/configuration/components.rb
  lib/datadog/debugger.rb
  lib/datadog/debugger/component.rb
  lib/datadog/debugger/configuration.rb
  lib/datadog/debugger/configuration/settings.rb
  lib/datadog/debugger/extensions.rb
  sig/datadog/core/configuration/settings.rbs
  sig/datadog/debugger.rbs
  sig/datadog/debugger/component.rbs
  sig/datadog/debugger/configuration.rbs
  sig/datadog/debugger/configuration/settings.rbs
  sig/datadog/debugger/extensions.rbs
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/debugger/component_spec.rb
  spec/datadog/debugger/configuration/settings_spec.rb
Labels: core

#3668 Add a note about `use` vs `instrument`
  docs/UpgradeGuide2.md
Labels: docs

#3670 Extract trace id format for log correlation
  lib/datadog/tracing/correlation.rb
  spec/datadog/tracing/correlation_spec.rb
Labels: dev/refactor, tracing

#3662 Build oci package
  .gitlab-ci.yml
  .gitlab/build-oci-package.sh
  .gitlab/onboarding_tests.yml
Labels: dev/internal

#3667 GitHub: Update Labeler bot with new products
  .github/labeler.yml
Labels: dev/github

#3673 Remove experimental warning from OpenTelemetry.md
  docs/OpenTelemetry.md
Labels: docs
