Repository DataDog/dd-trace-rb, pull requests merged in 2024-08, with the labels that each got.

#3816 [PROF-10275] Enable crashtracking telemetry by default when profiler is enabled
  .gitlab/benchmarks.yml
  lib/datadog/core/configuration/settings.rb
  lib/datadog/profiling/component.rb
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/profiling/component_spec.rb
Labels: core, profiling

#3821 Pin passenger version for integration test
  integration/apps/rack/Gemfile
Labels: dev/testing

#3817 Fix symlink from injection artifact
  .gitlab/prepare-oci-package.sh
Labels: dev/tooling, dev/internal

#3822 Add vaccine job for injection artifacts
  .gitlab-ci.yml
Labels: dev/ci

#3824 [PROF-10241] Extract libdatadog crashtracker telemetry into separate extension
  Rakefile
  datadog.gemspec
  ext/datadog_profiling_native_extension/datadog_ruby_common.c
  ext/datadog_profiling_native_extension/datadog_ruby_common.h
  ext/datadog_profiling_native_extension/extconf.rb
  ext/datadog_profiling_native_extension/helpers.h
  ext/datadog_profiling_native_extension/http_transport.c
  ext/datadog_profiling_native_extension/libdatadog_helpers.c
  ext/datadog_profiling_native_extension/libdatadog_helpers.h
  ext/datadog_profiling_native_extension/native_extension_helpers.rb
  ext/datadog_profiling_native_extension/profiling.c
  ext/datadog_profiling_native_extension/ruby_helpers.c
  ext/datadog_profiling_native_extension/ruby_helpers.h
  ext/datadog_profiling_native_extension/setup_signal_handler.h
  ext/libdatadog_api/crashtracker.c
  ext/libdatadog_api/datadog_ruby_common.c
  ext/libdatadog_api/datadog_ruby_common.h
  ext/libdatadog_api/extconf.rb
  ext/libdatadog_api/macos_development.md
  ext/libdatadog_extconf_helpers.rb
  lib/datadog/profiling/component.rb
  lib/datadog/profiling/crashtracker.rb
  sig/datadog/profiling/crashtracker.rbs
  spec/datadog/profiling/component_spec.rb
  spec/datadog/profiling/http_transport_spec.rb
  spec/datadog/profiling/native_extension_helpers_spec.rb
Labels: profiling

#3827 DEBUG-2657 remove benchmark dogstatsd reporting & run_forever
  benchmarks/dogstatsd_reporter.rb
  benchmarks/profiler_allocation.rb
  benchmarks/profiler_gc.rb
  benchmarks/profiler_hold_resume_interruptions.rb
  benchmarks/profiler_http_transport.rb
  benchmarks/profiler_memory_sample_serialize.rb
  benchmarks/profiler_sample_loop_v2.rb
  benchmarks/profiler_sample_serialize.rb
Labels: dev/testing

#3829 [PROF-10241] Extract profiler `at_fork` monkey patch to utils
  Steepfile
  docs/ProfilingDevelopment.md
  lib/datadog/core/utils/at_fork_monkey_patch.rb
  lib/datadog/profiling.rb
  lib/datadog/profiling/tasks/setup.rb
  sig/datadog/core/utils/at_fork_monkey_patch.rbs
  sig/datadog/profiling/ext/forking.rbs
  spec/datadog/core/utils/at_fork_monkey_patch_spec.rb
  spec/datadog/profiling/tasks/setup_spec.rb
Labels: core, profiling

#3830 [PROF-10241] Use Process._fork hook in `at_fork` monkey patch on Ruby 3.1+
  lib/datadog/core/utils/at_fork_monkey_patch.rb
  spec/datadog/core/utils/at_fork_monkey_patch_spec.rb
Labels: core

#3836 Suppress startup logs in test and development environments
  lib/datadog/core/diagnostics/environment_logger.rb
  sig/datadog/core/diagnostics/environment_logger.rbs
  sig/datadog/core/environment/execution.rbs
  spec/datadog/core/diagnostics/environment_logger_spec.rb
  spec/datadog/tracing/diagnostics/environment_logger_spec.rb
Labels: core

#3834 [PROF-10241] Fix issue in tests by simplifying `at_fork` monkey patch
  lib/datadog/core/utils/at_fork_monkey_patch.rb
  lib/datadog/profiling/tasks/setup.rb
  spec/datadog/core/utils/at_fork_monkey_patch_spec.rb
  spec/datadog/profiling/tasks/setup_spec.rb
Labels: core, profiling

#3828 DEBUG-2657 prefix benchmark names with the product as per their source file
  benchmarks/benchmarks_helper.rb
  benchmarks/benchmarks_ips_patch.rb
  benchmarks/library_gem_loading.rb
  benchmarks/profiler_allocation.rb
  benchmarks/profiler_gc.rb
  benchmarks/profiler_hold_resume_interruptions.rb
  benchmarks/profiler_http_transport.rb
  benchmarks/profiler_memory_sample_serialize.rb
  benchmarks/profiler_sample_loop_v2.rb
  benchmarks/profiler_sample_serialize.rb
  benchmarks/tracing_trace.rb
Labels: dev/testing

#3833 [NO-TICKET] Don't put results in benchmarking folder directly
  benchmarks/library_gem_loading.rb
  benchmarks/profiler_allocation.rb
  benchmarks/profiler_gc.rb
  benchmarks/profiler_hold_resume_interruptions.rb
  benchmarks/profiler_http_transport.rb
  benchmarks/profiler_memory_sample_serialize.rb
  benchmarks/profiler_sample_loop_v2.rb
  benchmarks/profiler_sample_serialize.rb
  benchmarks/tracing_trace.rb
Labels: dev/testing

#3841 Make user_id optional for track_login_failure
  lib/datadog/kit/appsec/events.rb
  spec/datadog/kit/appsec/events_spec.rb
Labels: mergequeue-status: removed

#3809 DBM: Add option to append SQL comment propagation
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/mysql2/configuration/settings.rb
  lib/datadog/tracing/contrib/mysql2/instrumentation.rb
  lib/datadog/tracing/contrib/pg/configuration/settings.rb
  lib/datadog/tracing/contrib/pg/instrumentation.rb
  lib/datadog/tracing/contrib/propagation/sql_comment.rb
  lib/datadog/tracing/contrib/propagation/sql_comment/mode.rb
  lib/datadog/tracing/contrib/trilogy/configuration/settings.rb
  lib/datadog/tracing/contrib/trilogy/instrumentation.rb
  sig/datadog/tracing/contrib/propagation/sql_comment.rbs
  sig/datadog/tracing/contrib/propagation/sql_comment/comment.rbs
  sig/datadog/tracing/contrib/propagation/sql_comment/mode.rbs
  spec/datadog/tracing/contrib/propagation/sql_comment/mode_spec.rb
  spec/datadog/tracing/contrib/propagation/sql_comment_spec.rb
  spec/datadog/tracing/contrib/sql_comment_propagation_examples.rb
Labels: integrations, tracing, dbm

#3837 [PROF-10128] Refactor and speed up profiler stack sampling
  ext/datadog_profiling_native_extension/collectors_discrete_dynamic_sampler.c
  ext/datadog_profiling_native_extension/collectors_stack.c
  ext/datadog_profiling_native_extension/collectors_stack.h
  ext/datadog_profiling_native_extension/collectors_thread_context.c
  ext/datadog_profiling_native_extension/datadog_ruby_common.h
  ext/datadog_profiling_native_extension/extconf.rb
  ext/datadog_profiling_native_extension/heap_recorder.c
  ext/datadog_profiling_native_extension/private_vm_api_access.c
  ext/datadog_profiling_native_extension/private_vm_api_access.h
  ext/libdatadog_api/datadog_ruby_common.h
  ext/libdatadog_api/extconf.rb
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: profiling

#3801 [NO-TICKET] RFC: Adopt standardrb for Profiler
  .circleci/config.yml
  .git-blame-ignore-revs
  .rubocop.yml
  .standard.yml
  .standard_todo.yml
  Appraisals
  Gemfile
  Rakefile
  ext/datadog_profiling_native_extension/extconf.rb
  ext/datadog_profiling_native_extension/native_extension_helpers.rb
  lib/datadog/profiling.rb
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  lib/datadog/profiling/collectors/idle_sampling_helper.rb
  lib/datadog/profiling/collectors/thread_context.rb
  lib/datadog/profiling/component.rb
  lib/datadog/profiling/http_transport.rb
  lib/datadog/profiling/load_native_extension.rb
  lib/datadog/profiling/profiler.rb
  lib/datadog/profiling/scheduler.rb
  lib/datadog/profiling/tasks/exec.rb
  lib/datadog/profiling/tasks/setup.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/collectors/info_spec.rb
  spec/datadog/profiling/collectors/interesting_backtrace_helper.rb
  spec/datadog/profiling/collectors/stack_spec.rb
  spec/datadog/profiling/collectors/thread_context_spec.rb
  spec/datadog/profiling/ext/dir_monkey_patches_spec.rb
  spec/datadog/profiling/http_transport_spec.rb
  spec/datadog/profiling/native_extension_helpers_spec.rb
  spec/datadog/profiling/native_extension_spec.rb
  spec/datadog/profiling/scheduler_spec.rb
  spec/datadog/profiling/spec_helper.rb
  spec/datadog/profiling/stack_recorder_spec.rb
  spec/datadog/release_gem_spec.rb
Labels: profiling

#3839 Emit log message for incompatible Lograge setup
  lib/datadog/tracing/contrib/lograge/patcher.rb
  spec/datadog/tracing/contrib/lograge/patcher_spec.rb
Labels: integrations, tracing

#3843 Add missing includes to fix build and LSP errors on Mac
  ext/datadog_profiling_native_extension/clock_id.h
  ext/datadog_profiling_native_extension/clock_id_from_pthread.c
  ext/datadog_profiling_native_extension/clock_id_noop.c
Labels: profiling

#3844 [NO-TICKET] Apply more of standardrb autoformatter to profiler files
  .git-blame-ignore-revs
  .standard_todo.yml
  ext/datadog_profiling_native_extension/native_extension_helpers.rb
  lib/datadog/profiling/collectors/code_provenance.rb
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  lib/datadog/profiling/collectors/idle_sampling_helper.rb
  lib/datadog/profiling/component.rb
  lib/datadog/profiling/crashtracker.rb
  lib/datadog/profiling/scheduler.rb
  lib/datadog/profiling/tasks/setup.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/collectors/info_spec.rb
  spec/datadog/profiling/collectors/stack_spec.rb
  spec/datadog/profiling/collectors/thread_context_spec.rb
  spec/datadog/profiling/component_spec.rb
  spec/datadog/profiling/crashtracker_spec.rb
  spec/datadog/profiling/exporter_spec.rb
  spec/datadog/profiling/ext/dir_monkey_patches_spec.rb
  spec/datadog/profiling/flush_spec.rb
  spec/datadog/profiling/http_transport_spec.rb
  spec/datadog/profiling/scheduler_spec.rb
  spec/datadog/profiling/spec_helper.rb
  spec/datadog/profiling/stack_recorder_spec.rb
  spec/datadog/profiling/tag_builder_spec.rb
Labels: profiling

#3845 [NO-TICKET] Finish autoformatting profiler with standardrb
  .git-blame-ignore-revs
  .standard_todo.yml
  ext/datadog_profiling_loader/extconf.rb
  ext/datadog_profiling_native_extension/extconf.rb
  ext/datadog_profiling_native_extension/native_extension_helpers.rb
  lib/datadog/profiling/collectors/code_provenance.rb
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  lib/datadog/profiling/collectors/idle_sampling_helper.rb
  lib/datadog/profiling/collectors/info.rb
  lib/datadog/profiling/component.rb
  lib/datadog/profiling/crashtracker.rb
  lib/datadog/profiling/exporter.rb
  lib/datadog/profiling/ext.rb
  lib/datadog/profiling/ext/dir_monkey_patches.rb
  lib/datadog/profiling/flush.rb
  lib/datadog/profiling/http_transport.rb
  lib/datadog/profiling/load_native_extension.rb
  lib/datadog/profiling/preload.rb
  lib/datadog/profiling/profiler.rb
  lib/datadog/profiling/scheduler.rb
  lib/datadog/profiling/tag_builder.rb
  lib/datadog/profiling/tasks/exec.rb
  lib/datadog/profiling/tasks/setup.rb
  spec/datadog/profiling/collectors/code_provenance_spec.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/collectors/discrete_dynamic_sampler_spec.rb
  spec/datadog/profiling/collectors/dynamic_sampling_rate_spec.rb
  spec/datadog/profiling/collectors/idle_sampling_helper_spec.rb
  spec/datadog/profiling/collectors/info_spec.rb
  spec/datadog/profiling/collectors/stack_spec.rb
  spec/datadog/profiling/collectors/thread_context_spec.rb
  spec/datadog/profiling/component_spec.rb
  spec/datadog/profiling/crashtracker_spec.rb
  spec/datadog/profiling/exporter_spec.rb
  spec/datadog/profiling/ext/dir_monkey_patches_spec.rb
  spec/datadog/profiling/flush_spec.rb
  spec/datadog/profiling/http_transport_spec.rb
  spec/datadog/profiling/load_native_extension_spec.rb
  spec/datadog/profiling/native_extension_helpers_spec.rb
  spec/datadog/profiling/native_extension_spec.rb
  spec/datadog/profiling/pprof/pprof_pb.rb
  spec/datadog/profiling/preload_spec.rb
  spec/datadog/profiling/profiler_spec.rb
  spec/datadog/profiling/scheduler_spec.rb
  spec/datadog/profiling/spec_helper.rb
  spec/datadog/profiling/stack_recorder_spec.rb
  spec/datadog/profiling/tag_builder_spec.rb
  spec/datadog/profiling/tasks/exec_spec.rb
  spec/datadog/profiling/tasks/help_spec.rb
  spec/datadog/profiling/tasks/setup_spec.rb
  spec/datadog/profiling/validate_benchmarks_spec.rb
Labels: profiling

#3826 Enable crashtracking without profiler
  .gitlab/install_datadog_deps.rb
  Matrixfile
  Rakefile
  ext/libdatadog_api/crashtracker.c
  lib/datadog/core/configuration/components.rb
  lib/datadog/core/configuration/settings.rb
  lib/datadog/core/crashtracking/agent_base_url.rb
  lib/datadog/core/crashtracking/component.rb
  lib/datadog/core/crashtracking/tag_builder.rb
  lib/datadog/profiling.rb
  lib/datadog/profiling/component.rb
  lib/datadog/profiling/crashtracker.rb
  lib/datadog/profiling/profiler.rb
  sig/datadog/core/configuration/settings.rbs
  sig/datadog/core/crashtracking/agent_base_url.rbs
  sig/datadog/core/crashtracking/component.rbs
  sig/datadog/core/crashtracking/tag_builder.rbs
  sig/datadog/core/utils/at_fork_monkey_patch.rbs
  sig/datadog/profiling/component.rbs
  sig/datadog/profiling/crashtracker.rbs
  sig/datadog/profiling/profiler.rbs
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/core/crashtracking/agent_base_url_spec.rb
  spec/datadog/core/crashtracking/component_spec.rb
  spec/datadog/core/crashtracking/tag_builder_spec.rb
  spec/datadog/core/telemetry/event_spec.rb
  spec/datadog/profiling/component_spec.rb
  spec/datadog/profiling/crashtracker_spec.rb
  spec/datadog/profiling/profiler_spec.rb
  spec/datadog/release_gem_spec.rb
  spec/spec_helper.rb
  spec/support/crashtracking_helpers.rb
Labels: core, profiling

#3847 [PROF-10241] Add extra tags to crash reports
  lib/datadog/core/crashtracking/tag_builder.rb
  spec/datadog/core/crashtracking/tag_builder_spec.rb
Labels: core

#3848 [PROF-10128] Workaround heap profiling flaky spec on Ruby 3.3+
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: dev/testing

#3850 Implement telemetry log
  lib/datadog/core/telemetry/component.rb
  lib/datadog/core/telemetry/event.rb
  lib/datadog/core/telemetry/logging.rb
  sig/datadog/core/telemetry/component.rbs
  sig/datadog/core/telemetry/event.rbs
  sig/datadog/core/telemetry/logging.rbs
  spec/datadog/core/telemetry/component_spec.rb
  spec/datadog/core/telemetry/event_spec.rb
  spec/datadog/core/telemetry/logging_spec.rb
Labels: core

#3854 Cleanup docker compose
  .env
  docker-compose.yml
Labels: dev/internal

#3856 [NO-TICKET] Fix profiler `inline` helpers not working when optimization disabled
  ext/datadog_profiling_native_extension/collectors_discrete_dynamic_sampler.c
  ext/datadog_profiling_native_extension/datadog_ruby_common.h
  ext/datadog_profiling_native_extension/helpers.h
  ext/datadog_profiling_native_extension/http_transport.c
  ext/datadog_profiling_native_extension/libdatadog_helpers.h
  ext/datadog_profiling_native_extension/private_vm_api_access.c
  ext/datadog_profiling_native_extension/time_helpers.h
  ext/libdatadog_api/datadog_ruby_common.h
  ext/libdatadog_api/extconf.rb
Labels: profiling

#3851 Fix confusion in the SpanFilter docstring
  lib/datadog/tracing/pipeline/span_filter.rb
Labels: tracing

#3860 ci: disable persist-credentials for actions/checkout in system-tests
  .github/workflows/system-tests.yml
Labels: dev/github, mergequeue-status: removed

#3857 Update default AppSec obfuscation regex
  lib/datadog/appsec/configuration/settings.rb
Labels: appsec

#3858 Send telemetry logs for Profiling
  lib/datadog/core/telemetry/logging.rb
  lib/datadog/profiling/component.rb
  lib/datadog/profiling/http_transport.rb
  lib/datadog/profiling/scheduler.rb
  lib/datadog/profiling/stack_recorder.rb
  sig/datadog/core/telemetry/logging.rbs
  spec/datadog/core/telemetry/logging_spec.rb
  spec/datadog/profiling/http_transport_spec.rb
  spec/datadog/profiling/scheduler_spec.rb
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: core, profiling, dev/internal

#3852 [NO-TICKET] Add memory leak testing for profiling + fix (small) memory leak in profiler
  .github/workflows/test-memory-leaks.yaml
  Gemfile
  Rakefile
  benchmarks/profiler_gc.rb
  ext/datadog_profiling_native_extension/collectors_stack.c
  ext/datadog_profiling_native_extension/collectors_thread_context.c
  ext/datadog_profiling_native_extension/private_vm_api_access.c
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/collectors/thread_context_spec.rb
  spec/datadog/profiling/native_extension_spec.rb
  spec/datadog/profiling/validate_benchmarks_spec.rb
  spec/datadog/release_gem_spec.rb
  suppressions/ruby-3.4.supp
Labels: dev/testing, dev/ci, performance, profiling

#3862 [NO-TICKET] Small set of profiler cleanups from ASAN testing branch
  ext/datadog_profiling_loader/datadog_profiling_loader.c
  ext/datadog_profiling_loader/extconf.rb
  ext/datadog_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/datadog_profiling_native_extension/collectors_discrete_dynamic_sampler.c
  ext/datadog_profiling_native_extension/collectors_stack.c
  ext/datadog_profiling_native_extension/collectors_thread_context.c
  ext/datadog_profiling_native_extension/extconf.rb
  ext/datadog_profiling_native_extension/heap_recorder.c
  ext/datadog_profiling_native_extension/profiling.c
Labels: profiling, dev/internal

#3864 [NO-TICKET] Add more memory leak testing for profiling using asan
  .github/workflows/test-memory-leaks.yaml
  ext/datadog_profiling_native_extension/extconf.rb
  suppressions/lsan.supp
Labels: dev/testing, dev/ci, profiling, dev/internal

#3873 Telemetry logs for AppSec
  lib/datadog/appsec/processor.rb
  lib/datadog/appsec/processor/rule_loader.rb
  lib/datadog/appsec/processor/rule_merger.rb
  sig/datadog/appsec/processor/rule_merger.rbs
  spec/datadog/appsec/processor/rule_loader_spec.rb
  spec/datadog/appsec/processor/rule_merger_spec.rb
  spec/datadog/appsec/processor_spec.rb
  spec/datadog/appsec/remote_spec.rb
Labels: appsec

#3878 Fix update-gemfiles workflow permissions
  .github/workflows/update-gemfiles.yml
Labels: dev/github

#3879 Fix permissions system-tests workflow
  .github/workflows/system-tests.yml
Labels: dev/github
