Repository DataDog/dd-trace-rb, pull requests merged in 2024-09, with the labels that each got.

#3877 Backport disable persist credentials
  .github/workflows/lib-injection.yml
  .github/workflows/system-tests.yml
Labels: dev/github

#3870 DEBUG-2334 Move tracing rate limiters to Core
  Steepfile
  lib/datadog/core/rate_limiter.rb
  lib/datadog/tracing/sampling/rate_limiter.rb
  lib/datadog/tracing/sampling/rule_sampler.rb
  lib/datadog/tracing/sampling/span/ext.rb
  lib/datadog/tracing/sampling/span/rule.rb
  sig/datadog/core/rate_limiter.rbs
  sig/datadog/tracing/sampling/rate_limiter.rbs
  spec/datadog/core/rate_limiter_spec.rb
  spec/datadog/tracing/sampling/rule_sampler_spec.rb
Labels: core, tracing

#3883 Fix system tests
  .github/workflows/system-tests.yml
Labels: dev/github

#3882 DEBUG-2334 default token bucket allow? size to 1
  lib/datadog/core/rate_limiter.rb
  lib/datadog/tracing/sampling/rule_sampler.rb
  lib/datadog/tracing/sampling/span/rule.rb
  spec/datadog/core/rate_limiter_spec.rb
  spec/datadog/tracing/sampling/rule_sampler_spec.rb
Labels: core, tracing

#3881 [SDTEST-756] add +ci-X.Y.Z to the tracer_version reported to internal telemetry if datadog-ci is present and CI mode is enabled
  Steepfile
  lib/datadog/core/telemetry/request.rb
  spec/datadog/core/telemetry/request_spec.rb
  vendor/rbs/datadog-ci/0/datadog_ci.rbs
Labels: core

#3898 [NO-TICKET] add missing permissions for add-milestone gha workflow
  .github/workflows/add-milestone-to-pull-requests.yml
Labels: dev/github

#3893 Update dependency tasks
  tasks/edge.rake
Labels: dev/internal

#3900 Remove obsolete OnlyOnce during patching
  lib/datadog/tracing/contrib/action_cable/instrumentation.rb
  lib/datadog/tracing/contrib/httpclient/patcher.rb
  lib/datadog/tracing/contrib/httprb/patcher.rb
  lib/datadog/tracing/contrib/lograge/patcher.rb
  lib/datadog/tracing/contrib/presto/patcher.rb
  spec/datadog/tracing/contrib/lograge/patcher_spec.rb
Labels: integrations, dev/refactor, tracing, dev/internal

#3899 Add telemetry logs for instrumentations
  lib/datadog/tracing/contrib/action_pack/action_controller/instrumentation.rb
  lib/datadog/tracing/contrib/active_record/configuration/resolver.rb
  lib/datadog/tracing/contrib/elasticsearch/patcher.rb
  lib/datadog/tracing/contrib/grape/endpoint.rb
  lib/datadog/tracing/contrib/http/instrumentation.rb
  lib/datadog/tracing/contrib/httpclient/instrumentation.rb
  lib/datadog/tracing/contrib/httprb/instrumentation.rb
  lib/datadog/tracing/contrib/opensearch/patcher.rb
  lib/datadog/tracing/contrib/patcher.rb
  spec/datadog/tracing/contrib/active_record/configuration/resolver_spec.rb
  spec/datadog/tracing/contrib/grape/tracer_spec.rb
  spec/datadog/tracing/contrib/patcher_spec.rb
Labels: integrations, dev/refactor, tracing, dev/internal

#3887 Fix building of GraphQL queries arguments hash
  lib/datadog/appsec/contrib/graphql/appsec_trace.rb
  lib/datadog/appsec/contrib/graphql/gateway/multiplex.rb
  lib/datadog/appsec/contrib/graphql/gateway/watcher.rb
  lib/datadog/appsec/contrib/graphql/integration.rb
  spec/datadog/appsec/contrib/graphql/gateway/multiplex_spec.rb
  spec/datadog/appsec/contrib/graphql/integration_spec.rb
  spec/datadog/appsec/contrib/graphql/reactive/multiplex_spec.rb
Labels: integrations, appsec

#3904 DEBUG-2334 Add more redaction test cases
  spec/datadog/di/redactor_spec.rb
Labels: dev/testing

#3888 Add missing RC capabilities
  lib/datadog/tracing/remote.rb
  spec/datadog/core/remote/client/capabilities_spec.rb
  spec/datadog/tracing/remote_spec.rb
Labels: tracing

#3907 [NO-TICKET] Disable Dir interruption bug workaround on Ruby 3.4+
  lib/datadog/core/configuration/settings.rb
  lib/datadog/profiling/component.rb
  spec/datadog/profiling/component_spec.rb
Labels: core, profiling

#3910 Prevent telemetry deadlock with no-op
  lib/datadog/core/telemetry/logger.rb
  lib/datadog/core/telemetry/logging.rb
  spec/datadog/core/telemetry/logger_spec.rb
Labels: core, dev/internal

#3894 Update appsec waf rules to version 1.13.1
  lib/datadog/appsec/assets/waf_rules/recommended.json
  lib/datadog/appsec/assets/waf_rules/strict.json
Labels: appsec

#3865 Add telemetry logs for Tracing
  lib/datadog/core/metrics/client.rb
  lib/datadog/core/remote/component.rb
  lib/datadog/core/remote/negotiation.rb
  lib/datadog/core/runtime/metrics.rb
  lib/datadog/core/telemetry/event.rb
  lib/datadog/opentelemetry/sdk/propagator.rb
  lib/datadog/tracing/distributed/propagation.rb
  lib/datadog/tracing/sampling/rate_sampler.rb
  lib/datadog/tracing/sampling/rule.rb
  lib/datadog/tracing/sampling/rule_sampler.rb
  lib/datadog/tracing/transport/http/client.rb
  lib/datadog/tracing/transport/io/client.rb
  lib/datadog/tracing/workers.rb
  lib/datadog/tracing/workers/trace_writer.rb
  spec/datadog/core/metrics/client_spec.rb
  spec/datadog/core/remote/negotiation_spec.rb
  spec/datadog/core/runtime/metrics_spec.rb
  spec/datadog/tracing/sampling/rate_sampler_spec.rb
  spec/datadog/tracing/sampling/rule_sampler_spec.rb
  spec/datadog/tracing/sampling/rule_spec.rb
Labels: core, tracing, dev/internal, otel

#3913 add auth for system tests aws tests and additional scenarios
  .github/workflows/system-tests.yml
Labels: dev/github

#3914 Fix some typos in docs
  docs/DevelopmentGuide.md
  docs/GettingStarted.md
  docs/UpgradeGuide.md
  docs/UpgradeGuide2.md
  docs/legacy/GettingStarted-v1.md
Labels: docs

#3915 [NO-TICKET] Temporarily disable memory leak asan testing in CI
  .github/workflows/test-memory-leaks.yaml
Labels: dev/github

#3859 Allow GraphQL integration reconfiguration
  Rakefile
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/graphql/patcher.rb
  lib/datadog/tracing/contrib/graphql/trace_patcher.rb
  lib/datadog/tracing/contrib/graphql/tracing_patcher.rb
  lib/datadog/tracing/contrib/graphql/unified_trace.rb
  lib/datadog/tracing/contrib/graphql/unified_trace_patcher.rb
  spec/datadog/tracing/contrib/graphql/patcher_spec.rb
  spec/datadog/tracing/contrib/graphql/test_schema_examples.rb
  spec/datadog/tracing/contrib/graphql/trace_patcher_spec.rb
  spec/datadog/tracing/contrib/graphql/tracing_patcher_spec.rb
  spec/datadog/tracing/contrib/graphql/unified_trace_patcher_spec.rb
Labels: integrations, tracing

#3867 Avoid tracking logins from Devise::Strategies::Rememberable
  lib/datadog/appsec/contrib/devise/patcher.rb
  lib/datadog/appsec/contrib/devise/patcher/authenticatable_patch.rb
  lib/datadog/appsec/contrib/devise/patcher/rememberable_patch.rb
  sig/datadog/appsec/contrib/devise/patcher/rememberable_patch.rbs
  spec/datadog/appsec/contrib/devise/patcher/authenticatable_patch_spec.rb
Labels: integrations, appsec

#3928 [NO-TICKET] Tweak duration of profiler_sample_serialize benchmark
  benchmarks/profiler_sample_serialize.rb
Labels: dev/testing

#3930 Update action version for Node 20
  .github/workflows/add-milestone-to-pull-requests.yml
  .github/workflows/build-gem.yml
  .github/workflows/pull-request-labeler.yml
  .github/workflows/system-tests.yml
  .github/workflows/yard.yml
Labels: dev/github

#3926 Lock dependencies workflow
  .github/dependency_filters.yml
  .github/workflows/lock-dependency.yml
  Appraisals
  Matrixfile
  appraisal/jruby-9.2.rb
  appraisal/jruby-9.3.rb
  appraisal/jruby-9.4.rb
  appraisal/ruby-2.5.rb
  appraisal/ruby-2.6.rb
  appraisal/ruby-2.7.rb
  appraisal/ruby-3.0.rb
  appraisal/ruby-3.1.rb
  appraisal/ruby-3.2.rb
  appraisal/ruby-3.3.rb
  appraisal/ruby-3.4.rb
  gemfiles/jruby_9.2_stripe_min.gemfile
  gemfiles/jruby_9.2_stripe_min.gemfile.lock
  gemfiles/jruby_9.3_stripe_min.gemfile
  gemfiles/jruby_9.3_stripe_min.gemfile.lock
  gemfiles/jruby_9.4_stripe_min.gemfile
  gemfiles/jruby_9.4_stripe_min.gemfile.lock
  gemfiles/ruby_2.5_stripe_min.gemfile
  gemfiles/ruby_2.5_stripe_min.gemfile.lock
  gemfiles/ruby_2.6_stripe_min.gemfile
  gemfiles/ruby_2.6_stripe_min.gemfile.lock
  gemfiles/ruby_2.7_stripe_min.gemfile
  gemfiles/ruby_2.7_stripe_min.gemfile.lock
  gemfiles/ruby_3.0_stripe_min.gemfile
  gemfiles/ruby_3.0_stripe_min.gemfile.lock
  gemfiles/ruby_3.1_stripe_min.gemfile
  gemfiles/ruby_3.1_stripe_min.gemfile.lock
  gemfiles/ruby_3.2_stripe_min.gemfile
  gemfiles/ruby_3.2_stripe_min.gemfile.lock
  gemfiles/ruby_3.3_stripe_min.gemfile
  gemfiles/ruby_3.3_stripe_min.gemfile.lock
  gemfiles/ruby_3.4_stripe_min.gemfile
  gemfiles/ruby_3.4_stripe_min.gemfile.lock
  lib/datadog/tracing/contrib/stripe/request.rb
  spec/datadog/tracing/contrib/stripe/request_spec.rb
  tasks/appraisal_conversion.rb
  tasks/dependency.rake
  tasks/edge.rake
Labels: integrations, dev/tooling, dev/testing, dev/github, tracing

#3927 Add auto-update gemfiles workflow
  .github/workflows/auto-update-gemfiles.yml
  gemfiles/ruby_3.0_rails7.gemfile
  gemfiles/ruby_3.0_rails7.gemfile.lock
  gemfiles/ruby_3.0_rails71.gemfile
  gemfiles/ruby_3.0_rails71.gemfile.lock
  gemfiles/ruby_3.1_rails7.gemfile
  gemfiles/ruby_3.1_rails7.gemfile.lock
  gemfiles/ruby_3.1_rails71.gemfile
  gemfiles/ruby_3.1_rails71.gemfile.lock
  gemfiles/ruby_3.2_rails7.gemfile
  gemfiles/ruby_3.2_rails7.gemfile.lock
  gemfiles/ruby_3.2_rails71.gemfile
  gemfiles/ruby_3.2_rails71.gemfile.lock
  gemfiles/ruby_3.3_rails7.gemfile
  gemfiles/ruby_3.3_rails7.gemfile.lock
  gemfiles/ruby_3.3_rails71.gemfile
  gemfiles/ruby_3.3_rails71.gemfile.lock
  gemfiles/ruby_3.4_rails7.gemfile
  gemfiles/ruby_3.4_rails7.gemfile.lock
  gemfiles/ruby_3.4_rails71.gemfile
  gemfiles/ruby_3.4_rails71.gemfile.lock
Labels: dev/github

#3929 [PROF-10422] Add GVL profiling as a preview feature
  benchmarks/profiler_gc.rb
  benchmarks/profiler_memory_sample_serialize.rb
  benchmarks/profiler_sample_loop_v2.rb
  benchmarks/profiler_sample_serialize.rb
  docs/ProfilingDevelopment.md
  ext/datadog_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/datadog_profiling_native_extension/collectors_stack.c
  ext/datadog_profiling_native_extension/collectors_thread_context.c
  ext/datadog_profiling_native_extension/collectors_thread_context.h
  ext/datadog_profiling_native_extension/datadog_ruby_common.h
  ext/datadog_profiling_native_extension/extconf.rb
  ext/datadog_profiling_native_extension/private_vm_api_access.h
  ext/datadog_profiling_native_extension/stack_recorder.h
  ext/libdatadog_api/crashtracker.c
  ext/libdatadog_api/datadog_ruby_common.h
  lib/datadog/core/configuration/settings.rb
  lib/datadog/core/telemetry/logger.rb
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  lib/datadog/profiling/collectors/thread_context.rb
  lib/datadog/profiling/component.rb
  sig/datadog/profiling/collectors/cpu_and_wall_time_worker.rbs
  sig/datadog/profiling/collectors/thread_context.rbs
  sig/datadog/profiling/component.rbs
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/core/telemetry/logger_spec.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/collectors/stack_spec.rb
  spec/datadog/profiling/collectors/thread_context_spec.rb
  spec/datadog/profiling/component_spec.rb
  spec/datadog/profiling/spec_helper.rb
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: core, profiling

#3932 Remove obsolete task
  .github/workflows/update-gemfiles.yml
  appraisal/ruby-2.6.rb
  tasks/appraisal.rake
Labels: dev/internal

#3933 Use PAT
  .github/workflows/lock-dependency.yml
  .github/workflows/update-latest-dependency.yml
Labels: dev/github

#3931 Split single step instrument entry point
  .rubocop_todo.yml
  lib-injection/host_inject.rb
  lib/datadog/single_step_instrument.rb
  sig/datadog/single_step_instrument.rbs
  spec/datadog/single_step_instrument_spec.rb
Labels: dev/internal, single-step

#3935 [🤖] Update Latest Dependency
  gemfiles/jruby_9.2_elasticsearch_latest.gemfile.lock
  gemfiles/jruby_9.2_opensearch_latest.gemfile.lock
  gemfiles/jruby_9.2_stripe_latest.gemfile.lock
  gemfiles/jruby_9.3_elasticsearch_latest.gemfile.lock
  gemfiles/jruby_9.3_opensearch_latest.gemfile.lock
  gemfiles/jruby_9.3_stripe_latest.gemfile.lock
  gemfiles/jruby_9.4_elasticsearch_latest.gemfile.lock
  gemfiles/jruby_9.4_opensearch_latest.gemfile.lock
  gemfiles/jruby_9.4_stripe_latest.gemfile.lock
  gemfiles/ruby_3.0_elasticsearch_latest.gemfile.lock
  gemfiles/ruby_3.0_opensearch_latest.gemfile.lock
  gemfiles/ruby_3.1_elasticsearch_latest.gemfile.lock
  gemfiles/ruby_3.1_opensearch_latest.gemfile.lock
  gemfiles/ruby_3.2_elasticsearch_latest.gemfile.lock
  gemfiles/ruby_3.2_opensearch_latest.gemfile.lock
  gemfiles/ruby_3.3_elasticsearch_latest.gemfile.lock
  gemfiles/ruby_3.3_opensearch_latest.gemfile.lock
  gemfiles/ruby_3.4_elasticsearch_latest.gemfile.lock
  gemfiles/ruby_3.4_opensearch_latest.gemfile.lock
Labels: integrations, dev/internal

#3937 Add missing GraphQL and Hanami tests to CI
  Matrixfile
  Rakefile
  docs/DevelopmentGuide.md
  spec/datadog/tracing/contrib/graphql/tracing_patcher_spec.rb
Labels: dev/internal

#3938 [🤖] Update Latest Dependency
  gemfiles/jruby_9.2_elasticsearch_latest.gemfile.lock
  gemfiles/jruby_9.2_opensearch_latest.gemfile.lock
  gemfiles/ruby_2.5_elasticsearch_latest.gemfile.lock
  gemfiles/ruby_2.5_opensearch_latest.gemfile.lock
Labels: integrations, dev/internal

#3948 [SDTEST-482] Add get_time_provider setting to avoid timecop mocking the clock_gettime
  lib/datadog/core/configuration/settings.rb
  lib/datadog/core/utils/time.rb
  sig/datadog/core/utils/time.rbs
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/tracing/span_operation_spec.rb
Labels: dev/internal

#3951 Rescue instrumentation errors
  lib/datadog/tracing/contrib/active_record/events/instantiation.rb
  lib/datadog/tracing/contrib/active_record/events/sql.rb
  lib/datadog/tracing/contrib/active_support/cache/events/cache.rb
  lib/datadog/tracing/contrib/aws/instrumentation.rb
  lib/datadog/tracing/contrib/faraday/middleware.rb
  lib/datadog/tracing/contrib/httpclient/instrumentation.rb
  lib/datadog/tracing/contrib/httprb/instrumentation.rb
  lib/datadog/tracing/contrib/mongodb/subscribers.rb
  lib/datadog/tracing/contrib/redis/tags.rb
  spec/datadog/tracing/contrib/active_record/events/instantiation_spec.rb
  spec/datadog/tracing/contrib/active_record/events/sql_spec.rb
  spec/datadog/tracing/contrib/active_support/cache/events/cache_spec.rb
  spec/datadog/tracing/contrib/redis/tags_spec.rb
Labels: dev/internal

#3952 Test `rack` latest
  Appraisals
  Matrixfile
  appraisal/jruby-9.2.rb
  appraisal/jruby-9.3.rb
  appraisal/jruby-9.4.rb
  appraisal/ruby-2.5.rb
  appraisal/ruby-2.6.rb
  appraisal/ruby-2.7.rb
  appraisal/ruby-3.0.rb
  appraisal/ruby-3.1.rb
  appraisal/ruby-3.2.rb
  appraisal/ruby-3.3.rb
  appraisal/ruby-3.4.rb
  gemfiles/jruby_9.2_rack_latest.gemfile
  gemfiles/jruby_9.2_rack_latest.gemfile.lock
  gemfiles/jruby_9.3_rack_latest.gemfile
  gemfiles/jruby_9.3_rack_latest.gemfile.lock
  gemfiles/jruby_9.4_rack_latest.gemfile
  gemfiles/jruby_9.4_rack_latest.gemfile.lock
  gemfiles/ruby_2.5_rack_latest.gemfile
  gemfiles/ruby_2.5_rack_latest.gemfile.lock
  gemfiles/ruby_2.6_rack_latest.gemfile
  gemfiles/ruby_2.6_rack_latest.gemfile.lock
  gemfiles/ruby_2.7_rack_latest.gemfile
  gemfiles/ruby_2.7_rack_latest.gemfile.lock
  gemfiles/ruby_3.0_rack_latest.gemfile
  gemfiles/ruby_3.0_rack_latest.gemfile.lock
  gemfiles/ruby_3.1_rack_latest.gemfile
  gemfiles/ruby_3.1_rack_latest.gemfile.lock
  gemfiles/ruby_3.2_rack_latest.gemfile
  gemfiles/ruby_3.2_rack_latest.gemfile.lock
  gemfiles/ruby_3.3_rack_latest.gemfile
  gemfiles/ruby_3.3_rack_latest.gemfile.lock
  gemfiles/ruby_3.4_rack_latest.gemfile
  gemfiles/ruby_3.4_rack_latest.gemfile.lock
  tasks/edge.rake
Labels: dev/testing

#3949 Remove benchmarks never ran.
  spec/datadog/tracing/contrib/active_record/performance_spec.rb
  spec/datadog/tracing/transport/http/benchmark_spec.rb
Labels: dev/testing

#3960 Fix `spec:appsec:rack` for Rack 3.1 (latest)
  Matrixfile
  lib/datadog/appsec/contrib/rack/gateway/request.rb
  spec/datadog/appsec/contrib/rack/gateway/request_spec.rb
Labels: dev/testing
