Repository DataDog/dd-trace-rb, pull requests merged in 2025-05, with the labels that each got.

#4618 Try DD_API_KEY instead of DD_APPSEC_SYSTEM_TESTS_API_KEY
  .github/workflows/system-tests.yml
Labels: dev/github

#4614 [NO-TICKET] Add baggage to karafka list of propagation styles
  lib/datadog/tracing/contrib/karafka/distributed/propagation.rb
  spec/datadog/tracing/contrib/grpc/distributed/propagation_spec.rb
  spec/datadog/tracing/contrib/http/distributed/propagation_spec.rb
  spec/datadog/tracing/contrib/karafka/distributed/propagation_spec.rb
  spec/datadog/tracing/contrib/sidekiq/distributed/propagation_spec.rb
Labels: integrations, tracing

#4616 [APMAPI-1258] Adjust trace sampling formula
  lib/datadog/tracing/distributed/b3_multi.rb
  lib/datadog/tracing/distributed/b3_single.rb
  lib/datadog/tracing/distributed/datadog.rb
  lib/datadog/tracing/sampling/rate_sampler.rb
  lib/datadog/tracing/utils.rb
  sig/datadog/tracing/sampling/rate_sampler.rbs
  spec/datadog/tracing/sampling/rate_sampler_spec.rb
Labels: tracing

#4575 DEBUG-3700 Remove duplicated classes from Telemetry transport
  lib/datadog/core/telemetry/emitter.rb
  lib/datadog/core/telemetry/http/adapters/net.rb
  lib/datadog/core/telemetry/http/env.rb
  lib/datadog/core/telemetry/http/response.rb
  lib/datadog/core/telemetry/http/transport.rb
  sig/datadog/core/configuration/agent_settings_resolver.rbs
  sig/datadog/core/telemetry/emitter.rbs
  sig/datadog/core/telemetry/http/adapters/net.rbs
  sig/datadog/core/telemetry/http/env.rbs
  sig/datadog/core/telemetry/http/response.rbs
  sig/datadog/core/telemetry/http/transport.rbs
  sig/datadog/core/telemetry/worker.rbs
  spec/datadog/core/telemetry/emitter_spec.rb
  spec/datadog/core/telemetry/http/adapters/net_spec.rb
  spec/datadog/core/telemetry/http/env_spec.rb
  spec/datadog/core/telemetry/http/response_spec.rb
  spec/datadog/core/telemetry/http/transport_spec.rb
  spec/datadog/core/telemetry/worker_spec.rb
Labels: core

#4613 Avoid method redefinition warning when replacing time providers
  lib/datadog/core/utils/time.rb
Labels: core

#4623 chore(benchmarks): make readme and filenames consistent
  benchmarks/README.md
  benchmarks/profiling_allocation.rb
  benchmarks/profiling_gc.rb
  benchmarks/profiling_hold_resume_interruptions.rb
  benchmarks/profiling_http_transport.rb
  benchmarks/profiling_memory_sample_serialize.rb
  benchmarks/profiling_sample_gvl.rb
  benchmarks/profiling_sample_loop_v2.rb
  benchmarks/profiling_sample_serialize.rb
  benchmarks/run_all.sh
  spec/datadog/profiling/validate_benchmarks_spec.rb
Labels: dev/testing

#4624 Inject logger into tracing operations
  lib/datadog/tracing/span_operation.rb
  lib/datadog/tracing/trace_operation.rb
  lib/datadog/tracing/tracer.rb
  sig/datadog/tracing/span_operation.rbs
  sig/datadog/tracing/trace_operation.rbs
  sig/datadog/tracing/tracer.rbs
Labels: tracing

#4627 [NO-TICKET] Separate `set_value_from_env_or_default` in two methods and always set default option value
  lib/datadog/appsec/configuration/settings.rb
  lib/datadog/core/configuration/option.rb
  sig/datadog/core/configuration/option.rbs
  spec/datadog/appsec/configuration/settings_spec.rb
  spec/datadog/core/configuration/option_spec.rb
Labels: core, appsec

#4590 DEBUG-3700 agentless settings resolver
  lib/datadog/core/configuration/agentless_settings_resolver.rb
  sig/datadog/core/configuration/agentless_settings_resolver.rbs
  spec/datadog/core/configuration/agentless_settings_resolver_spec.rb
  spec/support/core_helpers.rb
Labels: core

#4633 [NO-TICKET] Add logging during configuration initialization
  lib/datadog/core/configuration.rb
  spec/datadog/core/configuration_spec.rb
Labels: core

#4636 DEBUG-3700 UDS HTTP server helper for test suite
  spec/datadog/core/crashtracking/component_spec.rb
  spec/datadog/profiling/http_transport_spec.rb
  spec/support/http_server_helpers.rb
Labels: dev/testing

#4605 feat: after_stop.publish now take two arguments
  lib/datadog/tracing/span_operation.rb
  sig/datadog/tracing/span_operation.rbs
  spec/datadog/tracing/span_operation_spec.rb
Labels: tracing

#4629 Add a gatekeeper job for PR
  .github/workflows/all-green.yml
Labels: dev/github

#4645 Pin version to shared pipeline
  .gitlab-ci.yml
Labels: dev/ci, dev/internal

#4644 [APPSEC-57237] Handle business logic events
  .github/workflows/system-tests.yml
  lib/datadog/appsec/monitor/gateway/watcher.rb
  sig/datadog/appsec/monitor/gateway/watcher.rbs
  spec/datadog/appsec/contrib/integration/rack/session_fingerprint_collection_for_business_events_spec.rb
Labels: appsec

#4639 [NO-TICKET] Fix logger_without_configuration always being on DEBUG level
  lib/datadog/core/configuration.rb
  spec/datadog/core/configuration_spec.rb
Labels: core

#4630 DEBUG-3700 Replace telemetry transport with a core-based transport that supports UDS
  .rubocop.yml
  lib/datadog/core/telemetry/component.rb
  lib/datadog/core/telemetry/emitter.rb
  lib/datadog/core/telemetry/http/ext.rb
  lib/datadog/core/telemetry/http/transport.rb
  lib/datadog/core/telemetry/request.rb
  lib/datadog/core/telemetry/transport/http.rb
  lib/datadog/core/telemetry/transport/http/api.rb
  lib/datadog/core/telemetry/transport/http/client.rb
  lib/datadog/core/telemetry/transport/http/telemetry.rb
  lib/datadog/core/telemetry/transport/telemetry.rb
  sig/datadog/core/telemetry/component.rbs
  sig/datadog/core/telemetry/emitter.rbs
  sig/datadog/core/telemetry/http/ext.rbs
  sig/datadog/core/telemetry/http/transport.rbs
  sig/datadog/core/telemetry/transport/http.rbs
  sig/datadog/core/telemetry/transport/http/api.rbs
  sig/datadog/core/telemetry/transport/http/client.rbs
  sig/datadog/core/telemetry/transport/http/telemetry.rbs
  sig/datadog/core/telemetry/transport/telemetry.rbs
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/core/telemetry/component_spec.rb
  spec/datadog/core/telemetry/emitter_spec.rb
  spec/datadog/core/telemetry/http/transport_spec.rb
  spec/datadog/core/telemetry/integration/telemetry_spec.rb
  spec/datadog/di/spec_helper.rb
  spec/support/log_helpers.rb
Labels: core, tracing

#4637 Repair warning message when worker does not end promptly
  lib/datadog/core/workers/async.rb
Labels: core

#4643 DEBUG-3573 Add integration test for telemetry app-heartbeat event payloads
  spec/datadog/core/telemetry/integration/telemetry_spec.rb
  spec/spec_helper.rb
  spec/support/telemetry_helpers.rb
Labels: core, dev/testing, appsec

#4650 [NO-TICKET] Enable forcing parametric tests
  .github/workflows/parametric-tests.yml
Labels: dev/github

#4619 DEBUG-3700 Do not initialize components from crash tracking on fork handler
  lib/datadog/core/crashtracking/component.rb
Labels: core

#4647 DEBUG-3573 Report state of dynamic instrumentation to telemetry
  lib/datadog.rb
  lib/datadog/core/telemetry/event.rb
  lib/datadog/di.rb
  lib/datadog/di/boot.rb
  lib/datadog/di/remote.rb
  sig/datadog/di.rbs
  sig/datadog/di/boot.rbs
  spec/datadog/core/telemetry/event_spec.rb
  spec/datadog/core/telemetry/integration/telemetry_spec.rb
  spec/datadog/di/code_tracker_spec.rb
  spec/datadog/di/integration/probe_notifier_worker_spec.rb
  spec/loading_spec.rb
Labels: core

#4641 DEBUG-3700 Inject telemetry into metrics client
  lib/datadog/core/configuration/components.rb
  lib/datadog/core/metrics/client.rb
  lib/datadog/core/runtime/metrics.rb
  lib/datadog/core/workers/runtime_metrics.rb
  sig/datadog/core/metrics/client.rbs
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/core/metrics/client_spec.rb
  spec/datadog/core/metrics/logging_spec.rb
  spec/datadog/core/runtime/metrics_spec.rb
  spec/datadog/core/workers/runtime_metrics_spec.rb
  spec/datadog/tracing/diagnostics/health_spec.rb
Labels: core

#4640 Properly reset telemetry state in tests
  lib/datadog/core/telemetry/worker.rb
  lib/datadog/core/workers/async.rb
  spec/datadog/core/telemetry/integration/telemetry_spec.rb
  spec/datadog/core/telemetry/worker_spec.rb
  spec/datadog/core/workers/async_spec.rb
  spec/support/telemetry_helpers.rb
Labels: core

#4657 Pin shared pipeline with versioned url
  .gitlab-ci.yml
  .gitlab/one-pipeline.locked.yml
Labels: dev/tooling

#4604 feat: add automatic reporting of handled errors
  .rubocop.yml
  Matrixfile
  Rakefile
  Steepfile
  benchmarks/README.md
  benchmarks/error_tracking_api.rb
  benchmarks/error_tracking_simple.rb
  benchmarks/run_all.sh
  docs/GettingStarted.md
  lib/datadog.rb
  lib/datadog/core/configuration/components.rb
  lib/datadog/error_tracking.rb
  lib/datadog/error_tracking/collector.rb
  lib/datadog/error_tracking/component.rb
  lib/datadog/error_tracking/configuration.rb
  lib/datadog/error_tracking/configuration/settings.rb
  lib/datadog/error_tracking/ext.rb
  lib/datadog/error_tracking/extensions.rb
  lib/datadog/error_tracking/filters.rb
  lib/datadog/tracing/span_operation.rb
  sig/datadog/core/configuration/settings.rbs
  sig/datadog/error_tracking.rbs
  sig/datadog/error_tracking/collector.rbs
  sig/datadog/error_tracking/component.rbs
  sig/datadog/error_tracking/configuration.rbs
  sig/datadog/error_tracking/configuration/settings.rbs
  sig/datadog/error_tracking/ext.rbs
  sig/datadog/error_tracking/extensions.rbs
  sig/datadog/error_tracking/filters.rbs
  sig/datadog/tracing/span_operation.rbs
  sig/datadog/tracing/tracer.rbs
  spec/datadog/error_tracking/component_spec.rb
  spec/datadog/error_tracking/configuration/settings_spec.rb
  spec/datadog/error_tracking/lib1.rb
  spec/datadog/error_tracking/lib2.rb
  spec/datadog/error_tracking/spec_helper.rb
  spec/datadog/error_tracking/sublib/sublib1.rb
  spec/datadog/error_tracking/sublib/sublib2.rb
  spec/datadog/error_tracking/validate_benchmarks_spec.rb
  spec/fixtures/gems/mock-gem-2.1.1/lib/mock_gem.rb
  spec/fixtures/gems/mock-gem-2.1.1/lib/mock_gem/client.rb
  spec/fixtures/gems/mock-gem-2.1.1/lib/mock_gem/utils.rb
  spec/loading_spec.rb
Labels: core, tracing

#4638 Revise integration app readme
  integration/apps/ruby/README.md
Labels: docs, dev/testing

#4653 DEBUG-3573 Send source code integration tags in telemetry and remote config
  lib/datadog/core/environment/git.rb
  lib/datadog/core/remote/client.rb
  lib/datadog/core/telemetry/event.rb
  spec/datadog/core/remote/client_spec.rb
  spec/datadog/core/telemetry/event_spec.rb
  spec/spec_helper.rb
  spec/support/environment_helpers.rb
Labels: core

#4663 Post release steps for 2.16.0
  .github/forced-tests-list.json
Labels: dev/github

#4664 [NO-TICKET] Add more context to profiling specs that failed in test-asan
  spec/datadog/profiling/stack_recorder_spec.rb
Labels: dev/testing

#4667 [NO-TICKET] Remove "test-asan" profiler check due to flakiness
  .github/workflows/test-memory-leaks.yaml
Labels: dev/github

#4674 Add information on resolving conflicts to automated PR for doc update
  .github/workflows/publish.yml
Labels: dev/github

#4671 DEBUG-3573 split telemetry event classes into own files
  lib/datadog/core/telemetry/event.rb
  lib/datadog/core/telemetry/event/app_client_configuration_change.rb
  lib/datadog/core/telemetry/event/app_closing.rb
  lib/datadog/core/telemetry/event/app_dependencies_loaded.rb
  lib/datadog/core/telemetry/event/app_heartbeat.rb
  lib/datadog/core/telemetry/event/app_integrations_change.rb
  lib/datadog/core/telemetry/event/app_started.rb
  lib/datadog/core/telemetry/event/base.rb
  lib/datadog/core/telemetry/event/distributions.rb
  lib/datadog/core/telemetry/event/generate_metrics.rb
  lib/datadog/core/telemetry/event/log.rb
  lib/datadog/core/telemetry/event/message_batch.rb
  lib/datadog/tracing/contrib/patcher.rb
  sig/datadog/core/telemetry/event.rbs
  sig/datadog/core/telemetry/event/app_client_configuration_change.rbs
  sig/datadog/core/telemetry/event/app_closing.rbs
  sig/datadog/core/telemetry/event/app_dependencies_loaded.rbs
  sig/datadog/core/telemetry/event/app_heartbeat.rbs
  sig/datadog/core/telemetry/event/app_integrations_change.rbs
  sig/datadog/core/telemetry/event/app_started.rbs
  sig/datadog/core/telemetry/event/base.rbs
  sig/datadog/core/telemetry/event/distributions.rbs
  sig/datadog/core/telemetry/event/generate_metrics.rbs
  sig/datadog/core/telemetry/event/log.rbs
  sig/datadog/core/telemetry/event/message_batch.rbs
  sig/datadog/tracing/contrib/patcher.rbs
Labels: core, integrations, tracing

#4669 APMS-15590 explicitly handle error responses from agent to RC requests
  lib/datadog/core/remote/component.rb
  lib/datadog/core/remote/transport/http/config.rb
  lib/datadog/core/utils/truncation.rb
  sig/datadog/core/utils/truncation.rbs
  spec/datadog/core/remote/client_spec.rb
  spec/datadog/core/utils/truncation_spec.rb
Labels: core

#4673 fix: Remove redundant on_error for HTTP integrations
  lib/datadog/tracing/contrib/http/instrumentation.rb
  lib/datadog/tracing/contrib/httpclient/instrumentation.rb
  lib/datadog/tracing/contrib/httprb/instrumentation.rb
  sig/datadog/tracing/contrib/http/instrumentation.rbs
  sig/datadog/tracing/contrib/httpclient/instrumentation.rbs
  sig/datadog/tracing/contrib/httprb/instrumentation.rbs
Labels: integrations, tracing

#4677 switch core to standard from rubocop
  .rubocop.yml
  .standard_todo.yml
  lib/datadog/core/buffer/random.rb
  lib/datadog/core/configuration.rb
  lib/datadog/core/configuration/agent_settings_resolver.rb
  lib/datadog/core/configuration/components.rb
  lib/datadog/core/configuration/option.rb
  lib/datadog/core/configuration/option_definition.rb
  lib/datadog/core/configuration/options.rb
  lib/datadog/core/configuration/settings.rb
  lib/datadog/core/encoding.rb
  lib/datadog/core/environment/cgroup.rb
  lib/datadog/core/environment/container.rb
  lib/datadog/core/environment/ext.rb
  lib/datadog/core/environment/identity.rb
  lib/datadog/core/environment/platform.rb
  lib/datadog/core/error.rb
  lib/datadog/core/logger.rb
  lib/datadog/core/metrics/client.rb
  lib/datadog/core/metrics/logging.rb
  lib/datadog/core/rate_limiter.rb
  lib/datadog/core/remote/client.rb
  lib/datadog/core/remote/component.rb
  lib/datadog/core/remote/configuration/digest.rb
  lib/datadog/core/remote/configuration/path.rb
  lib/datadog/core/remote/transport/http/client.rb
  lib/datadog/core/remote/transport/http/config.rb
  lib/datadog/core/remote/transport/http/negotiation.rb
  lib/datadog/core/runtime/metrics.rb
  lib/datadog/core/telemetry/component.rb
  lib/datadog/core/telemetry/emitter.rb
  lib/datadog/core/telemetry/event/app_client_configuration_change.rb
  lib/datadog/core/telemetry/event/app_dependencies_loaded.rb
  lib/datadog/core/telemetry/event/app_integrations_change.rb
  lib/datadog/core/telemetry/event/app_started.rb
  lib/datadog/core/telemetry/event/base.rb
  lib/datadog/core/telemetry/event/generate_metrics.rb
  lib/datadog/core/telemetry/event/log.rb
  lib/datadog/core/telemetry/event/message_batch.rb
  lib/datadog/core/telemetry/logger.rb
  lib/datadog/core/telemetry/metric.rb
  lib/datadog/core/telemetry/transport/http/telemetry.rb
  lib/datadog/core/telemetry/transport/telemetry.rb
  lib/datadog/core/transport/http/adapters/test.rb
  lib/datadog/core/transport/http/builder.rb
  lib/datadog/core/utils/at_fork_monkey_patch.rb
  lib/datadog/core/utils/duration.rb
  lib/datadog/core/utils/forking.rb
  lib/datadog/core/utils/network.rb
  lib/datadog/core/utils/time.rb
  lib/datadog/core/vendor/multipart-post/multipart/post/composite_read_io.rb
  lib/datadog/core/vendor/multipart-post/multipart/post/multipartable.rb
  lib/datadog/core/vendor/multipart-post/multipart/post/parts.rb
  lib/datadog/core/worker.rb
  lib/datadog/core/workers/async.rb
Labels: core

#4676 chore: improve error tracking getting started doc
  docs/GettingStarted.md
Labels: docs, mergequeue-status: removed, editorial review

#4686 DEBUG-3573 Change telemetry event class into module
  lib/datadog/core/telemetry/event.rb
  lib/datadog/core/telemetry/event/app_client_configuration_change.rb
  lib/datadog/core/telemetry/event/app_closing.rb
  lib/datadog/core/telemetry/event/app_dependencies_loaded.rb
  lib/datadog/core/telemetry/event/app_heartbeat.rb
  lib/datadog/core/telemetry/event/app_integrations_change.rb
  lib/datadog/core/telemetry/event/app_started.rb
  lib/datadog/core/telemetry/event/base.rb
  lib/datadog/core/telemetry/event/distributions.rb
  lib/datadog/core/telemetry/event/generate_metrics.rb
  lib/datadog/core/telemetry/event/log.rb
  lib/datadog/core/telemetry/event/message_batch.rb
  sig/datadog/core/telemetry/event.rbs
  sig/datadog/core/telemetry/event/app_client_configuration_change.rbs
  sig/datadog/core/telemetry/event/app_closing.rbs
  sig/datadog/core/telemetry/event/app_dependencies_loaded.rbs
  sig/datadog/core/telemetry/event/app_heartbeat.rbs
  sig/datadog/core/telemetry/event/app_integrations_change.rbs
  sig/datadog/core/telemetry/event/app_started.rbs
  sig/datadog/core/telemetry/event/base.rbs
  sig/datadog/core/telemetry/event/distributions.rbs
  sig/datadog/core/telemetry/event/generate_metrics.rbs
  sig/datadog/core/telemetry/event/log.rbs
  sig/datadog/core/telemetry/event/message_batch.rbs
Labels: core

#4687 Remove a warning in test suite
  spec/spec_helper.rb
Labels: dev/testing

#4691 DEBUG-3573 improve telemetry event tests
  spec/datadog/core/telemetry/event/app_client_configuration_change_spec.rb
  spec/datadog/core/telemetry/event/app_closing_spec.rb
  spec/datadog/core/telemetry/event/app_dependencies_loaded_spec.rb
  spec/datadog/core/telemetry/event/app_heartbeat_spec.rb
  spec/datadog/core/telemetry/event/app_integrations_change_spec.rb
  spec/datadog/core/telemetry/event/app_started_spec.rb
  spec/datadog/core/telemetry/event/distributions_spec.rb
  spec/datadog/core/telemetry/event/generate_metrics_spec.rb
  spec/datadog/core/telemetry/event/log_spec.rb
  spec/datadog/core/telemetry/event/message_batch_spec.rb
  spec/support/telemetry_helpers.rb
Labels: dev/testing

#4694 Clarify instructions in libdatadog_api docs
  ext/libdatadog_api/macos_development.md
Labels: docs

#4695 Replace all JSON.fast_generate with JSON.generate
  benchmarks/profiling_http_transport.rb
  lib/datadog/profiling/collectors/code_provenance.rb
  lib/datadog/profiling/flush.rb
  spec/datadog/profiling/collectors/code_provenance_spec.rb
  spec/datadog/profiling/flush_spec.rb
  spec/datadog/profiling/http_transport_spec.rb
Labels: profiling

#4678 DEBUG-3573 send AppClientConfigurationChange telemetry event when subsequent telemetry instances start
  lib/datadog/core/buffer/random.rb
  lib/datadog/core/configuration.rb
  lib/datadog/core/configuration/components.rb
  lib/datadog/core/configuration/components_state.rb
  lib/datadog/core/telemetry/component.rb
  lib/datadog/core/telemetry/event.rb
  lib/datadog/core/telemetry/event/synth_app_client_configuration_change.rb
  lib/datadog/core/telemetry/worker.rb
  lib/datadog/core/utils/only_once_successful.rb
  sig/datadog/core/configuration/components_state.rbs
  sig/datadog/core/telemetry/event/synth_app_client_configuration_change.rbs
  sig/datadog/core/telemetry/worker.rbs
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/core/configuration_spec.rb
  spec/datadog/core/telemetry/component_spec.rb
  spec/datadog/core/telemetry/event/synth_app_client_configuration_change_spec.rb
  spec/datadog/core/telemetry/integration/full_integration_spec.rb
  spec/datadog/core/telemetry/integration/telemetry_spec.rb
  spec/datadog/core/telemetry/worker_spec.rb
  spec/support/log_helpers.rb
  spec/support/telemetry_helpers.rb
Labels: core
