Repository DataDog/dd-trace-rb, pull requests merged in 2025-10, with the labels that each got.

#4929 Replace merged REMOTE_CONFIG_MOCKED_BACKEND_ASM_DD_NOCACHE with APPSEC_API_SECURITY_RC
  .github/workflows/system-tests.yml
Labels: dev/github

#4944 Revert "Merge pull request #4919 from DataDog/appsec-endpoint-collection"
  lib/datadog/appsec/api_security/endpoint_collection/rails_routes_serializer.rb
  lib/datadog/appsec/configuration/settings.rb
  lib/datadog/appsec/contrib/rails/patcher.rb
  lib/datadog/core/configuration/supported_configurations.rb
  sig/datadog/appsec/api_security/endpoint_collection/rails_routes_serializer.rbs
  sig/datadog/appsec/contrib/rails/patcher.rbs
  spec/datadog/appsec/api_security/endpoint_collection/rails_routes_serializer_spec.rb
  spec/datadog/appsec/configuration/settings_spec.rb
  spec/datadog/appsec/integration/contrib/rails/endpoint_collection_spec.rb
  supported-configurations.json
Labels: core, integrations, appsec

#4939 Update DevelopmentGuide
  docs/DevelopmentGuide.md
Labels: docs

#4957 Use Mutex#synchronize to solve JRuby mutex not locked error
  lib/datadog/core/remote/component.rb
Labels: core

#4950 DI: eliminate Ruby warnings in test suite
  spec/datadog/di/hook_line_load.rb
  spec/datadog/di/hook_line_recursive.rb
  spec/datadog/di/hook_line_targeted.rb
  spec/datadog/di/hook_method.rb
  spec/datadog/di/instrumenter_spec.rb
  spec/datadog/di/integration/everything_from_remote_config_spec.rb
  spec/datadog/di/integration/instrumentation_integration_test_class.rb
  spec/datadog/di/integration/instrumentation_integration_test_class_2.rb
  spec/datadog/di/integration/instrumentation_integration_test_class_3.rb
  spec/datadog/di/integration/instrumentation_integration_test_class_4.rb
  spec/datadog/di/probe_file_loader_spec.rb
Labels: dev/testing

#4948 Add Endpoint Collection for AppSec
  lib/datadog/appsec/api_security/endpoint_collection/rails_routes_serializer.rb
  lib/datadog/appsec/configuration/settings.rb
  lib/datadog/appsec/contrib/rails/patcher.rb
  lib/datadog/core/configuration/supported_configurations.rb
  sig/datadog/appsec/api_security/endpoint_collection/rails_routes_serializer.rbs
  sig/datadog/appsec/contrib/rails/patcher.rbs
  spec/datadog/appsec/api_security/endpoint_collection/rails_routes_serializer_spec.rb
  spec/datadog/appsec/configuration/settings_spec.rb
  spec/datadog/appsec/integration/contrib/rails/endpoint_collection_spec.rb
  supported-configurations.json
Labels: core, integrations, appsec

#4940 Use images-rb base images for integrations
  integration/images/ruby/2.1/Dockerfile
  integration/images/ruby/2.2/Dockerfile
  integration/images/ruby/2.3/Dockerfile
  integration/images/ruby/2.4/Dockerfile
  integration/images/ruby/2.5/Dockerfile
  integration/images/ruby/2.6/Dockerfile
  integration/images/ruby/2.7/Dockerfile
  integration/images/ruby/3.0/Dockerfile
  integration/images/ruby/3.1/Dockerfile
  integration/images/ruby/3.2/Dockerfile
  integration/images/ruby/3.3/Dockerfile
  integration/images/ruby/3.4/Dockerfile
Labels: dev/testing

#4936 Enable standard for most of the remaining files in the codebase
  .rubocop.yml
  .standard_todo.yml
  Rakefile
  benchmarks/benchmarks_ips_patch.rb
  benchmarks/di_instrument.rb
  benchmarks/di_snapshot.rb
  benchmarks/error_tracking_simple.rb
  benchmarks/profiling_allocation.rb
  benchmarks/profiling_gc.rb
  benchmarks/profiling_hold_resume_interruptions.rb
  benchmarks/profiling_http_transport.rb
  benchmarks/profiling_memory_sample_serialize.rb
  benchmarks/profiling_sample_gvl.rb
  benchmarks/profiling_sample_loop_v2.rb
  benchmarks/profiling_sample_serialize.rb
  benchmarks/profiling_string_storage_intern.rb
  benchmarks/support/di_snapshot_target.rb
  benchmarks/support/di_target.rb
  benchmarks/tracing_trace.rb
  datadog.gemspec
  lib-injection/requirements.rb
Labels: single-step
