Repository DataDog/dd-trace-rb, pull requests merged in 2025-03, with the labels that each got.

#4440 DEBUG-3568 remove agent settings defaulting hack
  lib/datadog/core/remote/component.rb
  lib/datadog/core/remote/negotiation.rb
  lib/datadog/core/remote/transport/http.rb
  lib/datadog/tracing/sync_writer.rb
  lib/datadog/tracing/tracer.rb
  lib/datadog/tracing/transport/http.rb
  lib/datadog/tracing/workers/trace_writer.rb
  lib/datadog/tracing/writer.rb
  sig/datadog/core/remote/transport/http.rbs
  sig/datadog/di/transport/http.rbs
  sig/datadog/tracing/transport/http.rbs
  spec/datadog/appsec/contrib/rack/integration_test_spec.rb
  spec/datadog/appsec/contrib/rails/integration_test_spec.rb
  spec/datadog/appsec/contrib/sinatra/integration_test_spec.rb
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/core/configuration_spec.rb
  spec/datadog/core/remote/client_spec.rb
  spec/datadog/core/remote/transport/http_spec.rb
  spec/datadog/core/remote/transport/integration_spec.rb
  spec/datadog/tracing/benchmark/transport_benchmark_spec.rb
  spec/datadog/tracing/contrib/http/request_spec.rb
  spec/datadog/tracing/contrib/suite/transport_spec.rb
  spec/datadog/tracing/contrib/support/tracer_helpers.rb
  spec/datadog/tracing/integration_spec.rb
  spec/datadog/tracing/sync_writer_spec.rb
  spec/datadog/tracing/transport/http/adapters/net_integration_spec.rb
  spec/datadog/tracing/transport/http/adapters/unix_socket_integration_spec.rb
  spec/datadog/tracing/transport/http/integration_spec.rb
  spec/datadog/tracing/transport/http_spec.rb
  spec/datadog/tracing/workers/trace_writer_spec.rb
  spec/datadog/tracing/workers_integration_spec.rb
  spec/datadog/tracing/writer_spec.rb
  spec/support/tracer_helpers.rb
Labels: core, tracing

#4438 DEBUG-3568 DRY transport adapter registration
  lib/datadog/core/remote/transport/http.rb
  lib/datadog/core/transport/http.rb
  lib/datadog/di/transport/http.rb
  lib/datadog/tracing/transport/http.rb
  sig/datadog/core/transport/http.rbs
Labels: core, tracing

#4452 Fix publish workflow
  .github/workflows/publish.yml
Labels: dev/github

#4456 Scan with zizmor
  .github/workflows/_unit_test.yml
  .github/workflows/add-milestone-to-pull-requests.yml
  .github/workflows/build-gem.yml
  .github/workflows/check.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/generate-supported-versions.yml
  .github/workflows/lock-dependency.yml
  .github/workflows/nix.yml
  .github/workflows/parametric-tests.yml
  .github/workflows/publish.yml
  .github/workflows/pull-request-labeler.yml
  .github/workflows/system-tests.yml
  .github/workflows/test-macos.yaml
  .github/workflows/test-memory-leaks.yaml
  .github/workflows/test-yjit.yaml
  .github/workflows/test.yml
  .github/workflows/update-latest-dependency.yml
  .github/workflows/yard.yml
Labels: dev/tooling, dev/github

#4457 Scan with `actionlint`
  .github/workflows/_unit_test.yml
  .github/workflows/add-milestone-to-pull-requests.yml
  .github/workflows/build-gem.yml
  .github/workflows/cache-cleanup.yml
  .github/workflows/check.yml
  .github/workflows/publish.yml
  .github/workflows/system-tests.yml
  .github/workflows/test-memory-leaks.yaml
  .github/workflows/test.yml
Labels: dev/tooling, dev/github

#4465 Revert "[APPSEC-56614] Add Instrumentation::Gateway#pushed? method"
  lib/datadog/appsec/instrumentation/gateway.rb
  lib/datadog/appsec/instrumentation/gateway/middleware.rb
  sig/datadog/appsec/instrumentation/gateway.rbs
  sig/datadog/appsec/instrumentation/gateway/middleware.rbs
  spec/datadog/appsec/instrumentation/gateway_spec.rb
Labels: appsec

#4470 Fix milestone job
  .github/workflows/add-milestone-to-pull-requests.yml
Labels: dev/tooling, dev/github

#4463 Scan with `yamllint`
  .github/labeler.yml
  .github/workflows/_unit_test.yml
  .github/workflows/add-milestone-to-pull-requests.yml
  .github/workflows/build-gem.yml
  .github/workflows/cache-cleanup.yml
  .github/workflows/check.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/ensure-changelog-entry.yml
  .github/workflows/generate-supported-versions.yml
  .github/workflows/lock-dependency.yml
  .github/workflows/nix.yml
  .github/workflows/parametric-tests.yml
  .github/workflows/publish.yml
  .github/workflows/pull-request-labeler.yml
  .github/workflows/system-tests.yml
  .github/workflows/test-macos.yaml
  .github/workflows/test-memory-leaks.yaml
  .github/workflows/test-yjit.yaml
  .github/workflows/test.yml
  .github/workflows/update-latest-dependency.yml
  .github/workflows/yard.yml
  .gitlab-ci.yml
  .yamllint.yml
  docker-compose.yml
  integration/apps/hanami/docker-compose.ci.yml
  integration/apps/rack/docker-compose.ci.yml
  integration/apps/rails-five/config/database.yml.erb
  integration/apps/rails-five/docker-compose.ci.yml
  integration/apps/rails-seven/config/database.yml.erb
  integration/apps/rails-seven/docker-compose.ci.yml
  integration/apps/rails-six/config/database.yml.erb
  integration/apps/rails-six/docker-compose.ci.yml
  integration/apps/sinatra2-classic/docker-compose.ci.yml
  integration/apps/sinatra2-modular/docker-compose.ci.yml
  spec/datadog/release_gem_spec.rb
Labels: dev/ci

#4472 Update doc for linter debug locally
  .github/workflows/check.yml
  docs/DevelopmentGuide.md
Labels: docs, dev/tooling

#4334 Add meta_struct support on traces and spans
  Steepfile
  lib/datadog/tracing/metadata.rb
  lib/datadog/tracing/metadata/metastruct.rb
  lib/datadog/tracing/metadata/metastruct_tagging.rb
  lib/datadog/tracing/span.rb
  lib/datadog/tracing/span_operation.rb
  lib/datadog/tracing/transport/serializable_trace.rb
  sig/datadog/tracing/metadata.rbs
  sig/datadog/tracing/metadata/metastruct.rbs
  sig/datadog/tracing/metadata/metastruct_tagging.rbs
  sig/datadog/tracing/span.rbs
  spec/datadog/tracing/metadata/metastruct_tagging_spec.rb
  spec/datadog/tracing/span_spec.rb
  spec/datadog/tracing/transport/serializable_trace_spec.rb
Labels: tracing

#4476 Remove dd scan
  .github/workflows/check.yml
  spec/datadog/release_gem_spec.rb
  static-analysis.datadog.yml
Labels: dev/tooling, dev/github

#4475 Fix linter doc
  docs/DevelopmentGuide.md
Labels: docs, dev/tooling

#4468 [APPSEC-56960] Add collection of request headers for identity
  lib/datadog/appsec/contrib/rack/ext.rb
  lib/datadog/appsec/contrib/rack/gateway/watcher.rb
  lib/datadog/appsec/contrib/rack/request_middleware.rb
  sig/datadog/appsec/contrib/rack/ext.rbs
  spec/datadog/appsec/contrib/integration/rack/request_headers_collection_for_identity_spec.rb
Labels: integrations, appsec

#4481 [NO-TICKET] Adjust leaking thread detection for new Rails
  spec/spec_helper.rb
Labels: dev/testing, dev/internal

#4482 Add tmp branch push event
  .github/workflows/system-tests.yml
  .github/workflows/test.yml
Labels: dev/ci, dev/github

#4483 Update dependabot for composite actions
  .github/dependabot.yml
Labels: dev/tooling, dev/github

#4464 [PROF-11475] Add extra safety checks when getting line number in profiler
  ext/datadog_profiling_native_extension/private_vm_api_access.c
Labels: profiling

#4489 Fix update latest deps job
  .github/workflows/update-latest-dependency.yml
  tasks/edge.rake
Labels: dev/github

#4497 Fix handling of AppSec actions passed with Remote Config
  lib/datadog/appsec/processor/rule_merger.rb
  lib/datadog/appsec/remote.rb
  sig/datadog/appsec/processor/rule_merger.rbs
  spec/datadog/appsec/processor/rule_merger_spec.rb
  spec/datadog/appsec/remote_spec.rb
Labels: appsec

#4371 feat(propagation): baggage support and automatic propagation
  lib/datadog/tracing.rb
  lib/datadog/tracing/configuration/ext.rb
  lib/datadog/tracing/configuration/settings.rb
  lib/datadog/tracing/contrib/grpc/distributed/propagation.rb
  lib/datadog/tracing/contrib/http/distributed/propagation.rb
  lib/datadog/tracing/contrib/sidekiq/distributed/propagation.rb
  lib/datadog/tracing/distributed/baggage.rb
  lib/datadog/tracing/distributed/propagation.rb
  lib/datadog/tracing/trace_digest.rb
  lib/datadog/tracing/trace_operation.rb
  lib/datadog/tracing/tracer.rb
  sig/datadog/tracing/configuration/ext.rbs
  sig/datadog/tracing/distributed/baggage.rbs
  sig/datadog/tracing/trace_digest.rbs
  spec/datadog/core/telemetry/event_spec.rb
  spec/datadog/tracing/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/grpc/distributed/propagation_spec.rb
  spec/datadog/tracing/contrib/grpc_spec.rb
  spec/datadog/tracing/contrib/http/distributed/propagation_spec.rb
  spec/datadog/tracing/contrib/http_spec.rb
  spec/datadog/tracing/distributed/baggage_spec.rb
  spec/datadog/tracing/distributed/propagation_spec.rb
  spec/datadog/tracing/tracer_spec.rb
Labels: integrations, tracing

#4504 revert baggage pr merge
  lib/datadog/tracing.rb
  lib/datadog/tracing/configuration/ext.rb
  lib/datadog/tracing/configuration/settings.rb
  lib/datadog/tracing/contrib/grpc/distributed/propagation.rb
  lib/datadog/tracing/contrib/http/distributed/propagation.rb
  lib/datadog/tracing/contrib/sidekiq/distributed/propagation.rb
  lib/datadog/tracing/distributed/baggage.rb
  lib/datadog/tracing/distributed/propagation.rb
  lib/datadog/tracing/trace_digest.rb
  lib/datadog/tracing/trace_operation.rb
  lib/datadog/tracing/tracer.rb
  sig/datadog/tracing/configuration/ext.rbs
  sig/datadog/tracing/distributed/baggage.rbs
  sig/datadog/tracing/trace_digest.rbs
  spec/datadog/core/telemetry/event_spec.rb
  spec/datadog/tracing/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/grpc/distributed/propagation_spec.rb
  spec/datadog/tracing/contrib/grpc_spec.rb
  spec/datadog/tracing/contrib/http/distributed/propagation_spec.rb
  spec/datadog/tracing/contrib/http_spec.rb
  spec/datadog/tracing/distributed/baggage_spec.rb
  spec/datadog/tracing/distributed/propagation_spec.rb
  spec/datadog/tracing/tracer_spec.rb
Labels: integrations, tracing

#4508 [APPSEC-57032] Add `usr.login` to Kit::AppSec::Events
  lib/datadog/appsec/instrumentation/gateway/argument.rb
  lib/datadog/appsec/monitor/gateway/watcher.rb
  lib/datadog/kit/appsec/events.rb
  lib/datadog/kit/identity.rb
  sig/datadog/appsec/instrumentation/gateway/argument.rbs
  spec/datadog/kit/appsec/events_spec.rb
Labels: appsec

#4505 feat(propagation): baggage support and automatic propagation
  lib/datadog/tracing.rb
  lib/datadog/tracing/configuration/ext.rb
  lib/datadog/tracing/configuration/settings.rb
  lib/datadog/tracing/contrib/grpc/distributed/propagation.rb
  lib/datadog/tracing/contrib/http/distributed/propagation.rb
  lib/datadog/tracing/contrib/sidekiq/distributed/propagation.rb
  lib/datadog/tracing/distributed/baggage.rb
  lib/datadog/tracing/distributed/propagation.rb
  lib/datadog/tracing/trace_digest.rb
  lib/datadog/tracing/trace_operation.rb
  lib/datadog/tracing/tracer.rb
  sig/datadog/tracing/configuration/ext.rbs
  sig/datadog/tracing/distributed/baggage.rbs
  sig/datadog/tracing/trace_digest.rbs
  spec/datadog/core/telemetry/event_spec.rb
  spec/datadog/tracing/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/grpc/distributed/propagation_spec.rb
  spec/datadog/tracing/contrib/grpc_spec.rb
  spec/datadog/tracing/contrib/http/distributed/propagation_spec.rb
  spec/datadog/tracing/contrib/http_spec.rb
  spec/datadog/tracing/distributed/baggage_spec.rb
  spec/datadog/tracing/distributed/propagation_spec.rb
  spec/datadog/tracing/tracer_spec.rb
Labels: integrations, tracing

#4527 [APPSEC-56960] Collect headers on request finish for Identity
  lib/datadog/appsec/contrib/rack/ext.rb
  lib/datadog/appsec/contrib/rack/gateway/watcher.rb
  spec/datadog/appsec/contrib/integration/rack/request_headers_collection_for_identity_spec.rb
Labels: integrations, appsec

#4526 Add Stack Trace reporting for AppSec actions
  lib/datadog/appsec/actions_handler.rb
  lib/datadog/appsec/actions_handler/serializable_backtrace.rb
  lib/datadog/appsec/configuration/settings.rb
  lib/datadog/appsec/ext.rb
  sig/datadog/appsec/actions_handler/serializable_backtrace.rbs
  sig/datadog/appsec/ext.rbs
  spec/datadog/appsec/actions_handler/serializable_backtrace_spec.rb
  spec/datadog/appsec/actions_handler_spec.rb
  spec/datadog/appsec/configuration/settings_spec.rb
Labels: appsec

#4493 feat: baggage otel api
  .standard_todo.yml
  lib/datadog/opentelemetry.rb
  lib/datadog/opentelemetry/api/baggage.rb
  lib/datadog/opentelemetry/api/baggage.rbs
  lib/datadog/opentelemetry/api/context.rb
  sig/datadog/opentelemetry/api/baggage.rbs
  sig/datadog/opentelemetry/api/context.rbs
  spec/datadog/opentelemetry/api/baggage_spec.rb
  spec/datadog/opentelemetry_spec.rb
  vendor/rbs/opentelemetry-api/0/opentelemetry-api.rbs
Labels: integrations, tracing, otel

#4530 fix(global_tags): update ddtags to align with other sdks
  lib/datadog/core/configuration/settings.rb
  spec/datadog/core/configuration/settings_spec.rb
Labels: core

#4534 fix(datadog-headers): ignore invalid tid values in x-datadog-tags
  lib/datadog/tracing/distributed/datadog.rb
  spec/datadog/tracing/distributed/datadog_spec.rb
Labels: tracing

#4480 DEBUG-3568 Remove transport API instance/spec branching
  lib/datadog/di/transport/http.rb
  lib/datadog/di/transport/http/api.rb
  lib/datadog/di/transport/http/diagnostics.rb
  lib/datadog/di/transport/http/input.rb
  lib/datadog/tracing/transport/http.rb
  lib/datadog/tracing/transport/http/api.rb
  lib/datadog/tracing/transport/http/traces.rb
  spec/datadog/core/transport/http/builder_spec.rb
  spec/datadog/tracing/transport/http/api_spec.rb
  spec/datadog/tracing/transport/http/client_spec.rb
  spec/datadog/tracing/transport/http/traces_spec.rb
  spec/datadog/tracing/transport/http_spec.rb
  spec/datadog/tracing/transport/traces_spec.rb
Labels: core, tracing

#4535 [NO-TICKET] Adjust build coverage matrix method
  appraisal/generate.rb
  appraisal/ruby-2.5.rb
  appraisal/ruby-2.6.rb
  gemfiles/ruby_2.5_devise_min.gemfile
  gemfiles/ruby_2.5_devise_min.gemfile.lock
  gemfiles/ruby_2.6_devise_min.gemfile
  gemfiles/ruby_2.6_devise_min.gemfile.lock
Labels: dev/internal

#4536 [NO-TICKET] Add Rack integration tests with deny/pass list
  spec/datadog/appsec/contrib/integration/rack/blocking_with_deny_and_pass_list_spec.rb
Labels: dev/testing, appsec

#4473 Add a new experimental flag DD_TRACE_EXPERIMENTAL_RUNTIME_ID_ENABLED flag
  docs/GettingStarted.md
  lib/datadog/core/configuration/components.rb
  lib/datadog/core/configuration/settings.rb
  lib/datadog/core/runtime/metrics.rb
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/core/runtime/metrics_spec.rb
Labels: core

#4479 Fix APM Disablement V1 (ASM Standalone)
  .github/forced-tests-list.json
  .github/workflows/system-tests.yml
  lib/datadog/appsec/contrib/rack/request_middleware.rb
  lib/datadog/appsec/ext.rb
  lib/datadog/appsec/utils.rb
  lib/datadog/appsec/utils/trace_operation.rb
  lib/datadog/tracing/component.rb
  lib/datadog/tracing/contrib/ethon/easy_patch.rb
  lib/datadog/tracing/contrib/excon/middleware.rb
  lib/datadog/tracing/contrib/faraday/middleware.rb
  lib/datadog/tracing/contrib/grpc/datadog_interceptor/client.rb
  lib/datadog/tracing/contrib/grpc/distributed/propagation.rb
  lib/datadog/tracing/contrib/http/circuit_breaker.rb
  lib/datadog/tracing/contrib/http/distributed/propagation.rb
  lib/datadog/tracing/contrib/http/instrumentation.rb
  lib/datadog/tracing/contrib/httpclient/instrumentation.rb
  lib/datadog/tracing/contrib/httprb/instrumentation.rb
  lib/datadog/tracing/contrib/rest_client/request_patch.rb
  lib/datadog/tracing/contrib/sidekiq/client_tracer.rb
  lib/datadog/tracing/contrib/sidekiq/distributed/propagation.rb
  lib/datadog/tracing/distributed/propagation_policy.rb
  lib/datadog/tracing/metadata/ext.rb
  lib/datadog/tracing/trace_operation.rb
  lib/datadog/tracing/trace_segment.rb
  lib/datadog/tracing/tracer.rb
  lib/datadog/tracing/transport/trace_formatter.rb
  sig/datadog/appsec/ext.rbs
  sig/datadog/appsec/utils/trace_operation.rbs
  sig/datadog/tracing.rbs
  sig/datadog/tracing/component.rbs
  sig/datadog/tracing/contrib/http/circuit_breaker.rbs
  sig/datadog/tracing/contrib/httpclient/instrumentation.rbs
  sig/datadog/tracing/contrib/httprb/instrumentation.rbs
  sig/datadog/tracing/distributed/propagation_policy.rbs
  sig/datadog/tracing/metadata/ext.rbs
  sig/datadog/tracing/trace_operation.rbs
  sig/datadog/tracing/trace_segment.rbs
  sig/datadog/tracing/tracer.rbs
  spec/datadog/appsec/contrib/rack/integration_test_spec.rb
  spec/datadog/appsec/contrib/rails/integration_test_spec.rb
  spec/datadog/appsec/contrib/sinatra/integration_test_spec.rb
  spec/datadog/appsec/contrib/support/integration/shared_examples.rb
  spec/datadog/appsec/utils/trace_operation_spec.rb
  spec/datadog/tracing/contrib/http/circuit_breaker_spec.rb
  spec/datadog/tracing/contrib/rack/integration_test_spec.rb
  spec/datadog/tracing/contrib/support/integration/shared_examples.rb
  spec/datadog/tracing/distributed/propagation_policy_spec.rb
Labels: integrations, appsec, tracing

#4498 APM Disablement V2
  .github/forced-tests-list.json
  .github/workflows/system-tests.yml
  docs/GettingStarted.md
  lib/datadog/appsec/configuration/settings.rb
  lib/datadog/appsec/event.rb
  lib/datadog/appsec/ext.rb
  lib/datadog/core/configuration/ext.rb
  lib/datadog/core/configuration/settings.rb
  lib/datadog/core/transport/http.rb
  lib/datadog/tracing/component.rb
  lib/datadog/tracing/distributed/propagation_policy.rb
  lib/datadog/tracing/metadata/ext.rb
  lib/datadog/tracing/trace_operation.rb
  lib/datadog/tracing/tracer.rb
  sig/datadog/appsec/ext.rbs
  sig/datadog/core/configuration/ext.rbs
  sig/datadog/tracing/metadata/ext.rbs
  sig/datadog/tracing/trace_operation.rbs
  spec/datadog/appsec/configuration/settings_spec.rb
  spec/datadog/appsec/contrib/integration/rack/blocking_with_deny_and_pass_list_spec.rb
  spec/datadog/appsec/contrib/integration/rack/request_headers_collection_for_identity_spec.rb
  spec/datadog/appsec/contrib/integration/span_metrics_spec.rb
  spec/datadog/appsec/contrib/rack/integration_test_spec.rb
  spec/datadog/appsec/contrib/support/integration/shared_examples.rb
  spec/datadog/appsec/event_spec.rb
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/core/remote/transport/http_spec.rb
  spec/datadog/core/transport/http_spec.rb
  spec/datadog/tracing/contrib/rack/integration_test_spec.rb
  spec/datadog/tracing/distributed/propagation_policy_spec.rb
  spec/datadog/tracing/trace_operation_spec.rb
Labels: core, appsec, tracing

#4542 Move `apm-idm-ruby` ownership to `tracing-ruby`
  .github/CODEOWNERS
Labels: dev/github

#4528 chore(logging): enable 128bit trace id logging by default
  lib/datadog/tracing/configuration/settings.rb
  lib/datadog/tracing/correlation.rb
  spec/datadog/tracing/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/lograge/instrumentation_spec.rb
  spec/datadog/tracing/contrib/rails/rails_active_job_spec.rb
  spec/datadog/tracing/contrib/rails/rails_log_auto_injection_spec.rb
  spec/datadog/tracing/contrib/rails/rails_semantic_logger_auto_injection_spec.rb
  spec/datadog/tracing/contrib/semantic_logger/instrumentation_spec.rb
  spec/datadog/tracing/correlation_spec.rb
  spec/datadog/tracing/trace_operation_spec.rb
  spec/datadog/tracing/tracer_spec.rb
  spec/support/tracer_helpers.rb
Labels: tracing

#4548 Fix a warning related to regular expression in AppSec
  lib/datadog/appsec/actions_handler/serializable_backtrace.rb
Labels: appsec

#4545 repair type check on master: add format_trace_id_128 to types
  sig/datadog/tracing/correlation.rbs
Labels: dev/internal

#4547 Fix warnings in DI and tracing generated with -w
  lib/datadog/di/component.rb
  lib/datadog/di/probe_notifier_worker.rb
  lib/datadog/tracing/trace_operation.rb
Labels: tracing

#4433 [APPSEC-56683] Introduce automated user tracking V3
  .github/workflows/system-tests.yml
  Matrixfile
  lib/datadog/appsec/anonymizer.rb
  lib/datadog/appsec/configuration/settings.rb
  lib/datadog/appsec/contrib/devise/configuration.rb
  lib/datadog/appsec/contrib/devise/data_extractor.rb
  lib/datadog/appsec/contrib/devise/event.rb
  lib/datadog/appsec/contrib/devise/ext.rb
  lib/datadog/appsec/contrib/devise/integration.rb
  lib/datadog/appsec/contrib/devise/patcher.rb
  lib/datadog/appsec/contrib/devise/patcher/authenticatable_patch.rb
  lib/datadog/appsec/contrib/devise/patcher/registration_controller_patch.rb
  lib/datadog/appsec/contrib/devise/patches/signin_tracking_patch.rb
  lib/datadog/appsec/contrib/devise/patches/signup_tracking_patch.rb
  lib/datadog/appsec/contrib/devise/patches/skip_signin_tracking_patch.rb
  lib/datadog/appsec/contrib/devise/resource.rb
  lib/datadog/appsec/contrib/devise/tracking.rb
  lib/datadog/appsec/contrib/devise/tracking_middleware.rb
  lib/datadog/appsec/contrib/rack/gateway/watcher.rb
  lib/datadog/appsec/monitor/gateway/watcher.rb
  lib/datadog/kit/appsec/events.rb
  lib/datadog/kit/identity.rb
  sig/datadog/appsec/anonymizer.rbs
  sig/datadog/appsec/contrib/devise/configuration.rbs
  sig/datadog/appsec/contrib/devise/data_extractor.rbs
  sig/datadog/appsec/contrib/devise/event.rbs
  sig/datadog/appsec/contrib/devise/ext.rbs
  sig/datadog/appsec/contrib/devise/patches/signin_tracking_patch.rbs
  sig/datadog/appsec/contrib/devise/patches/signup_tracking_patch.rbs
  sig/datadog/appsec/contrib/devise/patches/skip_signin_tracking_patch.rbs
  sig/datadog/appsec/contrib/devise/resource.rbs
  sig/datadog/appsec/contrib/devise/tracking.rbs
  sig/datadog/appsec/contrib/devise/tracking_middleware.rbs
  spec/datadog/appsec/anonymizer_spec.rb
  spec/datadog/appsec/configuration/settings_spec.rb
  spec/datadog/appsec/contrib/devise/configuration_spec.rb
  spec/datadog/appsec/contrib/devise/data_extractor_spec.rb
  spec/datadog/appsec/contrib/devise/event_spec.rb
  spec/datadog/appsec/contrib/devise/patcher/authenticatable_patch_spec.rb
  spec/datadog/appsec/contrib/devise/patcher/registration_controller_patch_spec.rb
  spec/datadog/appsec/contrib/devise/patches/signin_tracking_patch_spec.rb
  spec/datadog/appsec/contrib/devise/patches/signup_tracking_patch_spec.rb
  spec/datadog/appsec/contrib/devise/resource_spec.rb
  spec/datadog/appsec/contrib/devise/tracking_spec.rb
  spec/datadog/appsec/contrib/integration/devise/authenticated_multi_user_tracking_spec.rb
  spec/datadog/appsec/contrib/integration/devise/authenticated_single_user_tracking_spec.rb
  spec/datadog/appsec/contrib/integration/devise/signin_multi_user_tracking_spec.rb
  spec/datadog/appsec/contrib/integration/devise/signin_single_user_tracking_spec.rb
  spec/datadog/appsec/contrib/integration/devise/signup_multi_user_tracking_spec.rb
  spec/datadog/appsec/contrib/integration/devise/signup_single_user_tracking_spec.rb
  spec/datadog/appsec/contrib/integration/rack/request_headers_collection_for_identity_spec.rb
  spec/datadog/appsec/contrib/support/devise_user_mock.rb
  spec/datadog/kit/appsec/events_spec.rb
  spec/datadog/kit/identity_spec.rb
Labels: integrations, appsec
