Repository DataDog/dd-trace-rb, pull requests merged in 2025-02, with the labels that each got.

#4335 [🤖] Update Latest Dependency
  gemfiles/jruby_9.2_rack_3.gemfile.lock
  gemfiles/jruby_9.2_rack_latest.gemfile.lock
  gemfiles/jruby_9.2_stripe_latest.gemfile.lock
  gemfiles/jruby_9.3_rack_3.gemfile.lock
  gemfiles/jruby_9.3_rack_latest.gemfile.lock
  gemfiles/jruby_9.3_stripe_latest.gemfile.lock
  gemfiles/jruby_9.4_rack_3.gemfile.lock
  gemfiles/jruby_9.4_rack_latest.gemfile.lock
  gemfiles/jruby_9.4_stripe_latest.gemfile.lock
  gemfiles/ruby_2.5_rack_3.gemfile.lock
  gemfiles/ruby_2.5_rack_latest.gemfile.lock
  gemfiles/ruby_2.5_stripe_latest.gemfile.lock
  gemfiles/ruby_2.6_rack_3.gemfile.lock
  gemfiles/ruby_2.6_rack_latest.gemfile.lock
  gemfiles/ruby_2.6_stripe_latest.gemfile.lock
  gemfiles/ruby_2.7_rack_3.gemfile.lock
  gemfiles/ruby_2.7_rack_latest.gemfile.lock
  gemfiles/ruby_2.7_stripe_latest.gemfile.lock
  gemfiles/ruby_3.0_rack_3.gemfile.lock
  gemfiles/ruby_3.0_rack_latest.gemfile.lock
  gemfiles/ruby_3.0_stripe_latest.gemfile.lock
  gemfiles/ruby_3.1_rack_3.gemfile.lock
  gemfiles/ruby_3.1_rack_latest.gemfile.lock
  gemfiles/ruby_3.1_stripe_latest.gemfile.lock
  gemfiles/ruby_3.2_rack_3.gemfile.lock
  gemfiles/ruby_3.2_rack_latest.gemfile.lock
  gemfiles/ruby_3.2_stripe_latest.gemfile.lock
  gemfiles/ruby_3.3_rack_3.gemfile.lock
  gemfiles/ruby_3.3_rack_latest.gemfile.lock
  gemfiles/ruby_3.3_stripe_latest.gemfile.lock
  gemfiles/ruby_3.4_rack_3.gemfile.lock
  gemfiles/ruby_3.4_rack_latest.gemfile.lock
  gemfiles/ruby_3.4_stripe_latest.gemfile.lock
Labels: integrations, dev/internal

#4315 Publish via Trusted Publishing
  .github/workflows/publish.yml
  .gitlab-ci.yml
Labels: dev/tooling, dev/github

#4336 Combine build and test phase
  .github/workflows/test.yml
  Matrixfile
  appraisal/ruby-3.4.rb
  gemfiles/ruby_3.4_contrib.gemfile
  gemfiles/ruby_3.4_contrib.gemfile.lock
  tasks/github.rake
Labels: dev/ci, dev/github

#4337 Use bundled cache from root
  .github/workflows/cache-cleanup.yml
  .github/workflows/test.yml
  tasks/github.rake
Labels: dev/github

#4338 Generate batch summary
  .github/workflows/test.yml
  tasks/github.rake
Labels: dev/testing

#4326 Update supported versions workflow
  .github/scripts/generate_table_versions.rb
  .github/scripts/update_supported_versions.rb
  .github/workflows/generate-supported-versions.yml
Labels: dev/github

#4236 [🤖] Update Supported Versions
  docs/integration_versions.md
Labels: docs, integrations, dev/internal

#4339 Remove magic nix cache action
  .github/workflows/nix.yml
Labels: dev/github

#4342 Fix publish job with bundle install
  .github/workflows/publish.yml
Labels: dev/tooling, dev/github

#4341 ci: pin all GitHub Actions by SHA and update via dependabot
  .github/dependabot.yml
  .github/workflows/add-milestone-to-pull-requests.yml
  .github/workflows/build-gem.yml
  .github/workflows/check.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/ensure-changelog-entry.yml
  .github/workflows/generate-supported-versions.yml
  .github/workflows/lock-dependency.yml
  .github/workflows/nix.yml
  .github/workflows/publish.yml
  .github/workflows/pull-request-labeler.yml
  .github/workflows/system-tests.yml
  .github/workflows/test-macos.yaml
  .github/workflows/test-memory-leaks.yaml
  .github/workflows/test-yjit.yaml
  .github/workflows/test.yml
  .github/workflows/update-latest-dependency.yml
  .github/workflows/yard.yml
Labels: dev/github

#4345 Fix remote config handling for AppSec
  .github/workflows/system-tests.yml
  lib/datadog/appsec/remote.rb
  spec/datadog/appsec/remote_spec.rb
Labels: appsec

#4347 Increase curl retries to attempt to fix transient network failures
  .circleci/config.yml
Labels: dev/ci

#4350 Switch system-tests ref back to main
  .github/workflows/system-tests.yml
Labels: dev/github

#4349 Update document branch after release from `master`
  .github/workflows/publish.yml
Labels: dev/github

#4355 Remove reactive engine from AppSec rack instrumentation
  lib/datadog/appsec/contrib/graphql/gateway/watcher.rb
  lib/datadog/appsec/contrib/graphql/reactive/multiplex.rb
  lib/datadog/appsec/contrib/rack/gateway/watcher.rb
  lib/datadog/appsec/contrib/rack/reactive/request.rb
  lib/datadog/appsec/contrib/rack/reactive/request_body.rb
  lib/datadog/appsec/contrib/rack/reactive/response.rb
  lib/datadog/appsec/contrib/rails/gateway/watcher.rb
  lib/datadog/appsec/contrib/rails/reactive/action.rb
  lib/datadog/appsec/contrib/sinatra/gateway/watcher.rb
  lib/datadog/appsec/contrib/sinatra/reactive/routed.rb
  lib/datadog/appsec/monitor/gateway/watcher.rb
  lib/datadog/appsec/monitor/reactive/set_user.rb
  lib/datadog/appsec/reactive/address_hash.rb
  lib/datadog/appsec/reactive/engine.rb
  lib/datadog/appsec/reactive/subscriber.rb
  sig/datadog/appsec/contrib/graphql/reactive/multiplex.rbs
  sig/datadog/appsec/contrib/rack/reactive/request.rbs
  sig/datadog/appsec/contrib/rack/reactive/request_body.rbs
  sig/datadog/appsec/contrib/rack/reactive/response.rbs
  sig/datadog/appsec/contrib/rails/reactive/action.rbs
  sig/datadog/appsec/contrib/sinatra/reactive/routed.rbs
  sig/datadog/appsec/monitor/reactive/set_user.rbs
  sig/datadog/appsec/reactive/address_hash.rbs
  sig/datadog/appsec/reactive/engine.rbs
  sig/datadog/appsec/reactive/subscriber.rbs
  spec/datadog/appsec/contrib/graphql/reactive/multiplex_spec.rb
  spec/datadog/appsec/contrib/rack/reactive/request_body_spec.rb
  spec/datadog/appsec/contrib/rack/reactive/request_spec.rb
  spec/datadog/appsec/contrib/rack/reactive/response_spec.rb
  spec/datadog/appsec/contrib/rails/reactive/action_spec.rb
  spec/datadog/appsec/contrib/sinatra/reactive/routed_spec.rb
  spec/datadog/appsec/monitor/reactive/set_user_spec.rb
  spec/datadog/appsec/reactive/engine_spec.rb
  spec/datadog/appsec/reactive/shared_examples.rb
Labels: integrations, appsec, dev/internal

#4356 [PROF-11311] Remove datadog_profiling_loader
  .github/labeler.yml
  Rakefile
  datadog.gemspec
  ext/datadog_profiling_loader/.clang-format
  ext/datadog_profiling_loader/datadog_profiling_loader.c
  ext/datadog_profiling_loader/extconf.rb
  ext/datadog_profiling_native_extension/profiling.c
  lib/datadog/profiling/load_native_extension.rb
  spec/datadog/profiling/load_native_extension_spec.rb
Labels: profiling

#4279 Serialize span events via a dedicated field
  .github/forced-tests-list.json
  Steepfile
  lib/datadog/core/configuration/components.rb
  lib/datadog/core/encoding.rb
  lib/datadog/core/environment/agent_info.rb
  lib/datadog/core/remote/transport/http/negotiation.rb
  lib/datadog/core/remote/transport/negotiation.rb
  lib/datadog/tracing/transport/serializable_trace.rb
  lib/datadog/tracing/transport/traces.rb
  sig/datadog/core/configuration/components.rbs
  sig/datadog/core/encoding.rbs
  sig/datadog/core/environment/agent_info.rbs
  sig/datadog/core/remote/transport/negotiation.rbs
  sig/datadog/core/transport/response.rbs
  sig/datadog/tracing/transport/serializable_trace.rbs
  sig/datadog/tracing/transport/traces.rbs
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/tracing/integration_spec.rb
  spec/datadog/tracing/transport/serializable_trace_spec.rb
  spec/datadog/tracing/transport/traces_spec.rb
  spec/support/spy_transport.rb
Labels: core, tracing

#4361 Retry `bundle install` flakiness for JRuby 9.2
  tasks/github.rake
Labels: dev/testing

#4362 [NO-TICKET] Fix flaky profiler object counting spec
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
Labels: dev/testing, profiling

#4364 Remove linting rule for list first/last
  static-analysis.datadog.yml
Labels: dev/internal

#4365 Add `JUBY_OPTS` and better job name
  .github/workflows/test.yml
  tasks/github.rake
Labels: dev/testing, dev/github

#4367 Upload JUnit reports
  .circleci/config.yml
  .github/workflows/test.yml
  tasks/github.rake
Labels: dev/github

#4370 Schedule our GHA Unit Tests to run every hour
  .github/workflows/test.yml
  tasks/github.rake
Labels: dev/github

#4368 Un-skip spec in core environment
  spec/datadog/core/environment/execution_spec.rb
Labels: dev/testing

#4372 Run test agent check in Github Actions
  .circleci/config.yml
  .circleci/test_agent_check.rb
  .github/scripts/test_agent_check.rb
  .github/workflows/test.yml
  tasks/github.rake
Labels: dev/github

#4373 Upload coverage to codecov
  .circleci/config.yml
  .github/workflows/test.yml
  tasks/github.rake
Labels: dev/github

#4377 Generate summary for cleaning cache
  .github/workflows/cache-cleanup.yml
Labels: dev/github

#4381 Remove loading `psych` gem early to fix cucumber spec
  spec/datadog/core/environment/execution_spec.rb
Labels: dev/testing

#4382 Provide git metadata for junit
  .circleci/config.yml
  .github/workflows/test.yml
  tasks/github.rake
Labels: dev/github

#4383 DEBUG-3498 Add exception information to the InternalErrorResponse stringification
  lib/datadog/core/transport/response.rb
  spec/datadog/core/transport/response_spec.rb
Labels: core

#4283 DEBUG-3327 DI progress logs
  lib/datadog/di.rb
  lib/datadog/di/component.rb
  lib/datadog/di/configuration/settings.rb
  lib/datadog/di/contrib.rb
  lib/datadog/di/logger.rb
  lib/datadog/di/probe_manager.rb
  lib/datadog/di/probe_notifier_worker.rb
  lib/datadog/di/remote.rb
  sig/datadog/di/instrumenter.rbs
  sig/datadog/di/logger.rbs
  sig/datadog/di/probe_notifier_worker.rbs
  spec/datadog/di/integration/everything_from_remote_config_spec.rb
  spec/datadog/di/probe_manager_spec.rb
  spec/datadog/di/probe_notifier_worker_spec.rb
  spec/datadog/di/remote_spec.rb
  spec/datadog/di/spec_helper.rb
Labels: core

#4369 Add comment for skipped mongodb spec
  spec/datadog/tracing/contrib/mongodb/client_spec.rb
Labels: dev/testing

#4386 Improve cache clean summary and trigger event
  .github/workflows/build-gem.yml
  .github/workflows/cache-cleanup.yml
  .github/workflows/check.yml
  .github/workflows/generate-supported-versions.yml
  .github/workflows/nix.yml
  .github/workflows/test-macos.yaml
  .github/workflows/test-memory-leaks.yaml
  .github/workflows/test-yjit.yaml
Labels: dev/github

#4387 Refactor github actions test template generation
  .github/workflows/test.yml
  tasks/github.rake
  tasks/template.rake
Labels: dev/github

#4388 Update token permission for cleaning cache
  .github/workflows/cache-cleanup.yml
Labels: dev/github

#4389 Update cache clean permission with `actions: write`
  .github/workflows/cache-cleanup.yml
Labels: dev/github

#4177 GraphQL: Report multiple query errors
  .github/forced-tests-list.json
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/graphql/configuration/settings.rb
  lib/datadog/tracing/contrib/graphql/ext.rb
  lib/datadog/tracing/contrib/graphql/unified_trace.rb
  sig/datadog/tracing/contrib/graphql/ext.rbs
  sig/datadog/tracing/contrib/graphql/unified_trace.rbs
  spec/datadog/tracing/contrib/graphql/support/application_schema.rb
  spec/datadog/tracing/contrib/graphql/test_schema_examples.rb
  spec/support/span_helpers.rb
  vendor/rbs/graphql/0/graphql.rbs
Labels: core, integrations, tracing

#4325 GraphQL: Capture user-provided error extension values
  docs/GettingStarted.md
  lib/datadog/core/configuration/option_definition.rb
  lib/datadog/tracing/contrib/graphql/configuration/error_extension_env_parser.rb
  lib/datadog/tracing/contrib/graphql/configuration/settings.rb
  lib/datadog/tracing/contrib/graphql/ext.rb
  lib/datadog/tracing/contrib/graphql/unified_trace.rb
  sig/datadog/tracing/contrib/graphql/configuration/error_extension_env_parser.rbs
  sig/datadog/tracing/contrib/graphql/ext.rbs
  spec/datadog/tracing/contrib/graphql/configuration/error_extension_env_parser_spec.rb
  spec/datadog/tracing/contrib/graphql/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/graphql/test_schema_examples.rb
Labels: core, integrations, tracing

#3846 Remove default value from `peer.service` tag
  lib/datadog/core/telemetry/event.rb
  lib/datadog/tracing/configuration/ext.rb
  lib/datadog/tracing/contrib/extensions.rb
  lib/datadog/tracing/contrib/span_attribute_schema.rb
  sig/datadog/tracing/configuration/ext.rbs
  sig/datadog/tracing/contrib/extensions.rbs
  sig/datadog/tracing/contrib/span_attribute_schema.rbs
  spec/datadog/core/telemetry/event_spec.rb
  spec/datadog/tracing/contrib/extensions_spec.rb
  spec/datadog/tracing/contrib/http/miniapp_spec.rb
  spec/datadog/tracing/contrib/integration_examples.rb
  spec/datadog/tracing/contrib/mysql2/patcher_spec.rb
  spec/datadog/tracing/contrib/peer_service_configuration_examples.rb
  spec/datadog/tracing/contrib/pg/patcher_spec.rb
  spec/datadog/tracing/contrib/span_attribute_schema_spec.rb
  spec/datadog/tracing/contrib/trilogy/patcher_spec.rb
Labels: core, integrations, tracing

#4394 [NO-TICKET] Remove unused AppSec contrib patcher module
  lib/datadog/appsec/contrib/active_record/patcher.rb
  lib/datadog/appsec/contrib/devise/patcher.rb
  lib/datadog/appsec/contrib/graphql/patcher.rb
  lib/datadog/appsec/contrib/patcher.rb
  lib/datadog/appsec/contrib/rack/patcher.rb
  lib/datadog/appsec/contrib/rails/patcher.rb
  lib/datadog/appsec/contrib/sinatra/patcher.rb
  sig/datadog/appsec/contrib/active_record/patcher.rbs
  sig/datadog/appsec/contrib/devise/patcher.rbs
  sig/datadog/appsec/contrib/graphql/patcher.rbs
  sig/datadog/appsec/contrib/patcher.rbs
  sig/datadog/appsec/contrib/rack/patcher.rbs
  sig/datadog/appsec/contrib/rails/patcher.rbs
  sig/datadog/appsec/contrib/sinatra/patcher.rbs
Labels: integrations, appsec, dev/internal

#4395 Remove template with reusable workflow
  .github/workflows/_unit_test.yml
  .github/workflows/test.yml
  tasks/github.rake
  tasks/template.rake
Labels: dev/github

#4391 Add Faraday instrumentation for AppSec
  Matrixfile
  Rakefile
  appraisal/ruby-3.3.rb
  gemfiles/ruby_3.3_rails_app.gemfile
  gemfiles/ruby_3.3_rails_app.gemfile.lock
  lib/datadog/appsec.rb
  lib/datadog/appsec/contrib/faraday/connection_patch.rb
  lib/datadog/appsec/contrib/faraday/integration.rb
  lib/datadog/appsec/contrib/faraday/patcher.rb
  lib/datadog/appsec/contrib/faraday/rack_builder_patch.rb
  lib/datadog/appsec/contrib/faraday/ssrf_detection_middleware.rb
  sig/datadog/appsec/contrib/faraday/connection_patch.rbs
  sig/datadog/appsec/contrib/faraday/integration.rbs
  sig/datadog/appsec/contrib/faraday/patcher.rbs
  sig/datadog/appsec/contrib/faraday/rack_builder_patch.rbs
  sig/datadog/appsec/contrib/faraday/ssrf_detection_middleware.rbs
  spec/datadog/appsec/contrib/http/faraday_spec.rb
  spec/datadog/appsec/contrib/integration/faraday_ssrf_spec.rb
Labels: integrations, appsec

#4331 [PROF-9476] Reduce heap profiling overhead by using libdatadog's managed string storage
  benchmarks/README.md
  benchmarks/profiler_string_storage_intern.rb
  benchmarks/run_all.sh
  ext/datadog_profiling_native_extension/collectors_thread_context.c
  ext/datadog_profiling_native_extension/heap_recorder.c
  ext/datadog_profiling_native_extension/heap_recorder.h
  ext/datadog_profiling_native_extension/libdatadog_helpers.c
  ext/datadog_profiling_native_extension/libdatadog_helpers.h
  ext/datadog_profiling_native_extension/ruby_helpers.c
  ext/datadog_profiling_native_extension/ruby_helpers.h
  ext/datadog_profiling_native_extension/stack_recorder.c
  lib/datadog/core/configuration/settings.rb
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/profiling/stack_recorder_spec.rb
  spec/datadog/profiling/validate_benchmarks_spec.rb
Labels: core, profiling

#4376 [PROF-9476] Revert "Temporary disable benchmark to make CI happy"
  benchmarks/profiler_string_storage_intern.rb
Labels: dev/testing, profiling, dev/internal

#4398 rack instrumentation: continue trace from distributed trace digest only when distributed trace is present
  lib/datadog/tracing/contrib/rack/middlewares.rb
  spec/datadog/tracing/contrib/rack/distributed_spec.rb
Labels: integrations, tracing

#4401 [PROF-11394] Graduate heap profiling from alpha to preview
  lib/datadog/core/configuration/settings.rb
  lib/datadog/profiling/component.rb
  spec/datadog/profiling/component_spec.rb
Labels: core, profiling

#4399 Add excon instrumentation for AppSec
  Matrixfile
  appraisal/ruby-3.3.rb
  gemfiles/ruby_3.3_rails_app.gemfile
  gemfiles/ruby_3.3_rails_app.gemfile.lock
  lib/datadog/appsec.rb
  lib/datadog/appsec/contrib/excon/integration.rb
  lib/datadog/appsec/contrib/excon/patcher.rb
  lib/datadog/appsec/contrib/excon/ssrf_detection_middleware.rb
  sig/datadog/appsec/contrib/excon/integration.rbs
  sig/datadog/appsec/contrib/excon/patcher.rbs
  sig/datadog/appsec/contrib/excon/ssrf_detection_middleware.rbs
  spec/datadog/appsec/contrib/http/excon_spec.rb
  spec/datadog/appsec/contrib/integration/excon_ssrf_spec.rb
Labels: integrations, appsec

#4400 Post release jobs
  .github/workflows/publish.yml
  tasks/version.rake
Labels: dev/github

#4404 Fix cross-repo race condition
  .gitlab-ci.yml
  .gitlab/scripts/vaccine.sh
Labels: dev/tooling

#4407 Split parametric tests away
  .github/workflows/parametric-tests.yml
  .github/workflows/system-tests.yml
Labels: dev/github

#4406 [PROF-11385] Enable GVL profiling by default on Ruby 3.2+
  .gitlab/benchmarks.yml
  lib/datadog/core/configuration/settings.rb
  lib/datadog/profiling/component.rb
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/profiling/component_spec.rb
Labels: core, profiling

#4409 [PROF-11394] Revert changes to heap profiling in PRs #4401, #4376, #4331
  benchmarks/README.md
  benchmarks/profiler_string_storage_intern.rb
  benchmarks/run_all.sh
  ext/datadog_profiling_native_extension/collectors_thread_context.c
  ext/datadog_profiling_native_extension/heap_recorder.c
  ext/datadog_profiling_native_extension/heap_recorder.h
  ext/datadog_profiling_native_extension/libdatadog_helpers.c
  ext/datadog_profiling_native_extension/libdatadog_helpers.h
  ext/datadog_profiling_native_extension/ruby_helpers.c
  ext/datadog_profiling_native_extension/ruby_helpers.h
  ext/datadog_profiling_native_extension/stack_recorder.c
  lib/datadog/core/configuration/settings.rb
  lib/datadog/profiling/component.rb
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/profiling/component_spec.rb
  spec/datadog/profiling/stack_recorder_spec.rb
  spec/datadog/profiling/validate_benchmarks_spec.rb
Labels: core, profiling

#4412 Add notification channel for build pipeline
  .gitlab-ci.yml
Labels: dev/ci, dev/internal

#4416 Remove `qless` from `contrib-old`
  appraisal/jruby-9.2.rb
  appraisal/jruby-9.3.rb
  appraisal/jruby-9.4.rb
  appraisal/ruby-2.5.rb
  appraisal/ruby-2.6.rb
  appraisal/ruby-2.7.rb
  appraisal/ruby-3.0.rb
  appraisal/ruby-3.1.rb
  appraisal/ruby-3.2.rb
  appraisal/ruby-3.3.rb
  appraisal/ruby-3.4.rb
  gemfiles/jruby_9.2_contrib_old.gemfile
  gemfiles/jruby_9.2_contrib_old.gemfile.lock
  gemfiles/jruby_9.3_contrib_old.gemfile
  gemfiles/jruby_9.3_contrib_old.gemfile.lock
  gemfiles/jruby_9.4_contrib_old.gemfile
  gemfiles/jruby_9.4_contrib_old.gemfile.lock
  gemfiles/ruby_2.5_contrib_old.gemfile
  gemfiles/ruby_2.5_contrib_old.gemfile.lock
  gemfiles/ruby_2.6_contrib_old.gemfile
  gemfiles/ruby_2.6_contrib_old.gemfile.lock
  gemfiles/ruby_2.7_contrib_old.gemfile
  gemfiles/ruby_2.7_contrib_old.gemfile.lock
  gemfiles/ruby_3.0_contrib_old.gemfile
  gemfiles/ruby_3.0_contrib_old.gemfile.lock
  gemfiles/ruby_3.1_contrib_old.gemfile
  gemfiles/ruby_3.1_contrib_old.gemfile.lock
  gemfiles/ruby_3.2_contrib_old.gemfile
  gemfiles/ruby_3.2_contrib_old.gemfile.lock
  gemfiles/ruby_3.3_contrib_old.gemfile
  gemfiles/ruby_3.3_contrib_old.gemfile.lock
  gemfiles/ruby_3.4_contrib_old.gemfile
  gemfiles/ruby_3.4_contrib_old.gemfile.lock
Labels: dev/testing

#4417 Update redis dependency group with `latest`
  Matrixfile
  appraisal/jruby-9.2.rb
  appraisal/jruby-9.3.rb
  appraisal/jruby-9.4.rb
  appraisal/ruby-2.5.rb
  appraisal/ruby-2.6.rb
  appraisal/ruby-2.7.rb
  appraisal/ruby-3.0.rb
  appraisal/ruby-3.1.rb
  appraisal/ruby-3.2.rb
  appraisal/ruby-3.3.rb
  appraisal/ruby-3.4.rb
  gemfiles/jruby_9.2_redis_latest.gemfile
  gemfiles/jruby_9.2_redis_latest.gemfile.lock
  gemfiles/jruby_9.3_redis_latest.gemfile
  gemfiles/jruby_9.3_redis_latest.gemfile.lock
  gemfiles/jruby_9.4_redis_latest.gemfile
  gemfiles/jruby_9.4_redis_latest.gemfile.lock
  gemfiles/ruby_2.5_redis_latest.gemfile
  gemfiles/ruby_2.5_redis_latest.gemfile.lock
  gemfiles/ruby_2.6_redis_latest.gemfile
  gemfiles/ruby_2.6_redis_latest.gemfile.lock
  gemfiles/ruby_2.7_redis_latest.gemfile
  gemfiles/ruby_2.7_redis_latest.gemfile.lock
  gemfiles/ruby_3.0_redis_latest.gemfile
  gemfiles/ruby_3.0_redis_latest.gemfile.lock
  gemfiles/ruby_3.1_redis_latest.gemfile
  gemfiles/ruby_3.1_redis_latest.gemfile.lock
  gemfiles/ruby_3.2_redis_latest.gemfile
  gemfiles/ruby_3.2_redis_latest.gemfile.lock
  gemfiles/ruby_3.3_redis_latest.gemfile
  gemfiles/ruby_3.3_redis_latest.gemfile.lock
  gemfiles/ruby_3.4_redis_latest.gemfile
  gemfiles/ruby_3.4_redis_latest.gemfile.lock
  tasks/edge.rake
Labels: dev/testing

#4411 DEBUG-3533 increase UDS transport timeout to 30 seconds
  lib/datadog/core/configuration/ext.rb
  lib/datadog/core/transport/http/adapters/unix_socket.rb
  spec/datadog/core/configuration/agent_settings_resolver_spec.rb
  spec/datadog/core/transport/http/adapters/unix_socket_spec.rb
Labels: core

#4425 [PROF-11412] Support correlating profiling with otel-api 1.5+
  Matrixfile
  ext/datadog_profiling_native_extension/collectors_thread_context.c
  ext/datadog_profiling_native_extension/extconf.rb
  ext/datadog_profiling_native_extension/gvl_profiling_helper.c
  ext/datadog_profiling_native_extension/gvl_profiling_helper.h
  ext/datadog_profiling_native_extension/private_vm_api_access.c
  ext/datadog_profiling_native_extension/private_vm_api_access.h
  ext/datadog_profiling_native_extension/profiling.c
Labels: profiling, otel

#4420 Use non-large arm runner
  .github/workflows/nix.yml
Labels: dev/github

#4434 [PROF-11151] Fix test-memory-leaks flaky behavior
  .github/workflows/test-memory-leaks.yaml
Labels: dev/testing, dev/ci, profiling, dev/internal

#4430 Fix publish action
  .github/workflows/publish.yml
Labels: dev/tooling, dev/github

#4436 Improve pulling images
  .github/actions/build-test/action.yml
  .github/actions/bundle-restore/action.yml
  .github/workflows/_unit_test.yml
  tasks/github.rake
Labels: dev/github

#4427 [🤖] Update Latest Dependency
  gemfiles/jruby_9.2_elasticsearch_latest.gemfile.lock
  gemfiles/jruby_9.2_redis_4.gemfile.lock
  gemfiles/jruby_9.3_elasticsearch_latest.gemfile.lock
  gemfiles/jruby_9.3_redis_4.gemfile.lock
  gemfiles/jruby_9.4_elasticsearch_latest.gemfile.lock
  gemfiles/jruby_9.4_redis_4.gemfile.lock
  gemfiles/ruby_2.5_elasticsearch_latest.gemfile.lock
  gemfiles/ruby_2.6_elasticsearch_latest.gemfile.lock
  gemfiles/ruby_2.7_elasticsearch_latest.gemfile.lock
  gemfiles/ruby_3.0_elasticsearch_latest.gemfile.lock
  gemfiles/ruby_3.1_elasticsearch_latest.gemfile.lock
  gemfiles/ruby_3.2_elasticsearch_latest.gemfile.lock
  gemfiles/ruby_3.3_elasticsearch_latest.gemfile.lock
  gemfiles/ruby_3.4_elasticsearch_latest.gemfile.lock
Labels: integrations, dev/internal

#4431 Remove force-executed tests and scenario from system-tests workflow a…
  .github/forced-tests-list.json
Labels: dev/tooling, dev/github

#4432 Dependency inject logger (partial)
  lib/datadog/core/configuration/components.rb
  lib/datadog/core/remote/component.rb
  lib/datadog/core/remote/worker.rb
  lib/datadog/core/telemetry/component.rb
  lib/datadog/core/telemetry/worker.rb
  lib/datadog/tracing/component.rb
  lib/datadog/tracing/sync_writer.rb
  lib/datadog/tracing/tracer.rb
  lib/datadog/tracing/workers.rb
  lib/datadog/tracing/workers/trace_writer.rb
  lib/datadog/tracing/writer.rb
  sig/datadog/core/remote/component.rbs
  sig/datadog/core/remote/worker.rbs
  sig/datadog/core/telemetry/component.rbs
  sig/datadog/core/telemetry/worker.rbs
  spec/datadog/core/configuration/components_spec.rb
  spec/datadog/core/remote/component_spec.rb
  spec/datadog/core/remote/worker_spec.rb
  spec/datadog/core/telemetry/component_spec.rb
  spec/datadog/core/telemetry/worker_spec.rb
  spec/datadog/tracing/workers_integration_spec.rb
  spec/datadog/tracing/workers_spec.rb
  spec/datadog/tracing/writer_spec.rb
Labels: core, tracing

#4437 Fix AppSec ActiveRecord instrumentation for Rails 4 and ruby < 2.7
  Matrixfile
  lib/datadog/appsec/contrib/active_record/instrumentation.rb
  lib/datadog/appsec/contrib/active_record/patcher.rb
  sig/datadog/appsec/contrib/active_record/instrumentation.rbs
  sig/datadog/appsec/contrib/active_record/patcher.rbs
Labels: integrations, appsec
