Repository DataDog/dd-trace-rb, pull requests merged in 2025-09, with the labels that each got.

#4875 Adapt update-system-tests.yml to new workflow
  .github/workflows/update-system-tests.yml
Labels: dev/github, mergequeue-status: in_progress

#4862 Generate metrics for GraphQL operation execution
  lib/datadog/tracing/contrib/graphql/unified_trace.rb
  sig/datadog/tracing/contrib/graphql/unified_trace.rbs
  spec/datadog/tracing/contrib/graphql/test_schema_examples.rb
  vendor/rbs/graphql/0/graphql.rbs
Labels: integrations, tracing, mergequeue-status: in_progress

#4889 DI: add exception serialization tests
  spec/datadog/di/serializer_spec.rb
Labels: dev/testing

#4864 [AIDM-6] Surface GraphQL errors in Error Tracking
  Steepfile
  docs/GettingStarted.md
  lib/datadog/core/configuration/supported_configurations.rb
  lib/datadog/tracing/contrib/graphql/configuration/settings.rb
  lib/datadog/tracing/contrib/graphql/ext.rb
  lib/datadog/tracing/contrib/graphql/unified_trace.rb
  lib/datadog/tracing/metadata/ext.rb
  sig/datadog/tracing/contrib/graphql/unified_trace.rbs
  sig/datadog/tracing/metadata/ext.rbs
  spec/datadog/tracing/contrib/graphql/configuration/settings_spec.rb
  spec/datadog/tracing/contrib/graphql/test_schema_examples.rb
  supported-configurations.json
  vendor/rbs/graphql/0/graphql.rbs
Labels: core, integrations, tracing

#4837 Only retrieve code from telemetry response objects that have it
  lib/datadog/core/telemetry/emitter.rb
  lib/datadog/core/transport/response.rb
  spec/datadog/core/telemetry/emitter_spec.rb
  spec/datadog/core/transport/http/adapters/net/response_spec.rb
  spec/datadog/core/transport/http/adapters/net_spec.rb
Labels: core

#4828 Clarify expectations of change log entries
  .github/PULL_REQUEST_TEMPLATE.md
Labels: docs, dev/github

#4910 Remove APPSEC_REQUEST_BLOCKING as was merged into APPSEC_BLOCKING_FULL_DENYLIST
  .github/workflows/system-tests.yml
Labels: dev/github

#4907 [APPSEC-59149] Update AppSec rulesets to enable JWT analysis
  lib/datadog/appsec/assets/waf_rules/README.md
  lib/datadog/appsec/assets/waf_rules/recommended.json
  lib/datadog/appsec/assets/waf_rules/strict.json
  spec/datadog/appsec/integration/jwt_analysis_spec.rb
Labels: appsec

#4912 DI: rename test exception method to exception_method
  spec/datadog/di/hook_method.rb
  spec/datadog/di/instrumenter_spec.rb
Labels: dev/testing
