Repository DataDog/dd-trace-rb, pull requests merged in 2025-08, with the labels that each got.

#4834 Document how to run individual tests in the DevelopmentGuide
  docs/DevelopmentGuide.md
Labels: docs

#4833 Change the mutex around WAF reconfiguration
  lib/datadog/appsec.rb
  lib/datadog/appsec/component.rb
  lib/datadog/appsec/contrib/rack/request_middleware.rb
  lib/datadog/appsec/security_engine/engine.rb
  lib/datadog/appsec/security_engine/runner.rb
  lib/datadog/appsec/thread_safe_ref.rb
  sig/datadog/appsec.rbs
  sig/datadog/appsec/component.rbs
  sig/datadog/appsec/context.rbs
  sig/datadog/appsec/security_engine/engine.rbs
  sig/datadog/appsec/security_engine/runner.rbs
  sig/datadog/appsec/thread_safe_ref.rbs
  spec/datadog/appsec/context_spec.rb
  spec/datadog/appsec/contrib/active_record/mysql2_adapter_spec.rb
  spec/datadog/appsec/contrib/active_record/postgresql_adapter_spec.rb
  spec/datadog/appsec/contrib/active_record/sqlite3_adapter_spec.rb
  spec/datadog/appsec/event_spec.rb
  spec/datadog/appsec/security_engine/engine_spec.rb
  spec/datadog/appsec/security_engine/runner_spec.rb
  spec/datadog/appsec/thread_safe_ref_spec.rb
Labels: integrations, appsec

#4836 [NO-TICKET] Tweak benchmark validation to avoid flakiness
  benchmarks/profiling_sample_loop_v2.rb
  spec/datadog/profiling/validate_benchmarks_spec.rb
  spec/support/synchronization_helpers.rb
Labels: dev/testing, mergequeue-status: in_progress

#4850 [APMAPI-1558] Fix single span sampling mechanism
  .github/forced-tests-list.json
  lib/datadog/tracing/sampling/ext.rb
  lib/datadog/tracing/sampling/span/sampler.rb
  sig/datadog/tracing/sampling/ext.rbs
  spec/datadog/tracing/integration_spec.rb
  spec/datadog/tracing/sampling/span/sampler_spec.rb
Labels: tracing

#4859 add id-token write permission to system tests
  .github/workflows/system-tests-official.yml
Labels: dev/github

#4845 [NO-TICKET] Add typing for `Core::Configuration::Options`, `OptionDefinition` and `Option`
  Steepfile
  lib/datadog/core/configuration/option.rb
  lib/datadog/core/configuration/option_definition.rb
  lib/datadog/core/configuration/options.rb
  sig/datadog.rbs
  sig/datadog/core.rbs
  sig/datadog/core/configuration/base.rbs
  sig/datadog/core/configuration/option.rbs
  sig/datadog/core/configuration/option_definition.rbs
  sig/datadog/core/configuration/options.rbs
Labels: core

#4863 [APMS-16842] Fix Rails Runner constants defined within a module namespace wrapped in anonymous module
  lib/datadog/tracing/contrib/rails/runner.rb
  spec/datadog/tracing/contrib/rails/runner_spec.rb
Labels: integrations, tracing

#4866 Use official st workflow
  .github/forced-tests-list.cfg
  .github/forced-tests-list.json
  .github/forced-tests-list.json.sample
  .github/workflows/parametric-tests.yml
  .github/workflows/system-tests-official.yml
  .github/workflows/system-tests.yml
  docs/ForcingSystemTests.md
Labels: dev/github, mergequeue-status: in_progress
