Repository DataDog/dd-trace-rb, pull requests merged in 2025-07, with the labels that each got.

#4681 Fix:Rails Runner instrumentation
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/rails/patcher.rb
  lib/datadog/tracing/contrib/rails/runner.rb
  spec/datadog/tracing/contrib/rails/runner_spec.rb
Labels: integrations, tracing, mergequeue-status: in_progress

#4693 Add Rails cache store instrumentation filter
  docs/GettingStarted.md
  lib/datadog/tracing/contrib/active_support/cache/events/cache.rb
  lib/datadog/tracing/contrib/active_support/configuration/settings.rb
  spec/datadog/tracing/contrib/rails/cache_spec.rb
Labels: integrations, tracing

#4785 [PROF-12098] Profiler: Allow sampling from inside the signal handler to improve accuracy
  ext/datadog_profiling_native_extension/collectors_cpu_and_wall_time_worker.c
  ext/datadog_profiling_native_extension/collectors_stack.c
  ext/datadog_profiling_native_extension/collectors_stack.h
  ext/datadog_profiling_native_extension/collectors_thread_context.c
  ext/datadog_profiling_native_extension/collectors_thread_context.h
  ext/datadog_profiling_native_extension/ruby_helpers.h
  lib/datadog/core/configuration/settings.rb
  lib/datadog/profiling/collectors/cpu_and_wall_time_worker.rb
  lib/datadog/profiling/component.rb
  sig/datadog/profiling/collectors/cpu_and_wall_time_worker.rbs
  spec/datadog/core/configuration/settings_spec.rb
  spec/datadog/profiling/collectors/cpu_and_wall_time_worker_spec.rb
  spec/datadog/profiling/component_spec.rb
Labels: core, profiling

#4786 [PROF-12098] Profiler: Enable sample from inside signal handler by default on modern Rubies
  lib/datadog/core/configuration/settings.rb
  spec/datadog/core/configuration/settings_spec.rb
Labels: core

#4793 Fix an error in AppSec route extractor for not-found routes in Rails 8
  lib/datadog/appsec/api_security/route_extractor.rb
  sig/datadog/appsec/api_security/route_extractor.rbs
  spec/datadog/appsec/api_security/route_extractor_spec.rb
Labels: appsec

#4794 [NO-TICKET] Tag profiles with sequence number
  lib/datadog/profiling.rb
  lib/datadog/profiling/exporter.rb
  lib/datadog/profiling/sequence_tracker.rb
  lib/datadog/profiling/tag_builder.rb
  sig/datadog/profiling/exporter.rbs
  sig/datadog/profiling/sequence_tracker.rbs
  sig/datadog/profiling/tag_builder.rbs
  spec/datadog/profiling/exporter_spec.rb
  spec/datadog/profiling/sequence_tracker_spec.rb
  spec/datadog/profiling/tag_builder_spec.rb
Labels: profiling

#4804 Pin and upgrade onboarding tests
  .github/workflows/update-system-tests.yml
  .gitlab-ci.yml
Labels: dev/tooling

#4366 Improve SSI
  .gitlab-ci.yml
  .gitlab/Dockerfile-2.6
  .gitlab/prepare-oci-package.sh
  lib-injection/README.md
  lib-injection/host_inject.rb
  lib-injection/host_inject_main.rb
Labels: single-step

#4802 [APPSEC-58115] Add Business Logic Events SDK v2
  lib/datadog/appsec/instrumentation/gateway/argument.rb
  lib/datadog/kit/appsec/events/v2.rb
  sig/datadog/appsec/instrumentation/gateway.rbs
  sig/datadog/appsec/instrumentation/gateway/argument.rbs
  sig/datadog/kit/appsec/events/v2.rbs
  sig/datadog/kit/identity.rbs
  spec/datadog/kit/appsec/events/v2_spec.rb
Labels: appsec

#4813 [PROF-12143] Report GC tuning environment variables with profiles
  lib/datadog/profiling/collectors/info.rb
  sig/datadog/profiling/collectors/info.rbs
  spec/datadog/profiling/collectors/info_spec.rb
Labels: profiling

#4814 [NO-TICKET] Fix emitting duplicate warnings on agent configuration mismatch
  lib/datadog/core/telemetry/component.rb
  lib/datadog/core/telemetry/event/app_started.rb
  sig/datadog/core/telemetry/component.rbs
  sig/datadog/core/telemetry/event/app_started.rbs
  spec/datadog/core/telemetry/event/app_started_spec.rb
  spec/datadog/core/telemetry/event/synth_app_client_configuration_change_spec.rb
  spec/datadog/core/telemetry/worker_spec.rb
Labels: core

#4819 [PROF-11898] Switch profiler stack truncation strategy and improve sampling performance
  benchmarks/profiling_sample_loop_v2.rb
  ext/datadog_profiling_native_extension/collectors_stack.c
  ext/datadog_profiling_native_extension/private_vm_api_access.c
  ext/datadog_profiling_native_extension/private_vm_api_access.h
  spec/datadog/profiling/collectors/stack_spec.rb
Labels: profiling

#4822 Add span events documentation
  docs/GettingStarted.md
Labels: docs
